[2020-09-14 18:27] leotrs commented on #442
Interesting suggestion - I'm generally in favor of this, though I would hesitate to make the change entirely without first having a more robust test suite.

Also, instead of replacing the current file writer to use PyAV, we could implement a new one, FileWriterAV that uses this but keep using the ffmpeg one as default until FileWriterAV is stable.

[2020-09-14 18:49] naveen521kk commented on #442
Yeah, @leotrs What you told is good. Let's work on a new class and making it optional.(using config system). But later making it default depreciating the previous one.

[2020-09-14 22:36] #61 closed

[2020-09-14 22:37] leotrs commented on #76
Recent work by myself and @behackl *mostly* closes this issue.

[2020-09-14 22:37] #76 closed

[2020-09-14 22:42] leotrs commented on #163
Ok so how about this. When there is a possible ambiguity, let's use manim CE. When there is no ambiguity possible, let's just use manim.

[2020-09-14 22:42] leotrs commented on #163
Feel free to reopen if you disagree :)

[2020-09-14 22:42] #163 closed

[2020-09-14 22:42] leotrs commented on #227
@huguesdevimeux :point_up:

[2020-09-14 22:43] leotrs commented on #407
How difficult is it to implement this?

[2020-09-14 22:44] leotrs commented on #418
Closing this in favor of #441

[2020-09-14 22:44] #418 closed

[2020-09-15 03:00] naveen521kk commented on #407
I think it will very easy to do it.

[2020-09-15 03:01] leotrs commented on #407
Are you volunteering? :)

On Mon, Sep 14, 2020 at 11:00 PM Naveen M K <notifications@github.com>
wrote:

--
www.leotrs.com | leo@leotrs.com
PhD candidate at the Network Science Institute, Northeastern University

[2020-09-15 06:41] behackl commented on #407
Yes, it should only require a change to the templates `module.rst` and `class.rst`.

But we should wait until we have settled for a logo to have a image for the preview cards.

[2020-09-15 08:53] huguesdevimeux commented on #442
Very intersting idea. Could you PR on this . (if yes, please assign yourself on this issue :D)

[2020-09-15 08:54] huguesdevimeux commented on #425
Soo, at the moment what do we do ? Just temporarly remove this flag, waiting for a new one ?

[2020-09-15 08:59] huguesdevimeux opened #443 "REFACTOR : _run_config() should not return file_writer_config."
Now, `_run_config` returns that :
https://github.com/ManimCommunity/manim/blob/1a516dbc64b0f105914e5a9be6d66aa839cec964/manim/config/config_utils.py#L536

4 things, including file_writer_config.

I do think `file_writer_config` should be computed outside this function, as now there are several others config type (in particular `cfg` subcommand, logger, and later `livestream` subcommand).

file_wri

[2020-09-15 11:32] leotrs commented on #443
I'm working on #337 which is going to make this problem go away.

I never liked having separate `file_writer_config` and `config`. The former was meant to be used only internally, and the latter was meant to be exposed to the user. But they ended up being pretty similar. In the future, I'm planning on removing `file_writer_config` and having a single `config` dict. The `config` dict will be used (

[2020-09-15 12:03] naveen521kk commented on #442
I think I wouldn't be time to work on this. The issue is open for anyone.

[2020-09-15 12:05] huguesdevimeux commented on #227
Sorry. Yes, it closed this !

[2020-09-15 12:05] #227 closed

[2020-09-15 18:25] MysaaJava commented on #358
But how do you know which mobject is in front of the other if z_index are the same ?

[2020-09-15 18:28] leotrs commented on #358
The point is that `Scene.add` would assign a new z_index to an object when it is being added. So by default there are no mobjects with repeated z_index.

If you then manually change the z_index of a mobject that happens to clash with that of another one, then they can each be rendered in an arbitrary order OR the tie can be broken by the time of addition (the oldest added mobject gets rendered fir

[2020-09-17 10:03] kolibril13 opened #448 "Link between reference and examples in docs"
At the moment, we have two big categories in the manim documentation:
#### A) the reference: https://manimce.readthedocs.io/en/latest/reference.html
#### B) the examples: https://manimce.readthedocs.io/en/latest/examples.html

As discussed in #445, it would be nice to insert Links between reference and examples.

One idea is that the reference shows one bare bone example on the reference page for

[2020-09-17 10:24] leotrs commented on #448
I like this! One thought is that if we are to do this in any sort of automated way, we should also allow the possibility for _not_ linking examples to the docstrings. The reason is that, for example, virtually every example is going to use either Scene.add or Scene.play, so the examples listing for them is just going to be bloated and pretty meaningless I think.

[2020-09-18 02:15] leotrs opened #450 "tex template can't be set through config file"
Title. There's a CLI flag for this but can't be set through the cfg files.

[2020-09-18 05:20] sudgy opened #451 "Scene Caching Tries to Access the Wrong File in Certain Circumstances"
Consider the following scene:

[code]

when I run manim once, it makes a black screen as expected, but when I run it again, it crashes saying that it can't find the partial movie file.

When running `manim test.py Issue3DCache -pl` the first time:
[code]
When running it again:
[code]

[2020-09-18 05:54] naveen521kk opened #452 "Using Cleo instead of Argparse"
Currently, Manim uses Argparse for handling CLI arguments. It has been *good* but hard to maintain it, the currently introduced subcommands make it worse. Using something which was built for CLI management would help a lot of something like Cleo.

Cleo allows us to create beautiful and testable command-line commands. (Picked from docs) Where it uses `docstrings` to generate a command argument. (Bo

[2020-09-18 06:04] huguesdevimeux commented on #451
Hi, thanks for the report. Did you try to run this with `--disable_caching` flag ?

[2020-09-18 06:10] sudgy commented on #451
Yeah, I did, and it works fine when using that flag.

[2020-09-18 07:13] sudgy commented on #451
Well, I just found somewhere else it breaks without rotation.  Let me try to isolate what's breaking it.

[2020-09-18 07:20] sudgy commented on #451
Here's a reduced case of another case I found:
[code]
Run it the first time without the commented wait, and the second time with it.  Then a similar problem occurs.  However, unlike before, the wait has to be added between runs.

[2020-09-18 08:08] naveen521kk opened #453 "Issue Saving Log files"
https://github.com/ManimCommunity/manim/blob/e011f640cf085879b67cce7bc0dc08450ba92d3b/manim/config/config.py#L158-L165
Here it defines that scene name will be log file name.  But a problem is when I tried with no scene name and entered it at runtime. The log file a saved in `media/logs/.log` which is weird and should not happen.

[2020-09-18 10:23] leotrs commented on #452
Yeah I've been thinking about ditching argparse too. Why Cleo and not Click?

[2020-09-18 11:06] huguesdevimeux commented on #451
Alright, thanks so much for that.
Last request (I swear !) Could you run a borken scene with `-v DEBUG` flag (and **without** `--disable_caching` flag)and post the logs ?

[2020-09-18 11:12] huguesdevimeux commented on #453
Yes, and the why is indicated in the comment.
I think this should be changed, and follow @leotrs suggestion that is to set log name as the name of the file containing the scene.

[2020-09-18 11:49] naveen521kk commented on #452
I didn't use any of the two. So your choice. For me, cleo looks more good.

[2020-09-18 13:39] kolibril13 opened #454 "Should examples include import statements?"
At the moment, examples from the docs don't have the import statements added.
I would prefer to write once that you need an import statement, and then not carry the import statement along to every other example. In my opinion, this would look tighter and we would have less redundancy, especially when we have chapters that will have like 10-20 examples.

[2020-09-18 14:21] leotrs commented on #454
I'm of the opposite view. I like example code that I can copy & paste and have it work in no time. Someone is bound to copy&paste the code in the examples, and if they don't include the import statements they won't work.

[2020-09-18 14:22] Mike-san-k commented on #168
[svg_mobject.zip](https://github.com/ManimCommunity/manim/files/5245997/svg_mobject.zip)
I tried to fix the the ink scape svgs, and here's the file, but it doesn't support other svgs apart from inkscape svgs, you may have a look at this, although I know you guys might have already done a much better job, but just sharing it :)

[2020-09-18 14:43] kolibril13 commented on #454
I see.
Does sphinx support custom buttons?
An alternative idea:
we could add copy buttons next to each example with this sphinx extension:
https://sphinx-copybutton.readthedocs.io/en/latest/
Then we have the code shown in the examples without the import statement.
However, when you click on the copy button, it copies the code and appended to the import statement.

[2020-09-18 14:46] leotrs commented on #454
I think that's a good alternative. There's still a bit of awkwardness if you see a chunk of code and copy it but when you paste it, it actually looks different (because the import statements have been added).

Honestly, in the vast majority of times the import statement will add only one line to the example. I don't think that's such a big deal, even if there are many examples per page. But I'm in

[2020-09-18 14:53] kolibril13 commented on #454
@leotrs : **nitpicking**:  I think it would be two lines of code because there is one empty line in between. And e.g. the text examples will have about 20 examples which make 40 lines of code.

[2020-09-18 14:56] leotrs commented on #454
40 lines of code in a webpage doesn't sound like a lot to me.

What _does_ sound like a lot to me is including 20 examples in a single page. But that's another discussion for another issue.

Again, we need more voices here to reach consensus. So imma stop responding until others do.

[2020-09-18 15:54] sudgy commented on #451
[output.txt](https://github.com/ManimCommunity/manim/files/5246616/output.txt)

This was the second one (without the rotation), even though the name is still `Issue3DCache`.  It doesn't seem to be that much different.

[2020-09-18 18:01] sudgy commented on #451
I was wanting to jump to an earlier commit so I wouldn't have to deal with this problem any more, and I found that the bug was introduced in commit 1a516db.

[2020-09-18 19:30] MysaaJava commented on #358
And if, in the future, you want to put a method to put an object _between_ two other. Would you have to use floating point zindex ? More commonly, if you want to put a .moveBehind() method, how would you do that ? I think that a dedicated data structure (maybe a tree) would allow to move objects to the front or to the back easily. Of course, it would be compatible with z-index methods.
What do you

[2020-09-18 19:33] leotrs commented on #358
Yeah I think there's no problem in using floating point indices. As long as there is a unique way of sorting the mobjects, you should be able to implement "move behind" and "move to the back".

[2020-09-19 16:57] huguesdevimeux opened #455 ": investigate on this, more particularly in the PR intender to fix livesyteamingj"

[2020-09-19 16:57] huguesdevimeux opened #456 ": investigate on this, more particularly in the PR intender to fix livesyteaming"

[2020-09-19 16:58] huguesdevimeux commented on #456
TIL github addon for VScode can open issues on github, and I also learned that there is no confirm button.

Sorry for that

[2020-09-19 16:58] #456 closed

[2020-09-19 16:58] #455 closed

[2020-09-20 09:22] kolibril13 commented on #379
Closed in favour of
https://github.com/ManimCommunity/manim/wiki/Guide-to-contribute-Examples-to-docs
and
https://github.com/ManimCommunity/manim/wiki/Docs-Example-Ordering

[2020-09-20 09:22] #379 closed

[2020-09-20 10:17] cobordism commented on #216
This issue is still present in MathTex - https://github.com/ManimCommunity/manim/blob/master/manim/mobject/svg/tex_mobject.py#L188

[2020-09-20 10:28] cobordism commented on #168
My specific inkscape problem is solved with a small change included in https://github.com/ManimCommunity/manim/pull/457

but in general SVG support probably needs a lot of work(?) I can't judge this

[2020-09-20 10:36] cobordism commented on #441
I would love it if I could run this as a transparent overlay on my webcamera video (perhaps via a v4llopback fake webcam).
Then I could be having jitsi, zoom, skype, etc calls and then just randomly start generating formulae and other mobjects around my face :)

[2020-09-20 12:13] huguesdevimeux commented on #441
It will be possible with FFMPEG as well, like with normal video generation.

[2020-09-20 12:20] kilacoda commented on #441
I _think_ it might be possible to actually implement that with OpenCV as well, by rerouting the movie pipe and stuff

[2020-09-20 15:25] cobordism commented on #441
Right, you'd use ffmpeg to merge the two videos (webcam and manim), but then you'd still have to pipe that through a video loopback device so that it looks just like another webcam for all the chat programs (like jitsi or zoom) to pick up. Otherwise, how do you tell you chat program to use that video stream instead of the webcam?

A few years back I hacked together something like this to do screen

[2020-09-20 15:47] cobordism opened #460 "Error on compiling video: partial_movie_file_list.txt: No such file or directory"
### If this is a support request:

I encountered this error mulitple times today

[code]

I don't know exactly what is triggering it, but running without `-n` (and with an empty media dir and no cache ..). that seems to work. Will post more info if I find it.

[2020-09-20 15:56] huguesdevimeux commented on #460
Thanks for the report :D
On second thought I don't think it is related to scene-caching.
Could you try to run the scene, but without specifying a `media_dir` path and with `-v DEBUG` ? (and post the full logs).

For me, the issue comes from the directories that are wrongly initialized. The first error message is thrown by FFMPEG and basically says "I can't find the partial movie files here !"
It's

[2020-09-20 16:13] huguesdevimeux opened #461 "Should livestreaming use partial movie files ?"
The title;

The way that livestream used to be implemented was to directly output the resulting stream created by ffmpeg to the dedicated URL. No partial movie files was created and combined, as everything was redirected.  It works like a charm, does not create any file, etc.

**BUT :**
I thought we could change that. We could make manim use partial movie file system.
It would enable us to :
- Go

[2020-09-20 17:00] leotrs commented on #461
I think to answer this question we need to determine what is the intended use of the livestreaming feature.

[2020-09-21 01:25] #216 closed

[2020-09-21 17:19] cobordism commented on #460
Status:
`$ manim --media_dir /home/cobordism/Documents/renderings/ ./examples.py ycombinator -pl -v DEBUG`
produces the video, no problem.

`$ manim --media_dir /home/cobordism/Documents/renderings/ ./examples.py ycombinator -pl -v DEBUG -n 30`
produces a strange staccato video up to animation 30 and then proceeds normally.
For example, instead of starting at animation 30, the text that was being

[2020-09-22 13:46] kolibril13 commented on #279
In matplotlib one can set default colourmaps like this:
[code]
can we maybe have a similar approach?
So the idea is:
all colours already have their variables, like WHITE, BLACK, YELLOW etc.
which are called like this in
WHITE = Colors.white.value
colors.py,
but what actually *is* the colours is looked up by what colormap is currently active.

[2020-09-22 13:49] leotrs commented on #279
I don't understand what you mean by this.

Also, before implementing anything more on colors, I'd like to finish and close #342. It's stuck on needing more feedback because the proposed implementation doesn't seem to fix all existing problems.

[2020-09-22 16:42] huguesdevimeux commented on #460
Intersting. If the bug is reproducible, could you please share (a reduced version, if possible ^^) the code causing the error?

And, what do you mean by this ? could you share the video ?

And, maybe you should take a look at the directory where partial movie files are stored; there might be some clues down there. My guess is that it's comes from the scene caching mechanism, which is tricked into

[2020-09-22 16:54] cobordism commented on #460
so. here is a mimimal version that produces the error message:
[code]

run the command `$ manim example.py test -n 3 -pl`

[2020-09-22 16:59] cobordism commented on #460
I am currently not able to reproduce this. What I meant was that I had added a lot of text with `self.play(ShowCreation(txt))` but I was getting text appearing as if I had been using `self.add(txt)` instead... i.e. the animations were gone but the timings were still there.
I'll let you know if I can recreate it, until then let's regard it as a fluke.

[2020-09-22 17:15] cobordism commented on #460
Update. I have been able to recreate it. Will message you in discord with link to video

[2020-09-22 18:38] cobordism opened #467 "Create a LaTeX Template Library"
I'd like to suggest that we create a LaTeX Template library.
Specifically I nominate the font configuration in http://jf.burnol.free.fr/showcase.html#

Here is an example of all the configs in one file:
https://gitlab.com/co-bordism/manim/-/raw/3feeab57a8340d7283c472c23c4d1a4e95b71119/example_scenes/advanced_tex_fonts.py
Here is an example output https://vimeo.com/441072916

What would need to be

[2020-09-22 19:48] huguesdevimeux commented on #460
It _should_ be fixed by #468 . Could you check this out ?

[2020-09-22 20:41] qo4on opened #469 "IndexError: list index out of range in text_mobject"
`Windows 10, Python 3.8.5, latest Manim from master branch`
[code]
Whereas these lines work fine:
[code]
It looks like `SVGMobject` cannot handle symbols like `<` and `>`. Any Ideas how to fix that?

[2020-09-23 05:54] MysaaJava opened #470 "Use of a 'toy' function for pycairo fonts"
I've searched how manim fonts were - loaded and i found the line https://github.com/ManimCommunity/manim/blob/faaeb89af98ed03160f44625907a3c231abbd84e/manim/mobject/svg/text_mobject.py#L314 . So i looked at pycairo documentation in order to understand how are fonts parsed and the doc tells that the function should not be used for production, only for "playing around" with cairo.
[code]

[2020-09-23 06:23] huguesdevimeux commented on #470
I think this has been said in #262 .
Unfortunately, as far as I know, there is no way to go around this limitation except by using an external library such as Pango, as mentionnée in the docs.

This is definitely something we should do.

[2020-09-23 07:58] behackl commented on #460
I am running into a similar issue when doing `make html && make clean && make html` from `docs`:

[code]

The produced file is not complete, however.

Log from the first pass of rendering:

[code]

`partial_movie_file_list.txt` after the first pass:
[code]

`partial_movie_file_list.txt` after the second pass:
[code]

Actually, the same thing happens when running manim on the corresponding code
[co

[2020-09-23 08:49] naveen521kk commented on #470
Duplicate of #393

[2020-09-23 08:52] naveen521kk commented on #393
I am taking over implementing Pango with Manim using binding
pangocffi https://pangocffi.readthedocs.io/en/latest/
pangocairocffi https://pangocairocffi.readthedocs.io/en/latest/

[2020-09-23 11:29] #470 closed

[2020-09-23 11:30] leotrs commented on #470
Thanks @MysaaJava, let's continue discussion in #393

[2020-09-23 12:07] cobordism commented on #460
I can confirm that this seems to fix my issue.

@behackl Your TestZoom1 scene compiles just fine over here. I believe you are encountering a different problem than the one in this github issue.

[2020-09-23 12:16] behackl commented on #460
Good to hear! Then I'll move this to a separate issue.

Yes, I thought so as well. But I am still surprised: compiling the scene twice (without changing anything in the media directory in between) works for you? I get the same error on the second try consistently on multiple machines.

[2020-09-23 12:20] cobordism commented on #460
Your right!

I also get an error on second compiling!

[code]

[2020-09-23 12:40] behackl opened #472 "[scene caching] partial movie file not found"
Here is another scene caching error: running the code

[code]

(one of our examples from the documentation) **twice** raises the following error:

[code]

(I've noticed this from running `make html && make clean && make html` from `docs`.)

[2020-09-23 12:41] behackl commented on #472
CC @ManimCommunity/scene-caching

[2020-09-23 12:44] cobordism commented on #472
I can confirm this bug:
https://github.com/ManimCommunity/manim/issues/460#issuecomment-697327133

[2020-09-23 12:58] huguesdevimeux commented on #472
@behackl It's not a bug.
Your scene won't generate any video, as there is no `scene.play `or `scene.wait` invocation.
If you wonder why does it work sometimes, it's because manim opens a video file named with the name of the file containing the scene, no matter if the scene was supposed to produce something. So, what can happen is that manim takes an old generated video as it didn't get replaced b

[2020-09-23 13:10] behackl commented on #472
@huguesdevimeux `self.activate_zooming(animate=True)` seems to include a `play` call somewhere; the video included over at https://manimce.readthedocs.io/en/latest/examples/camera_settings.html is produced.

[2020-09-23 17:04] huguesdevimeux commented on #472
@behackl You're right. I will investigate.

PS : First time I see the documentation quoted as a reference. Although I didn't contribute to it, I feel very proud :D

[2020-09-23 17:40] huguesdevimeux commented on #472
Just to let you know, I found a potential fix. I will PR a soon as I can :D

[2020-09-23 18:20] behackl commented on #472
It **is** pretty cool, I do have to admit. Even though there is still lots of work to do, its fun to see how it slowly becomes more and more useful! :-)

Thanks for investigating, I will certainly have a look at whatever you come up with. 👍

[2020-09-24 06:27] nilaybhatia commented on #469
Are you using [3b1b/manim](https://github.com/3b1b/manim) or [ManimCommunity/manim](https://github.com/ManimCommunity/manim)?
Does it work when you remove the `<` and `>` from text?

[2020-09-24 06:32] behackl commented on #469
I can confirm that this happens in manim community as well.

I don't think this is specific to any characters, but rather some weird string length issue: trying to add a `Text` with sufficiently many "a" characters leads to the same exception.

[2020-09-24 09:02] qo4on commented on #469
Yes.

[2020-09-24 14:15] FilipeMarch opened #473 "Transparent background -t doesn't work"
I was used to do something like:
[code]
[code]
Getting this:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/23220309/94156693-becd7580-fe56-11ea-92b9-17f4c00a18ac.gif)

Using the same script and shell command with ManimCE produces this:
![image](https://user-images.githubusercontent.com/23220309/94156945-081dc500-fe57-11ea-8062-5b590eedfd59.png)

[2020-09-24 16:30] cobordism opened #474 "Implement standard easing functions (as rate_func library)"
## This is an improvement proposal.

### Context:
Manim has rate functions that determine the rate that animations run at. A nice video of the included functions is here:
https://youtu.be/FO-vi92R8i8?t=119
To use them you write `scene.play(animation, rate_func=XXX)`. They are located in `utils/rate_functions.py`.

### Problems with the current setup:
The functions work fine, but their names are co

[2020-09-24 16:48] cobordism opened #475 "Don't do automatic line breaks within LaTeX"
### Context
If we make a long line of text `Tex("this is a long line of text... perhaps")` then the output will contain a line break if the line in question is longer than a full line in the tex document (as defined by the tex template). It bears absolutely no relation to the width of the screen in manim.
We have plenty of options for breaking up strings in manim and arranging and aligning  them l

[2020-09-24 17:43] leotrs commented on #474
Excellent idea. We should deprecate the current ones, and change their names, as well as add the new ones. This doesn't sound like a difficult PR, no?

[2020-09-24 17:44] cobordism commented on #474
agreed.
sounds relatively simple to do.
perhaps you can tag it with "good first issue" to entice newcomers to try?

[2020-09-24 17:50] leotrs commented on #475
My first instinct is always to provide more customization options, if possible, with a clean interface. So I'd vote for setting the page geometry to fit the manim canvas by default, but allow the user to change it (say to an extremely wide page) easily if they want to.

[2020-09-24 18:12] cobordism commented on #475
which raises the question... how many centimetres wide is the default maim screen?
and what role does `TEX_MOB_SCALE_FACTOR` play?

[2020-09-24 18:16] leotrs commented on #475
Uuuuh, that's an excellent question. We have a default measurement in pixels, not centimeters.

I have no idea what TEX_MOB_SCALE_FACTOR is.

[2020-09-24 18:34] MysaaJava commented on #475
May be linked to #275 as centimeters creates a coordinates system too

[2020-09-24 18:37] leotrs commented on #475
Yes, I should have said that I would friggin love to have this, but it doesn't currently exist rn.

[2020-09-24 18:55] cobordism commented on #275
Just to chime in here:
I sometimes make 9:16 videos (for the phone) instead of 16:9.

Usually I set my manim video manually to width of 9 and height of 16 (and also change the corresponding output video sizes). I have one vertical.cfg and one horizontal.cfg file for this purpose.

There is no a-priori reason for me to change manim units, I could go 8.0 x 8.0 is all cases (or 14.whatever) but it's

[2020-09-24 21:21] behackl commented on #469
No, we don't have something similar for now.

I think I have identified the issue and it should be solved via #476.

[2020-09-25 03:13] FilipeMarch opened #477 "GIF generation doesn't work -i"
I was used to create GIFs on 3b1b MANIM by using code like this:
[code]
![GIFGenerate](https://user-images.githubusercontent.com/23220309/94222473-d131c880-fec3-11ea-901e-ad25467f6e9d.gif)

Although I am using the same code/commands, I can't generate GIFs on ManimCE.

[2020-09-25 07:58] AkashKarnatak opened #480 "Sector.get_arc_center() is broken."
Sector.get_arc_center() does not work and always returns a warning message.
[code]
Above error can be reproduced using the below code.
[code]

[2020-09-25 10:58] huguesdevimeux commented on #477
Thanks for the report :D

[2020-09-25 11:21] leotrs commented on #480
Thanks for the report. Something tells me that this *might* even be the desired behavior, but the way it is handled right now, it's impossible to be certain. Cc @ManimCommunity/geometry any takers?

[2020-09-25 11:28] AkashKarnatak commented on #480
@leotrs  I have solved this issue and I'll soon send a PR

[2020-09-25 11:29] leotrs commented on #477
@FilipeMarch can you please follow the steps outlined in the issue template?

[code]

For step one, can you please post the scene code you are using? Or find a minimal scene that reproduces the bug?
What version of manim CE are you using? Is there any error message? Are there any files generated? etc etc etc etc

[2020-09-26 05:48] FilipeMarch commented on #477
TL;DR I started answering what you asked step by step and writing the results and suddenly  and on the end no bug occurred. Now, my old manim-master folder is not generating GIFs correctly, but I don't care anymore at this point, as I'm looking forward to only use ManimCE.

Sure

- On Linux Mint 19.3 Cinnamon, create virtualenvironment with python 3.8.1 for ManimCE:
[code]
- Activate the environme

[2020-09-26 16:35] leotrs commented on #477
Thanks for the detailed answer. It sounds like you might have mixed up 3b1b/manim with manim-ce. That happens! Please feel free to open a new issue if you find the bug again.

[2020-09-26 16:35] #477 closed

[2020-09-26 23:01] behackl commented on #454
I feel that it would be pretty awkward if a copy/paste button would not copy the precise content of what is shown -- as a user, I might ask myself whether anything else was changed as well...

For the sake of simplicity, I would simply include the import statement in the examples.

[2020-09-27 00:59] hugopy commented on #472
I second this, also having this bug.

[2020-09-27 03:58] naveen521kk commented on #255
This is done for windows
https://chocolatey.org/packages/manim-latex/2020.09
The chocolatey package is approved. I will soon add it to docs. Closing this issue.

[2020-09-27 03:58] #255 closed

[2020-09-27 15:15] huguesdevimeux opened #484 "-fp does not work on Ubuntu"
On Ubuntu, when passing -f flag (open the file in file browser) and -p (preview) no preview is shown, only the file browser is open, instead of both.

IIRC it is working on windows, as I remember having worked on this flag to make it work on Windows.

Seems like an easy PR

[2020-09-27 15:18] leotrs commented on #484
Thanks for reporting. I find it extremely weird that many flags seem to be failing lately. I was able to use -p only last week. There must be a PR that messed this up recently.

Another sign we need more tests. All the regressions are getting frustrating. We can't release v0.1 if -p can break at any point. I suggest we stop merging PRs without new tests added.

[2020-09-27 15:22] huguesdevimeux commented on #472
This will take longer as I expected.
This issue hides two : One related to how partial movie files are handled when some animations are skipped (in particular, when the first one is skipped), and one more serious that is that the hash produced by the second play call of `scene.activate_zooming` is non-consistent for some reason.

Sooo, not sure when I will fix this. But if you need to run these ki

[2020-09-27 15:25] huguesdevimeux commented on #484
Yes, but how do you want to test -p and -f ?

[2020-09-27 15:29] leotrs commented on #484
They're two of the most used flags, no?

On Sun, Sep 27, 2020, 11:26 AM Hugues Devimeux <notifications@github.com>
wrote:

[2020-09-27 15:31] huguesdevimeux commented on #484
Yes, I think so.

[2020-09-28 07:10] kolibril13 commented on #454
ok, then I am fine with having import statements in the examples.
Next question:
Should they explicitly be added in the .rst files, or should they be added automatically when building the docs?

[2020-09-28 10:03] huguesdevimeux opened #485 "Migrating to PathLib instead of os.path"
The title. A lot of stuff are still using os.path to handle paths, when Pathlib seems to be more appropriate as more recent (and built-in, of course).
In particular, pretty much everything within `SceneFileWriter` uses `os.path`.

Very easy PR ;)

[2020-09-28 10:38] behackl commented on #454
Yes, I am very much against adding them automatically. If we want something to be displayed in the code block, then we should explicitly specify it. Everything else would cause confusion in the long run.

Adding them explicitly also gives us the option to just import things that are needed in a scene, if we decide to do so later on.

[2020-09-28 11:19] leotrs commented on #454
They should be explicitly added.

[2020-09-28 11:23] #480 closed

[2020-09-28 11:31] naveen521kk commented on #485
(mark it as Hacktoberfest)

[2020-09-28 13:44] nilaybhatia commented on #460
@huguesdevimeux I have temporarily assigned this issue to you since it is related to scene caching. If this is a duplicate or if it's not really related to scene caching as some of the initial comments say, feel free to un-assign yourself

[2020-09-28 13:45] huguesdevimeux commented on #460
Thanks. I forgot to assign myself.

[2020-09-28 13:46] nilaybhatia commented on #474
I think I'll be able to take this up next week, so temporarily assigning myself. If it turns out I can't, will edit this message and un-assign.

[2020-09-28 14:28] huguesdevimeux opened #486 "Removing temp ffmpeg's temp-files"
Before partial movie files are generated by ffmpeg, scenefilewriter creates temp partial movie file and then move them and rename them with their definitive name (which is the hash of the animation).
Why ? Why not rendering directly partial movie files?
I think we should, if there is no objection, remove this and make ffmpeg directly render partial movie files.

[2020-09-28 20:21] kolibril13 opened #487 "Changing fonts in "Text" does not work"
Hi, maybe it is only on my system (Ubuntu 20.04), but using this example:
[code]
should give this result:
![image](https://user-images.githubusercontent.com/44469195/94481804-9dfb7c00-01d8-11eb-8d20-407772518f77.png)
(image is taken from https://github.com/3b1b/manim/pull/680)
However, when I run it on my machine, it only renders the text with the default font.
To distinguish the default font from

[2020-09-29 06:01] raisultan commented on #485
hi👋 @huguesdevimeux, I would love to help!

[2020-09-29 06:09] naveen521kk commented on #485
Sure @raisultan I will assign you.

[2020-09-29 06:32] naveen521kk commented on #197
This is done by #478 and restyled bot does that work. Closing this issue.

[2020-09-29 06:32] #197 closed

[2020-09-29 06:39] raisultan commented on #485
@huguesdevimeux, thanks

[2020-09-29 06:43] naveen521kk commented on #487
Did you install the font `Source Han Sans` in your computer? Currently, there is no warning for this. You can check whether it is installed using
[code]
command in Linux.

Possibly fixed by #471 where it uses Pango for rendering where it raises warning if font not found.

[2020-09-29 11:45] huguesdevimeux commented on #472
should be fixed in #489

[2020-09-29 12:34] #460 closed

[2020-09-29 14:34] naveen521kk commented on #484
Works for me on Windows. So it is only for Linux. For contributors, the below code needs to be fixed.
https://github.com/ManimCommunity/manim/blob/9271ca88936b4723415df20f9f87e01c108152a5/manim/utils/file_ops.py#L56-L72

[2020-09-29 17:37] naveen521kk commented on #193
I recently came up with some good things like [coverage.py](https://coverage.readthedocs.io/en/coverage-5.3/) which is great. What it actually does is checks how many parts of code is executed when the tests are running and how many doesn't(for example checks how many if condition code are not executed as so on). It make beautiful html report or we can something like https://codecov.io for managin

[2020-09-29 17:40] leotrs commented on #193
Before looking into code coverage tools, I would like to see more tests.

[2020-09-29 18:04] sudgy opened #491 "BUG : kwargs in ApplyMethod Breaks Scene Caching"
[code]

When trying to run this scene, it breaks with this backtrace:

[code]

And yes, huguesdevimeux, the problem disappears when `--disable_caching` is used.

[2020-09-30 00:48] csrabak opened #494 "Info : Chocolatey GUI shows two versions of manim CE to install w/slight different names same ver. number"
In Windows 10 64 bits the Chocolatey GUI shows two versions of manim whose descriptions are the same¹.

None of them installs successfully.

[1] OK, I didn't nit pick letter for letter. . .

[2020-09-30 00:55] csrabak opened #495 "Install via choco fails"
In a Windows 10 64 bit machine with pristine conditions WRT to manim.

I mean a) no Python version at all. b) Pending LaTeX installation as per Readthedocs directions.

Issuing

[code]
fails.

The error message in the Powershell shows that the script attempted to call PIP but the installation of Python as requirement doesn't install pip.

I don't believe the massive log needs to be attached, but i

[2020-09-30 03:01] csrabak commented on #193
@leotrs :

The two subjects are well interconnected, we could say they're conjoined twins ‼️

Adding tests if do not exercise all the control flow paths may give a sense of security when in fact are only redundancies.

That's why coverage should be considered as integral part of the testing exercise.

my .01999....

[2020-09-30 05:09] naveen521kk commented on #494
I know that. One would be `manim` and the other will be `manim.install`. Both eventually install the same for now. It has been done so that in future there can be a portable version of Manim(I thought of doing it but not yet done. Probably for the future.)

It's named correctly as in how meta-packages are named in chocolatey. Also, there should be info for that given in https://chocolatey.org/pack

[2020-09-30 05:09] #494 closed

[2020-09-30 05:18] naveen521kk commented on #495
I definitely need those error logs that to in debug mode, `-debug -verbose` with parameters. Make sure you remove personally identifiable details from that. Possibly a gist would help instead of pasting here.

You are wrong here. It's windows and not Linux. The default python installer includes `pip` by default and chocolatey uses that.  It must be the case I think that you had a python installati

[2020-09-30 07:19] huguesdevimeux commented on #193
I agree with that

[2020-09-30 07:20] huguesdevimeux commented on #491
Thanks for the report. I see where the issue comes from, it was my biggest fear but it happened.

Will fix this asap :D

[2020-09-30 07:20] naveen521kk commented on #193
Probably we can open a new issue for that. @huguesdevimeux

[2020-09-30 11:39] leotrs commented on #193
I agree that coverage should be taken into account, I just meant to say that right now the priority should go to writing tests. If anyone is looking into implementing coverage, that time would 100% be better spent by implementing more tests, as of right now.

Having said that, if anyone wants to do that now, then by all means. But deciding upon one more tool should be discussed in a separate issue

[2020-09-30 18:06] radiantly commented on #452
Hi, could I take up this issue?

However, it looks like `click` is more maintained compared to `cleo` so I think the switch should be made to `click` instead.

[2020-09-30 18:08] leotrs commented on #452
@radiantly thanks so much for volunteering! This is a fairly major switch, so before you devote any time to it, I would like to have a discussion here about the pros and cons of each alternative. Why are we leaving argparse? Why should we take up any other library instead? Etc.

[2020-09-30 20:30] csrabak commented on #495
You're absolutely right about « It's windows and not Linux. » ‼️

I don't have an account in GitLab to post a gist, is it possible to attach here zipped?

Also, another friend attempted to install, and his results are as dismaying as mine:

This the capture of the cmd shell (notice the need to elevate rights):
[code]

An interesting thing to observe is the user of this machine has ImageMagick inst

[2020-09-30 20:30] #495 closed

[2020-09-30 20:31] csrabak commented on #495
I noticed I can myself close this issue.

I leave it as non reproducible or hard to reproduce...

[2020-09-30 21:54] nilaybhatia opened #497 "VGroup and VDict must override __repr__ to display the mobjects contained"
Consider this example:
[code]
When there are _a lot_ of mobjects in the `VGroup` or `VDict`, it sometimes helps to know what are those mobjects while debugging.
Something like
`[Square, Circle]` or even better the full hash name (IDK what it's called) -- `manim.mobject....at 0x00...`.
Let me know how can this be best incorporated.

[2020-09-30 22:13] leotrs commented on #497
You have to define the `__str__` method of VGriup/VDict. I think some Mobjects already have a `__str__` method so it should be enough to do something like `return ", ".join(str(m) for m in self.mobjects)`

[2020-10-01 04:22] naveen521kk commented on #495
From the logs I could infer two things
- You haven't elevated the shell I think. This could be the possible issue.
- The install fail for `ffmpeg` which is not under my control. So, you should be contacting `ffmpeg`'s maintainers [here](https://chocolatey.org/packages/ffmpeg)

Also, that python update includes pip as mentioned in the article. So there is no reason to change the current installer.

[2020-10-01 06:51] huguesdevimeux commented on #497
Seems to be an easy PR, if no one object

[2020-10-01 07:47] huguesdevimeux commented on #491
Should be fixed by #498

[2020-10-01 09:06] nilaybhatia commented on #497
Would like to know what would be preferred just `Square` or the full hash name? I can make a quick PR today if no one minds.

[2020-10-01 09:37] behackl commented on #497
I would prefer implementing `__repr__` over `__str__` (see https://stackoverflow.com/questions/1436703/difference-between-str-and-repr), and would love to see more manim classes having proper `__repr__` methods. (Note in particular: if `__repr__` is defined and `__str__` is not, `str(object)` will still work.)

For the container, I fully agree that its repr should print a list of its children. But

[2020-10-01 09:40] huguesdevimeux commented on #497
What hash ?

[2020-10-01 10:04] nilaybhatia commented on #497
This
`<manim.mobject.geometry.Square object at 0x000001AA9A5E7790>`
I am not sure what's the proper name for this - I call this "printing the object"

[2020-10-01 10:28] huguesdevimeux commented on #497
I don't know the proper name either lol, but the hex thing at the end is the id, I think.
And I think the id in the repr _can_ be sometimes useful, when one wants to check if two objects are different.

[2020-10-01 12:09] leotrs commented on #495
What does "elevate the shell" mean, and how would they go about doing it?

[2020-10-01 12:16] naveen521kk commented on #495
"elevate the shell" is similar to giving `sudo` permissions to linux terminal commands. Here, users would be doing something like the below post
https://www.howtogeek.com/194041/how-to-open-the-command-prompt-as-administrator-in-windows-8.1/

Chocolatey pretty much all the run in elevated shell or it gives warning.

[2020-10-01 15:40] cobordism commented on #467
included in https://github.com/ManimCommunity/manim/pull/483

[2020-10-01 17:33] #497 closed

[2020-10-01 21:37] musabkilic commented on #484
I couldn't make -fp work in Windows either. The problem is, open_media_file runs *once* regardless if -f or -p or both of them are given at that time. (ofc doesn't run if neither is given)
https://github.com/ManimCommunity/manim/blob/97de34692de7442845f9b935c6d1481784a739d4/manim/__main__.py#L25-L43

If -f is set, open_media_file opens the folder.
https://github.com/ManimCommunity/manim/blob/9271c

[2020-10-02 00:30] musabkilic commented on #421
I think adding a warning for a while to give people some time to update is a better idea, similar to:
https://github.com/ManimCommunity/manim/blob/97de34692de7442845f9b935c6d1481784a739d4/manim/mobject/svg/tex_mobject.py#L334-L349

[2020-10-02 01:07] JPTIZ commented on #426
Since I'm in Software Internationalization class in my university, I would like to help with this. Could help me with studies :)

[2020-10-02 01:08] cauebs commented on #452
Just to contribute to the discussion, you may want to take a look at [typer](https://github.com/tiangolo/typer), which wraps click :)

[2020-10-02 09:01] #484 closed

[2020-10-02 11:40] huguesdevimeux commented on #421
Yes (that's basically what @leotrs said lol)

[2020-10-02 11:49] musabkilic commented on #421
I can add one with:

"animation.update(alpha) has been deprecated (due to its confusing name) "
"in favour of animation.interpolate(alpha). Please use interpolate() instead!"
let me know if it sounds good.

[2020-10-02 11:52] leotrs commented on #421
"animation.update() has been deprecated. Please use animation.interpolate() instead."

Fewer words, same meaning.

[2020-10-02 12:03] meanmachin3 commented on #421
Can I take this up ?

[2020-10-02 12:06] leotrs commented on #421
Yes, thanks!

[2020-10-02 12:10] musabkilic commented on #421
Sorry, I didn't see @meanmachin3 comment. Should I sent a pull request anyway?

[2020-10-02 12:11] meanmachin3 commented on #421
@musabkilic It's okay :)
I'll work on something else. You could take it

[2020-10-02 12:17] musabkilic commented on #421
@meanmachin3 Thanks! :)

[2020-10-02 17:39] behackl commented on #487
I cannot reproduce this either, looks like you might simply be missing the font.

[2020-10-02 17:47] cobordism commented on #487
We should treat this as a bug report: "if the font is not installed, no error message is shown"

[2020-10-02 17:47] naveen521kk opened #506 "Remove Pyreadline for Requirements"
The title says it. See https://github.com/3b1b/manim/issues/444 where I found it is removed in https://github.com/3b1b/manim/pull/985. So manim, can run without that also.
The `poetry.lock` should also be updated.

[2020-10-02 17:50] naveen521kk commented on #487
That's why I am doing #471 where Pango warns the user if font not installed.

[2020-10-02 18:07] leotrs commented on #487
We should still add @cobordism 's suggestion to the current Text, while we wait until the Panel text becomes the default

[2020-10-02 18:59] nilaybhatia opened #507 "ValueTracker must support increment also using +="
Just what the title says. Here's an example
[code]

[2020-10-02 19:53] huguesdevimeux commented on #507
Very good idea. I would love to see a PR :) #

[2020-10-02 22:02] SamMinkowicz commented on #507
Hey, @huguesdevimeux I can take this if it's still open.

[2020-10-03 03:55] naveen521kk commented on #487
It's not possible in Cairo toy api and that's why moving to Pango helps. I would say implementing your idea is not that good, pretty much and it requires a lot of work to make it cross platform.
I suggest to wait until we get Pango for this job.

[2020-10-03 07:24] #506 closed

[2020-10-03 09:34] jvdoorn commented on #146
I can take a look at this, I assume that `production_quality` is higher quality than `fourk_quality`?

[2020-10-03 11:28] nilaybhatia commented on #507
Hi @SamMinkowicz,
We all appreciate your willingness to help the Manim Community out, but unfortunately I already started working on it and just opened a PR a minute ago before seeing your comment. You can still help us out by maybe giving suggestions on that PR :)

[2020-10-03 11:53] huguesdevimeux commented on #507
@naveen521kk Please please assign yourself when you're working on an issue.

[2020-10-03 12:03] nilaybhatia commented on #507
Yeah @huguesdevimeux , I forgot, my bad. Will keep it in mind now.

[2020-10-03 12:14] huguesdevimeux commented on #473
Thanks for the report.
This is probably due to this line that is not present in manim ce :

https://github.com/3b1b/manim/blob/19e3c97589181ffd43ef14d9169af4e40e054664/manimlib/config.py#L162

This should probably be an easy fix, realted to config. Cc @leotrs

[2020-10-03 13:29] naveen521kk commented on #507
I'm not working on this. I think you have pinged me wrongly.

[2020-10-03 13:44] behackl commented on #487
True, the cairo documentation mentions rather explicitly that cairo does not provide a way to check available fonts:

(Source: https://pycairo.readthedocs.io/en/latest/reference/context.html#cairo.Context.select_font_face)

We can still add an explicit warning to the docstring of `Text`, and otherwise resolve this via #471 until we switch to Pango.

[2020-10-03 13:59] naveen521kk commented on #487
Now this a duplicate of #393

[2020-10-03 15:18] leotrs commented on #487
What I meant is the following:

1. If someone tries to use the current `Text` to change font (or do anything else that the dummy Cairo package cannot do), we should issue a warning.
2. The PangoText class should issue the correct warnings when fonts aren't installed.

I believe @naveen521kk says that his PR will handle point number 2. But I don't think we are handling point number 1.

[2020-10-03 15:21] leotrs commented on #146
Thanks @jvdoorn for volunteering! You can see what each quality means in `https://github.com/ManimCommunity/manim/blob/master/manim/config/default.cfg`. The "production" quality is defined under the [CLI] section, as frame_rate = 60 pixel_height = 1080, pixel_width = 1920. The other four have their own sections [low_quality], etc.

[2020-10-03 15:47] naveen521kk commented on #487
I didn't do any effort to implement the second one. Simply it itself gives the below error message.

![image](https://user-images.githubusercontent.com/49693820/94995708-bf37e000-05bd-11eb-98a3-f1972df03628.png)

[2020-10-03 21:06] huguesdevimeux opened #510 "REFACTOR : ValueTracker"
ValueTracker needs a refactor.
Quoting @leotrs :

In a nutshell :
- getting rid of `get_value` and `set_value` in favor of a property;
- Changing `increment_value`, maybe getting rid of it as we have now += operator for ValueTracker
- ?

[2020-10-03 21:15] huguesdevimeux opened #511 "REFACTOR : Removing sounds features (NOT sound added to videos)"
By "sound not added to videos" I mean all the sounds feature that used to be played when an animation render was finished.
Example, here
https://github.com/huguesdevimeux/manim/blob/037c9be804a73915d73106167ff4274f04d39576/manim/__main__.py#L168-L179

[code]

There are countless stuff related in the basecode, and I thinl it should be removed.

[2020-10-03 21:44] nilaybhatia commented on #510
Question: After this refactor is done, how are users supposed to animate changing of values? Currently it is `self.play(tracker.increment_value, 5.0)`. Won't removing `increment_value` break that? I'm not sure if something like `self.play(tracker += 5.0)` can be achieved.

[2020-10-03 22:03] huguesdevimeux commented on #451
Maybe this is fixed by #489 . I tested it, and it worked. Could you confirm ?

[2020-10-03 22:32] eulertour opened #513 "black-pr.yml and black.yml will be difficult to maintain"
[The prior configuration for the formatting check](https://github.com/ManimCommunity/manim/blob/67a4ee6a070fd615e09d76df9bc75d5103fc7c08/.github/workflows/ci.yml#L10-L32), while less efficient, had a subtle yet significant benefit that it can be understood just as quickly as it can be read. The new ones, by contrast, are much more difficult to understand, debug, and modify [[1]](https://github.com

[2020-10-03 22:41] eulertour commented on #461
Implementing it this way would eliminate any potential for interactivity, so if it is done it would only work well for the de-facto CairoRenderer. But that aside, it'd be better in the long term to work toward a real-time renderer than try to get Cairo to behave like one.

[2020-10-03 22:42] eulertour commented on #511
I agree, this should be removed.

[2020-10-04 03:36] sudgy commented on #451
If it worked for you, I'm fine trusting that.  I don't really know any way to test it right now short of uninstalling my copy and then installing from your fork, and that seems like more trouble than it's worth.

[2020-10-04 14:32] huguesdevimeux commented on #461
Livestreaming as I'm implementing (and as possible) is not really "interactive". It uses scene.play() and scene.wait() methods to make something appear on the screen. I think partial movie files are a smart move here, as it will enable some cool feature sucha s loop through an animation, repeat, go back, etc.

Concerning a real time renderer, I completely agree, but this is not really the aim of l

[2020-10-04 14:34] eulertour commented on #513
The more I look at these files the more they don't make sense to me.

For `black-pr.yml`:
* Why doesn't it checkout the repository with the checkout action provided by GitHub?
* Why is it beneficial to only format the files that were edited?
* Why run both `black --diff` and `black` on each file?
* Why manually log the edited files when black logs edited files by default?

For `black.yml`:
* Why r

[2020-10-04 14:48] eulertour commented on #461
This is true, but as I said such an implementation will only be useful while rendering with Cairo.

I would actually consider this to be the primary aim of livestreaming. Doing it with a real time renderer would allow for creating interactive visualizations, which would pave the way for the possibility of creating self-contained interactive lessons.

[2020-10-04 15:10] naveen521kk commented on #513
Reference#362 , #416 , #409

Yeah, it can be done using the one Github provides yes.

It is enough to check what has been edited rather than checking for whole library formatting. This would prevent it from failing when it shouldn't.

`black --diff` is to show what has to be changed by black and `black` actually formats the file to further check whether there are any files that are changed.

That

[2020-10-04 15:40] eulertour commented on #513
This wouldn't happen if all of the code is formatted, were there places where we merged unformatted code?

Why do you want to see the changes?

The extra step here just isn't necessary. It clutters the configuration without providing any benefit.

I think that's fine.

Two things: using the date alone would still accomplish that, and "Print Black Version if Failed" is a misnomer since the step is

[2020-10-04 20:04] #507 closed

[2020-10-04 22:08] eulertour commented on #513
Is anyone opposed to me rewriting these?

[2020-10-04 22:10] eulertour commented on #7
I talked some with Grant and he's now planning to migrate toward using regular classes, so it'd be better for consistency if we did that. Is anyone opposed to that?

[2020-10-04 22:11] leotrs commented on #7
As opposed to dataclasses OR attrs?

[2020-10-04 22:19] eulertour commented on #7
My takeaway from #271 is that attrs don't fit our use case. Dataclasses might but we don't know what problems we might run into so it'd be safer to stick with vanilla python. If someone is willing to vouch for dataclasses then maybe it'd be worth going back and asking him about it, but my prediction is that it will have some quirk like attrs that makes it difficult to adapt.

[2020-10-04 22:23] leotrs commented on #7
In principle I tend to agree. There's some stuff about attrs use of __post__init that doesn't sit well with me, and it seems to me that it will be a problem when moving away from CONFIG.

Cc. @PgBiel

[2020-10-04 22:24] leotrs commented on #513
No objection. @naveen521kk ?

[2020-10-05 04:06] naveen521kk commented on #513
No problem.

Also, Alternative to the action is using GitHub CLI.

[2020-10-05 06:42] huguesdevimeux commented on #510
That's an issue to solve. Maybe we can keep increment_value, then.

[2020-10-05 18:23] NavpreetDevpuri opened #516 "Participate in `hacktoberfest`"
https://hacktoberfest.digitalocean.com/
just add label `hacktoberfest` to issues

[2020-10-05 18:26] leotrs commented on #516
We are already doing this.

[2020-10-05 18:26] #516 closed

[2020-10-05 21:11] charlie4fun commented on #453
Hi, I want to contribute, but not sure how to reproduce the issue: `manim scene.py SquareToCircle -pl` does not produce any logs

[2020-10-05 21:32] leotrs commented on #453
Try `manim scene.py SquareToCircle -pl --log_to_file`.

[2020-10-06 15:05] jvdoorn commented on #511
I can do this unless @huguesdevimeux is working on it? I assume we want to remove all `play_*()` functions but keep `get_full_sound_file_path()` as it is used by `add_sound()` in [`scene_file_writer_.py`](https://github.com/ManimCommunity/manim/blob/41f6f054e0fce79d8a34b64d93cf9dfd9a134bf2/manim/scene/scene_file_writer.py#L276-L300). Maybe to keep the code clean we should move the function to that

[2020-10-06 15:09] jvdoorn opened #518 "Add the "hacktoberfest" topic"
### If this is a feature request:
Hacktoberfest now requires repositories to include the "hacktoberfest" topic for PRs to count. Assuming we want this repository to count for Hacktoberfest we should add this topic. See https://hacktoberfest.digitalocean.com/details#details. Alternatively the label `hacktoberfest-accepted` could be added to PRs.

[2020-10-06 16:16] naveen521kk commented on #518
Done! 🎉

[2020-10-06 16:16] #518 closed

[2020-10-06 16:55] huguesdevimeux commented on #511
@jvdoorn _Please_ do, I'm not working on this !

Concerning your question, I prefer to not touch [`scene_file_writer_.py`](https://github.com/ManimCommunity/manim/blob/41f6f054e0fce79d8a34b64d93cf9dfd9a134bf2/manim/scene/scene_file_writer.py#L276-L300), as it is very messy and will be refactored in a relatively near future.

Maybe what you could do is let it in `sounds.py`, but add a comment stati

[2020-10-06 19:28] leotrs commented on #511
Please remove play_error_sound and play_finish_sound, and whatever code is used to support those calls. There is some code in scene_file_writer that allows the user to add sound to a video. That's a different thing, please leave that in.

@jvdoorn thanks for all your contributions BTW. Are you on Discord? That's where a lot of the discussion happens as well. (It's not necessary to participate in d

[2020-10-06 19:40] jvdoorn commented on #511
As far as I can tell the `sox` library/dependency is only used for `play_*_sound` and not for adding sound to video. Is it safe to remove this as a dependency?

Also, I just joined 😄

[2020-10-06 19:41] leotrs commented on #511
Yes

[2020-10-06 20:52] charlie4fun commented on #453
I don't know how to rerun particular tests in CI. As they show `GitHub Actions has encountered an internal error when running your job.` When i was rerunning them altogether they show same error as mentioned above for a different set of tests

[2020-10-07 04:32] nilaybhatia commented on #510
I was just trying to use something like this without actually changing anything in the `ValueTracker` class. And I am surprised that it works. I don't understand why.
[code]
`value` is not even an attribute of `ValueTracker`

[2020-10-07 06:36] charlie4fun commented on #453
So finally all the checks passed, I guess build server was too busy yesterday, that's why those internal error appear. Please review

[2020-10-07 07:49] huguesdevimeux commented on #510
It's because in python,
`object.field = value     ~  setattr(object, 'field', value)`

So if the attribute does not exist, it will create it.

(I learned this today as well lol, python has its surprises)

[2020-10-07 09:29] jvdoorn commented on #275
https://github.com/ManimCommunity/manim/blob/fa0a82c2261a43a786e7f6b5ccb383f33e91d720/manim/config/config.py#L127

According to this issue, it should be configurable right? Perhaps, besides the `--resolution` flag, we should introduce a `--aspect_ratio` flag. This flag would determine `pixel_width` based on `pixel_height` and the given ratio.

I could work on this and see what I can do about the U

[2020-10-07 12:16] leotrs commented on #275
@jvdoorn thanks for volunteering (again!) to work on this.

As for the changes you mention, I would rather see a single change first that implements the Unit class and tests it thoroughly. Then we can start incorporating it to the rest of the codebase. And only then I would start thinking about user-facing changes such as adding more CLI flags and making it configurable etc.

I'm still partial to

[2020-10-07 12:22] leotrs commented on #453
@charlie4fun I'm a little confused - I see you have a branch on your fork for fixing this, but did you open a PR on this fork?

[2020-10-07 19:10] jvdoorn commented on #275
I'm a bit hesitant about how to implement the conversion of units though. Because a lot of it would depend on the config. Par example a shift of `10%` is different for various resolutions and even directions possibly. Does anyone have any leads or examples currently implemented in the software or suggestions that might implement good unit conversion?

[2020-10-07 19:50] behackl commented on #106
Given that we are in the middle of the logo competition, two questions:

- Is whatever suggestion wins the competition ultimately also supposed to replace the banner currently included in the readme?
- I'd like to slightly adapt the documentation theme (see https://manimce.readthedocs.io) so that we can include the logo for the first release. Any objections? I could prepare a PR for that so that w

[2020-10-07 20:02] leotrs commented on #106
* We haven't taken a collective decision about the banner, but my impression is that we will make a banner using the newly chosen logo. (So, the new logo would _not_ replace the banner but serve to make a new one.)

* This makes a lot of sense. What you propose sounds good to me. Are you thinking of changing the color scheme? Because the  colors of the logo will not necessarily be finalized until

[2020-10-07 20:08] leotrs commented on #275
Yeah this is very tricky indeed. Unfortunately you won't find anything about this in manim. It just always uses the default manim units. (These are sometimes called MUnits in the codebase.)

As a first pass, I would just compute 10% of whatever the value of `config["frame_height"]` is. It's fine if "10%" is different for different directions because it's meant to be a relative measure anyway. Now,

[2020-10-07 20:09] huguesdevimeux opened #524 "Rendering logic must be factored into its own class"
So we have been discussing about refactoring SceneFileWriter into some subclasses, such as a Renderer class and an abstract SceneFIleWriter class.

But this is still well, abstract.
Doing this would clean up the code of sceneFileWriter, which is very messy, and will make a lot easier the implementation of new feratures that change the way that the videos are rendered, such as LiveStreaming (or eve

[2020-10-07 20:16] behackl commented on #106
Okay, that seems reasonable. Would it make sense to accept proposals for banners during the second phase of the logo competition as well?

I was mainly thinking of adapting the theme in a way that allows including the logo on top of the sidebar, somewhere next to or at least near "manim documentation". :-)

[2020-10-07 20:20] leotrs commented on #106
I don't know. In terms of graphic design, it should be possible to turn any logo into any kind of banner. Also, the logo would be featured in many more places than the banner, so I think the logo should come first. However, I'm not a graphic designer and we're not a community of graphic designers so what do I know?.

Yeah that makes sense. It'd be great if you were able to figure out a recommended

[2020-10-07 20:27] MysaaJava commented on #106
For the logo size, i think a squared logo will be the best and it should be usable in a circle context (like github user logos, they are circled square images) For the resolution, aiming for vectorized drawing is good i think (we can always vectorize by hand).
We could also make another contest, for the banner choice ^^. And of course, ask for banners that makes you recognize the logo. We could ev

[2020-10-07 20:47] leotrs commented on #524
Thanks for opening this. I'm overdue for working on this.

Here's my proposal. I think that each class should preferably do one thing only.

+ `FileWriter` should receive an array of pixels and convert it into an image or video. Subclasses of it would specify how this is done. For example `FFMPEGFileWriter` would use ffmpeg to make the conversion. (Most of the current SceneFileWriter would become

[2020-10-07 21:03] #453 closed

[2020-10-07 21:25] eulertour commented on #275
It seems weird that manim should use pixels as a unit of distance, especially by default. Does that mean that the same scene rendered in different resolutions (but the same aspect ratio) would output different videos?

There's a subtle quality-of-life benefit in the fact that moving something by 1 munit basically does what you expect; even without knowing anything about the video resolution or eve

[2020-10-07 21:30] leotrs commented on #275
I agree that pixels shouldn't be the default coordinate system, but it would be a nice-to-have, if at all possible to implement.

I think the first step is to support both MUnits (8x14.2 or whatever it is) as well as a more standard unitary frame of reference (1 x 9/16). Pixels can come later.

[2020-10-07 21:49] kolibril13 commented on #106
Maybe we can make the pr with the logo and a placeholder banner?
The placeholder banner could be the logo and the slogan "manim community", and can then be replaced as soon as there is a better banner

[2020-10-07 22:29] eulertour commented on #524
I'm currently working on this refactor. The idea is like this
![Untitled document](https://user-images.githubusercontent.com/43117506/95393138-ec7ed980-08ae-11eb-9c96-e93846d7c4cf.png)

Then we can swap the CairoRenderer for a ThreeJsRenderer, ModernGLRenderer, LivestreamRenderer as desired.

Some things I wanted to say about @leotrs response:
* At least the default camera should just have a posit

[2020-10-08 05:22] naveen521kk commented on #511
Is it done? Can the issue be close?

[2020-10-08 05:28] naveen521kk commented on #426
I am assigning you @JPTIZ

[2020-10-08 05:31] naveen521kk commented on #146
Is this fixed?

[2020-10-08 06:02] jvdoorn commented on #146
Yes except for the `-qp` flag, however since that is default behavior I personally don't see a use for it. It could however be implemented very easily if you want. Otherwise this issue is done and dusted.

[2020-10-08 06:04] jvdoorn commented on #511
Yes!

[2020-10-08 06:07] MysaaJava commented on #146
It is useful, beccause you can't predict if the default behavior may change in the future. If you make yourself a script that auto-renders or anything, you may want to "force" production resolution

[2020-10-08 06:09] #511 closed

[2020-10-08 06:12] MysaaJava commented on #106
Yes, i can make a placeholder banner inspired by the logo fast (it will not be high level design, but will serve as a banner for the time)

[2020-10-08 06:14] eulertour commented on #146
It would actually be good to have a `-qp` flag, if only to say that it's the default in the help menu (currently it's not clear that high quality isn't the default).

[2020-10-08 06:17] MysaaJava commented on #426
I also want to help with this issue. I can manage servers and software things if you want (even though you may be more qualified to do this than me). I've looked around and found Pootle software that made possible community translation (without spending a penny). What do you think of this ? Do you have other plans ?

[2020-10-08 06:36] jvdoorn commented on #146
Got it, will create a PR for that probably later today.

Also, slightly unrelated, but shouldn't production quality be the highest possible quality? Since "production quality" often refers to the quality for the end-user which should be the highest right? But I don't know how you guys interpret production quality.

[2020-10-08 06:45] MysaaJava commented on #146
I agree, i would suggest more explicit names, like -qHD -qFHD -q2K -q4K. We can take the names from the wikipedia page : https://en.wikipedia.org/wiki/List_of_common_resolutions?wprov=sfla1
To every referenced resolution is associated a name. We could even create a file containing a association map with Name->resolutionData. And then allow the user to create his own "resolutiondata" and use -qMyRe

[2020-10-08 06:52] eulertour commented on #146
I think that'd be overcomplicating it a bit, especially since these can already be set from the config file.

[2020-10-08 09:06] kolibril13 opened #527 "Best approach to import objects to manim scenes"
I think at the moment we have inconsistency of how things are imported.
## To give some examples.

* Using arrows:
[code]

* Using colours:
[code]

* using rate functions (how the import is planned at the moment for the non-default rate functions. Note: The default rate functions will most likely be `linear, smooth, thereandack`),:

[code]
## Thoughts to this:
* I like that the most commonly used

[2020-10-08 09:31] behackl commented on #527
I think that making use of a "generator"/"collection" class would be a good solution for these situations. Here is another example of how this can be approached in practice: https://github.com/sagemath/sage/blob/cf9673bc59b43f791747b8ff31c5f072eeab88eb/src/sage/rings/asymptotic/asymptotic_expansion_generators.py

Basically, this file consists of a class with lots of static methods/attributes; the

[2020-10-08 10:01] kolibril13 opened #528 "More clarity of the use updater and ValueTracker"
There are now so many ways to update mobjects, and I am getting confused by it.
One thing that I really find strange is the dt parameter.
Here I have three examples of updaters:
https://manimce--526.org.readthedocs.build/en/526/examples/test.html

* Number 1 is working
[code]

* Number 2 is not working (Only difference to 1: the dt parameter is removed)
[code]
* Number 3 is working again (Only dif

[2020-10-08 10:18] jvdoorn commented on #146
I implemented the `qp` flag in #529. If that is merged we should be able to close this issue.

[2020-10-08 11:34] leotrs commented on #426
I don't think we have decided upon what tools or frameworks we will use.

Could you please write a short blurb of why we should use Pootle instead of any other tools?

I suggest @MysaaJava and @JPTIZ work in tandem over discord :)

[2020-10-08 11:56] JPTIZ commented on #426
Thanks a lot for the assign (and the help wish)!

@leotrs Okay :) Just joined the discord server.

[2020-10-08 11:57] leotrs commented on #527
Here's what I'd like to see. The following imports only the most basic functionality. Perhaps it imports five or ten colors, but definitely not all of the ones it's importing now.
[code]

For arrowtips (note no `.mobject`):
[code]

For all colors (I believe this is already possible):
[code]

For rate functions:
[code]

I don't think that this will cause too much going up and down. This is how all

[2020-10-08 12:01] leotrs commented on #528
Related to #321

cc @nilaybhatia

[2020-10-08 12:02] leotrs commented on #146
Pro tip: if you want your PR to automatically close an issue, just add a commit on that branch that includes "fix #146" or "close #146".

[2020-10-08 12:05] leotrs commented on #524
That's what I meant :)

I misunderstood you in the past, I thought OpenGL could do that on its own.

Agreed!

[2020-10-08 12:38] MysaaJava commented on #426
Pootle is only an interface for the translation. It is not part of the source code. It is sphynx that will manage the translated docs, pootle will only be a web UI for translating .pot files (untranslated) to .po files (translated in one language).

Why pootle ? Because it is free unlike many translation interfaces, and it is the one that sphynx proposes on its [Documentation about translation](ht

[2020-10-08 12:46] JPTIZ commented on #426
Just renamed myself to `jptiz` there to make things easier :)

[2020-10-08 12:48] jvdoorn commented on #146
Good one, looks like you can also put it in your PR message so I'll do that next time!

[2020-10-08 12:56] leotrs commented on #426
Yeah, if this is what is supported and recommended by sphinx then we should use this.

[2020-10-08 13:28] #450 closed

[2020-10-08 13:28] #146 closed

[2020-10-08 13:33] #168 closed

[2020-10-08 13:37] leotrs commented on #168
Yes it needs a lot of work, but thanks for closing this one. cc @yoshiask

[2020-10-08 13:44] cobordism commented on #7
The thing that CONFIG does really nicely is it allows anyone to easily create derived classes with a few default values changed.
[code]
(or whatever the correct syntax is here)
is a lot simpler than
[code]
or sth like that. (don't criticise my syntax in a github comment :)

My question is, how do dataclasses impact my ability to quickly and easily create such derived classes?

[2020-10-08 13:48] leotrs commented on #7
I don't know about dataclasses, but. The example you mention is indeed very convenient for a dev who is defining derived classes. However, this happens extremely rarely compared to the number of times that a user needs to use a class, or read the documentation, or would like to use autocompletion. CONFIG dictionaries make all of these almost impossible.

[2020-10-08 13:49] leotrs commented on #7
Also, the latest point brought up is that it may be better to not use either dataclasses or CONFIG. We're waiting for @PgBiel input.

[2020-10-08 13:52] cobordism commented on #7
As someone who learned python by learning how to make manim videos and reading 3b1b code, I naturally assumed that this happens all the time! Indeed I have been doing a lot of this :D

But I am starting to learn that the 3b1b code is somewhat idiosyncratic and may not be the best guide.

[2020-10-08 13:53] leotrs commented on #7
_yikes_

[2020-10-08 17:51] nilaybhatia commented on #528
TBH, I've never used the dt parameter till date. I am not sure what is it for. Whenever I have to use an updater, I refer to [this](https://github.com/Elteoremadebeethoven/AnimationsWithManim/blob/a0444d693039be6ef2c1a2d94f58b85654c4ba17/English/update_successions/update_successions.py#L14).
I think `ValueTracker` is/was used along with an updater only in 2 scenarios:
1. You want to change the val

[2020-10-08 20:35] huguesdevimeux commented on #524
@eulertour This seems awesome,
Just some thought about LiveStreamRenderer. This does not make any sense as the livestream feature that could be implemented uses Cairo in a normal way, it's just the way videos are outputted that changes (partial movies files go to a stream).
Therefore, do you plan on adding LiveStreamingWriter (and other subclasses, maybe) as well?

Personnaly, I think it could be

[2020-10-08 21:25] #491 closed

[2020-10-08 21:25] #451 closed

[2020-10-08 21:40] PgBiel commented on #7
What is this quirk you speak about?

But, vanilla classes could work fine if we do it right. If you have any ideas about this, you could make some model or prototype or something so that I can better understand what you have in mind

[2020-10-08 21:46] leotrs commented on #11
I think the current documentation does a good job at guiding the user through the whole installation process.

I think this issue has ran its course.

[2020-10-08 21:46] #11 closed

[2020-10-08 21:48] leotrs commented on #42
What is the latest when it comes to add-ons? I kinda sorta remember @yoshiask saying he will come back to this when manim CE stabilizes a bit. If so, I suggest we close this issue until such a time.

[2020-10-08 21:49] leotrs commented on #52
The latest developments in #7 kinda sound like we won't be using dataclasses. If that's the case, then we can start adding typings at any time, say one module at a time. Any takers?

[2020-10-08 21:50] leotrs commented on #81
#488 implements this.

[2020-10-08 21:50] #81 closed

[2020-10-08 21:53] leotrs commented on #134
This issue was left open only because it depended on the implementing of attrs/dataclasses. But latest developments in #7 sound like that will never happen.

Besides, I have already gotten rid of some get/set methods in some classes.

[2020-10-08 21:53] #134 closed

[2020-10-08 22:18] eulertour commented on #7
@PgBiel The issues at the top of #271
https://github.com/ManimCommunity/manim/pull/271#issue-466912315

[2020-10-08 22:44] eulertour commented on #524
The renderer controls the way the video is outputted as well.

But if streaming with Cairo uses the same rendering logic as normal use there's no need to make a class for that.

[2020-10-08 23:08] #393 closed

[2020-10-09 00:57] sudgy commented on #451
This has been closed, but it's not actually fixed yet.  I'm guessing somebody got confused and thought that #489 was #498.

[2020-10-09 12:07] cobordism commented on #421
closed due to #503

[2020-10-09 12:07] #421 closed

[2020-10-09 12:17] cobordism commented on #332
Can I put in a word for having colour be a synonym of color?
You have no idea how often this causes errors for people like me :)

[2020-10-09 12:44] leotrs commented on #332
You mean alias every instance of `color` as `colour`?

[2020-10-09 12:44] leotrs commented on #332
Also, point number 1 [here](https://github.com/ManimCommunity/manim/issues/332#issuecomment-678817090) is already implemented in #488. Please open new issues for points number 2 or 3 when necessary.

[2020-10-09 12:50] cobordism commented on #332
Is that not doable?
If not let's rename color to colour and annoy the other half for a change ;)

[2020-10-09 12:56] leotrs commented on #332
Yes it should! I was just making sure I understood correctly. Also, can you please open a new issue for that? This one has ran its course.

[2020-10-09 12:56] #332 closed

[2020-10-09 14:55] #472 closed

[2020-10-09 15:37] huguesdevimeux commented on #451
Sorry for that. nevertheless, now everything is good as #489 is merged :D

[2020-10-09 15:59] pdcxs commented on #327
Changing the library codes will cause inelegant repeat flag variables and introduce strange bugs. I think the easiest way is sorting the objects when add them into a VGroup.

[code]

If you want to add other elements to the group, you can use the following method:

[code]

[2020-10-11 03:29] kilacoda commented on #528
[code]

This is the code from the second example. I think you need to `self.add(tri)` after `tri.add_updater`. See [this ToB video](https://www.youtube.com/watch?v=l4B7IH1D1uI&t=179s) .

[2020-10-12 17:55] kolibril13 opened #539 "Option for 2D vectors"
At the moment, vectors have to be always 3D like [2,3,0] or np.array([2,3,0]).
What do you think of an automated behaviour, that adds a 0 to a 2D vector automatically, when a user gives a 2D vector?

[2020-10-12 17:57] kolibril13 commented on #487
Is there anyone how wants to make an example of how to change fonts into the docs?

[2020-10-12 18:11] cobordism commented on #487
What happened to all the text examples?
I see only one example here: https://manimce.readthedocs.io/en/latest/examples/text.html

but my completely unrelated PR which was compiled earlier today, still shows 12 examples  https://manimce--483.org.readthedocs.build/en/483/examples/text.html

Were all the text examples removed today? and if so, why?

[2020-10-12 18:24] leotrs commented on #539
I have also found this to be annoying in the past. However, note that if we are going to make *every* function accept either 2D or 3D vectors, we should do so carefully so that we don't incur in runtime penalties.

[2020-10-12 18:29] kolibril13 commented on #487
They were moved to the reference https://manimce.readthedocs.io/en/latest/reference/manim.mobject.svg.text_mobject.Text.html
The pr got merged one hour ago, so you can merge the current master into your pr 483, and then these examples will disappear as well on your branch.
@leotrs had the idea of moving them there because they were too specific to `Text`, but we still have to discuss what we want

[2020-10-12 18:31] kolibril13 commented on #539
Good point.
We could also make 2D vectors default, and add the optional flag `three_d_vector= False`, which can be set to true when going with 3d scenes

[2020-10-12 18:33] leotrs commented on #487
@cobordism sorry for making that change without asking you. What do you think about this change?

In general, we still have to decide what exactly goes in docstrings (and will be shown in the reference sectio) and what exactly should go in the examples section. Perhaps we should discuss in a separate issue. cc @behackl

[2020-10-12 19:09] #454 closed

[2020-10-12 19:11] kolibril13 commented on #487
Good idea, a few weeks ago I opened https://github.com/ManimCommunity/manim/issues/448, I think here we can discuss what we want to see in the reference and what in the examples.

[2020-10-12 19:18] cobordism commented on #487
You didn't have to ask me. I'm all TeX, not Text :)

But what I think.. (a) I didn't realise there was a link to the references from the examples. Unless you're actively looking for it, you won't see it. It should to be more prominent imho.
(b) Reference is where you go to quickly look up something, Examples is where you go to learn. I think most of what we had were of the latter category. I'd exp

[2020-10-12 20:06] behackl commented on #52
I think this is a good place to continue the discussion from https://github.com/ManimCommunity/manim/pull/483#discussion_r503470863

The points I was trying to make:

- Type hints (PEP 484) are an excellent idea, I am all for adding them! A module-by-module approach sounds good to me, and I'd be happy with it.
- Duplicating information (having typing information both in the form of type hints in m

[2020-10-12 20:08] leotrs commented on #52
Using in-code typings vs in-docstring typings sounds like a good idea generally TBH.

[2020-10-12 20:11] PgBiel commented on #52
Do you mean having typings in both of them, or separating them?

As I said before: we may do that, however only after we actually get to work on in-code typehints. Until then, we need something to base ourselves on in order to generate typings.

[2020-10-12 20:14] leotrs commented on #52
@PgBiel I meant having in-code *and not having* in-docstring.

What is the benefit of having both? All I could think of is that a user reading the docs might not get the full benefit from in-code, but if Sphinx can be configured to parse in-code and show those to the user, then why bother?

[2020-10-12 20:38] cobordism commented on #52
Are we talking something like this:
https://realpython.com/python39-new-features/#annotated-type-hints
where you add both documentation about a function argument as well as its type information as an annotation in the function signature?

[2020-10-12 20:41] PgBiel commented on #52
got it

if we can configure that, then it should be fine
The only thing that we have to note is that, at the moment, we aren't adding typehints in code, so they must be added in docstring for now
Then a future typings PR may move them from the docstring to the code, and we may have simpler docstring types.

[2020-10-12 20:54] PgBiel commented on #52
no no, this style of annotation was before the latest typing PEP took place, which ensured that annotations should be _exclusively_ for typings (starting on py 3.5). We are talking about reproducing the typehint syntax in the documentation string of the class/function/... when specifying what a parameter or attribute is, for example.

[2020-10-12 23:58] sudgy opened #540 "Make Positioning Related to Tex More Consistent"
Consider the following two images:

[code]

`HigherDot`:
![HigherDot](https://user-images.githubusercontent.com/20936595/95800190-a8734680-0cab-11eb-8784-4bffc15373f5.png)

`LowerDot`:
![LowerDot](https://user-images.githubusercontent.com/20936595/95800202-b1641800-0cab-11eb-976b-34a7b66961f8.png)

You can see that the dot is aligned differently relative to the "a" because the top and bottom of ea

[2020-10-13 01:04] leotrs commented on #540
Thanks for reporting. I agree this unpredictable behavior is annoying. In general this sounds like a very very hard thing to pull off since we would have to control how Tex objects are rendered. cc @cobordism

[2020-10-13 10:33] cobordism commented on #540
I fear this isn't possible.
When we compile the tex and import it to manim as SVGs, we just have a bunch of paths... and there is no way for the "ga" bit to know how high an "A" would have been. The next_to command only know the top, bottom, left edge, right edge, and center of the shape "ga".

But on the other hand, this all feels backward to me in a sense. TeX is the most powerful typesetting en

[2020-10-13 15:33] cobordism opened #541 "Version Information subcommand `manim version`"
Feature request
----------------------
implement a `manim version` command.

What should the command do?
-----------------------------------------
Tell you exactly which version of manim you are running. Either release number or commit-hash and date

Why?
----
It makes it easier to help people with their problems.
It makes it easier to catch error arising due to multiple versions being installed l

[2020-10-13 15:59] cobordism opened #542 "requirements.txt is incomplete. `pip install` is broken"
**Describe the bug**
The requirements.txt file is missing some entries.
This means manim is not currently installable through pip

**To Reproduce**
An a clean system, run `pip3 install -r ./requirements.txt` and then try to run manim to compile a scene.

**Output**
[code]

[2020-10-13 16:04] kilacoda commented on #541
Instead of a whole subcommand, I think it'd be better to use a simple `--version` argument like most other software. So instead of `manim version`, it's `manim --version`.

[2020-10-13 16:04] huguesdevimeux commented on #541
Complelty agree with this. Is there a way to automatocally update the commit number displayed ?

[2020-10-13 16:13] MysaaJava commented on #541
I don't think it is possible, as displaying the commit number would mean changing the commit ……

[2020-10-13 16:14] huguesdevimeux commented on #339
After investigation it appears that this bug also appear when using `--save_last_frame`.
here :
![image](https://user-images.githubusercontent.com/36239975/95886993-96fb6e80-0d7f-11eb-9ef6-070123178905.png)

I think it's a bug quite hard to fix. This issue comes from that if the first animations is skipped, all the points that should've been drawn using the updaters are not  drawn, and only the pa

[2020-10-13 16:54] cobordism commented on #540
I contend that such a thing does not exist :D
(after all, you can use tikz within a tex document) ... but ok.

Tex of course has things like this. To affect spacing, you can place virtual elements anywhere by using `\phantom{x}`. Or maybe even just `\vphantom{x}` when only the height counts....
...but none of that helps us as these characters are not rendered and thus do not show up in the svg tha

[2020-10-13 17:08] cobordism commented on #541
So why is it possible with other programs? Is it because they are compiled and the compiler adds this info?

As an alternative, could we have CI create some unique version-id string with date?

[2020-10-13 17:12] leotrs commented on #541
On every packaged release we have to include a version number. On a version that is not packaged (i.e. it has been installed by cloning the repo), you can just print the latest commit by asking git. No need to hard-code the commit hash.

OR we should investigate how "nightly" python packages do this.

[2020-10-13 17:12] cobordism commented on #541
Many programs use just `version`, especially if they have other subcommands.
For example I had been thinking of another command "new":
[code]
which would create a new file `<name>.py` that contains the basic scaffolding (`from manim import *`, `class <name>(Scene): def construct .... ` and all that), along with a `<name>.cfg` manim config file.

[2020-10-13 17:57] naveen521kk commented on #542
Remove requirements.txt from repo. That is not required. Also, you can do `pip install .` to get the correct one.

[2020-10-13 18:00] leotrs commented on #540
I tend to agree this cannot be done in general. I do like these workarounds though, we should document them somehow.

[2020-10-13 18:01] leotrs commented on #542
@naveen521kk thanks for your response. That's kind of what I thought.

@cobordism may I ask you to go over [this page](https://manimce.readthedocs.io/en/latest/installation/for_dev.html) and see if that solves your issue? This will hopefully fix your issue, but also you will be helping us by troubleshooting this documentation page :)

[2020-10-13 18:06] cobordism commented on #542
My issue was solved by
[code]

I honestly don't want to have to learn about poetry and virtual environments right now.

[2020-10-13 18:08] leotrs commented on #541
@cobordism, the `manim new` you propose is already proposed and discussed #244. The wider issue of subcommands and the CLI interface is related to #452. The only subcommand we currently have is `manim cfg`, which already exports a user-wide `cfg` file.

So let's keep this issue for discussing the `version` functionality. I am neutral as to whether this should be implemented as `manim version` or `

[2020-10-13 18:08] leotrs commented on #542
That's fair.

[2020-10-13 18:13] naveen521kk commented on #542
You could get it by just running
[code]
and then use it as you like. But I think that file should not be there on the repo.
Ref: https://python-poetry.org/docs/cli/#export

[2020-10-13 18:16] sudgy commented on #540
LaTeX has a `\write` command to write to the log file.  Is there any way of using that to output coordinates?

[2020-10-13 18:29] cobordism commented on #244
Hi everyone,
I think this is a great idea.

A few thoughts:
You don't have to create the `/media` folder because
(a) manim will create it anyway when you compile the scene
(b) but the media directory will be created somewhere else entirely if the user supplies the --media-dir cli flag, or changes it in the .cfg file and the we'd be left with empty and unused directories here.

If we are going to g

[2020-10-13 18:33] leotrs commented on #244
I like the idea of keeping it short and to the point. Any more functionality sounds like we will hit a situation of diminishing returns. Especially because every new functionality will require new tests and more maintenance etc.

[2020-10-13 18:33] cobordism commented on #540
I fear it would be a very complicated task to write out those coordinates, read them, parse them, translate them into something meaningful in manim units ...
My hunch is that you'd be better off rewriting the manim svg parser entirely so that it can understand svg files with embedded fonts; which in turn allows us to then remove the `-n` flag to dvisvgm ... and then the TeX() mobjects would no lon

[2020-10-14 02:18] PgBiel commented on #134
@leotrs but are we going to implement it? If so, it should be left open, no?

[2020-10-14 02:26] PgBiel commented on #7
Regarding the first issue, I'm yet to come upon it, so I'll take a look later

Regarding the second, I'm pretty sure there are ways to bypass that; specifying types again is only necessary because of how python handles types in class attrs: it adds them to `clazz.__annotations__`, and, if you don't specify a type, the attribute is not stored there. However, if we don't use the automatic type to an

[2020-10-14 12:59] kolibril13 opened #545 "Transparent background -t currently not working?"
When I have this script:

[code]
I get this output, which has a black background, instead of a transparent one:
![Test](https://user-images.githubusercontent.com/44469195/95991935-aafda980-0e2d-11eb-8941-b32b7a892115.png)
Does that mean that the -t flag is currently broken?
Or did I make a mistake?

[2020-10-14 13:02] leotrs commented on #545
Closing as duplicate of #473

[2020-10-14 13:02] #545 closed

[2020-10-14 17:16] #467 closed

[2020-10-14 17:47] kolibril13 commented on #542
I was reinstalling manim yesterday, what worked for me was:
[code]

[2020-10-14 19:11] kolibril13 commented on #473
I just had a look on it.
If I run manim with -t,

I can have a look at
[code]
that tells me
[code]
So in principle, that is what we want to have.
Also, with the -t tag, manim goes to the scene_file_writer.py into the if statement:
[code]
So it even uses the codec for transparency.
As I have some time tomorrow, can you tell me where I have to look and make changes? :)

[2020-10-15 11:40] #474 closed

[2020-10-15 14:27] cobordism commented on #542
Ok. I make a pr to delete requirements.txt

[2020-10-15 15:21] huguesdevimeux opened #550 "[BUG-General] Updaters do not behave well with t values"
Consider this scene :
"""python
RUN_TIME = 1

class Test(Scene):
    def construct(self):
        path = VMobject()
        dot = Dot()
        path.set_points_as_corners([dot.get_center(), dot.get_center()])

        def update_path(path):
            previus_path = path.copy()
            previus_path.add_points_as_corners([dot.get_center()])
            path.become(previus_path)

        path.a

[2020-10-15 15:26] huguesdevimeux commented on #339
Plot twist : For the first time, This is not scene cahing's fault : hurray

Closed in favor of #339

[2020-10-15 15:58] naveen521kk opened #552 "[BUG-General] Terminal output not formatted and uses ASCII in windows"
**Describe the bug**
I am on Windows and command prompt and I `cd` into example_scenes directory and run
[code]
and I get a output like below.
![teminal-format](https://media.discordapp.net/attachments/581738732646957057/766319441209327728/unknown.png)
I should get in green colour though.

**To Reproduce**
Just running the one in example_scene in enough.

**Expected behavior**
The ill formatted th

[2020-10-15 16:14] kolibril13 commented on #339
yeey!
Closing Transition #339 in favour of #339 ? I think there was a typo ;)

[2020-10-15 20:16] leotrs commented on #550
Excellent report.

As you say, this kinda sorta makes sense given that the way we are drawing paths (by just manually setting the corner points of a VMobject). If we had a dedicated Path class, then this could probably be made to work by setting the path beforehand (for example by a parametric curve) and rendering the whole path up to a certain point of the parameter.

What should change here is h

[2020-10-15 22:22] #542 closed

[2020-10-15 22:26] leotrs commented on #487
I think I might have derailed the issue a bit.

Originally, this is about changing font in Text. Which is not (ever?) going to work. That is what PangoText is for.

@naveen521kk, what is the status of PangoText? Is it ready to be used, pending some more testing? If so, we can close this issue.

@cobordism thanks for the input on examples/docstrings, I agree with what you said.

[2020-10-15 22:27] leotrs commented on #485
@raisultan @digitalvirtuoso what's the status on this?

[2020-10-15 22:29] leotrs commented on #473
I'm not sure where to make the changes, but if you end up working on that please make sure to add a test for this so there are no regressions.

[2020-10-15 22:41] leotrs commented on #148
Folks, it seems we have completed every item on the list except for the logo, which should be decided upon by Tuesday Oct 20th noon GMT. I suggest we add the logo and also fix #407 and then release this bad boi. Objections? Comments? @ManimCommunity/core

If there are no objections, I move we put a freeze on PRs right now.

[2020-10-16 01:19] digitalvirtuoso commented on #485
@leotrs There were still modules that needed os to pathlib.  I've been pretty busy lately.  I think it was a good time to merge my PR :)

[2020-10-16 01:25] leotrs commented on #485
Thanks for the answer! I'll keep this open then.

[2020-10-16 04:25] raisultan commented on #485
@leotrs, hi! Sorry, I was a bit busy lately, gonna make a PR on the weekend.

[2020-10-16 07:16] naveen521kk commented on #487
I think that is done fully. I had also written quite a few tests which check for SVG generated. So I can say it will work.

[2020-10-16 12:30] huguesdevimeux commented on #541
Update : It is possible to get the last commit id with subprocess. See [here](https://stackoverflow.com/questions/49953399/how-to-get-last-commit-id-of-the-git-repo-in-python).

So, it should be a fairly easy PR :)
The version should appear in the logs when --DEBUG is passed as well, I think.

[2020-10-16 12:33] naveen521kk commented on #541
What if the user does ?
[code]
It will create weird errors. Also, btw chocolatey packages does so to install on windows. @huguesdevimeux

[2020-10-16 12:38] huguesdevimeux commented on #541
Of course, I'm an idiot.

But, is there like a bot or something to automatically dump into a file the last commit id ? It would be cool

[2020-10-16 12:42] naveen521kk commented on #541
Something like [setuptools-scm](https://pypi.org/project/setuptools-scm/) can be used I think. But I don't how well it will work.

[2020-10-16 13:35] PhilippImhof opened #555 "Improve error reporting with PDF format and LaTeX"
Currently, if users have an old version of `dvisvgm` (older than 2.4 from May 2018) or if their `dvisvgm` is not configured correctly (e.g. missing `libgs` from Ghostscript), video rendering just fails and the users sees `unknown option --pdf` in their output.

We could improve this:

- do a test call to `dvisvgm --pdf` one time and check the exit status
- if it fails, raise an exception and outpu

[2020-10-16 13:44] cobordism commented on #555
alternately, we can check if `pdf2svg` is installed and only if that also fails ....

...on second thoughts, let's just print a warning message :D

[2020-10-16 14:25] leotrs commented on #541
So here are the use cases I can think of for this:

1. A regular user that is using the latest release wants to know the version. They can do `manim --version` and get the version number `0.1`.
2. A dev wants to know their version and/or commit. They can do `manim --version` OR query git somehow.
3. A regular user that is NOT using the latest release. Unclear how they would do it. **However, do we

[2020-10-16 14:28] cobordism commented on #541
As soon as we have actual releases as well as a development branch, it is important to know where a user is at. "Latest" can then refer to at least 2 different states.
Also, it still happens often enough that someone has 3b1b manim installed and is actually calling that version (sometimes without knowing it)

If someone has questions, we can tell them to run `manim --version`. If that command fail

[2020-10-16 14:54] leotrs commented on #487
What do you think is missing so that we can fully use PangoText and get rid of CairoText?

Let's keep this issue open until PangoText becomes the default. Other related discussion can go to their own issues :)

[2020-10-16 14:56] naveen521kk commented on #487
I don't really know. First thing, people need to try it and find if there is any bug. Only then, we can make it the default. What I think is we can make it default once we do a first release.

[2020-10-16 15:03] naveen521kk commented on #555
I think it would be better to write a small test on this, say bash or python, to check this.

[2020-10-16 15:04] PhilippImhof commented on #555
That's fine for us. But it does not help the user who has an old (or no) version of `dvisvgm` installed.

[2020-10-16 15:08] naveen521kk commented on #555
I think there was an issue on that previoiusly. We can add that script to the [Troubleshooting](https://manimce.readthedocs.io/en/latest/installation/troubleshooting.html) section and say if they run into an there is a way to fix it.

[2020-10-16 15:12] PhilippImhof commented on #555
Adding this to the troubleshooting section is a good idea. However, I still think we should improve the error message, i.e. not just spit out the error from a child process. At the moment, the user can not even see what child process causes that error. But with your idea, the message could just say that calling `dvisvgm` failed and the user should check the troubleshooting section.

[2020-10-16 15:15] cobordism opened #556 "remove "alignment" attribute in LaTeX"
Centering Text in LaTeX
--------------------------------
If you want to center text in latex you can do this
[code]
or you can do this
[code]

The alignment and tex_environment keyword arguments
--------------------------------------------------------------------------
In vanilla manim (i.e. without user interference) we only use two alignments. Namely `\centering` for Tex() and "" for MathTex().

[2020-10-16 15:18] cobordism commented on #556
@PhilippImhof let's take this opportunity to also enable environments that have a different begin and end.

eg
`\begin{tabular}{cccl}` ends with `\end{tabular}`

easiest (and backward compatible) hack would be to say tex_environment="tabular}{cccl" and make the end-environment command stop at the first closing brace it encounters.

[2020-10-16 15:22] leotrs commented on #555
"Your installation does not support converting PDF to SVG. Consider updating dvisvgm to at least 2.4. If this does not solve the problem, please refer to LINK_IN_TROUBLESHOOTING_SECTION_HERE."

[2020-10-16 15:22] PhilippImhof commented on #556
Wouldn't it also preserve compatibility if we used `tex_environment` and an additional `environment_end`, defaulting to `None`. If no `environment_end` is given, we use `\end{<tex_environment>}`.

In any case, we should document the possibility to have an environment `tabular}{cccl` with no closing brace, explaining that this text is put verbatim between `\begin{` and `}`.

[2020-10-16 15:26] leotrs commented on #550
In fact, I just discovered that [`TracedPath`](https://manimce.readthedocs.io/en/latest/reference/manim.mobject.changing.TracedPath.html#manim.mobject.changing.TracedPath) exists. It also looks like it would suffer from this bug currently, but any logic for fixing this issue should go in that class.

We should discourage the manual use of updaters to trace paths.

[2020-10-16 16:34] cobordism commented on #556
agreed.

I'm going to assume that this is a very niche usecase. (Both changing the environment manually and then especially changing it to something where the begin and end commands are different.

Remember, it is already now possible to use tex_environment=None and then use the string
[code]
The _only_ thing I cannot do, is "break", "up", "the", "tex content into multiple pieces". Essentially I w

[2020-10-16 16:45] cobordism commented on #556
Note: It is always possible to determine the correct `\end{environment}` command from the `\begin{environment}{options}` command and therefore I think it should not be a separate keyword argument.

[2020-10-16 16:56] leotrs commented on #487
Sounds good to me. It's thoroughly tested already, but let's make the swap after the release.

@naveen521kk have you tried building the docs using PangoText instead of CairoText? That will already cover quite a few more use cases I think. Just one idea for more testing :)

[2020-10-16 17:00] naveen521kk commented on #487
That's already being built. I did it while I was documenting it. It is [here](https://manimce.readthedocs.io/en/latest/reference/manim.mobject.svg.text_mobject.PangoText.html#manim.mobject.svg.text_mobject.PangoText).

[2020-10-16 17:09] leotrs commented on #541
Fair. How do we do it? For release versions, we can hard-code the version number (and in fact this is required for pypi I think).

[2020-10-16 17:16] naveen521kk commented on #541
Hardcoding is the best way while release because other alternatives like `importlib.metadata` sometimes can result in problems and many libraries do hardcode it. It should be ideally in the file `__version__.py` and version should be checked by running `manim.__version__`.

[2020-10-16 19:16] PhilippImhof commented on #555
So after all, I suggest we use `subprocess.run` instead of `os.system` for running `dvisvgm`. This allows us to easily capture STDERR. We can then output

Capturing just the exit code is not enough, because I get `returncode=0` even if I cause the process to fail. But checking whether STDERR is empty should work on any platform. (We can also use `-v1` as a parameter. In that case, `dvisvgm` gives

[2020-10-17 13:02] mathmerizing opened #563 "new feature: animation slideshow"
### Idea for a new feature

## Motivation
Currently manim animations are mostly being used to create videos in which mathematical concepts are being explained. However, many people might benefit from an option where the manim user can navigate through the animations with the left and right arrows. Possible use cases for this are presentations, lectures, ...
This way it is easier to pause and expla

[2020-10-17 13:51] leotrs commented on #563
This is a great idea and something I would love to see in manim. @yoshiask even has a PPT-exporter functionality already!

My personal problem is that I don't use PPT, so I was never able to use @yoshiask add-on. So I had to make my own. My version works by making manim render the .mp4 video of each individual animation, *as well as a .png of the first frame of each animation*. Then with a single

[2020-10-17 17:27] huguesdevimeux commented on #563
Hi!
This is typically something that could be achieve in the livestreaming feature. see #441, but it's not the first purpose.

Otherwise, I think that putting the partial movie files in order as @leotrs did is the probably the best idea. The best is probably to directly use a stream to do that, and that's why I mentionned livestreaming.

If you have any suggestion, feel free :D

[2020-10-17 17:30] yoshiask commented on #563
As useful as a feature like this would be, I don't really see why it has to be specific to Manim. Also, this could be implemented entirely as an add-on, so if users don't want it they don't have to download it.

[2020-10-17 17:43] behackl commented on #563
You can also make use of the slideshow creation capabilities of Jupyter notebooks when making use of an extension like https://github.com/krassowski/jupyter-manim for a very straightforward way of including/showing videos. (Not sure whether you can manage to show the videos fullscreen then, though -- but it might be worth investigating.)

(jupyter-manim does not support the community version of ma

[2020-10-17 18:17] cobordism commented on #563
Indeed many things could be...

...but here is what manim itself should be able to do at a minimum:
1. Create an initial image
2. create one video file per animation
3. save the last frame of each animation
4. Copy all images and videos into one folder with a naming system that makes sense (like: numbered)

From that point on this data can be worked into different presentation softwares. We could

[2020-10-17 18:18] leotrs commented on #563
Yes. This is another reason why I haven't PR'd anything.

[2020-10-17 18:27] mathmerizing commented on #563
I mean you are probably right. It would be nice to have access to such a feature one way or the other though. Since it is a useful feature, it should then be transparent for the user, where these add-ons can be found. Especially if they are of interest for many people. Maybe you could include a list of useful add-ons in the sphinx documentation of manim?

[2020-10-17 19:41] naveen521kk commented on #42
Something to document here I found some doc on how plugins work.
https://packaging.python.org/guides/creating-and-discovering-plugins/

[2020-10-18 07:24] kolibril13 opened #566 "Render Latex without spaces between the segments"
[code]
this example produces the following output:
![image](https://user-images.githubusercontent.com/44469195/96361154-9bc77600-1123-11eb-8ffa-c5628e386072.png)
Note that the arrow is not completely continuous, but has some black lines in between.
I think it would be nice when there would be a solution to print it continiously

[2020-10-18 07:32] kolibril13 commented on #566
Same e.g. here:

[code]
![ABC](https://user-images.githubusercontent.com/44469195/96361306-d847a180-1124-11eb-8e4b-875bd15c5e1f.png)

[2020-10-18 17:20] cobordism commented on #540
I will tag this as 'wontfix' because there is nothing we can do until SVG handling has been rewritten.
Until then you'd need to either use LaTeX for alignment, or mess around by hand. (see comments above)

[2020-10-18 18:33] cobordism commented on #566
ugh!
That's not good at all.

Is this also in the SVG images? Or does it only show up in manim?

[2020-10-18 19:22] huguesdevimeux commented on #552
Isn't rich's fault ?

[2020-10-18 19:23] huguesdevimeux commented on #550
You're right, I knew there was something to draw `Path`, but I didn't remember.

But is there an alternative ?

[2020-10-19 08:18] naveen521kk commented on #552
Yeah it is rich. What we can do is to lock a stable version say v5. I know it works correctly on v5 but not on v8.

[2020-10-19 08:33] huguesdevimeux commented on #552
That's a shame.
Maybe we should open an issue on rich's repo and lock to a stable version, as you said.

[2020-10-19 09:14] naveen521kk commented on #552
Done https://github.com/willmcgugan/rich/issues/393

Also, I will make a PR to make sure we use rich version<=7.0.0.

[2020-10-19 11:46] kolibril13 opened #569 "Fixing `add_fixed_in_frame_mobjects`"
[code]
This script is currently broken because add_fixed_in_frame_mobjects throws an error.
It was broken before but fixed by https://github.com/ManimCommunity/manim/pull/281.
Now, with `git bisect` I could boil down the first occurrence of this error to this pr:
https://github.com/ManimCommunity/manim/pull/532 (ping to @eulertour)
Before that, the Text3D Scene was functioning properly.
It would b

[2020-10-19 11:50] kolibril13 commented on #566
Screenshot of the svg, that looks good:
![ccd](https://user-images.githubusercontent.com/44469195/96447352-0e168400-1212-11eb-9047-69d466dc9edb.png)

[2020-10-19 12:00] kolibril13 commented on #566
I could solve it! :)
See #570

[2020-10-19 12:00] #566 closed

[2020-10-19 13:00] #540 closed

[2020-10-19 13:01] kolibril13 opened #571 "Fixing `set_test_scene` from `graphical_units.py`"
I just found out with git bisect, that #465 broke  `set_test_scene` from  `graphical_units.py`.
Therefore, we can currently not produce any new control data for tests, and therefore no further test.
A script to debug this error is here:
[code]

As there is no possibility to add new test right now, that could result in many further bugs (e.g. https://github.com/ManimCommunity/manim/issues/569), so

[2020-10-19 13:03] leotrs commented on #550
Yes, the alternative is TracedPath. Not a perfect alternative, but the code it produces is much cleaner.

[2020-10-19 14:00] cobordism opened #572 "Deprecated CLI flag is advertised on our github front page"
The main picture on our github landing page is

`manim file.py Scene -pl`

We should change it to `manim myFile.py myScene -p -ql`  ... or even `manimce` if that is what we decide on as an entrypoint.

[2020-10-19 15:55] naveen521kk commented on #552
Fixed in rich v9.0.1 but anyhow I am gonna wait till the version is locked by #573

[2020-10-19 22:08] eulertour commented on #572
How was that picture even created?

[2020-10-19 22:10] leotrs commented on #572
This has been there since The Beginning.

[2020-10-19 23:18] cobordism commented on #572
shall we make one with manim?

https://discord.com/channels/581738731934056449/581738732646957057/765182589807624192

[2020-10-20 00:27] eulertour commented on #572
Yeah, that'd be perfect

[2020-10-20 11:43] behackl commented on #448
We need to decide on a relation between the examples section, the tutorials, and the reference manual.

In order to stick to a "single source of truth"-kind of paradigm for the documentation, I suggest to structure our documentation as follows:

- Rename "Examples" to "Example Gallery". This should contain a variety of different (*fancy*) examples that illustrate whan manim is capable of. Examples

[2020-10-20 11:52] leotrs commented on #448
Points in favor of including examples in the source code as docstrings:
+ Docstrings these ship with the code and make debugging easier (IDEs can show docstrings).
+ They are available offline, regardless of whether the RTD site is up or even building.
+ The user will always have access to the documentation that was published at the same time the code was published. If the code changes in a later

[2020-10-20 11:57] leotrs commented on #448
Having said that, I am in favor of the following guidelines (please feel free to disagree/discuss):
+ Examples Gallery should aggressively link to the reference of every class that the example code touches.
+ If an example does not render image/video (e.g. if it's purely a logical example) then it should 100% be in the docstring and not in the Examples Gallery.
+ If a piece of documentation has a

[2020-10-20 18:01] cobordism commented on #572
[code]

[2020-10-22 03:38] #148 closed

[2020-10-22 04:28] safinsingh commented on #106
Seems finished. Closing.

[2020-10-22 04:28] #106 closed

[2020-10-22 09:13] eulertour opened #588 "v0.2.0 Roadmap"
# Things to discuss
What projects do we want to divide the repo into? Here are a few off the top of my head:
- Documentation
- LaTeX
- GUI
- CONFIG

any others?

# Things to implement
- [x] #7
- [x] #473 (one person reported that this was fixed)
- [x] #572
- [ ] #589
- [x] make PangoText the default backend of Text (#487)
- [ ] invite developers of other manim-related projects to become part of th

[2020-10-22 09:18] eulertour opened #589 "Create pre-commit hook for running black"
This will hopefully cut down drastically on the number of extra commits that are made just to run black. Instructions are [here](https://black.readthedocs.io/en/stable/version_control_integration.html).

[2020-10-22 09:27] eulertour opened #590 "Clean up extraneous branches"
There are *far* too many branches on the repo. The only ones that should be there are `master` and `releases`. We need to work on closing the ones that are there and prevent opening new ones.

[2020-10-22 09:30] kilacoda commented on #590
So, we should have everyone develop their stuff on personal forks instead of individual branches?

[2020-10-22 09:35] #331 closed

[2020-10-22 09:40] eulertour commented on #193
I just wanted to add that testing frames in the middle of each animation would be very helpful, since a lot of the changes I've been making have passed the tests even if they don't actually render the video properly. The only solution right now is to constantly run several animations and hope they offer enough coverage.

[2020-10-22 10:01] kolibril13 opened #591 "Further examples for the documentation"
This issue can be used to get track of the current tasks of the documentation (ping to @ManimCommunity/docs )
Please edit this first message of the thread so it stays up to date. As soon as one point is done, please ~cross out~ that point.

## Reference
Note: There is really a LOT more, these three ones are only a starting point.

* Image for NumberLine
* Image for FunctionGraph
* Image for Brace

[2020-10-22 10:29] kolibril13 opened #592 "New and smaller frame for reference examples?"
As the examples in the reference have the purpose of only showing minimal functionality, I think the size of the images could get reduced.
Advantages:
* Improves the readability of the reference page as the content is tighter
* Faster building of the docs and faster loading of the reference page.

Disadvantage:
* One more thing to implement and maintain.
* The user won't get the exact same output

[2020-10-22 10:37] behackl commented on #592
I've been thinking about this as well. We could make these elements a bit more interactive as well; say, we could have the videos in a collapsed state and add a button that has to be clicked in order for the video to show.

At the same time, I kind of like to see what an example will look like at once; I am undecided.

Reducing the size the image is displayed in is possible without changing the re

[2020-10-22 10:38] behackl commented on #591
Let's make this issue a bit more atomic and factor out the last two points mentioned under "Further things".

[2020-10-22 10:41] behackl opened #593 "Add import statements to examples in documentation"
See title.

The examples in the documentation should also include the `from manim import *` at the very least, and actually we could provide best-practice examples where we dont do a *-import, but rather import classes/functions separately.

This can of course be an iterative process: start with adding `from manim import *` first, and become more specific later.

[2020-10-22 10:44] behackl opened #594 "Merge the wiki entry on contributing examples to the documentation with the contribution guide in the documentation"
- [ ] Merge this wiki page: https://github.com/ManimCommunity/manim/wiki/Guide-to-contribute-examples-to-docs into the docs here: https://manimce.readthedocs.io/en/latest/contributing.html#further-useful-guidelines
- [ ] and then delete the wiki page

[2020-10-22 10:54] behackl opened #595 "Example Gallery: Text and LaTeX --> Reference manual"
See https://manimce.readthedocs.io/en/latest/examples/tex.html, this page currently contains much more than just a gallery of examples.

Guided explanations on how to use `Tex` and `Text`, respectively, should be located in the reference manual (I'd suggest the module docstrings of `tex_mobject.py` and `text_mobject.py`).

The example gallery should link prominently (details not fully clear yet, s

[2020-10-22 10:57] behackl commented on #590
Yes!

It might make sense to have separate branches on this repo for *large* changes that don't make sense to include on a PR-by-PR-basis, but in general everyone should use their own fork.

[2020-10-22 11:17] kolibril13 commented on #593
In my opinion, the import statement should only be present in the example gallery, I think the reference example do not need it.
Do you agree?
Just a reference to an issue where this was discussed before: https://github.com/ManimCommunity/manim/issues/454

[2020-10-22 11:20] behackl commented on #593
Hmm.

I would like it, if users could take any rendered example in our documentation, and copy/paste the code without modification so that they get the same result. That probably rather speaks for adding them everywhere, but I am not fully decided about it.

[2020-10-22 11:28] leotrs commented on #593
Agree with Ben.

I see no argument in favor of not having the importa statements, other than
gaining 1-2 lines per example. I think having complete examples is more
important than saving up a bit of space.

On Thu, Oct 22, 2020, 7:20 AM Benjamin Hackl <notifications@github.com>
wrote:

[2020-10-22 11:34] kolibril13 commented on #593
ok, then we can do it with import statements everywhere.

[2020-10-22 11:40] behackl opened #596 "The Changelog should be more prominent in the documentation"
Currently, it is rather well-hidden and only accessible via a link on the main page of the reference manual.

Let's include it in the sidebar.

[2020-10-22 12:27] cobordism commented on #590
I agree that you can have branches for larger work / refactoring but should not for regular small day-to-day stuff.

On that note, please delete branch all_tex_fonts_community

[2020-10-22 12:31] behackl commented on #590
I am deleting all branches attached to closed PRs now.

[2020-10-22 12:31] MysaaJava commented on #590
Yes please delete branches, i'm lost with my fork that is way to messy !

[2020-10-22 12:32] behackl commented on #590
Correction: I'll delete those where I know that they are safe to delete. That's not clear (to me) for all closed PRs.

[2020-10-22 12:43] leotrs commented on #588
Nitpick: are we going to have all of this ready for v0.2 (i.e. in a month)? If not, I'd suggest calling this issue "roadmap" instead of having to change the versionmilestone every month to update the items we didn't get to :sweat_smile:

[2020-10-22 12:43] cobordism commented on #588
I think 0.1.1 is next ;)

[2020-10-22 12:47] leotrs commented on #588
Oh. Right. But still, is this issue tracking a general roadmap of All The Things? Or the pending issues before the next release?

[2020-10-22 12:49] leotrs commented on #595
I'm trying to hunt for guidelines that help us define what goes in the gallery/reference/tutorials.

What do y'all think about "anything that has a narrative does not belong in the examples gallery".?

[2020-10-22 12:58] leotrs commented on #591
I'm trying to hunt for guidelines to determine what goes in gallery/reference/tutorials.

What do y'all think about "If this piece of documentation answers a "how" question, then it goes in the reference"?  On the other hand, if the purpose of a piece of documentation is to illustrate a complicated/advanced/involved/neat feature, then it goes in the examples gallery. For example:

- if a piece of

[2020-10-22 12:59] cobordism commented on #595
Perhaps the reference section should be terse and systematic - have one example per keyword argument, method, or flag - while the examples section could combine more attributes as they might be used in the wild -eg create a text, scale it, move it, change its colour, transform it to another text...

It's tricky. What I mean is that the reference section should be closer to the code and the example

[2020-10-22 13:02] behackl commented on #595
Let's keep this discussion in one place: #591

[2020-10-22 13:14] huguesdevimeux commented on #550
But ... TracedPath works with updaters doesn't it ?

[2020-10-22 13:15] behackl commented on #591
I like the direction of this suggestion! I think the suggestion that @cobordism made in #595 also fits very well: the example section should be "close to human", while the examples in the reference section can be "close to code" (for the illustration of how to use a single given function/class/keyword/ ...). I don't think that there should be "large" examples in the reference manual, they should a

[2020-10-22 13:17] leotrs commented on #550
Yes. Sorry I should be more clear. I mean we should discourage the end-user from manually using updaters to, in essence, replicate what can already be done with TracedPath.

TracedPath, on the other hand, should still use updaters. It just doesn't need to expose them to the user.

For the purposes of this issue: we should include the new logic within TracedPath, and enforce that users use that ins

[2020-10-22 13:22] leotrs commented on #591
Ok, so.

* Reference: close to code, each example illustrates a single method/keyword. Stand alone examples.
* Gallery: close to human, little/no narrative, Stand alone examples. Each example illustrates more than one feature or class. (Note I'm using "feature" to mean "more than a single method/keyword". E.g being able to change latex fonts is a feature, but the actual keyword argument used to do

[2020-10-22 13:33] behackl commented on #591
While I don't think that making our videos the size of thumbnails, we could draw some inspiration from https://matplotlib.org/3.1.1/gallery/index.html

I'd see module docstrings as semi-structured introductions/explanations of what can be done with a module. Like the LaTeX section in https://manimce.readthedocs.io/en/stable/examples/tex.html#latex does for `manim.mobject.svg.tex_mobject`. The modu

[2020-10-22 13:36] leotrs commented on #591
These are good examples. I'm just having trouble condensing them into a few succinct keywords/guidelines, like I did for the others :thinking:

[2020-10-22 13:42] behackl commented on #591
I think that something like "Overview over functionalities of an entire module; narrative is welcome but not required" could work. :-)

[2020-10-22 14:30] #596 closed

[2020-10-22 18:09] #571 closed

[2020-10-22 19:23] kolibril13 opened #599 "Considering smaller format for control_data"
I just saw that your control_data folder already has a size of > 130 MB, with 1.6 MB per file in the .npy format, which is huge!
![space](https://user-images.githubusercontent.com/44469195/96918569-c9f1e080-14aa-11eb-8680-c59c5b07baa4.png)
In comparison, a png file rendered in low quality has only around 0.01 MB per file.
So what I want to say: On the long run, probably we should change to another

[2020-10-22 20:27] eulertour commented on #588
Yeah it's only a roadmap, we plan to make the release whether or not we reach all the goals.

[2020-10-22 20:32] kolibril13 commented on #589
Nice idea.
For myself, I found for PyCharm a way to run black with a shortcut (see [instruction](https://black.readthedocs.io/en/stable/editor_integration.html)) on the currently active window, which would give a little more control of what happens then when this is completely automated.

[2020-10-22 22:32] safinsingh commented on #572
@eulertour in case you were still curious, I made that with Google Drawings 😆

[2020-10-23 07:43] #552 closed

[2020-10-23 09:54] huguesdevimeux commented on #552
What do you mean by that ?

[2020-10-23 10:13] naveen521kk commented on #552
We should force installation of rich to `^6.0.0` and not any version.

[2020-10-23 11:37] leotrs commented on #599
Good catch. cc @ManimCommunity/tests

We can't output SVG now, and something tells me that this will become an actual problem way before we output to SVG.

The problem with PNG is that we can't compare that to anything that we have in-memory.

All I can think of now is make the test animations smaller than usual, and maybe even remove the alpha channel. This way we could immediately reduce the siz

[2020-10-23 14:26] kolibril13 opened #602 "Make `Code` Mobject accept strings"
It would be nice to have a script like this working:
[code]
therefore codemobject.py should be modified a bit, I thought of something like this:
[code]
This works, but it pretty rudimentary, If someone is interested, please feel free to tinker with this :)

[2020-10-23 17:11] cobordism opened #604 "Make it easier to change background colour."
**Describe the bug**
Right now I can only change the background colour in my source file by writing
`config["background_color"] = WHITE` for example.

The problem is that this works only for one scene. If I write
[code]
then Scene1 will render with blue background.

**Expected behavior**
Something as prominent and important as the background colour of a scene should be easier to change, and more i

[2020-10-23 20:14] huguesdevimeux commented on #599
Thanks for pointing out this.
As @leotrs said, I don't see any better option. We _could_ use hash instead, but it would make the tests very very hard to debug, which is bad.
 About using svg, I'm not certain if it would be possible, as the essence of the tests is to compare the raw frame (before any post processing, compression, etc..).
If there is an optimisation to be done, maybe it's the alpha

[2020-10-23 20:35] kolibril13 commented on #599
I have an idea, we can use compressed NumPy arrays.
As we have lots of monochrome spaces and only a few colours that we use in our scenes, instead of np.save, we can use np.savez_compressed!
[code]
The output of this script is "True".
And the size of the array went down from 1.6MB to 2,5 kB!
This could be also of use when testing the videos. np.savez_compressed works a little bit like a dict, were

[2020-10-23 20:53] leotrs commented on #599
Compressed arrays is a good idea!

Another idea is to store everything in grayscale. You can go from four channels (RGBA) to just one (grayscale). If you reduce the size of each test to half the number of pixels, that's a total of 8x reduction.

[2020-10-24 08:08] kolibril13 commented on #572
![image](https://user-images.githubusercontent.com/44469195/97071394-5520c280-15e0-11eb-8b6c-175f8c9921a1.png)
Two things to note here: myscene should not have the .py ending and further, it should be CamelCase.
I updated the script:
[code]

[2020-10-24 08:51] kolibril13 commented on #590
Hi,
I agree that there are too many branches right now, however, I also have a point why we should still make branches at the repo itself.
**Point 1**: It is really easy to test new branches from other users locally.
The procedure when the branch is on the ManimCommunity repo:
1. Fetch new changes from ManimCommunity
2. checkout branch
3. Delete Branch

The procedure when the branch is on a privat

[2020-10-24 09:10] behackl commented on #590
Use something like the github cli tool (https://github.com/cli/cli) and say `gh pr checkout 576` to checkout the branch belonging to PR 576.

I don't think that is true: I just pushed commits to #557 simply by pushing to the correct branch on the correct remote. I think that everyone with write access on the org can push to branches from private forks as long as there is an associated PR.

The git

[2020-10-24 09:54] kolibril13 commented on #590
Ohh, I did not know that something like that existed.
Thanks a lot for sharing!
I just did `sudo snap install gh --edge` and will try this out right now.

[2020-10-24 10:47] naveen521kk commented on #590
You can use [GitHub Desktop](https://desktop.github.com).

[2020-10-24 12:33] ponmike92 opened #606 "Factor between stroke width and differences in coordinates"
Let's say I want to make thick line and show it's width by another line.
I found FACTOR between stroke_width and difference in coordinates.
It is 1 / 100. It can be illustrated by this code.

[code]

I can't find any mentions of this factor in VMobject class. Any suggestions?
Anyway, won't it be easier to remove this factor? so code could be..

[code]

[2020-10-24 14:44] cobordism commented on #572
![cliExample](https://user-images.githubusercontent.com/12838530/97084538-1dce0800-1618-11eb-87de-a29488557f7d.png)

[2020-10-24 18:10] behackl opened #610 "Follow-up to #562 -- bug with Transform / Mobject.become"
`git bisect` says that merging #562 introduced a problem with `Mobject.become`: The example

[code]
from our documentation renders as

![FadeInAndOut](https://user-images.githubusercontent.com/11851593/97088951-9e026680-1634-11eb-8bb5-45bb8ac59338.gif)

Same thing if the call to `become` is replaced by playing a `Transform` animation; the old text is simply kept on screen.

_Originally posted by @

[2020-10-24 19:26] MysaaJava commented on #590
And i'm partial to remove as much branches as possible, because, i have many branches in my personal fork for which i don't understand the meaning, i don't know why they are here. And, it may be more comfortable for Community developpers, but it is annoying for contributors not from the Community (those without write-access)
![image](https://user-images.githubusercontent.com/33335046/97091890-9399

[2020-10-24 21:03] behackl opened #612 "Redesign manim-example blocks"
At the very least the blocks should be easier to distinguish from each other.

[2020-10-25 08:11] huguesdevimeux commented on #599
This seems good to me.
I think we'll use this feature of compressing sceveral arrays when out graphival tests will use several frames.

[2020-10-25 09:31] Groctel opened #615 "Shouldn't /usr/bin/manimcm be called /usr/bin/manimce?"
Since the project and the new AUR package are called `manimce` it seems unintuitive that the binary name is `manimcm` instead.

[2020-10-25 11:23] leotrs commented on #615
Yes, it should. This comes from the early time when we were still figuring
out the name. Feel free to change it!

On Sun, Oct 25, 2020, 5:31 AM Taxo Rubio <notifications@github.com> wrote:

[2020-10-25 12:45] kolibril13 opened #618 "Adding Video tests."
I have the following idea of how to test videos in manim:
We generate a video with a very low frame rate, I would suggest 4 frames per second. This is not too low to overlook something that might go wrong and at the same time not too long to slow down the testing process drastically.
For a 5-second test video, this would result in an about 0.1 MB compressed numpy array.
Here is the script how to c

[2020-10-25 12:54] #615 closed

[2020-10-25 13:34] huguesdevimeux commented on #618
This is a very good idea, but I would like to precise a little bit the terminlogy you used.
We actually already have videos tests (see the wiki). What we don't have is graphical unit tests that test several frame, as right now they only test the last frame.

This is where your idea is excellent, it would be to change how graphical unit tests are implemented and to make them compare not only the la

[2020-10-25 13:40] kolibril13 commented on #618
Ohh, that is a great idea!
Soo, should we then add a parameter `last_frame -> ` def set_test_scene(scene_object, module_name, last_frame)`
and in case
* last_frame = True -> only the last frame, like it is currently
* last_frame = False -> saves all the individual frames with 4 fps as default

[2020-10-25 13:58] kolibril13 commented on #599
See #618 for further discussions.

[2020-10-25 14:59] leotrs commented on #606
Hello @ponmike92 , thanks for reporting this.

If I understand correctly, you are bringing up the fact that the width of a line is given in different units the length. And you have found out that one is 1/100th of the other. Is this correct?

If this is indeed what you are bringing up, I don't particularly have a problem with it being this way, though I agree this should be documented somewhere. P

[2020-10-25 19:50] huguesdevimeux commented on #618
Why not, but I think that the main difficulty will be to know how to implement these tests, not how to create the control data :)

[2020-10-26 06:29] eulertour commented on #618
This could be done very elegantly by writing some new renderers, like a SaveFrameDataRenderer and CompareFrameDataRenderer. Since `renderer.add_frame()` is called on each frame, you could overwrite the methods to either save or compare to stored frame data.

[2020-10-26 06:33] eulertour opened #621 "convert_to_svg should report any errors to the user"
A lot of system-dependent things can go wrong while attempting to perform this conversion, but by suppressing the error we're making it harder for the user to debug it. Any error messages generated should be reported to the user in the following exception.

https://github.com/ManimCommunity/manim/blob/a1180be72d29adcf7d6a02c044e933acbf794d68/manim/utils/tex_file_writing.py#L196-L207

[2020-10-26 09:51] kilacoda commented on #621
So we just have to remove lines 204-205?

[2020-10-26 09:56] ponmike92 commented on #606
Hi @leotrs, yes it is correct. Furthermore, it relates to any object for which we can set stroke width. (Arc for example)

Thank you for #530! I've read this issue and found that not only me forced with different length units. It is better to relate this issue to #530.

[2020-10-26 11:25] behackl commented on #590
I would like to rename the current `releases` branch to `stable` -- as far as I have understood, `releases` is the stable branch we were talking about in our meeting recently.

There are two advantages with naming it `stable`: (1) The name is a bit clearer and its existance also somehow signals that `master` might be unstable [there has been confusion on Discord about it]. (2) Our documentation ha

[2020-10-26 11:42] leotrs opened #622 "We need a devops team"
As the project grows in collaborators and our assets grow in number, we need to designate a team (or individual persons) to a bunch of tasks that will need taken care of

1. different tasks related to maintaining our landing page [manim.community](http://manim.community)
2. general managing of releasing and packaging
3. maintaining our CI procedures

If you think of other devops-like tasks, please

[2020-10-26 11:43] leotrs commented on #590
#622

[2020-10-26 11:45] leotrs commented on #618
I had the same idea in the past. Great minds or whatever.

However, do you think this is a task for the renderer or a task for the FileWriter?

[2020-10-26 11:47] leotrs commented on #621
No. Instead of using `os.system` or `subprocess.run`, I think we want to use `subprocess.check_call`. Or is there a better alternative?

Note I tried this in #546 and it's a bit more complicated than it looked at first :sweat_smile:

[2020-10-26 11:49] leotrs commented on #606
Yeah, in that case, we could add something like `WidthUnit()` once #530 has seen more progress :) cc @jvdoorn

[2020-10-26 11:57] huguesdevimeux commented on #618
@leotrs My opinion lends toward SaveFrameDataRender, as we don't want to write anything.

By the way, I think if someone is going to implement this, it's the occasion to refactor a little bit these graphical units tests.

[2020-10-26 12:08] leotrs commented on #618
Ah fair.

[2020-10-26 13:28] behackl commented on #599
I would really like to see us using compressed control data as soon as possible. Could we talk about implementing this as soon as possible? If it helps (and noone else wants to do it), I can PR this later today.

Rewriting git history is an extremely delicate process that requires a huge amount of coordination (basically, the fewer open PRs we have at that point the better; and everyone will have

[2020-10-26 13:48] cobordism commented on #622
Other tasks that I'd classify as devops:

Maintaining DNS for manim.community (CNAME and A records for www, docs, etc, MX records for mail ...)
Discord server settings - maintaining channels and policies, and permissions, but also bots
Github.com settings - teams and permissions and extensions and webhooks
Onboarding new members (in terms of permissions) as well as removing old accounts.

[2020-10-26 14:20] leotrs commented on #604
I agree this should be supported. However, the current architecture is not going to allow for it. Because of two reasons.

### Reason 1
`manim/__main__.py` executes the whole module before rendering the scene. To side-step this, you could use your own script instead of calling manim from the CLI:
[code]

This is definitely not ideal, but can serve as temporary workaround.

### The config dict is g

[2020-10-26 15:19] huguesdevimeux commented on #622
The best I can do is Discord, and maybe gitHub.
Otherwise, I either don't have the proper knowledge or can't at the moment take any long time commitement required by some of these tasks.

[2020-10-26 19:01] eulertour commented on #590
Naming the branch `stable` is fine, the only reason I didn't do it initially is because it isn't really stable.

[2020-10-26 20:36] #599 closed

[2020-10-27 00:05] eulertour commented on #622
Although a dedicated team would be nice, I think the best we can manage at this point is to have clear procedures in place for devops-related tasks and to automate as much of the process as possible. In that sense I think the main focus should be to simplify and when necessary document these tasks.

It's also worth stressing here that since we don't have as much time to dedicate to them, it's impo

[2020-10-27 03:26] eulertour commented on #618
@leotrs The FileWriter is held by the CairoRenderer so that would do the trick, but I don't know if there's a way to pass in a modified FileWriter right now.

[2020-10-27 06:53] huguesdevimeux commented on #602
I'm going to work on this

[2020-10-27 08:46] huguesdevimeux opened #625 "[BUG-General] Code mobject colors are broken"
See the picture :
![image](https://user-images.githubusercontent.com/36239975/97277574-ec805280-1838-11eb-97de-7074e2e75925.png)
As you can see, it does not look good.

**To Reproduce**
code :
[code]
helloworld.cpp :
[code]

This is just for myself and to eventually know if someone else has encountered the same issues.
I'm currently working on a fix and a small refactor of codeMobbject.

[2020-10-27 18:04] #610 closed

[2020-10-27 18:54] #612 closed

[2020-10-28 07:48] PhilippImhof commented on #621
This reminds me of https://github.com/ManimCommunity/manim/pull/561

[2020-10-28 13:26] AkashKarnatak opened #627 "Functionality to allow the usage of `Text` for axes ticks and labels in GraphScene."
It would be really nice if there was a way to use `Text` as axes ticks and labels instead of `Tex` in GraphScene as writing `Tex` takes a lot of time.

[2020-10-28 13:31] leotrs commented on #627
Hello. Can you please provide an example of why "Tex takes a lot of time" and how you would like to see it fixed by using "Text"? Thanks.

[2020-10-28 16:32] behackl commented on #627
I think this is a valid issue; the time it takes to render `Tex` is longer than the time required for rendering `Text`.

As an example, a simple `GraphScene` like

[code]
takes on my system
[code]
Whereas, when rendering `DecimalNumber` as `Text` instead:
[code]

[2020-10-28 16:51] leotrs commented on #627
Ah that makes sense. I didn't understand at first this was about runtime.

Agree this is a good idea. We have to come up with a good way of changing this though, otherwise we will have the same problem as in #462 and #380

[2020-10-28 16:54] behackl commented on #627
Yes: we could in fact solve it in more or less the same way as #462 and #380 and allow passing rendered labels -- but in this case, we will have to be more careful as the values of the labels are also needed.

[2020-10-28 16:59] jsonvillanueva opened #628 "Drawing.py and a Sample File Gallery Structure"
Currently [drawing.py](https://github.com/ManimCommunity/manim/blob/master/manim/mobject/svg/drawings.py) contains classes that rely on vectorized images that are NOT provided by default. This requires user to create/find their own vector images in order to use the classes provided within ManimCE.

This issue is to open discussion on two items:
### What should happen to drawing.py (and perhaps oth

[2020-10-28 17:51] jsonvillanueva commented on #628
There's definitely more possibilities than those I listed, please add your own thoughts on the matter.

I favor options 3 and 1, respectively. I believe option 3 removes many of the classes that are too specific (like BitcoinLogo), but 1  or 2 files for SVGMobject/ImageMobject/AudioSegment can shows users how they can create their own specific classes. Eventually though the ones they create should

[2020-10-28 18:51] leotrs commented on #628
Some loose thoughts:

* I don't understand what you mean by "provide a structure".
* I am against shipping empty directories ("provide a structure, not content").
* I'd be happy to see manim CE provide a few basic shapes that users can make use of - especially if they are related to mathematics.
* Not sure why we need files AND classes. (I have never really even read drawings.py - don't know how i

[2020-10-28 19:18] jsonvillanueva commented on #628
Sorry, by "structure" I meant a folder/directory structure as Manim looks in `./*, ./assets/*, and ./assets/svg_images/*` for vector images specifically (assuming media_dir isn't configured).

Same.

You're right, we don't need both. It would be enough to just do `SVGMobject("filename")` in a sample scene to demonstrate its use. Although with a class, you could do some neat things under the hood l

[2020-10-28 19:57] jsonvillanueva commented on #572
It's worth note, you can combine the options `-ql and -p` into `-pql`

[2020-10-28 20:02] leotrs commented on #572
@jsonvillanueva yes, but separating them is better for explanation

[2020-10-28 20:05] leotrs commented on #625
This is great news, as CodeMobject needs a lot of work..

[2020-10-28 20:08] leotrs commented on #592
I am torn here. In principle, I don't think there's anything really wrong with having a lot of whitespace. OTOH, having smaller frames would speed up the docs build.

[2020-10-28 20:12] leotrs commented on #473
Note to self: this will be fixed by #620

[2020-10-28 20:17] leotrs commented on #590
I will ask the owners of the following branches to either (a) let us know if you want to keep this branch in the repo, or (b) if we can delete them.

GeometryAdditions @XorUnison
svg_parser @yoshiask
attrs @PgBiel
multiprocess-PoC-(DON'T-MERGE) @XorUnison

[2020-10-28 20:19] leotrs commented on #452
@radiantly any updates on this? :)

[2020-10-28 20:20] leotrs commented on #426
Any updates on this? Eager to see the translation move forward :)

[2020-10-28 20:21] leotrs commented on #425
I think exporting to SVG is out of the question currently.

As for the original topic of this issue: I'm happy to change save_pngs to save_all_frames for the time begin

[2020-10-28 20:22] leotrs commented on #407
@behackl I think we forgot to do this before the v0.1 releasee :sweat_smile:

[2020-10-28 20:55] leotrs commented on #622
All fair points - now we just need to assign some people to some tasks :)

[2020-10-28 21:18] radiantly commented on #452
If the community comes to a decision, I can start working on the code.

A brief look at the options mentioned above:
 - `argparse` - The codebase currently uses this, which as @naveen521kk mentions above, is good, but hard to maintain due to the lack of support for features like subcommands and lot of boilerplate code required.
 - `click` - This is the most actively maintained library, if we were

[2020-10-28 22:22] leotrs opened #629 "Remove the --background_opacity flag"
For most users, I can see two possible values for the background opacity: 1 (fully opaque) or 0 (fully transparent). The former is the default, and the latter can be activated by passing the `-t` flag. Therefore, I see no reason to also support a separate `--background_opacity` flag. If the user *actually* needs a value in between 0 and 1, they can use a .cfg file.

What do you think?

[2020-10-28 23:04] MysaaJava commented on #426
Well, i'm experimenting with the pootle server. The docs build fine with multiple languages and pootle seems to be usable.
I understood how to make translations on readTheDocs, see [My clone of the docs](https://manimdummyforintl.readthedocs.io/en/latest/), you can change the languages between english and french (i only translated the first paragraph into french). You can look at the [internationa

[2020-10-29 07:52] manu-chroma commented on #442
Hi, I would like to work on this issue

[2020-10-29 14:21] ackxolotl opened #632 "[BUG-General] ModuleNotFoundError with clean installation"
**Describe the bug**

Fresh installation of `manim` is not working due to a `ModuleNotFoundError` (although `pangocairocffi` is installed):

[code]

**To Reproduce**

Do a clean installation on latest Arch Linux, Python 3.8. I installed `manimce` with `pipenv`.

<details><summary>Problematic Code</summary>

[code]

</details>

**Expected behavior**

I expected to get the rendered tutorial video.

[2020-10-29 14:32] behackl commented on #632
Thanks for your report! There seems to be an unfortunate problem with the installation of `pangocairocffi` where the generation of the ffi bindings does not happen automatically.

You can solve it locally by changing to your `site-packages` directory, `/home/ackxolotl/.virtualenvs/manim-AwzoOjs3/lib/python3.8/site-packages` and then, within your virtualenv, running `python pangocairocffi/ffi_build

[2020-10-29 14:35] ackxolotl commented on #632
That fixed it! Thanks a lot

[2020-10-29 14:41] leotrs commented on #632
Good catch @behackl

Can I ask either of you two to add this experience to our troubleshooting page? That would be a huge help for those who come after us :) https://docs.manim.community/en/latest/installation/troubleshooting.html

[2020-10-29 15:42] leotrs commented on #452
Thanks @radiantly. I do think that #620 does a good job at simplifying our argument parsing needs.

There is a trade-off here between how hard it is to maintain our own code vs how robust and supported the underlying library is. Right now, our code is hard to maintain, but there is TONS of support for argparse since it is part of stdlib. If we change to click (or other), our code may become cleane

[2020-10-29 16:12] behackl commented on #632
I've prepared a PR: #633.

[2020-10-29 16:25] #632 closed

[2020-10-29 16:26] leotrs commented on #426
Thanks a ton @MysaaJava, all your efforts do not go unnoticed. Please let us know if there's anything we need to setup on the GitHub side to keep moving this forward.

Also, the hosting for the pootle server sounds like a devops task to me #622. Cc @cobordism does the www.manim.community domain come with hosting? Or could we use github pages somehow?

[2020-10-29 16:42] MysaaJava commented on #426
Updates, we may be able to use transifex, which is a paid service, but is free for open-source projects.
I made a copy (not a fork) of manim community on which i will try to setup transifex. I also need to se if people can do anonymous translations.

[2020-10-29 16:44] MysaaJava commented on #426
Updates, we may be able to use transifex, which is a paid service, but is free for open-source projects.
I made a copy (not a fork) of manim community on which i will try to setup transifex. I also need to see if people can do anonymous translations.
I'll also write something in the docs, on the contribute page, to explain how to help with translating.

[2020-10-29 16:53] naveen521kk commented on #452
I would suggest moving to another lib which is maintained would help us a lot in furture. For now, the current structure seems satisfying, but it would be difficult to add a new subcommand( I heard people working on addon system). Also, it will not hurt to add another dependency if it is more useful and keeps the logic simpler. Just because of an external dependency we should not make it hard to m

[2020-10-29 17:54] huguesdevimeux opened #634 "QUESTION : Strange regex in Text"
While digging down in Text mobject, I found this strange regex undocumented :
https://github.com/huguesdevimeux/manim/blob/84b3dee8ac447660446e496cd8ff115fe8fa8e98/manim/mobject/svg/text_mobject.py#L733-L748

[code]

Could someone explain me : what does this regex do ? (here is some explanation https://regex101.com/r/teNNjr/1, but I still don't see what it is supposed to do)

~ cc @naveen521kk, as

[2020-10-29 18:21] leotrs commented on #452
You are very convincing. Let's go with the one that is the most supported, but let's do this after #620 is merged and stabilizes a bit.

Cc @ManimCommunity/core to hear from others.

[2020-10-29 19:44] naveen521kk commented on #634
It parse the user passed colouring options. See https://docs.manim.community/en/latest/reference/manim.mobject.svg.text_mobject.Text.html#manim.mobject.svg.text_mobject.Text for example, the Google coloured one.

[2020-10-29 19:54] naveen521kk opened #636 "[BUG-General] t2s not working with Text"
**Describe the bug**
Something because of Pango renderer. `Text2Slant`(t2s) isn't working, which would style individual words or characters before. I happened to notice this in the docs.

**To Reproduce**

<details><summary>Problematic Code</summary>

[code]

</details>
It produces output like

![pango-text-error](https://docs.manim.community/en/latest/_images/TextItalicAndBoldExample-1.png)

wher

[2020-10-29 19:56] leotrs commented on #337
After five merged PRs, I'm ready to close this.

@ManimCommunity/tests you can now set a temporary config using `tempconfig`, and you can now choose a config file programatically using `ManimConfig.digest_file`.

[2020-10-29 19:56] #337 closed

[2020-10-29 19:56] leotrs commented on #293
Please see `tempconfig` and `ManimConfig.digest_file`.

[2020-10-29 19:57] #293 closed

[2020-10-29 19:57] leotrs commented on #443
Done. See #337

[2020-10-29 19:57] #443 closed

[2020-10-29 20:01] leotrs commented on #473
@FilipeMarch would you please kindly pull the latest master branch and try again? I believe this should be fixed now :)

[2020-10-29 20:04] leotrs commented on #7
It seems to me that a lot of the confusion here was moving from the current implementation using `CONFIG` dicts directly to attrs/dataclasses.

Now I'm more inclined to first move to vanilla classes ASAP, and then decide which classes to implement using attrs. Now that #620 is merged, I can work on removing `CONFIG` entirely and using vanilla classes. Once that's done we can revisit which classes

[2020-10-29 21:17] leotrs opened #637 "Support conda install"
Someone on discord was just trying to do `conda install manimce`, with no success. I was under the impression that pushing to pypi would be enough for this to work?

[2020-10-29 23:11] qorrect commented on #637
No they have their own repos , https://conda-forge.org/#add_recipe .  Personally I think pypi would be enough for anyone using the package.

[2020-10-29 23:22] leotrs commented on #637
I don't understand. You say that a package published in pypi cannot be installed with conda. But you also say that we shouldn't publish on conda and that pypi is enough.

How can pypi be enough if conda users cannot access it? Am I missing anything?

[2020-10-30 00:05] mrdon opened #638 "[BUG-General] CodeMObject swallows empty lines"
**Describe the bug**
When rendering code with the CodeMObject class, any empty lines in the source file are ignored.

**To Reproduce**

<details><summary>Problematic Code</summary>

code.py
[code]

Used by:
[code]

</details>

**Expected behavior**
I expected to see rendered text with new lines between the imports and class preserved. Instead, they were removed and the text was compressed.

**Outp

[2020-10-30 00:55] behackl commented on #625
The issue with this is -- unfortunately -- Pango, and the way it handles spaces.

Simple comparison:

[code]

CairoText adds invisible Dots as submobjects in the place of whitespace, thus ensuring that the number of submobjects corresponds to the length of the string. Text, i.e., our Pango renderer, does not do that anymore (it has no `gen_chars` method).

I can't decide what behavior makes more s

[2020-10-30 01:41] #638 closed

[2020-10-30 01:43] leotrs commented on #625
Keeping len(submobjects) == len(string contents) sounds more convenient to me.

[2020-10-30 07:16] huguesdevimeux commented on #625
I think we should keep `Text` behavior but change how text is actually colored.

Colors are currently applied by finding the substrings to color, with a for loop interating through the whole `Paragraph`.

https://github.com/huguesdevimeux/manim/blob/84b3dee8ac447660446e496cd8ff115fe8fa8e98/manim/mobject/svg/code_mobject.py#L271-L303

[code]

My idea was to change this, and to use color feature of

[2020-10-30 07:56] behackl opened #642 "The config value `html_favicon' has type `PosixPath'; expected `str'."
BTW when building the docs now I get
[code]

_Originally posted by @leotrs in https://github.com/ManimCommunity/manim/pull/631#issuecomment-719075737_

[2020-10-30 08:37] kolibril13 commented on #629
I think background_opacity is something really specific, that does not need its own flag.
So yes, we can remove it.

[2020-10-30 08:40] behackl commented on #629
+1 for removing the CLI flag.

[2020-10-30 16:01] leotrs opened #645 "Add a "test quality" to constants.QUALITIES"
This code could pull from constants.QUALITIES. Also, we should add the 480p30 to the constants.QUALITIES dictionary as a new entry called "test_quality" or something.

https://github.com/ManimCommunity/manim/blob/b8644e60fdb9d114cb8ed4ad54bc330335bee636/docs/source/manim_directive.py#L148-L169

cc @ManimCommunity/docs

[2020-10-30 20:26] #642 closed

[2020-10-31 01:45] leotrs commented on #473
@kolibril13 has confirmed that the -t flag now works.

[2020-10-31 01:45] #473 closed

[2020-10-31 17:20] qorrect commented on #637
pypi and conda are not mutually exclusive, people often mix both package managers.  But totally up to you.

[2020-11-01 14:21] cobordism commented on #622
I think we are basically in agreement. My suggestion was not against automation (indeed that is an integral part of devops) but for making an explicit group of people responsible for it. Automation is great, but if something breaks, who you gonna call?

Whoever ends up on team-devops, one of the things they must do is manage credentials so that, even if one of them is unavailable, the others can j

[2020-11-01 20:44] PhilippImhof opened #663 "y axis label misplacement in certain cases"
**Describe the bug**

While creating a test for #661 I realized that the y axis label was sometimes misplaced, e.g. when there is "not enough space" above or below the axis.

**To Reproduce**

[code]

**Expected behavior**

Placement of the label is done in lines 160-170 of `manim/scene/graph_scene.py`:

[code]

The red line shows that `get_corner` works as expected. The red label shows that `next

[2020-11-01 20:46] ponmike92 opened #664 "Update attributes fails through self.play with setters"
All attributes of child classes from VMobject are not updating if we use "setter" methods in self.play. Even if we declare them through CONFIG dictionary. Code beneath shows this problem.

Surprisingly, I first thought that it is normal behaviour. But it is not the same if we try to set base VMobject attributes like stroke_width.
I suppose it is known issue because I found mention in source code i

[2020-11-01 21:45] leotrs commented on #664
Thanks for reporting. This is essentially a duplicate of #258

We have not gotten around to fixing this yet because fixing it effectively once and for all requires a more robust test suite than what we have now.

[2020-11-01 22:01] huguesdevimeux commented on #664
It's also and mostly due to all the `CONFIG` system. The only times attributes like these are touched is during the instantanciation if the `Mobject`, when all the thing contained in CONFIG are merged with the parameters passed in the decleration.

This will likely be fixed when we'll finally get rid of CONFIG, but it's still a good thing to have it fixed.

On a side note, I think we should replac

[2020-11-02 00:39] leotrs commented on #663
Thanks for reporting. I *think* this is something we should fix. However, I think this is dangerously close to becoming a typesetting problem. As of right now, manim is not a typesetting or a plotting library, so we should be careful not to open a can of worms unless we are sure we want to go down some rabbit holes that are very very deep.

[2020-11-02 06:38] ponmike92 commented on #664
For me idea of CONFIG is convenient. It can shorten your code with creating class attributes. Am I right that you are trying to achieve something like this?

Old style:
[code]

New style:
[code]

[2020-11-02 07:18] ponmike92 commented on #664
I think that it can be a good idea to leave CONFIG  for child classes:
+ you don't break users code
+ you still have ability to create class attributes easily (with digest_config method)

BUT cut it off for all bases classes like VMobject and Mobject:
+ clear code, easy for debugging

[2020-11-02 07:19] PhilippImhof commented on #663
I have just found the culprit: `y_label.shift_onto_screen()` shifts the label down, because it is less than `DEFAULT_MOBJECT_TO_EDGE_BUFFER` away from the edges. This approach is fine as long as the label is not directly above/below the axis (or left/right for the x axis).

IMHO the best option to fix it is to check whether the label and the axis overlap after `shift_onto_screen`. If this is the c

[2020-11-02 07:27] PhilippImhof commented on #663
Reconsidering this, it might obviously be easier for us. But this means that if the user wants to place the label above the axis, they will just see the label and the axis overlap. Then they will have to change the placement to `UP+LEFT` or `UP+RIGHT`. As a consequence, that should be documented somewhere.

I wonder if it wouldn't be a better error to simply not `shift_onto_screen` so the user see

[2020-11-02 12:36] leotrs commented on #664
Agreed.

It is a solution that allows for less boilerplate code. But it is extremely difficult to debug, document, maintain, and improve. It is not pythonic, it is basically trying to patch how inheritance works.

No. I would personally like to write something like this

Note `value` and `text` do not need to be passed to Mobject.

You write 20 lines of the above.

Yes. Why is this a problem? They

[2020-11-02 13:07] leotrs commented on #80
Update here:

The next TO DO item on the config system is to make it not global anymore, but local to each Scene class. Once this is done, it should be fairly simple to implement parallel scene rendering using multiprocessing.

There have also been refactors in the scene file writer that may make this easier.

[2020-11-02 13:13] leotrs commented on #527
Thoughts on this?

[2020-11-02 13:15] leotrs commented on #590
I believe the owners of the above branches have spoken for them in one way or another.

Also, the repo is set up so that it automatically deletes branches once they are merged. We just have to keep reminding everyone to PR from their fork and not from here.

I think we can close this issue now.

[2020-11-02 13:17] leotrs commented on #592
I count two undecideds and one in favor. I believe this is the entirety of the current docs team right here.

I vote we close this for lack of consensus for now and move one (unless anyone wants to add anything?)

[2020-11-02 13:40] ponmike92 commented on #664
@leotrs, thank you for deployed answer! Im not strong in class architectures but now it is clear for me. Sorry if ask stupid question ;)

I'm not strong with git but hope to help you in development in future. Have to understand how manim organized deeper first.

[2020-11-02 14:20] leotrs commented on #664
Not a stupid question at all!

We look forward to seeing your contributions.

[2020-11-02 14:46] leotrs opened #667 ""manim -" is not working"
I broke this when revamping the config system. Thanks @naveen521kk for reporting

[2020-11-02 16:11] BrendanMartin opened #669 "AttributeError: 'ThreeDCamera' object has no attribute 'extract_mobject_family_members'"
Tried running the example:
[code]

And got the error:
[code]

**System Specifications**

<details><summary>System Details</summary>

- OS: Windows 10
- Python version (`python/py/python3 --version`): 3.8

[2020-11-02 16:16] leotrs commented on #669
Hi @BrendanMartin and thank you for reporting.

Could you please share a link to where you got this example from?

Also, are you on the latest version of manim CE?

[2020-11-02 17:10] BrendanMartin commented on #669
@leotrs I found this example here: https://github.com/Elteoremadebeethoven/AnimationsWithManim/blob/master/English/6b_plots_3D/scenes.md

And yes, I'm on the latest version (0.1.0)

[2020-11-02 17:35] ponmike92 opened #670 "Ability to bring to back or front while animation."
In rare cases it may be useful to bring objects to front/back on scene in the middle of animation (or any time from 0 to run_time). For example, I want to be red line always be in front in illustration below. So I have to bring one of lines to back

Right now we can only remove object by the end of its animation. What do you think? How it is better to implement? Is it possible to make custom anima

[2020-11-02 17:52] MysaaJava commented on #590
Well … i still see branches being created ^^
So, in the end, which branches will remain ? master/stable/release ?

[2020-11-02 19:58] leotrs commented on #669
Unfortunately, I believe @elteoremadebeethoven uses 3b1b manim.

[2020-11-02 19:59] leotrs commented on #590
I'm personally fine with leaving master/stable/release plus any currently active branches.

One of the nice things about opening branches on this repo is that anyone can commit changes directly from GH. This speeds things up a ton, especially for example in docs-heavy PRs. So I'm personally fine with allowing some branches to come directly from this repo, as long as they are few and far between.

[2020-11-02 20:04] leotrs commented on #670
I believe this would require a custom Animation.

For the time being, have you tried `Mobject.become()`? Perhaps if you generate the initial state of your animation as a VGroup, and the final state of your animation as a separate VGgroup, and then animate a .become() call, that might work?

[2020-11-02 20:23] BrendanMartin commented on #669
I see. Do you know if there an equivalent in manimce?

On Mon, Nov 2, 2020, 2:58 PM Leo Torres <notifications@github.com> wrote:

[2020-11-02 20:27] ponmike92 commented on #670
@leotrs cool idea! yeah, it might work. In addition to that we can separate one animation into two and call bring_to_back between them.

But I still think that it gonna be good implementation for calling bring_to_back, bring_to_front in self.play or like you said create custom Animation to handle it

[2020-11-02 20:29] leotrs commented on #669
Unfortunately I don't. You can see some manim CE examples in 3D here: https://manimce.readthedocs.io/en/stable/examples/3d.html

I believe @kolibril13 has a bit more expertise in 3D stuff than I do.

[2020-11-02 20:41] kolibril13 commented on #669
Hi @BrendanMartin , this is a nice feature that was unfortunately broken with the pr #281, and I already made an issue for that:https://github.com/ManimCommunity/manim/issues/569
Therefore, I suggest we discuss this in 569 and close this issue.
Unfortunately, I don't know how to fix it right now, but feel free to have a look at it if you want to ;)

[2020-11-02 21:22] MysaaJava commented on #590
The problem with that, is that when someone forks the repo, he gets a bunch of branches which make no sense for him. Unless their is a way to limit some branches from being forked, i would rather you to use, maybe a manim-dev repo, forked from the manim one (maybe private) when PR will still be public.
Also, doing as you said might deter you from creating new branches, to avoid too many branches i

[2020-11-02 21:39] cobordism opened #671 "AddTextLetterByLetter animation no longer working"
**Describe the bug**
The AddTextLetterByLetter animation was broken by a recent PR
https://github.com/ManimCommunity/manim/pull/568#issuecomment-720717465

All the text appears immediately - even though `self.mobject.submobjects ` is updated correctly in the ShowIncreasingSubsets Animation object.

**To Reproduce**

[code]

</details>

**Expected behavior**
I expect the letters to appear on screen

[2020-11-02 22:10] BrendanMartin commented on #569
Yeah, I was getting the error:
```AttributeError: 'ThreeDCamera' object has no attribute 'extract_mobject_family_members'```
and found in #532 there's a change to camera.py where `extract_mobject_family_members` was moved:
https://github.com/ManimCommunity/manim/pull/532/files#diff-7732083ebe3bdfdbb948a293a8ff761e5c4a7b8ed98e1daed6838076a4781234L366

[2020-11-03 10:08] Kreijstal commented on #13
the point of docker is that you don't have to keep up with dependency hell, so that would make easier to use, not harder, besides, the dockerfile is like 10 lines?

[2020-11-03 10:19] behackl commented on #13
@Kreijstal The issue is outdated, we are in the process of making docker a documented option to use the community version of manim with, see https://hub.docker.com/r/manimcommunity/manim

[2020-11-03 11:22] huguesdevimeux opened #673 "[BUG-TEXT] t2s is broken with PangoText"
[code]
generates this :
![image](https://user-images.githubusercontent.com/36239975/97979225-16a0ba00-1dcf-11eb-9616-327fc60d687d.png)
("text" at the end is neither in Italic or displayed).

Could someone else confirm this ?

cc @naveen521kk

[2020-11-03 11:30] naveen521kk commented on #673
Duplicate of  #636

[2020-11-03 11:30] #673 closed

[2020-11-03 11:35] huguesdevimeux commented on #673
sorry for this

[2020-11-03 11:36] huguesdevimeux commented on #636
Follows #673

for the record :
If a text has different style among it, pangoText will cut it into several part, each part corresponding to a style.
Next, pango places the different parts, in theory side to side, but fails here for some reasons.
So, I think the issue is here :
https://github.com/huguesdevimeux/manim/blob/d668fc1eda19bce97e9cfda522717496d00f03ae/manim/mobject/svg/text_mobject.py#L91

[2020-11-03 12:05] naveen521kk commented on #636
Simply converting from PangoUnit would be simple I think. https://pangocffi.readthedocs.io/en/latest/modules.html?highlight=pango_units_from#pangocffi.units_from_double

Also, what values does `layout.get_extents()[0].x` get? In above example?

[2020-11-03 12:08] huguesdevimeux commented on #636
Adding print `print(layout.get_extents()[0].x)` at the above example, in l. 924 shows :
[code]

[2020-11-03 12:19] #663 closed

[2020-11-03 12:37] #629 closed

[2020-11-03 12:40] leotrs commented on #670
@ponmike92 if you are volunteering to submit a PR for that, go ahead :)

Otherwise, please let us know if the workaround I offered worked out well.

[2020-11-03 14:51] kolibril13 commented on #669
Closing, further discussion in #674

[2020-11-03 14:51] #669 closed

[2020-11-03 17:59] cobordism commented on #671
In the meantime, if y'all want to write text letter by letter, you can try something like this:
[code]
perhaps replacing `Write` with something more abrupt. (Is there an add Animation just as there is (now) a Wait Animation?)

[2020-11-03 23:19] huguesdevimeux commented on #634
Thanks for the explanation !

[2020-11-03 23:19] #634 closed

[2020-11-04 12:22] kolibril13 commented on #591
Just as a collection of what still could come into the docs:
[code]

[code]

[code]

[2020-11-05 00:20] abdelrahman-emam opened #675 "Failed to build pycairo ubuntu 16.04"
I tried to install manim using
`pip install manimce`

and I got this error
`Failed to build pycairo`

Then I tried to install pycairo (cairo) manually and it got installed using
`pip install https://github.com/pygobject/pycairo/releases/download/v1.13.2/pycairo-1.13.2.tar.gz`

And now I can import cairo when I launch python in the terminal successfully, but I still get the same error Failed to bui

[2020-11-05 00:43] behackl commented on #675
Thank you for your report.

The issue here is a version mismatch: the version of the cairo library you installed via the package libcairo2-dev is too old for the version of pycairo requested by manimce. I see two possible paths forward:

- Option 1: try to upgrade your system package. (Which might turn out really inconvenient, and I am not sure there is a clean solution for that other than upgradi

[2020-11-05 00:49] abdelrahman-emam commented on #675
Thank you, Unfortunately I don't have experience with docker, but I will try the second option indeed.

[2020-11-05 13:48] huguesdevimeux commented on #636
On second thought ( I didn't investigate further) I don't think it's related to Manim pixel units in any way, as offset_x is only used to position things within the Text SVG, before it is added to the scene.

So, it's just offset_x that takes a wrong value for some reason.

[2020-11-05 14:20] ucalyptus commented on #675
@abdelrahman-emam I face this issue
[code]

[2020-11-05 14:37] behackl commented on #675
See https://docs.manim.community/en/latest/installation/troubleshooting.html

[2020-11-05 19:28] ucalyptus commented on #675
Thanks @behackl , solved!

[2020-11-05 19:41] kolibril13 opened #677 "Strange behaviour with z_index after animation"
I have this script:
[code]
![MovingCameraOnGraph](https://user-images.githubusercontent.com/44469195/98288446-270b8d00-1fa7-11eb-8c16-df4a4393b34f.gif)
And it seems like after the self.play function is called, something goes wrong with the z index.
Note that this can be fixed by replacing `m5 = Square(fill_opacity=1, fill_color=BLACK).set_z_index(0)` with `m5 = Square(fill_opacity=1, fill_color=BL

[2020-11-05 20:54] huguesdevimeux commented on #636
And, I was digging into Pango docs and was wondering, is there a particular reason you split the text with different styles into several svg ? Isn't possible to do it only in a whole one SVG with pango ?

[2020-11-06 03:04] naveen521kk commented on #636
Hmm, it is as a whole SVG as far as I know. Only that, Pango is called multiple times to draw on Cairo context.

[2020-11-06 10:17] behackl commented on #675
@naveen521kk can you think of a way to allow older versions of pycairo (and thus the version of libcairo installed on the system) in situations where wheels are not required?

If so, we should think about supporting Ubuntu 16.04 again with our next release.

Otherwise, there is nothing left to do here.

[2020-11-06 10:34] naveen521kk commented on #675
`1.19.*` can be used I think. Because the required version there is `1.13.1`. Small edit in pyproject.toml can make it work. It should be `>=1.19.0` then.

[2020-11-06 13:20] leotrs commented on #677
I believe this is a duplicate of #327

[2020-11-06 15:32] leotrs opened #679 "CircleIndicate is extremely unpredictable"
I was trying to use CircleIndicate for an animation, but I cannot for the life of me figure out how it's supposed to work.

Read the following code and try to predict what each animation will do. Then watch the rendered animation and see if it matches your expectation.

[code]

![MyScene](https://user-images.githubusercontent.com/1096704/98384076-50660080-201b-11eb-82de-2c8f7aab0969.gif)

[2020-11-08 03:57] #407 closed

[2020-11-09 01:46] #671 closed

[2020-11-09 10:49] huguesdevimeux commented on #636
Yes, this was my question. Why is pango called multiple times?

[2020-11-09 12:06] naveen521kk commented on #636
This is the problem IMO. I think it would be better to let pango do its work and lets not make it do like it. I think there should be a way where pango does it. I find markups (something like html syntax more helpful), so we should allow pass those markups also. I will look into this soon, if i get any time.

[2020-11-09 18:28] kolibril13 commented on #677
yep

[2020-11-09 18:28] #677 closed

[2020-11-09 18:29] #592 closed

[2020-11-09 20:51] jsonvillanueva commented on #628
#665 Drawing.py is now irrelevant, and a sample file gallery structure IMO would fall under a plugin/addon #42.

Closing this issue as it is more of something to be provided outside of core manim perhaps installable via pip. Will try to reference any such future plugin in this issue when the time comes.

[2020-11-09 20:51] #628 closed

[2020-11-09 21:54] daljit97 opened #689 "[BUG-General] ModuleNotFoundError: No module named 'pangocairocffi._generated.ffi'"
Hi I have tried to run a simple example on Fedora 32. However when I try to run the example I get the following:
[code]

I have already installed the `pangocairocffi` package and the installation of `manimce` didn't show any error.

[2020-11-09 21:59] leotrs commented on #689
Thanks for reporting. Please see [this link](https://docs.manim.community/en/latest/installation/troubleshooting.html#modulenotfounderror-no-module-named-generated-ffi) and report back whether or not it worked.

[2020-11-10 12:28] #572 closed

[2020-11-10 13:41] XorUnison opened #690 "Running manim without any flags or render commands throws an error [BUG-General]"
It seems as if currently running just `manim` without any flag or scene to render it throws the following error:
[code]

@behackl has mentioned seeing the same bahaviour.
This isn't a major issue since otherwise everything seems to run fine (can still use `manim -h` or render scenes), but somehow who might know what's going on should have a look into it.

[2020-11-10 13:43] leotrs commented on #690
This is 99% probably my fault (#340)

[2020-11-10 21:51] DanieleMarchei opened #694 "Third Transform does not remove second Mobject [BUG-General]"
**Describe the bug**
If we have a scene with three Transform animations one after the other, the last one does not replace the second object and a very weird artifact appears.
I scouted around to see if this is a known problem but I failed to find some documentation on it or a related issue here on GitHub.

**To Reproduce**
Save this code in a script called "test.py" and run the command "python -m

[2020-11-10 21:55] leotrs commented on #694
Thank you for reporting.

1. Does this require three Transforms? Does it not happen when there are only two in a row?

2. I believe this is what ReplacementTransform is for. Can you please try that? (If that works, then it is absolutely our fault for not documenting it, but I'm just trying to see what works and what doesn't for now..)

[2020-11-10 22:25] glipR opened #695 "[BUG-General] OSError: dlopen() failed to load a library: pango / pango-1 / pango-1.0 / pango-1.0-0"
**Describe the bug**
After updating to the latest version of manim, I ran into the same issue as #689 . I tried the fixes located at https://docs.manim.community/en/latest/installation/troubleshooting.html#modulenotfounderror-no-module-named-generated-ffi

I don't have a ProgramFiles/Intel/Wifi folder. my zlib1.dll comes from MingW. I replaced the MingW zlib1.dll with the pango provided file and t

[2020-11-10 23:13] behackl commented on #695
Thank you for your report! This is difficult to debug from the information provided, but let's see: are you absolutely sure that your version of `zlib1.dll` is now provided via pango?

Otherwise: is there any other information you can provide so that we can figure out why precisely loading pango fails? It seems to me like your PATH contains another patched version of some library that is picked up

[2020-11-11 00:54] glipR commented on #695
Thanks for the ideas. I'd already checked `which zlib1.dll` points to the pango provided file, although I haven't done it for the rest, I can try that later.

Worth noting that before I updated manim I was running into issues with my virtual environment https://stackoverflow.com/questions/38132755/importerror-no-module-named-encodings then reinstalled manimce on a new venv.

[2020-11-11 03:57] naveen521kk commented on #695
Windows is weird. The DLL once loaded to memory will reuse that even though the content is different, and eventhough is on top of the path. So, maybe any other app loaded it before and is kept mixed up?
I know this is frustrating to say.

#### How to fix it?
Sometimes simply restarting your computer will fix it but sometimes not. If that doesn't help I will help you out with a small workaround by

[2020-11-11 03:59] naveen521kk commented on #695
Also, I more towards making `pango` optional. What do you think about this @ManimCommunity/core ?

[2020-11-11 04:56] glipR commented on #695
Ok, I was able to figure out my issue thanks to your workaround. It turns out it was referencing my already existing version of pango that came with GTK. (`ctypes.CDLL(a)` tries to open `C:\GTK\bin\libpango-1.0-0.dll`, which then complains it is not a valid Win32 application.)

I was able to fix it by removing the GTK folder, running the 4 lines of code above (just `libpango-1.0-0` was all I neede

[2020-11-11 12:28] leotrs commented on #695
@naveen521kk make PangoText optional and make the default CairoText? Or do you mean to make Text optional altogether, regardless of the backend, and encourage Tex instead?

[2020-11-11 13:06] naveen521kk commented on #695
I meant making `Text` to default to Pango, but if there is any error, like above just dont raise an error, else issue a warning and then use `Cairo` backend.
If pango, is available it is used, if not, Cairo is used.

[2020-11-11 15:32] DanieleMarchei commented on #694
First of all, I have to state a correction: the problem arises with 3 or more Mobjects with 2 or more Transforms. As I stated the bug the title should be: "**Second** Transform does not remove second Mobject". Sorry, My bad :)

Anyway, I did a bunch of experiments with the following setup:
- 4 Mobjects (Tex, Square, Circle, Triangle) to be transformed in sequence,
- There are 4 Mobjects, so 3 anim

[2020-11-11 16:54] leotrs commented on #695
I see. I'm not opposed to having Cairo as a fallback, but I think development of the Pango backend should still continue.

Also, I'd much rather this not be automatic. I'd rather raise all those errors and ask the user to explicitly change from Text (or PangoText) to CairoText. The reason behind this is that if we don't see those errors, we will never have a complete implementation of Pango.

Let'

[2020-11-11 17:00] leotrs commented on #694
Thank you for the thorough report. I think the way to go here is to encourage and document the use of ReplacementTransform, but also try to find any bugs in Transform.

I can see some use cases where Transform may be useful, even if it does not replace the mobject.

If you think the use of ReplacementTransform solves your original problem, please close this issue. If you would like to contribute t

[2020-11-11 17:19] DanieleMarchei commented on #694
Yes, the ReplacementTransform do actually solve my problem. Thank you for your time!

[2020-11-11 17:19] #694 closed

[2020-11-11 17:22] behackl commented on #694
I think that the fact that `Transform` does not actually *transform* a given object, but rather a copy of it, is weird and not really intuitive.

Maybe this is not a popular opinion, but I think that `ReplacementTransform` should be `Transform`, and `Transform` should be `TransformCopy` (or whatever it is that it actually does).

[2020-11-11 17:24] leotrs commented on #694
Yeah keeping them both but changing the names sounds like the way to go.

[2020-11-11 19:39] huguesdevimeux commented on #695
To be honest I don't really mind.
Just one thought tho : We have to be sure that stuff that use Text (such as CodeMobject) does not depend specifically on one. That's not yet the case IIRC but could be in the future specifically regarging CodeMobject.

But, why not refactoring everything and doing a abstract class `Text`, overriden by `CairoText` and `PangoText` (name are just placeholders)

[2020-11-12 00:12] MulleDK19 commented on #695
These are the issues I ran into, and how I fixed them.

1. Chocolatey installs Python 3.8 without PIP, which causes it to fail early. Installing Python 3.8 with PIP manually first fixes that issue.
2. Failing to load pango. I fixed this by moving c:\tools\pango to the top of PATH (right after Python), then running refreshenv and forcing a reinstall of manimce using `choco install mcanimce --force`

[2020-11-12 06:11] naveen521kk commented on #695
@leotrs your ideas seems ok to me. But those errors should only be raised when `Text` is called and not at each time running manim. Then it would be good.

[2020-11-12 15:14] leotrs commented on #695
Yep agreed.

[2020-11-12 15:14] #695 closed

[2020-11-12 16:52] leotrs commented on #209
Can confirm this looks like a bug. Below, the desired colors of 1 and 2 are reversed.

[code]

![2020-11-12-115225_113x139_scrot](https://user-images.githubusercontent.com/1096704/98970103-8f91c700-24dd-11eb-91c4-0e8fc056be77.png)

 Cc. @ManimCommunity/latex

[2020-11-13 17:27] ChristianCoenen opened #704 "[BUG-General] Text not working properly on master compared to v0.1.0"
**Describe the bug**
I have a method that reads a codefile, creates a Text / Paragraph object and colors it via tokens generated by pygments (through the set_color method on different ranges of the Text object e.g. Text[1:10]).

This is working very neat on version 0.1.0 as the manim image below shows:
![old_output](https://user-images.githubusercontent.com/22744609/99099853-4de74600-25db-11eb-925

[2020-11-13 17:32] naveen521kk commented on #704
Yeah, the backend has been changed to Pango and this needs some investigation.

[2020-11-13 17:37] behackl commented on #704
Hello! Thank you for your report.

So, both issues are caused by our recent switch of the text rendering engine from Cairo to Pango; if you want to restore functionality it should be sufficient to change `Text(lines_str, **config)` over here
https://github.com/ManimCommunity/manim/blob/a0548a7e5cd20a7fdd9c11734709569188ac2658/manim/mobject/svg/text_mobject.py#L393
to `CairoText(lines_str, **config

[2020-11-13 17:42] naveen521kk commented on #704
Maybe the family name be wrong?
I have no idea about it. Did you get any console warning saying that you may get ugly text? (If you are running on pycharm terminal please try and switch to cmd to see it).
Also, if it doesn't make any error message we can't figure it out we can't do anything because we dont have access to the C API underneath it.

[2020-11-13 17:45] leotrs commented on #704
I can confirm that in the past I've tried selecting a font that I know is installed in my system, but Pango will just use the default font without any kind of visible error message.

[2020-11-13 17:51] naveen521kk commented on #704
Pango uses Fontconfig at the backend to select font(we literally has no access to its API). Maybe your font config is not configured properly to detect it?

[2020-11-13 17:52] huguesdevimeux commented on #704
See #625

[2020-11-13 17:57] leotrs commented on #704
@naveen521kk good recommendation. We should document somewhere that PangoText can only access fonts that are shown when you run fc-list.

[2020-11-13 18:01] naveen521kk commented on #704
The thing is windows users will not have `fc-list` because windows doesn't use Fontconfig to manage it's font. It uses its own font API.

[2020-11-13 18:02] ChristianCoenen commented on #704
Thanks for the quick responses. Using ```CairoText``` works for me. But I think I'll update my code then to colorize the PangoText correctly (I read that Cairo might be dropped in the future). I also didn't know about Code mobject. Will take a look at it.

Good to know about the font. JetBrains Mono is not listed when running fc-list.

@naveen521kk I was able to run fc-list

[2020-11-13 18:03] naveen521kk commented on #704
(that could be because you have installed full gtk.)

[2020-11-13 19:12] ChristianCoenen commented on #704
Its a fresh Windows installation with only PyCharm, Python, Poetry,  GitKraken, manim dependencies, DaVinciResolve and Discord. There is nothing named gtk on it (not even a folder). But yeah, its probably due to some other dependency that made the command available (probably ManimLatex?).

Anyway, so the problem is that fonts which are not listed by fc-list are not found by Pango. So, is there any

[2020-11-13 22:03] fjp opened #705 "[BUG-General] error: invalid command 'bdist_wheel' (with solution)"
**Describe the bug**

On Ubuntu 20.04 (python 3.8) I followed the documentation on the required dependencies for Ubuntu/Linux and created a new virtual environment with `python -m venv venv`. When I try to install `manimce` with `pip install manimce` I get the following error:

[code]

To solve this, I had to install `wheel` with `pip install wheel` and before that I also updated `pip` using `pip

[2020-11-13 22:26] behackl commented on #705
Thank you for your report, as well as the corresponding solution!

Just for good measure: @naveen521kk, do you think we can just add `wheel` as a dependency?

[2020-11-14 01:45] chenyulue commented on #469
@behackl The new version that solved this issue hasn't been distributed on PyPi, right? manimce 0.1.0 still has the same issue.

[2020-11-14 01:47] eulertour commented on #327
This kind of makes me wonder whether adding the z-index attribute was ever the right choice to begin with. After all each mobject actually has a z-coordinate, so we could just use `s.shift(OUT )`.

But even that leaves ambiguity in how to render since you could do something like
[code]
and it doesn't answer the question as to how to render mobjects with the same z-coordinate at all.

[2020-11-14 01:51] behackl commented on #469
No, the fix is not released yet unfortunately. In fact, we have recently decided to push back a potential fix until we had some time to clean the interface of Text a little; it is very messy and in fact my proposed fix from #476 caused, for some reason, a difference in the testoutput between Linux and Windows.

Thus: sorry, this will take some time longer. :-/

[2020-11-14 02:45] naveen521kk commented on #704
Even I don't know. Usually installing the font will simply work out of the box.

[2020-11-14 04:33] pdcxs commented on #327
In my opinion, the best way to render the scene is to render objects according to the z coordinate. Objects with the same z coordinate should be rendered according to the order that they are added to the scene.

[2020-11-14 05:11] naveen521kk commented on #705
That won't be woking.
If I remember correctly, creating a venv will actually install `wheel` and `setuptools` along with `pip`. I don't know why it doesn't here. Also, if `wheel` is not available it should use setup.py without any error. I don't know why it doesn't here. Maybe this should be a venv bug?

[2020-11-14 06:24] eulertour commented on #327
A few things to consider:
1. It's _possible_ for a mobject to have different z-coordinates for different points, but I don't even know if cairo can even handle such mobjects, and it probably doesn't make sense to do anyway.

2. A mobject's position in the scene can change depending on whether or not you consider a group containing the mobject to determine its position.

[2020-11-14 08:53] behackl commented on #705
@fjp from the log you have posted, the usual behavior (if the wheel package is not available -- which seems to be a common problem with venv according to a quick google search -- then setup.py is used to build the package) can be observed, and actually the build did not fail within the lines you have posted.

Did you abort the build at some point, or was there another error down the line that actu

[2020-11-14 09:43] fjp commented on #705
@behackl and @naveen521kk thank you looking into this. I just tried with a new venv. Here is the full output:

<details>
  <summary>Click for the full output</summary>

[code]
</details>

I didn't abort the build, just looked for the first error: `error: invalid command 'bdist_wheel'` and googled for the "solution".

@naveen521kk do you have a source where this is mentioned? I have `python3-wheel`

[2020-11-14 10:17] behackl commented on #705
Thank you for the more detailed information! I agree that the output of pip is a little frightening, but judging from

[code]

I'd say that the process actually did not fail and that manim was installed successfully. Everything else here concerns how `venv` and/or `pip` work, and is outside of our scope -- which is why I am closing this again. Let us know if you run into further issues!

[2020-11-14 10:17] #705 closed

[2020-11-14 10:20] naveen521kk commented on #705
What was you pip version?
Maybe related to https://github.com/pypa/pip/issues/8178

[2020-11-14 12:31] fjp commented on #705
Inside a new venv it is:

[code]

This version seems to be not up to date and the main problem. When I create a new venv `nvenv` and update pip, then install `manimce` everyting works without "errors":

[code]

So wheel doesn't seem to be required as it is also not installed after the update.

[code]

[2020-11-14 16:08] leotrs commented on #327
I agree we should probably find a solution that uses the Z coordinate instead of a z index, or some other arbitrary ordering.

For 3D scenes, we will have the problem of occlusion (which is already documented in other issues). Cairo can handle objects whose points have different Z coordinates just fine. What it cannot handle is one object occluding only part of some other object. But that's a Cair

[2020-11-14 19:27] MulleDK19 opened #709 "[BUG-General] Certain combination of values causes AnimationGroup to add all objects at once (or does it? yes it does. or does it?)"
**Describe the bug**

If AnimationGroup has lag_ratio set exactly to 1, the objects do animate one by one, however, they're all added to the scene at the beginning of the animation.

However, there's more to it than that. I'm not sure of the exact cause, but it's a combination of various things that does it.
For example, if all objects have scale 1, lag_ratio is 1 and run_time is 5, they're all ad

[2020-11-14 19:51] behackl commented on #709
Have you tried running manim with the  `--disable_caching` flag?

[2020-11-14 20:26] daljit97 commented on #689
Thanks I was able to make this work, but to had to manually build the bindings as suggested in your link.

[2020-11-14 20:27] behackl commented on #689
Excellent, good to hear! We hope to have this issue resolved soon; for now the workaround has to be used unfortunately.

[2020-11-14 20:27] #689 closed

[2020-11-14 20:30] MulleDK19 commented on #709
Just tried. No difference.

[2020-11-14 21:23] leotrs commented on #709
Glad it worked!

In the future, you can delete the cache by using the `--flush_cache` flag.

[2020-11-14 21:23] #709 closed

[2020-11-14 22:07] behackl commented on #709
This probably still hints at some underlying issue regarding caching when using `AnimationGroup`; but this would need to be investigated separately.

[2020-11-15 14:25] huguesdevimeux commented on #709
Yes, maybe this got closed prematurely.

Just to be sure, @MulleDK19 Does everything works now?

[2020-11-15 14:31] huguesdevimeux commented on #679
I think it shouldn't too hard to refactor `CircleIndicate`,  it is only a circle well-placed.

Concerning the fill_opacity, yes it works weirdly but in theory one is not supposed to fill it. I don't think CircleIndicate should accpet as parameter `circle_config`, because by essence it is supposed to be well, just a yellow circle indicating something (although the color can change!)

[2020-11-15 14:36] huguesdevimeux commented on #636
I think it's the best solution.

It would shorten Text source code so much!

[2020-11-15 15:46] dakyion opened #712 "Improve handling of scenes without animations"
## Suggestion

When `manim` is called to render a scene without animations, this situation should be detected and
- Manim should run as if it were called with `-s`, i.e., an image containing the last (and in this case only frame) should be produced
- the log message informing the user that "0 animations have been rendered" should be adapted to explain why no video has been produced and that an ima

[2020-11-15 16:16] behackl commented on #712
Hello! The scenes you posted above don't contain animations, so `manim` will not render a video.

You can look at the generated output by adding either something like `self.wait()` in the end -- or by running `manim file.py ClassName -s` -- the `-s` flag tells Manim to render a picture.

[2020-11-15 17:25] MulleDK19 commented on #709
I haven't seen it after removing the cache and all the media.
That's not to say it's not a bug, though. But I have no idea what causes it, other than it must be related to caching.

[2020-11-15 17:54] dakyion commented on #712
Hi,
You are right, I have used the `-s` this time, and it worked.
Thanks a lot!

But, I have some **suggestion** for such a thing not to happen to others:
Either
1) You **Add** a note in the first tutorial that scenes that don't have animation must be run with an additional flag of `-s` .
or
 2) You make it **_detected automatically_**, if the scene doesn't have animation, the manim library should

[2020-11-15 18:24] leotrs commented on #712
Thanks @dakyion for your report and your suggestions. I personally think we should do the second point (detect automatically).

At the very least, for now we should maybe try to add this to the troubleshooting page.

@behackl do we want to open a new issue for this?

[2020-11-15 18:26] leotrs commented on #709
If we find a way to replicate this, then we should reopen it. If we don't find a way to replicate it, there's no way to fix the bug.

[2020-11-15 18:34] leotrs commented on #679
I agree with both points: we should remove circle_config, and we should make sure it works perfectly when the fill opacity is zero.

Additionally, if we could *also* make it work with fill_opacity > 0 that'd be great.

[2020-11-15 18:46] MulleDK19 opened #713 "Camera doesn't move when ApplyMethod is involved."
## Description of bug / unexpected behavior

When `ApplyMethod` is involved in animation, the camera fails to move in a `MovingCameraScene`

## Expected behavior

The camera moves as instructed.

## How to reproduce the issue

<details><summary>Working code</summary>

[code]

</details>

Put either of the methods in `self.play` inside an `ApplyMethod` and the camera won't move. It'll still zoom, b

[2020-11-15 19:07] behackl commented on #712
Agreed, this is a good idea.

We can use this one, no need to open a new one; I'll edit the description. This shouldn't be too difficult to add implement I think -- and we can also adapt the log message saying "Rendered 0 animations" accordingly.

[2020-11-15 19:39] behackl commented on #187
This has been implemented via #647, closing.

[2020-11-15 19:39] #187 closed

[2020-11-15 19:42] behackl commented on #225
I think `remove_stray_braces` should be removed, we should encourage users to write syntactically correct TeX.

[2020-11-15 19:45] leotrs commented on #225
Agreed

On Sun, Nov 15, 2020, 2:43 PM Benjamin Hackl <notifications@github.com>
wrote:

[2020-11-15 19:48] cobordism commented on #225
what is remove_stray_braces supposed to do? Is it really only to correct stupid errors, or does it have something to do with multiple arguments like
[code]
?

[2020-11-15 20:11] behackl commented on #225
Good question: you are right, it *is* being used when groups are split up like that:

[code]
(note the `appended }` and `prepended {` lines in the log, I've added those with prints.)

This means we should probably keep it (although the rendered tex strings actually make me wonder whether the behavior of rendering all three, `\textbf{well hello there}`, `\textbf{well hello}` and `{there}`, is corre

[2020-11-15 20:16] cobordism commented on #225
I thought as much.

So yeah. it is strange. Here is the best I can make of it.
The only actual tex that gets shown in the manim video, it the compilation of the entire string. However, the substrings are compiled individually and my guess is that this is used to identify which parts of the whole svg correspond to the substrings.

In your example we know that `{there}` will not be bold, but `well h

[2020-11-15 20:46] behackl commented on #225
I just had a brief look: essentially, `MathTex.break_up_by_substrings` is responsible for that; it splits the fully rendered string into multiple submobjects by counting how many objects the SVGs rendered from the substrings have. In the example above, `\textbf{well hello there}` is rendered, then `\textbf{well hello}` is rendered and the number of objects imported from the corresponding SVG is co

[2020-11-16 00:52] behackl commented on #225
Closing this for now, the original issue has been (sort of) resolved via #240.

[2020-11-16 00:52] #225 closed

[2020-11-16 01:13] behackl commented on #604
Maybe this approach is a bit naive, and maybe there is a better way to do things currently -- but if we would add a property `background_color` to `Scene` like

[code]
then the background color can be set just as suggested above, via `self.background_color = GREEN` etc. -- and for simple test cases, this produced correct output for me.

But then again, I'm still not that deep into the camera and r

[2020-11-16 01:17] behackl commented on #569
Fixed via #674.

[2020-11-16 01:17] #569 closed

[2020-11-16 01:18] leotrs commented on #604
This is the right way of doing it. I thought about this at some point and forgot to update this issue. Thanks for trying it out.

For now, we can just do self.renderer.camera.backgorund_color = GREEN. But I agree we could perhaps add a new property as @behackl suggests.

[2020-11-16 01:19] leotrs commented on #604
Uhm also another alternative is to just do

[code]

and call it a day?

[2020-11-16 01:34] behackl commented on #604
I really don't mind too much whether it is `self.camera.background_color = ...` or `self.background_color = ...` (the former might actually be cleaner, true) -- but without the setter calling `self.renderer.camera.init_background()`, it would not work for me.

[2020-11-16 01:41] behackl commented on #604
After thinking for another minute, I think the cleanest solution would be to add `background_color` as a parameter to `Camera` whose setter knows to run `init_background`, and then possibly have the `camera` property you suggest for `Scene`. :-)

[2020-11-16 01:57] leotrs commented on #604
Well. The *true* solution is to get rid of `Camera.CONFIG`, which would immediately put `background_color` in the constructor of `Camera`. But we know how that goes.

[2020-11-16 02:47] behackl commented on #664
Closing this, as this is a duplicate.

[2020-11-16 02:47] #664 closed

[2020-11-16 03:00] behackl commented on #527
I agree with pretty much everything you suggest; we can and should use modules whenever possible.

I still think this can be useful in certain situation; maybe in particular for arrow tips: we could move all the arrow tips into a separate `arrow_tips` module and just go with that -- but at the same time, I feel that semantically they belong to wherever `Arrow` lives. In these situations, having a

[2020-11-16 03:11] leotrs commented on #527
I agree. I think there are two things here: user-facing, the API should be `from manim import arrow_tips`. Dev-facing, arrow_tips should live wherever Arrow lives.

So in the future, we should keep both user-facing and dev-facing in mind.

[2020-11-16 06:28] #675 closed

[2020-11-16 13:57] #604 closed