[2020-11-16 14:33] behackl commented on #527
Agreed.

I don't think there is anything *concrete* to do here, so I'll close this issue again. (Feel free to reopen, @kolibril13, if you feel that we are not done here!)

[2020-11-16 14:33] #527 closed

[2020-11-16 15:52] leotrs commented on #527
I mean we could review how things are being imported right now. But I don't
think this is a priority.

On Mon, Nov 16, 2020 at 9:34 AM Benjamin Hackl <notifications@github.com>
wrote:

--
www.leotrs.com | leo@leotrs.com
PhD candidate at the Network Science Institute, Northeastern University

[2020-11-16 22:26] behackl opened #719 "CI pipelines broken"
## Description of bug / unexpected behavior

All of our CI pipelines seem to be broken right now, stating something along the lines of

[code]

This is a critical issue and should be fixed ASAP.

[2020-11-17 01:03] #719 closed

[2020-11-17 07:14] huguesdevimeux commented on #712
I'm not a huge fan of detecting automatically. It will be a huge source of confusion.
Why not just raising an exception? If the partial movie file lsit is empty, it means that there is nothing to render.

[2020-11-17 07:42] behackl commented on #712
I see the error stating that the partial movie file is empty still too often to be comfortable with this approach. I don't think that the combination of printing a warning and rendering an image instead would raise much confusion though.

Whatever we do, it would be good to have more explicit messages in the case of 0 animations. :-)

[2020-11-17 15:28] cobordism commented on #209
Sometimes you just have to try by hand. You'd create `t = MathTex(r"e_1^2")` and then experiment with the individual pieces - addressing them by index like: `t[0][2]`.

The issue is that as far as the svg image goes, `e_1^2` and `e^2_1` are the same  and so figuring out in maim which part of the svg came from the `_1` and which came from the `^2` is harder than it looks.
The current system is very

[2020-11-17 17:22] Reantric opened #722 "Concurrent ApplyMethod calls fail for Mobject"
## Description of bug / unexpected behavior

self.play only works for the last argument of concurrent ApplyMethod calls.

## Expected behavior

The Mobject in question is supposed to act on all concurrent *ApplyMethod calls but it only works for the last one supplied.

## How to reproduce the issue

<details><summary>Code for reproducing the problem</summary>

[code]

</details>

## Additional med

[2020-11-17 18:07] plof27 opened #723 "Brace text causes "list index out of range""
`Windows 10, Python 3.8.6, latest Manim Chocolatey`

## Description of bug / unexpected behavior
When trying to label a brace with some text, manim throws `IndexError: list index out of range`

## How to reproduce the issue

Attempting to call `get_text` on a `Brace` with any non-empty string produces the error.

<details><summary>Code for reproducing the problem</summary>

[code]

</details>

The

[2020-11-17 20:20] MulleDK19 commented on #722
Possibly related to #713

[2020-11-17 23:45] #595 closed

[2020-11-18 00:37] leotrs commented on #723
Hi! Thank you for your report. The code you have shared does not contain any animations. Have you tried running this script using the `-s` flag?

[2020-11-18 06:38] behackl commented on #448
Let us say that this is resolved for now. There is still more work to be done to make examples in the reference manual easier to find (in particular, @kolibril13 and I were discussing a complete "list of examples"), but I'll open a separate issue for that once the idea is clearer.

[2020-11-18 06:38] #448 closed

[2020-11-18 06:51] naveen521kk commented on #704
Found out on discussing with Pango developers that this is because of ligatures and can't be avoided. But Pango itself can handle colours but currently, our SVG parser doesn't support this. So, moving the `Text` class to not use the SVG parser may be one way but that requires a lot of work and the binding we use isn't complete. So, one now using CairoText would be a possible solution and also maki

[2020-11-18 13:18] leotrs commented on #704
Ooooooh ligatures!! Yikes I wouldn't have thought of that. Thanks for the report @naveen521kk

So as far as I can tell, the actual fix is to fix our SVG parser so read SVGs output by Pango. This is of course a major task that we have been putting off for a while.

So right now, if the user wants different fonts, they have to use PangoText, but if they want colored text, they have to use CairoText

[2020-11-18 14:09] naveen521kk commented on #704
I would rather not use SVG here. Cairo can directly return NumPy arrays. So, using that will work but requires a full rewrite of `Text` class.

[2020-11-18 14:17] naveen521kk commented on #704
Or we can simply set a parameter like `code` where it renders character by character as in https://github.com/naveen521kk/manim/commit/ab239c22b326d6010957f0bb57289a0736a844ab if `code` is set to true, then everything would look good? What to you think?

[2020-11-18 14:24] leotrs commented on #704
Character-by-character would mean no ligatures no? Also perhaps no kerning, tracking, etc. That would make text render in a way that is not as intended. Also, I wonder if that would be considerably slower?

[2020-11-18 14:29] naveen521kk commented on #704
Character-by-character means no ligatures yes. I don't know whether it make it slow.

That's why I am saying it will be done only when a parameter is set to true. Or rather than character by character we can use `layout.set_markup("<span font_features='liga=0'>#This is some custom confl</span>")` which will simply disable it. Note, if this is done for other languages which depend on ligatures heav

[2020-11-18 15:01] Pragyaan-6988 opened #726 "Matrix object doesn't return rows correctly"
## Description of bug / unexpected behavior
For a `Matrix` object of shape `m x n`, the `get_rows` method currently returns `n` rows instead of `m`. So when m > n, only n rows are returned and for m < n, `IndexError` is thrown.

## Expected behavior
Return all rows of the `Matrix` object.

## How to reproduce the issue
<details><summary>Code for reproducing the problem</summary>

[code]
[code]
</d

[2020-11-18 16:03] plof27 commented on #723
I have tried, yes, but I still get the same issue.

[2020-11-18 21:39] XorUnison opened #727 "Closed curve class"
Manim already has more specific classes for geometry such as `Polygon`. One of my current in-progress PRs adds `ArcPolygon` which is a more general and versatile version of a polygon allowing for arcs. The completely generalized version is a closed curve, for which we should have a `ClosedCurve` eventually, allowing properly filled and animated shapes of arbitrary complexity by taking in functions

[2020-11-18 22:01] leotrs commented on #704
I see. Yeah, there are a few ways of patching it. But no easy way of actually fixing it it seems :sweat:

At this point I'm looking forward to hearing what others think. I'm not leaning either way right now.

[2020-11-18 22:12] dakyion opened #728 "Confusion between the two manim libraries"
## Description of bug / unexpected behavior

When running the following command:
`manim file.py`
There is an exchange of the library used, it should use manimce, but instead of that, it is using the original manim
(I have installed both of them)
the error

The solution to this problem was to switch to the calling syntax of the original manim
`python -m manim file.py`
which have called the manimce

[2020-11-18 22:25] leotrs commented on #726
Hello @Pragyaan-6988 and thanks for the report! This does sound like a silly bug (maybe even a typo). Would you be interested in opening a PR for this?

cc. @ManimCommunity/geometry

[2020-11-18 22:31] leotrs commented on #723
@plof27 I am led to believe that this should be working with the latest (as of today) version. Unforunately, the chocolatey package is not updated daily, so this should be fixed eventually, as soon as the current version makes its way to chocolatey. Cc @behackl @naveen521kk

[2020-11-18 23:14] leotrs commented on #209
Thanks @cobordism, good point. I can confirm that the following code seems to yield the desired output.

[code]

I think this is a fair workaround for the time being, and that anything better would require a massive rewrite. So I'm closing this for now.

[2020-11-18 23:14] #209 closed

[2020-11-19 00:53] eulertour commented on #704
I don't have a lot to add since I haven't had a part in the recent font developments, but from the issues I've seen on the discord and problems like this I think it'd be best for Cairo to be the default for rendering fonts and Pango to have opt-in APIs like `PangoText` and an optional installation.

This and the windows installation problem are both hard to debug and don't have good solutions even

[2020-11-19 02:51] leotrs commented on #556
Any updates on this one?

[2020-11-19 03:01] leotrs commented on #591
What is the status of this after #687 has been merged?

[2020-11-19 03:02] leotrs commented on #606
Depends on #530

[2020-11-19 03:20] naveen521kk commented on #728
FYI! You can call manim using `manimce` command also.

[2020-11-19 03:50] kilacoda commented on #728
it should be like this:
manimce file.py

You can already do that. Manim creates two entry points (aka terminal commands) on install, namely `manim` and `manimce`.

[2020-11-19 03:53] leotrs commented on #728
Thanks @naveen521kk and @kilacoda.

I'm closing this as the suggestion is already implemented. @dakyion please feel free to open new issues if you encounter other problems :slightly_smiling_face:

[2020-11-19 05:04] PhilippImhof commented on #556
I'd say this can be closed. The linked PR resolves it, IMHO. Let's see if @cobordism agrees.

[2020-11-19 08:17] #636 closed

[2020-11-19 08:28] kolibril13 commented on #727
This would definitely be a great addition!
E.g. in the use case of intersecting graphs this could be very useful.
At the moment this is done by rectangles, which is not the perfect solution:
https://docs.manim.community/en/latest/examples.html#graphareaplot

[2020-11-19 12:34] cobordism commented on #556
yes. this one is done in PR 567

[2020-11-19 12:34] #556 closed

[2020-11-19 12:55] #726 closed

[2020-11-19 12:56] leotrs commented on #726
Fixed in #734. Thanks @Pragyaan-6988 !

[2020-11-19 14:14] dakyion commented on #728
@leotrs
Is it implemented in the 0.1.0 release?
Because it is not working for me, should I add something to the PATH manually?

ou externe, un programme exécutable ou un fichier de commandes.

it says that the term `manimce` is not known as an internal command or external or and an executable file or a command

[2020-11-19 14:17] naveen521kk commented on #728
On `v0.1.0`  is was `manimcm`, which was changed to `manimce` in the master branch.

[2020-11-19 14:17] leotrs commented on #728
Weird. This is inside VSCode, correct? Can you please try on a standalone terminal, outside VSCode?

[2020-11-19 14:25] dakyion commented on #728
@leotrs
I have tried in both of them, the same error

@naveen521kk
Thanks, that worked for me now!

---
I will wait for the next stable release for the new syntax
Thanks for you all!

[2020-11-19 14:26] leotrs opened #735 "Debugging / workflow tools"
## Description of proposed feature
The process of building animations with manim is quite arduous. One thing that I have identified that would help me a lot is to have the option to show guidelines on screen. These are optional and easily toggle-able thin lines rendered on top of the scene to serve as position and coordinate guides. Basically any other software for design/slideshows/etc allows the

[2020-11-19 14:28] leotrs commented on #728
Thank you for reporting!

[2020-11-19 14:28] #728 closed

[2020-11-19 15:22] #690 closed

[2020-11-19 15:40] behackl opened #737 "make clean for Makefile in docs broken"
## Description of bug / unexpected behavior
The command removes content of the directory `../build`.

## Expected behavior
It should remove content of `build`. This is caused by a recent change (#699) of the corresponding paths.

[2020-11-19 15:42] behackl commented on #737
/cc @MysaaJava

[2020-11-19 15:56] MysaaJava commented on #737
Indeed ... I will make a PR to quickly fix this. When i will make a PR for i18n, i will refactor make a bit and add tests for docs build.

[2020-11-19 15:57] #389 closed

[2020-11-19 16:43] XorUnison commented on #727
Indeed, that would exactly be the kind of situation `ClosedCurve` could be used for. I take it that `GraphScene` does an internal rectangle schtick? Yeah... that's not ideal at all. I get it for as long as you specifically want to show the rough bars for derivative reasons, but otherwise a proper `ClosedCurve` class could be better used for this and so much more.

[2020-11-19 16:54] XorUnison opened #739 "Shapes with cutouts"
Another feature request I'll write down here to take care of eventually myself, probably after `ArcPolygon`. While I was working on the Hadwiger-Nelson problem I created the highly complex class `ExclusionZone`, and while I was worrying that their appearance of a roughly annulus shaped zone with a central cutout wouldn't render nicely, I did in fact find manim to be able to render them perfectly.

[2020-11-19 19:45] nilaybhatia opened #741 "Add initialisation-using-substring support for `Text`, similar to `Tex`"
## Enhancement proposal
Currently, `Tex` supports initialisation using multiple strings. This allows for easy access of substrings which is useful for say changing the color of a substring only. I think it would be great for `Text` to have this functionality as well.

[code]

[2020-11-19 20:29] MysaaJava commented on #737
Well ......... @behackl Isn't it supposed to do that ? Every doc building process is done in the source/ folder, and build files are at ../build, relative to this folder. Do you have files that are not cleared ? Because, on my computer, it seems like everything is done correctly.

[2020-11-19 20:34] behackl commented on #737
Let me check again later to make sure, but I think my `build` directory was not emptied when I used it earlier. Will report back.

[2020-11-19 20:34] cobordism commented on #737
what about `./source/media`? Should that not be cleared as well?

On a related note, if you have one version of manim in your local working directory and another version installed, then `make html` will generate a hybrid Frankenstein's Documentation -- namely, Sphinx takes the local directory for the local .rst files, but the module docstrings will be taken from the installed manim version ...

[2020-11-19 20:44] behackl commented on #737
I am not sure that there is a way around that -- and I don't think we should start supporting having multiple installations of manim next to each other.

[2020-11-19 20:54] cobordism commented on #737
This is not a feature request. All I am saying is that typing `make html` inside a github-checked-out manim/docs directory does _not_ compile docs from within that directory... and that was not clear to me and caused me headaches earlier today.

[2020-11-19 20:58] behackl commented on #737
I see. We should probably document it somewhere!

[2020-11-19 21:01] MysaaJava commented on #737
I'll see if i can do something about it this week-end. (I'm adding this to my big docs PR todolist ^^)

[2020-11-19 22:23] leotrs commented on #741
I think this is a good idea. May help perhaps with #704 cc @naveen521kk

[2020-11-19 22:41] leotrs commented on #622
This issue doesn't have a clear follow-up or TODO item. So in the interest of moving things forward, here is a list of current people who have chosen to do (or who have found themselves being assigned to) devops-y things:

- manim.community website @cobordism, @behackl
- general managing of releasing and packaging @eulertour
- maintaining our CI procedures @naveen521kk
- Discord server settings @b

[2020-11-20 01:21] leotrs commented on #625
Fixing #704 would fix this, correct? If yes, we should close this as duplicate. If no, can someone please clarify what would be left to do after fixing #704?

[2020-11-20 01:42] leotrs commented on #722
Unfortunately this is not going to work without a _major_ rework of `ApplyMethod`. The way `ApplyMethod(obj.method, args)` works is by first obtaining the _final_ or target object by calling `obj.method(*args)` and then gradually interpolating `obj` into that final/target at each frame.

So each `ApplyMethod` object in your code is interpolating the same object into a different target. But because

[2020-11-20 02:39] leotrs commented on #279
This was being blocked by #342, which was actually superseded by #488, which has been merged. So let's pick this one back up.

@kolibril13 I think I understand you now! Is this what you mean?
[code]

[2020-11-20 03:54] naveen521kk commented on #741
Currently, the colouring is broken. Also, I remember having a similar implementation somewhere? like the `t2c` parameters?

[2020-11-20 08:23] behackl commented on #737
There must have been some other issue with me using the makefile, it does clean the correct directory for me.

Sorry for the noise.

[2020-11-20 08:23] #737 closed

[2020-11-20 08:39] kolibril13 commented on #279
Yess, exactly!

[2020-11-20 09:52] ChristianCoenen opened #745 "CairoText not working with strings that are longer than 30 lines"
## Description of bug / unexpected behavior
When I read a file of any text that is longer than 30 lines and use the resulting string to create a CairoText object, the creation crashes with the exception shown below. Standard setup as described in the documentation (Windows 10). But I think it has nothing to do with the setup.

## How to reproduce the issue

[code]

</details>

## Logs
[code]

[2020-11-20 10:20] behackl opened #746 "Succession produces weird output"
## Description of bug / unexpected behavior
`Succession` (sometimes?) seems to mess up initial states of mobjects included in the passed animations. See the example below.

## Expected behavior
The initial states should be respected (and in particular: mobjects should not appear before their creation animation is played).

## How to reproduce the issue
In the example below, the blue circle appears

[2020-11-20 12:51] leotrs commented on #279
I think I'm onboard with this in general. However, note there will be a big difference between matplotlib and manim. When you change colormap in matplotlib, it changes the default color that it uses _when you don't specify a color_. For example, the color of the line plotted by `plt.plot(x, y)` changes. But even after choosing a colormap, you can do `plt.plot(x, y, c='r')` and it will use the stan

[2020-11-20 13:24] #645 closed

[2020-11-20 14:05] ponmike92 opened #749 "Can't set frame_width / frame_height via .cfg file"
It seems strange but I can't change frame_width or frame_height via .cfg file.
I use the latest version of code from master branch. But it as well the same if I use Manim as lib.

I have this structure:
[code]

manim.cfg
[code]

main.py
[code]

OUTPUT
[code]

However, if I change values programmatically, not through .cfg file (if it comes to frame_width or frame_height) manim successfully change t

[2020-11-20 14:07] leotrs commented on #749
Hi @ponmike92. Could you please use the rest of the issue tempalte? To be able to help you, we need to know what is the version you are using, as well as how you determined that this didn't work. A code snippet would help a lot. Thanks.

[2020-11-20 19:46] leotrs commented on #745
Thanks for reporting @ChristianCoenen. I can confirm this bug on latest master (even with a hard-coded very long string, no file involved).

[2020-11-20 19:58] leotrs commented on #746
After 5min digging, I would point my finger to `Scene.get_moving_mobjects` first. I don't see any other way that the blue circle is being added to the scene other than the fact that it's being treated as an stationary mobject and just being painted in the background.

[2020-11-20 19:58] leotrs commented on #746
But then again I may be wrong

[2020-11-20 20:39] leotrs commented on #157
This sort of got derailed into discussing a bug that is now documented in #183 and I am currently working on #698

Is there an issue with `Write` that is independent of this?

[2020-11-20 21:19] leotrs commented on #325
I've looked at this a bit more and I've determined Mobject cannot be made an abstract base class. The reason is that it is a derived class from Container, and Container is already an abstract base class.

I still think it'd be good to raise a warning saying "you shouldn't try to render Mobjects". But this is not a priority I think.

[2020-11-20 21:19] #325 closed

[2020-11-20 21:20] leotrs commented on #310
Closing in favor of #279

[2020-11-20 21:20] #310 closed

[2020-11-20 21:59] leotrs commented on #306
We are thinking of not using z_index anymore, so my last comment doesn't work anymore.

On the topic of this issue: I think there are deeper refactorings to be done with submobjects (#358), so whatever is done to fix the present issues would be temporary at best. Closing for now.

[2020-11-20 21:59] #306 closed

[2020-11-20 23:06] leotrs commented on #31
As we have currently no one working on improving SVG support, and it is not one of our current priorities, I am closing this issue for the time being.

This issue will be reopened when someone takes on the challenge to improve SVG support.

All issues (open or closed) related to SVG support can be found [in the SVG project board](https://github.com/ManimCommunity/manim/projects/8#card-49797664).

[2020-11-20 23:06] #31 closed

[2020-11-20 23:06] leotrs commented on #437
As we have currently no one working on improving SVG support, and it is not one of our current priorities, I am closing this issue for the time being.

This issue will be reopened when someone takes on the challenge to improve SVG support.

All issues (open or closed) related to SVG support can be found [in the SVG project board](https://github.com/ManimCommunity/manim/projects/8#card-49797664).

[2020-11-20 23:06] #437 closed

[2020-11-20 23:06] leotrs commented on #355
As we have currently no one working on improving SVG support, and it is not one of our current priorities, I am closing this issue for the time being.

This issue will be reopened when someone takes on the challenge to improve SVG support.

All issues (open or closed) related to SVG support can be found [in the SVG project board](https://github.com/ManimCommunity/manim/projects/8#card-49797664).

[2020-11-20 23:06] #355 closed

[2020-11-20 23:06] leotrs commented on #100
As we have currently no one working on improving SVG support, and it is not one of our current priorities, I am closing this issue for the time being.

This issue will be reopened when someone takes on the challenge to improve SVG support.

All issues (open or closed) related to SVG support can be found [in the SVG project board](https://github.com/ManimCommunity/manim/projects/8#card-49797664).

[2020-11-20 23:06] #100 closed

[2020-11-21 08:39] ponmike92 commented on #749
I have also noticed:
'frame_x_radius' duplicates behaviour of 'frame_width'
'frame_y_radius' duplicates behaviour of 'frame_height'

This config options seem to be redundant, aren't they?

[2020-11-21 10:13] eulertour commented on #704
Is there any plan to address this? I'd rather not cut a new release with a known regression from the previous one.

[2020-11-21 13:56] leotrs commented on #704
I tend to agree. CairoText seems more stable, we should use it as default for a bit longer.

Development of PangoText should not stop, by any means, and all the work by @naveen521kk should not ngo to waste. Anyone want to pick up or help him finish ironing out the details?

[2020-11-21 14:02] #667 closed

[2020-11-21 15:58] leotrs commented on #749
Thank you @ponmike92. You are right that the `frame_width` and `frame_height` cannot currently be changed via config file. I am preparing a PR as we speak. Thanks for reporting!

Yes, frame_*_radius is redundant with frame_*. These are kept mostly for backwards compatibility. Perhaps we should deprecate them soon.

[2020-11-21 16:57] huguesdevimeux commented on #157
@leotrs Well I don't really know.
To be honest I don't even think it's related to t values, but rather to the SVG thing that does not provide the same vectorized images for a certain t value on several systems. I say that because t values are consistent over the systems.

(and btw if you choose to fix 698 by adding a new frame at the end of the video (whoch I don't really mind), it won't definitel

[2020-11-21 17:00] huguesdevimeux commented on #325
Could you clarify this? I don't see how bother an abstract class.

[2020-11-21 17:44] huguesdevimeux commented on #735
This seems to me a very good idea. I'm just reserved on the idea of adding this directly to the scene as an object.

I think it would make more sense at any level (including the practical one) to put this in an totally external way, by superposing the normal frame with a debug frame, I don't know.

[2020-11-21 18:12] leotrs commented on #157
I see. I think this (and possibly many other bugs) will be revealed once we have video tests (#618 ). We're not too far away from getting those.

[2020-11-21 18:13] leotrs commented on #325
This was discussed over discord, but for completeness: Mobject can't derive from ABC and Container at the same time, because Container already derives from ABC.

[2020-11-21 18:17] leotrs commented on #325
I believe Mobject can still be made into an abstract class in some other way, for example by decorating one of its methods with `@abstractmethod` (see [here](https://stackoverflow.com/questions/48336655/how-to-make-an-abstract-class-inherit-from-another-abstract-class-in-python)). However, if we do so, then each of its derived classes has to override that method. Note that Group and Vmobject both

[2020-11-21 18:19] leotrs commented on #735
Ok I see your point. The way I'm proposing would add a lot of Mobjects to the scene that are there only for debug purposes. And this may be an obstruction for the end user.

[2020-11-21 21:56] eulertour commented on #704
It looks like reverting #609 is the first step, is everyone okay with that?

[2020-11-21 22:40] MysaaJava commented on #589
I'll try to do something about this. I need to make some hooks for the i18n thing, so i take that as a test ^^.

[2020-11-21 22:53] #305 closed

[2020-11-21 23:10] leotrs commented on #563
I believe an MVP for this is fairly easy to implement. I'm just waiting to close #183 before moving on to this one. If anyone else cares, go ahead!

[2020-11-21 23:11] leotrs commented on #555
Was this closed by #561 ?

[2020-11-21 23:13] leotrs commented on #528
#752 will close this.

[2020-11-21 23:14] leotrs commented on #524
We already have a renderer class. As I see no clear To Do item here other than that, I'm closing this. Please reopen if I missed anything.

[2020-11-21 23:14] #524 closed

[2020-11-21 23:16] leotrs commented on #510
@huguesdevimeux @nilaybhatia so the To Do item here is to get rid of set_value and get_value and nothing else? I'd suggest adding a deprecation warning for now.

[2020-11-21 23:23] leotrs opened #757 "PangoText should issue a warning if the font is not found"
## Description of bug / unexpected behavior
When requesting a font that is not found, `PangoText` just uses the default font without issuing a warning or error.

## Expected behavior
The user should be warned if the font is not found.

## How to reproduce the issue

<details><summary>Code for reproducing the problem</summary>

[code]

</details>

## System specifications

<details><summary>System

[2020-11-21 23:23] leotrs commented on #487
I believe this issue has ran its course. We do still have issues with PangoText, but at least now changing fonts is possible in principle. The standing issue is how to make PangoText show a warning if the font is not shown; for that see #757

[2020-11-21 23:23] #487 closed

[2020-11-21 23:24] leotrs commented on #486
No objection here.

[2020-11-21 23:31] leotrs commented on #357
Unfortunately, I believe this is not within the realm of our possibilities in the near or medium future. Once we have better support for 3D stuff and/or have an OpenGL renderer, we can reopen this.

[2020-11-21 23:31] #357 closed

[2020-11-21 23:31] leotrs commented on #357
Marking as wontfix for now

[2020-11-22 00:37] ponmike92 commented on #749
@leotrs no problem

as well as that I noticed that there was these settings in default.cfg file in v0.1.0 of Manim

[code]

But in current newest branch these settings were removed. Now I can't figure out how user can override these settings (pixel_height/pixel_width/frame_rate for different qualities) through user-wide or folder-wide .cfg file. Is this feature unavailable anymore?

[2020-11-22 00:40] leotrs commented on #749
pixel_height, pixel_width, and frame_rate are still present in the default.cfg file, under the [CLI] section. A user can change them in the same way, by placing them in the [CLI] section of user-wide or folder-wide files.

The sections you point out were not really used for any configuration, but for default values that are used when the *quality flags are present. These are now stored elsewhere.

[2020-11-22 02:28] leotrs commented on #637
Given that there has been only one instance of this problem, I think this has very low priority. Let's revisit if more people have this problem.

[2020-11-22 02:28] #637 closed

[2020-11-22 03:03] naveen521kk commented on #757
I get a warning like
![image](https://user-images.githubusercontent.com/49693820/99892689-61f70b80-2c9d-11eb-830a-4cf44fb23162.png)
on windows.

[2020-11-22 03:06] leotrs commented on #757
Interesting! I get nothing on Linux, even with `-v DEBUG`.

[2020-11-22 03:10] naveen521kk commented on #757
That's actually not passed from Manim though. Pango directly issues a waning from its process and that is what displayed there. Maybe try some lower level of terminal (for example cmd in windows).

[2020-11-22 03:11] leotrs commented on #757
Well, the purpose of this issue is to make sure that the warning reaches the user regardless of the terminal they are using.

[2020-11-22 03:12] naveen521kk commented on #757
I don't think we would be able to do that unless we have access to their C API, or maybe a good wrapper which convert these warning to python's warning.

[2020-11-22 09:04] PhilippImhof commented on #555
I would say so, yes.

[2020-11-22 09:04] #555 closed

[2020-11-22 13:40] Aathish04 commented on #452
I would _highly_ recommend moving to another command line parsing library other than `argparse`, if only for the reason that implementing new subcommands is unnecessarily long winded. `click` would be my first choice, since it seems to be the most well maintained library (other than `argparse` or `optparse`) out of all our options.

[2020-11-22 15:07] leotrs commented on #757
Yeah I think you are right.

[2020-11-22 15:09] #411 closed

[2020-11-22 16:42] huguesdevimeux commented on #441
i'm going to temporary close this, as I'm not going to work on this for a while.

If someone want to be interested in, feel free to re-open it.

[2020-11-22 16:43] huguesdevimeux commented on #461
Closing this, for the same reason as #441 .

[2020-11-22 16:43] #461 closed

[2020-11-22 18:03] naveen521kk commented on #757
See https://github.com/leifgehrmann/pangocffi/issues/26

[2020-11-22 20:26] protonlaser91 opened #761 "Animation of ParametricFunction (related to copying Mobject)"
## Description of bug / unexpected behavior

Copying a mobject fails when trying to graph a ParametricFunction.

## Expected behavior

The copying is successful and the ParametricFunction is successfully graphed.

## How to reproduce the issue

<details><summary>Code for reproducing the problem (inside </summary>

[code]

</details>

## Additional media files

<details><summary>Images/GIFs</summar

[2020-11-22 20:30] huguesdevimeux commented on #761
Hi, thanks so much for the report.

I don't see where/how you are trying to copy something. Am i Missing something?

On another hand, could you please try to run the same scene with `--disable_caching`?

[2020-11-22 20:46] protonlaser91 commented on #761
No problem! I am not intrinsically trying to copy anything, but I combed through the traceback and found the error to be with the Mobject.copy() method. I tried running the same scene with the flag --disable_caching and the result was not different. Thank you for your help!

[2020-11-22 22:08] protonlaser91 commented on #761
Ah I figured something out, changing func to a staticmethod without the self parameter fixes the issue. This is very interesting and I'll look into it more.

[2020-11-22 23:05] leotrs commented on #761
@protonlaser91 thanks for reporting this.

Mobject defines the `copy()` method, which executes the same code as in your stacktrace: `copy.deepcopy(self)`. There are other parts of the codebase that use this method, so it seems like this is not necessarily the culprit.

Since your `func` does not require access to `self` I suggest defining it outside of the class (not even as a static method of the

[2020-11-23 01:27] protonlaser91 commented on #761
This does! Thank you.

[2020-11-23 01:27] #761 closed

[2020-11-23 03:16] leotrs commented on #590
@MysaaJava, I appear to be wrong, as @behackl let me know a few days ago.

There are two branches open (one by @naveen521kk and one by @XorUnison) with associated open PRs. Once those PRs are merged, those branches should be deleted automatically.

@PgBiel can you please delete the `attrs` branch?
@kilacoda I'm not sure if you are working on the `addon-system` branch? If not, please delete it :sli

[2020-11-23 03:29] naveen521kk commented on #590
I am worried when I use Github Editor it creates a branch here and not my fork.

[2020-11-23 03:33] leotrs commented on #590
Oh yeah I think that's it. TBH I don't mind it that much. We've already
reduced the number of branches by a lot. If you open a branch here, just
make sure to delete it asap and not leave it abandoned. (I also assume that
you use GH editor for quick stuff that is easy to merge so even better).

On Sun, Nov 22, 2020, 10:30 PM Naveen M K <notifications@github.com> wrote:

[2020-11-23 12:30] leotrs commented on #588
I checked off a couple of items that are done.

@cobordism and I have a WIP fof #7, see #763

Did anyone reach out to developers of other projects?

[2020-11-23 15:22] Aathish04 commented on #745
There appears to be a limit on the actual width of the string that shows up on screen.

| Character      | Max Number in string | Max Width| Single Char Width |
| ----------- | ----------- | -----------|------------------|
| A                   | 101   |   33.66953125| 0.31992185
| B   | 101        |33.6261719| 0.2765625|
|a| 121 | 33.6166015| 0.2474609|
|Ǆ| 55| 33.9277344| 0.5732422|

Any string

[2020-11-23 15:30] leotrs commented on #745
Great work. Yes, unfortunately, SVGMobject is not in good shape.

[2020-11-23 16:42] behackl commented on #745
This is basically what I tried to fix with #476. For CairoText, we still might be able to fix it -- and Pango needs a bit more work anyways.

[2020-11-23 20:00] ChristianCoenen commented on #745
Does this also explain why the following string fails? Because i wouldn't assume that the whitespace is so 'wide' and its just 30 occurances. It also doesn't result in a horizontally wide text but vertically one. I'd definetely double check the '\n' string below when trying to fix it. Might be an edge case.
[code]

[2020-11-23 20:03] Davide95 opened #768 "Shift x_axis_label/y_axis_label before the animation"
## Description of proposed feature

Now it is not possible to shift `x_axis_label`/`y_axis_label` (e.g. below the axis) if `setup_axes(animate=True)` because the shift could happen only after the animation and not before

## How can the new feature be used?
It could be useful when you have long texts as labels or a quadrant more filled than another to move the label of an axis before the initial a

[2020-11-23 20:30] leotrs commented on #768
I'm not familiar with the axes mobjects, but this sounds positive in general.

What do @XorUnison @kolibril13 think?

[2020-11-24 04:38] ponmike92 opened #769 "AnimationGroup doesn't handle rate_func in self.play"
## Description of bug / unexpected behavior
AnimationGroup ignores rate_func in self.play method but run_time not.

## Expected behaviour
It should handle rate_func as well as run_time if it is not setted as its own kwarg.

## How to reproduce the issue

[code]

</details>

## Additional media files
![TestAnimGroup](https://user-images.githubusercontent.com/64367553/100048993-4ddf1580-2e27-11eb-81

[2020-11-24 12:00] NeoPlato commented on #441
I have successfully implemented this livestreaming my dudes.

I don't know exactly how pull requests work or how I can share my own development of this, so I'm willing to spew words if anyone's interested.

[2020-11-24 12:20] kolibril13 commented on #768
I like the idea!
That would be a quite useful addition.
Do we actually plan to make a more proper implementation of this Graph class?
I think it would be super nice to just type self.graph.x_axis_label = ...

[2020-11-24 12:26] behackl commented on #441
Hello! That sounds like really good news!

In order to have a meaningful discussion about your implementation, we will need to actually see your changes. The easiest way of doing this is pushing a branch containing your implementation to a fork of the ManimCommunity/manim repository:

- Visit https://github.com/ManimCommunity/manim and hit "Fork" to create your own copy of the repository
- Use git

[2020-11-24 12:42] Pragyaan-6988 commented on #722
I made [these](https://github.com/Pragyaan-6988/ManimCE/commit/0c96215723f9daae2be844c1bba3f5839834fb5f) changes and it works. I haven't tested it enough to conclude it's the solution though. Any thoughts on these changes?
The idea is to generate a new target to the `mobject` only if its attribute `target` is `None` (which means there are no targets generated so far). If `mobject.target` is not `N

[2020-11-24 12:44] leotrs commented on #441
https://docs.manim.community/en/latest/contributing.html#polishing-your-changes-and-submitting-them-for-review

[2020-11-24 12:56] leotrs commented on #769
`run_time` is not being ignored (the green lines take the same time to reach their destination as the red line takes to reach its own).

`rate_func` is being ignored however. Most likely a bug in how Scene parses the arguments of `play` or a bug in AnimationGroup itself.

[2020-11-24 13:10] huguesdevimeux commented on #441
@NeoPlato I can't wait to see what you did!

[2020-11-24 13:33] NeoPlato commented on #441
![Concept](https://user-images.githubusercontent.com/67624028/100100983-b0a9ce80-2e72-11eb-90f7-eabd93575db1.gif)

[2020-11-24 16:43] Davide95 commented on #768
Hey @kolibril13 I'm glad you like the idea.

We already have that (`self.y_axis_label_mob` and` self.x_axis_label_mob`) but there is no way to change their position before the animation since they are instantiated during the execution of `setup_axes` (see `manim/manim/scene/graph_scene.py`)

Yup we could definitely rewrite it, but it could break the compatibility with `3b1b/manim` while my initial

[2020-11-24 17:44] NeoPlato commented on #441
Well, I tried on my own. I am way lost.

So I've been editing the files that came with the zip file I uploaded from ManimCommunity. The master branch gave me problems with pango and cairocffi and the like so I didn't even touch it and moved to a GeometryAdditions one.

Took me three hours to translate the working from 3b1b manim to ManimCommunity. And I don't even know how the command `git push` i

[2020-11-24 18:29] AdamJel opened #770 "Interactivity / live streaming for use in explonatory / educational apps"
## Description of proposed feature
Hi, IMO it would be great, if the output of this library was not only video, but some sort of a permanent live stream, which could be use for interactivity. By interactivity I mean that the output would change based on change in code. That could be used in terminal (as in #441 ), or in **jupyter** or **dash**/plotly. That way, easy python-only apps could be build

[2020-11-24 18:36] silgon opened #771 "failed to load a library: pango / pango-1 / pango-1.0 / pango-1.0-0"
#### Preliminaries

- [x]  I have followed the latest version of the  [installation instructions](https://docs.manim.community/en/latest/installation.html).
- [x] I have checked the [troubleshooting page](https://docs.manim.community/en/latest/installation/troubleshooting.html) and my problem is either not mentioned there,
      or the solution given there does not help.

## Description of error

[2020-11-24 18:37] AdamJel commented on #770
Also, the above description could be consider as 0. level of interactivity. Then there could be 1. level, which would integrate some interactive features as panning and zooming from dash/plotly library. So that user can visualize some function, see how it reacts to parameters change and zoom in/out, move, etc. for better usability.

No, how could this be achieved?

[2020-11-24 18:45] leotrs commented on #768
Backwards compatibility with 3b1b is not a priority for our project. I
think it's fine to have breaking changes in just the ond class.

Having said that, I'd suggest we start with the easy implementation and
think about s major rewrite in the future.

On Tue, Nov 24, 2020, 11:43 AM Davide Riva <notifications@github.com> wrote:

[2020-11-24 19:21] MysaaJava commented on #426
Hello ©ManimCommunity ! I'm making an update on the progress on the internationalization (i18n) thing. Please tell us what you think about how we planned to setup things. I will give you links to the dummy clones I made so you can check how it renders. If you read everything and you agree, please react with :thumbs_up: .
We are planning to use Transifex (https://www.transifex.com) to have a nice U

[2020-11-24 19:36] Davide95 commented on #768
@leotrs ok then, I'll try to do a PR asap:)

[2020-11-24 21:52] leotrs commented on #771
Hi @silgon . Thanks for reporting this.

Can you please try executing this and then trying again?
[code]

[2020-11-24 21:54] leotrs commented on #441
I'm sorry you are having trouble with this @NeoPlato. Unfortunately, git is far from intuitive and is definitely an (unavoidable) hurdle when contributing to manim.

Can you tell us how did you clone this fork? After cloning the fork, the directory where you cloned it should be a git repository, and the message you obtained should not have been shown. Are you sure you are running the commands from

[2020-11-24 22:01] leotrs commented on #770
Hi @AdamJel. As you can see by searching the repository or the discord channel, we have discussed and considered interactivity a number of times. As you have already seen, people are currently working on a livestreaming feature. However, in the case of interactivity, the general sense is that this cannot be done with the current technology underlying manim. A major rewrite would be necessary to al

[2020-11-24 22:37] Davide95 commented on #768
Update: after digging up the source code, I've noticed two undocumented configs: `x_label_position` and `y_label_position`.

I think they might be enough also for shifting purposes since each shift can be applied directly to them.
If it's ok for everyone, I'm going to close the issue

[2020-11-24 22:39] leotrs commented on #768
We do have a dire need of more documentation :sweat_smile: I'm glad you found something that helps.

If you're interested in that rewrite in the future, all contributions are welcome!

[2020-11-24 22:45] Davide95 commented on #768
I'll try to help as much as possible I promise :D

Thank you all, se you soon

[2020-11-24 22:45] #768 closed

[2020-11-24 23:17] silgon commented on #771
It installed already (forgot to mention that on the issue). However I still have the same problem.
![image](https://user-images.githubusercontent.com/901061/100162271-7c0a3700-2eb3-11eb-88ef-c4f37b3c9a55.png)

[2020-11-25 07:42] NeoPlato commented on #441
I survived 🙂

[2020-11-25 08:36] eulertour commented on #770
I'm currently working on both a JS client for displaying graphics with webgl and the interface in manim to communicate with it. It will lay the *groundwork* for the type of interactivity you're describing by allowing animations to play asynchronously and in real time, but it will be a bit more work after that to get to the point where the graphics will be reflected from a live terminal.

[2020-11-25 08:40] silgon commented on #771
By the way. I updated the issue. I realized this happens during the installation of `pangocairocff` from `manimce` (during `manimce` installation). I can install from standard libraries `pangocairocff` with `pip install  pangocairocff`, but the one of the `manimce` repository doesn't work.

[2020-11-25 12:40] leotrs commented on #771
Thanks @silgon. Unfortunately I am not able to reproduce your problem on my side. Perhaps someone else in @ManimCommunity/linux ?

[2020-11-25 14:54] leotrs commented on #722
@Pragyaan-6988 thanks for the PR! :tada: let's continue conversation there.

[2020-11-25 16:57] rohansatapathy opened #774 "'camera' attribute not found when setting background color of scene"
## Description of bug / unexpected behavior

When I try to set the background of a scene using `self.camera.background_color`, I get an error upon rendering saying that the attribute `camera` doesn't exist.

## Expected behavior

I expected the background color to set to the value I specified. When I try setting the background color with the `-c` flag in the command line, it works fine.

## How to

[2020-11-25 17:24] behackl commented on #774
Thank you for your report!

This has already been fixed in the upcoming release (soon, beginning of December) -- meanwhile you can set `self.renderer.camera.background_color`.

[2020-11-25 17:44] #774 closed

[2020-11-25 17:50] rohansatapathy commented on #774
When I set `self.renderer.camera.background_color`, it renders with a black background instead of the color I set.

[2020-11-25 17:53] protonlaser91 opened #775 "Revamp GraphScene"
## Enhancement proposal

In its current state, GraphScene is incredibly obfuscated and difficult to use. It is also out of date. To keep in accordance with conventions, it should be renamed to TwoDScene and its obsolete methods should be recategorized under different classes or removed entirely.

For example, the get_slope_of_tangent method that is currently in GraphScene should be delegated to th

[2020-11-25 17:58] behackl commented on #774
Don't worry: sorry, I forgot to mention: when you change the color via `self.renderer.camera.background_color`, you will also have to call `self.renderer.camera.init_background()` afterwards.

This will no longer be necessary with the next release (see https://github.com/ManimCommunity/manim/pull/716 for the PR implementing the change).

[2020-11-25 19:59] leotrs commented on #775
@protonlaser91 thanks for your writeup. Indeed, there are many many many classes that are outdated and need a lot of work. The refactors that you propose seem good to me in general. Are you preparing a PR for this? Or is there anything in particular you want to discuss before preparing a PR?

One note: we are working hard to get rid of CONFIG dicts completely. So in your refactoring of this class,

[2020-11-25 20:10] protonlaser91 commented on #775
I did want to discuss reimplementation of every method in GraphScene. Does every single method in GraphScene need to be reimplemented in TwoDScene or is it alright to have a base class with some methods absent? (Which can be added in later with additional commits).

In my refactoring, I will not add any additional keys, but I was wondering if it is alright to make use of the original config dicts

[2020-11-25 20:14] leotrs commented on #775
In case you want to propose methods for removal, please deprecate them instead.

If you think a base class and a derived class is the best way of refactoring this, then that makes sense. The base class doesn't need to have all the methods.

Yes, please use any existing CONFIG dicts and their keys, but try not to add any new ones :slightly_smiling_face:

[2020-11-26 12:17] PhilippImhof opened #776 "Text: t2c is bogus"
## Description of bug / unexpected behavior
[code]
yields
![image](https://user-images.githubusercontent.com/52650214/100349821-4e270e80-2fe9-11eb-98dc-8bc392d86aaa.png)

## Expected behavior
The letter `n` should definitely not be blue. One would expect both `a`'s to be BLUE. (It could be nice to have a way of defining that only one `o` or only one `a` is colored.) This is related to #741

[2020-11-26 12:21] PhilippImhof commented on #776
Just as a comparison:

[code]
yields
![image](https://user-images.githubusercontent.com/52650214/100350424-284e3980-2fea-11eb-95d6-83bb691497d9.png)

So, the decomposition of the string works in other cases.

[2020-11-26 14:52] leotrs commented on #776
Sounds like a duplicate of #625

It is good to know that t2w is working though.

[2020-11-26 14:59] PhilippImhof commented on #776
After checking again, I think you are right. Both seem to be linked to the fact that a space counts to the string length but not to the number of submobjects. I suspected that this was not the source of the problem here, but changing the test case showed me I was wrong....

[2020-11-26 14:59] #776 closed

[2020-11-27 13:04] baljeetrathi opened #779 "Keep Some Mobjects in Fixed Place in MovingCameraScene"
There is a `add_fixed_in_frame_mobjects` method to keep mobjects in a fixed place in `ThreeDScene` class. However, it is not available in the `MovingCameraScene` class.

How can I keep an object fixed in the frame while the camera position moves around? Just like the `position:fixed` property in CSS while we scroll up and down the page.

Thanks.

[2020-11-27 17:20] yamauchih opened #780 "Fail to use LinearTransformationScene by division by zero"
## Description of bug / unexpected behavior
When I use the (even empty) LinearTransformationScene, division by zero occurs.
Use ManimCommunity today's head. python3.7.5, poetry 1.1.4

The reason is
manum/mobject/coordinate_systems.py:315, the 4th argument,

`   self.faded_line_ratio
`

is 0. Because of the manim/scene/vector_space_scene.py:5498 overwrites with 0 in the CONFIG of LinearTransformati

[2020-11-28 18:42] protonlaser91 opened #782 "FunctionGraph is not used anywhere"
## Enhancement proposal

Title pretty much says it all.
I only found one use of it and that was in building_blocks.rst and it's only being used as an example (Could be replaced with ParametricFunction). Can prepare a PR to deprecate it if there really is no use for it.

## Additional comments

[2020-11-28 19:12] cobordism commented on #723
also, which version of dvisvgm are you using here?

[2020-11-28 19:46] farahash commented on #486
Is this still open? If it is, I would like to look into it.

[2020-11-28 19:53] rlinwu commented on #712
Is this issue still open? If so, can I take a look into it?

[2020-11-28 21:09] leotrs commented on #712
@rlinwu yes! Please feel free to continue discussion here or open a PR.

[2020-11-28 21:12] leotrs commented on #486
@farahash yes! Please feel free to discuss here or open a PR.

[2020-11-28 21:15] #258 closed

[2020-11-28 23:57] huguesdevimeux commented on #486
@farahash and to assign yourself on this issue if you work on it ;)

[2020-11-29 01:33] farahash commented on #486
@huguesdevimeux it doesn't seem like I can do that myself. Do I need to be added as a collaborator to the repo to get access?
(you can go ahead and assign it to me if that works too)

[2020-11-29 11:16] huguesdevimeux commented on #486
Sorry. I thought you could.

Now you are assigned !

[2020-11-29 14:53] Dabada opened #786 "FFMpeg hardware acceleration"
Is there a way to make the encoder parameter configurable? This could make rendering time much faster.
For AMD GPU user's they could use h264_amf or hevc_amf  encoder.

https://github.com/ManimCommunity/manim/blob/1cc64848e58d3975274e5ce960aea942c543a7af/manim/scene/scene_file_writer.py#L375

[2020-11-29 16:10] kolibril13 opened #787 "Some ideas for restructuring Mobject attributes."
As we are restructuring how manim is configured right now, I have some suggestions:

[code]
This script adds a red dot to the scene, however, it prints the # for blue color.
Here it would be nice if dot.color=BLUE would actually change the color to blue on the displayed dot.

Secondly:
[code]
Here, we can set the width of a dot, which changes its radius, but the attribute parameter of Dot is not t

[2020-11-29 18:20] leotrs commented on #786
Hello @Dabada! Thanks for your question. There is no way to change the codec right now. Have you been able to change the codec and use GPU acceleration?

This would be a welcome addition BTW!

[2020-11-29 20:16] leotrs commented on #787
1. Does your code still not work as intended after #751 was merged?

2. I agree it should be possible to change the general size/shape/geometry of a Mobject by setting some of its attributes. But this also brings up the question of animating methods. For example, it's nice to be able to do `self.play(mobject.set_radius, 0.2)` to animate the change of size. If we implement a refactor that gets rid

[2020-11-29 20:19] leotrs commented on #780
Hi @yamauchih and thanks for reporting this!

Can you please post the output of your script (the one containing just the call to `self.wait(5)`) when you make the proposed change from 0 to 1?

Also, @cobordism, since we are getting rid of CONFIG and the problem here seems to be a faulty CONFIG key, could you please check whether we have the same problem on the remove-CONFIG branch?

[2020-11-29 20:24] leotrs commented on #782
Hi @protonlaser91 and thanks for bringing this up.

There are many classes that are not used or mentioned in the codebase. This does not necessarily mean they are useless. It might mean that they are user-facing: meant to be used by end-users and not by devs. So even if a class is not mentioned anywhere else, it may still be a good idea to keep it around in case users want to use it.

Having said

[2020-11-29 20:32] leotrs commented on #779
Hi @baljeetrathi! Thanks for asking this. Unfortunately I don't have an answer. In fact, it may very well be impossible. For more discussion, I suggest you go to our discord server and use one of the #help chanells. I'm sure more people there will be able to help you.

[2020-11-29 21:27] protonlaser91 commented on #782
Hi! I was thinking a potential use of this class would be in the method get_graph, but that method explicitly uses ParametricFunction when it seems that FunctionGraph was built exactly for that purpose. That's why I feel it is obselete. I think in any case where a FunctionGraph could be used, a ParametricFunction can do the same job or better.

[2020-11-29 22:00] Aathish04 commented on #782
tl;wr: ParametricFunctions are more versatile, but FunctionGraphs are easier to use.

A `FunctionGraph` takes an explicit function in x, while a `ParametricFunction takes`, well, a Parametric Function.

You can use a FunctionGraph in scenes that aren't GraphScenes, so there's an advantage in that (though you _could_ just use `ParametricFunction` and just keep one direction as as `LEFT*t`

I think

[2020-11-29 22:22] yamauchih commented on #780
Thanks for taking care of this. Here is the output.
1. When the CONFIG in class LinearTransformationScene,
"faded_line_ratio": 0,

[code]
2. When the CONFIG in class LinearTransformationScene,
"faded_line_ratio": 1,

[code]

[2020-11-30 00:15] protonlaser91 commented on #782
Sure, I can remove the deprecation label from my pull request

[2020-11-30 00:58] leotrs commented on #780
Thanks! I meant if you could please show us the video or image that you get in the second instance (with faded_line_ratio=1) :slightly_smiling_face: Does it show what you expect it to show? Have you been able to otherwise use LinearTransformationScene with no changes other than setting faded_line_ratio to 1?

[2020-11-30 08:37] kolibril13 commented on #787
I just ran it on the current master and it does not work. I think #751 only fixed that dot.set_color(RED) will change the attribute to red as well, but dot.color=BLUE changes *only* the attribute, not the color of the displayed dot.

Another option would be that both are possible:
* self.radius = 0.2 in normal code to setup a scene
* self.play(mobject.set_radius, 0.2) when it is used in an animati

[2020-11-30 09:02] behackl commented on #787
Would it also be possible to work with a static variable here? Like, setting `Text.color` (or `Text.default_color`?) to make subsequent calls to `Text` use the corresponding default color?

[2020-11-30 11:18] yamauchih commented on #780
Yes, when faded_line_ratio=1, the result is expected (when faded_line_ratio=0, no result due to the error.) Here is the output image (this time: python3 -m manim 00_linear.py  -pi -ql, use -i option to get a gif image.)

![TestScene](https://user-images.githubusercontent.com/2727324/100603903-0e706780-3306-11eb-84e6-e7001d667d93.gif)

[2020-11-30 11:54] leotrs commented on #787
I like that idea a lot! The pro when using the config system is that you
can set it once and for all in a user-code config file for example. The con
is that it is not as flexible as doing it for each specific class, like you
are suggesting.

On Mon, Nov 30, 2020, 4:02 AM Benjamin Hackl <notifications@github.com>
wrote:

[2020-11-30 13:04] leotrs commented on #780
Thank you! In that case, I think the best way to fix this is to add this modification to the ongoing PR that removes CONFIG. @cobordism

[2020-11-30 13:47] cobordism commented on #780
I will add `faded_line_ratio=1` to the other PR

[2020-11-30 13:47] yamauchih commented on #780
Hi @leotrs ,
Shall I need to do any action? I am not familiar with the process.
Thanks!

[2020-11-30 13:50] cobordism commented on #780
@yamauchih
You do not need to do anything.
Leotrs and I were in the middle of removing every single CONFIG dictionary from manim... and since the error you found was in a CONFIG dictionary, we decided to incorporate your fix into our work.
I have just added your fix here:
https://github.com/ManimCommunity/manim/pull/783/commits/90dae2afa83ab392f01fade924cf6ec1f7a8b714

As soon as PR 783 has been m

[2020-11-30 13:50] yamauchih commented on #780
Hi @cobordism
I see. Thanks a lot!

[2020-11-30 14:15] cobordism commented on #452
According to the all-dev call yesterday, whoever wants to rewrite CLI parsing has the go-ahead.
https://mensuel.framapad.org/p/manim-meeting
Simply assign yourself to this issue and the create a WIP PR to get going.

[2020-11-30 14:25] leotrs commented on #452
From the [cleo documentation](https://pypi.org/project/cleo/):
[code]
I am strongly against introducing functionality in the docstrings, so I would vote against using cleo. Also, click seems to have a wider audience (and thus, possibly, better support).

However, the person who works on this should have final say, so let's discuss once there's a PR :slightly_smiling_face:

[2020-11-30 15:42] MysaaJava commented on #589
Hello.
Here's a quick update on what i've found.
First, there is currently no way of installing the hook directly,, for security reasons (you don't want to clone a random repo and have your computer wrecked up by some troll code).
So the developper will have to install the script manually in the .git/hooks folder. I'll make a little paragraph in Contribution to help weth that.
But where should the

[2020-11-30 15:49] naveen521kk commented on #589
If the aim is only running black, then we have https://pre-commit.com which can be used. We would be adding a file for the version.
The Dev's will run `pre-commit install` after cloning so that it is configured. I personally hate it though.

[2020-11-30 17:43] naveen521kk commented on #704
Instead of reverting #609 we could make `Paragraph` use `CairoText` rather than `Text`. The codeMobject, use `Paragraph` and it would simply fix the colouring issues, for codeMobject though, which must done before the release.

[2020-11-30 17:49] MysaaJava commented on #589
I'm not a huge fan of adding a depedency just to run black. And this package is only a wrapper for git hooks. I've looked at it, and foundthat et did not solve the environnement issue.

[2020-11-30 17:55] naveen521kk commented on #589
Instructions [here](https://black.readthedocs.io/en/stable/version_control_integration.html) suggests that. Also, adding it as a dev-dependency doesn't hurt though, maybe be helpful for some but not all.

[2020-11-30 19:46] cobordism commented on #7
This is now done in PR #783
The plan is to merge that just after release 0.1.1 - so that it will be included in the subsequent 0.2.0 but we have a whole month to clean up.

However, once 783 is merged we have to address the question of how we want to refactor this going forward. dataclasses? fastcore? ...
We may also need a different approach for those CONFIGs that used to be part of mobjects that

[2020-11-30 20:05] leotrs commented on #7
The question is: what do our classes need right now? I'm not certain we necessarily have a problem that needs to be fixed right now. (Other than the following point you make, of course...)

I'm fairly certain that most (if not all) of the CONFIG keys of GraphScene can just be replaced by setting attributes at the top of the construct function. The code
[code]
Can be replaced with
[code]
In fact, w

[2020-12-01 01:52] #780 closed

[2020-12-01 12:12] #625 closed

[2020-12-01 13:26] kolibril13 opened #801 "Easy way to change background color of LabledDot"
At the moment, it is possible to use a LabledDot:
https://docs.manim.community/en/latest/reference/manim.mobject.geometry.LabeledDot.html?highlight=dot#manim.mobject.geometry.LabeledDot
Buut when one wants to change the backgroundcolor, it fails:
[code]
Therefore, I am suggesting to have a further style item that enables to change the background and the foreground colour of the lableddot independe

[2020-12-01 13:36] leotrs commented on #739
This was merged already, no?

[2020-12-01 13:36] behackl commented on #739
Yes: #760

[2020-12-01 13:36] #739 closed

[2020-12-01 13:37] leotrs commented on #801
This sounds like a duplicate of #213 . I would rather fix that general bug than add a new functionality just for labeled dot

[2020-12-01 15:35] naveen521kk opened #805 "Setting Filename using cfg file"
## Description of proposed feature
Having a `manim.cfg` in a folder should be enough for manim to run. For example, users can run `manim .` in that folder and the `.cfg` file should contain the file name. Also, running `manim some.cfg` should also work. Doing this would simply make it so that people no need to remember the file name 😉 instead they would move to their workspace (say a folder) and t

[2020-12-01 15:40] leotrs commented on #805
There are three things to do here:

1. Right now, the input file name is a obligatory command line argument. For this to work, it should be optional. (This will add to our argparse woes...)

2. The ManimConfig should hold a reference to the input file. [This is already possible](https://docs.manim.community/en/latest/reference/manim._config.utils.ManimConfig.html#manim._config.utils.ManimConfig.in

[2020-12-01 15:51] leotrs opened #806 "test issue please ignore"
lorem ipsum

EDIT: no more dependency

[2020-12-01 15:53] leotrs commented on #806
Working perfectly on issues. cc @z0al @naveen521kk

[2020-12-01 15:53] #806 closed

[2020-12-01 22:20] ANearchou opened #808 "Error on installation while collecting pangocairocffi"
I'm getting the following error while installing with ``` pip install manimce```

## Installation logs

<details><summary>Terminal output</summary>

[code]

</details>

I follow the instructions found here ```https://docs.manim.community/en/stable/installation/troubleshooting.html``` however I cannot find the ```zlib1.dll``` file under the path ```C:\Program Files\Intel\Wifi\bin```. Instead I foun

[2020-12-02 00:43] behackl commented on #704
This has already been fixed via #798.

[2020-12-02 00:43] #704 closed

[2020-12-02 02:27] leotrs commented on #808
Hello @ANearchou and thanks for reporting. Unfortunately, installing manim on windows is still something we have to figure out completely. I will ping our windows team to see if they can help you out cc @ManimCommunity/windows

Have you considered using alternatives? For windows, you can use the chocolatey package or the dockerfile.

[2020-12-02 03:19] naveen521kk commented on #808
Did you follow instruction [here](https://docs.manim.community/en/stable/installation/win.html#pango-installation)? Added it to the path? Alternatively, chocolatey do it from you. See [here](https://docs.manim.community/en/stable/installation/win.html#installing-using-chocolatey).

[2020-12-02 12:47] jsonvillanueva commented on #279
#784 I believe this plugin feature could handle this issue as soon as it's merged in. One could create a plugin, `manim-ThemeManager` which could be responsible for handling color maps (i.e. this doesn't have to be part of core manim). How the author of such a plugin wishes to treat this is entirely up to them, but a suggestion would be to have predefined color palettes in a convenient format like

[2020-12-02 13:44] jsonvillanueva commented on #723
Tested on windows 10 Version 20H2 (Python 3.9) with poetry install and with a fresh install using `choco install manimce`. Both installations were able to generate the following image from the given sample scene.
![BraceAnnotation](https://user-images.githubusercontent.com/29168469/100879282-1ba16980-3460-11eb-926e-b0cb70795662.png)
Also was able to generate the mp4. This seems to be an installati

[2020-12-02 13:57] leotrs commented on #279
I think I like that idea. This allows for a clean core and complete freedom to determine how color themes work.

[2020-12-02 13:59] leotrs commented on #723
I can confirm this (the manim part at least) should be fixed on master (and eventually/already on chocolatey).

@plof27 perhaps try with a fresh install? Or try the dockerfile. If you continue having problems with installation, please open another issue, or ping us on our Discord server :slightly_smiling_face:

[2020-12-02 13:59] #723 closed

[2020-12-02 14:01] cobordism commented on #723
can you try once more with `config["tex_template"] = TexTemplateLibrary.simple` at the top of the scene?

[2020-12-02 16:07] rlinwu commented on #712
@leotrs Can you assign me to this issue?

[2020-12-02 17:23] XorUnison commented on #787
As @leotrs has mentioned in response to a question I posted on discord, what about using properties?
Using properties should allow us to get the best of all worlds, that is initializing `Class(x=y)` and changing objects `Class.x=y` correctly, getting correct values at all times with `y=Class.x`, while also not having anything like `Class.set_x` or `Class.get_x` publicly accessible nor needed. One

[2020-12-02 17:28] leotrs commented on #712
Done!

[2020-12-02 17:30] leotrs commented on #787
Yes! I sort of wrote all of the above implicitly assuming that `color` and similar attributes would be properties 😅

[2020-12-02 18:06] friedkeenan commented on #787
@leotrs and I discussed a potential solution for this on discord a few days ago, so I'll try to condense what we ended up coming up with here. [Here](https://discord.com/channels/581738731934056449/712140817200054294/782753502320394280) though is essentially the conclusion of that conversation on discord.

So basically, all `mobject.get_*` and `mobject.set_*` methods would be turned into propertie

[2020-12-02 18:45] naveen521kk commented on #805
I am marking this as "good first issue".

[2020-12-02 19:34] ANearchou commented on #808
I didn't think that I would need any more dependencies since I was working with 3b1b/manim. I just downloaded Pango and then ```pip install manimce```. It's working perfectly!
Thanks a lot!

[2020-12-02 19:34] #808 closed

[2020-12-02 19:36] cobordism commented on #808
cool.
for future reference, I think we're moving to just `pip install manim` in future.

[2020-12-02 20:11] MulleDK19 opened #816 "Scene is missing property 'time' that certain functionality relies on."
## Description of bug / unexpected behavior
Scene does not contain property 'time', yet some functionality relies on it, for example Scene.add_sound().

## Expected behavior
Scene should have a time property containing the current time since the scene started.

## How to reproduce the issue
Try to use self.add_sound() in a scene.

<details><summary>Code for reproducing the problem</summary>

[code

[2020-12-02 20:50] leotrs commented on #816
Hi @MulleDK19, thank you for your bug report.

It appears that `Scene.time` has moved to `Renderer.time`. Can you please try the following? Instead of your workaround (great job on that btw), can you try replacing the following line

https://github.com/ManimCommunity/manim/blob/1a409939aaa2131bcc18326c39cfe25d25c8d3d5/manim/scene/scene.py#L826

with this instead?
[code]

I am not able to test this

[2020-12-02 21:13] leotrs commented on #787
Just two technical points on the above:

1. `obj.animate.attr(args)` returns an instance of `Animation`. With a little more work, we could allow users to define their own custom methods that return their own custom animations. Note this makes `Scene.play`'s job easier since it no longer has to just stick an `ApplyMethod` in front of everything.

2. I am on the fence about deprecating the fourth sy

[2020-12-03 08:24] kolibril13 opened #818 "Swiching from manimce to manim in pypi"
At the moment, we have two repos at PyPI:
https://pypi.org/project/manimce/ (Version 0.1.1)
and
https://pypi.org/project/manim/ (Version 0.1.0)

And I think we discussed that we want to stay with manim and not with manimce.

I have very little experience with packaging, so can maybe someone with more expertise take over my PR where I also altered python-publish.yml ? (see https://github.com/ManimC

[2020-12-03 12:19] cobordism commented on #7
closed by PR #783

For discussions on future refactoring, please open new dedicated issues.

[2020-12-03 12:19] #7 closed

[2020-12-03 12:21] behackl opened #819 "Document removal of CONFIG"
## Enhancement proposal

As a follow-up to the recent removal of CONFIG dictionaries via #783, these changes should be very clearly and explicitly documented.

To discuss:
- Should something happen if a user tries to set a CONFIG variable? Can we even reasonably do something about that?
- Should there be just a very explicit changelog entry, or a full page/section for dealing with migrating from C

[2020-12-03 12:33] cobordism commented on #819
We should also change the "Plotting with manim" examples.  See here: https://docs.manim.community/en/latest/examples.html#plotting-with-manim

Currently, in keeping with the systematic removal of CONFIG, the variables previously in CONFIG are now keyword arguments to `__init__()`. However this is not really user friendly in the case of plotting where implementing your own init function is more com

[2020-12-03 12:41] #486 closed

[2020-12-03 12:44] leotrs commented on #818
I don't know how to fix this, but we should find a way to fix it :thinking:

In our last call we discussed making `manimce` a dummy package that just asks the user to install the correct package instead.

[2020-12-03 13:00] leotrs commented on #819
Can you clarify what you mean by this?

[2020-12-03 13:05] leotrs commented on #819
I feel tired just by saying this because it's more on my plate, but: I think we should do two things. First, have all our classes reject the existence of any `CONFIG` attribute. Second, write a full document detailing how to migrate from CONFIG to the new style classes.

The first step can be just this:
[code]

[2020-12-03 13:07] cobordism commented on #787
Now that #783 has been merged, we can set about restructuring mobject attributes more generally.

I'd be willing to try and implement something along the lines of https://github.com/ManimCommunity/manim/issues/787#issuecomment-737400927 but I can't do it alone. I'll need help.

Am I right in assuming that the 'correct' implementation of these getter/setter methods requires some form of @-decorator

[2020-12-03 13:10] cobordism commented on #819
just compare https://docs.manim.community/en/latest/examples.html#plotting-with-manim
to https://docs.manim.community/en/v0.1.1/examples.html#plotting-with-manim

done. This was already in the PR
https://github.com/ManimCommunity/manim/blob/master/manim/container.py#L28-L31
https://github.com/ManimCommunity/manim/blob/master/manim/animation/animation.py#L50-L54

[2020-12-03 13:25] leotrs commented on #787
Yes! Basically, the following code:
[code]
is Bad Python, and could/should be replaced with:
[code]
In the easiest case, the property is just an interface to an underlying attribute.
[code]

This is exactly the intended use-case of properties. I think that a good first pass is to try to deprecate getters and setters and replace them with properties all over the codebase, as much as possible.

[2020-12-03 13:26] leotrs commented on #787
Perhaps @eulertour or @PgBiel want to chime in. This is the moment to retake our discussion about dataclasess and attrs, perhaps?

[2020-12-03 13:32] leotrs commented on #819
No need to mess around with init. I believe we should encourage either one of the following instead:

[code]

OR, the following:

[code]

[2020-12-03 14:06] leotrs commented on #80
Related to multiprocessing: sphinx has an option to run in parallel. If we make sure our docs can build in parallel, then we should be able to speed up sphinx builds by 2x or 4x (assuming the RTD machines have many CPUs...)

[2020-12-03 14:36] leotrs commented on #426
Just a quick update from the Discord discussion: I believe we should have some kind of procedure that allowed us to mark certain documents as "ready for translation". Since the codebase is undergoing major changes continuously, we don't want to have the translators do some work that will have to be scrapped if a major change occurs. This raises the question of priorities. I believe we should try t

[2020-12-03 14:36] naveen521kk commented on #819
On the side note, we should start typing (https://docs.python.org/3/library/typing.html ) everything we could see in `__init__`.

[2020-12-03 15:07] behackl commented on #819
Semantically, I would kind of expect to be able to set all of these parameters as keywords of `self.setup_axes`. Any thoughts about that?

[2020-12-03 15:51] naveen521kk opened #824 "(CI) Setting Up Caching For MacOS"
Currently, Windows CI uses caching
https://github.com/ManimCommunity/manim/blob/f4edcfa5fcc44b7858e2957a1e64d636da59d483/.github/workflows/ci.yml#L71-L77
something similar must be done for macOS and Linux also because it sometimes takes a lot of time to Install and increases the test time. The things which need to be cached is Latex(maybe use TinyTeX as it portable and like windows CI) and things

[2020-12-03 16:23] MysaaJava commented on #426
Well, the simplest way i found to avoid everyone from having to update .po files by hand is to generate them every month by hand (of course, i will make script to automate the process).
How will my script work: it will first use sphinx to generate all the po files. Then, i will filter out strings that are not translatable (for example Class names). I'll do a script with sed/awk/regexes. Then in th

[2020-12-03 16:26] leotrs commented on #819
Oh, that actually makes more sense!

[2020-12-03 21:00] leotrs commented on #426
I like the second one, maintaining a curated list of documents/paragraphs that are ready.

[2020-12-04 00:28] XorUnison commented on #80
This isn't ever going to happen though. In terms of performance multiprocessing would be a massive increase in speed for most cases while multithreading would be... well not completely useless, but honestly, mostly.

Speaking of which, how far along is this exactly?

Sounds good. Is my still planned multiprocessing project related to implementing that at all though? If, how?

[2020-12-04 01:24] kolibril13 commented on #801
okay!

[2020-12-04 01:24] #801 closed

[2020-12-04 01:26] kolibril13 commented on #602
Any updates on this?

[2020-12-04 11:53] kolibril13 opened #829 "Running manim without terminal"
At the moment, it is already possible to run manim without the terminal, e.g. with this script:

[code]
I think this has two drawbacks over running manim the classical way with the terminal:
1. It is not yet possible to read a custom manim.cfg file
2. It is not yet possible to use the preview flag -p from the comment line, that is why I currently used matplotlib.

@leotrs : as you are the one most

[2020-12-04 18:31] #42 closed

[2020-12-05 09:05] huguesdevimeux commented on #602
woops. Totally forgot.
So, given the circonstances, I won't be able to work on this. Sorry, 100% my fault, I shouldn't have commited.

[2020-12-05 15:15] leotrs commented on #80
Fair!

Honestly, the only thing left to do is make each `Scene` have its own instance of a `ManimConfig` object. This is not a difficult PR, but it will break basically every scene in existence. So there's that to consider. Is this something that's blocking this project? We could try to speed that up if so.

Well, the `manim_directive` uses manim to render all the examples. Each directive can be m

[2020-12-05 15:22] leotrs commented on #829
I have to say that in general, I am against using manim without the command line. I would be more favorable toward a recent idea by @naveen521kk in #805 to keep simplifying the command line interface.

This has been possible for a while. [Read the docs](https://docs.manim.community/en/latest/reference/manim._config.utils.ManimConfig.html#manim._config.utils.ManimConfig.digest_file).

I am against

[2020-12-06 11:05] Ammar34 opened #836 "Weird behaviour of y-axis in Axes Class"
## Description of bug / unexpected behavior

The Axes class has a problem with displaying numbers properly on the y-axis. Instead of being aligned on the left, they appear right on middle of the y-axis and are not placed in their correct location on the axis either.  I don't know if there is something I did wrong, but this behaviour is not observed on x-axis. Furthermore, the limits set using the

[2020-12-06 11:31] #836 closed

[2020-12-06 11:40] Ammar34 commented on #836
Apparently, the CONFIG dictionary has been removed.

[2020-12-07 03:14] eulertour opened #837 "Scene caching doesn't account for mobject order"
## Description of bug / unexpected behavior

Rendering two scenes containing mobjects in the same positions but in different order consecutively and while using scene caching results in the same scene. More specifically, starting with a clean cache and rendering this scene:
[code]
generates a scene with this still image
![DraftScene](https://user-images.githubusercontent.com/43117506/101304655-9f0

[2020-12-07 08:12] Ammar34 opened #840 "Axes class no longer sets x_min, x_max, y_min, y_max values to self.x_min, self.x_max, self.y_min and self.y_max respectively."
## Description of bug / unexpected behavior

When Axes class instance is created with kwargs ->`` x_min``, ``x_max``, ``y_min``,`` y_max``, they are not shown in the generated Axes animation.
This issue arose after migration from dictionaries.
P.S. I have also started getting a warning "Creating a dummy animation" which if I am right is because animation receives mobject as None.

## Expected beha

[2020-12-07 08:21] Ammar34 commented on #840
A quick print of the ``new_config`` dictionary showed that these values are indeed not set to the arguments passed.
https://github.com/ManimCommunity/manim/blob/62f0147f8135e68323fd2a2a2f8258772faa8c9f/manim/mobject/coordinate_systems.py#L157-L163

![image](https://user-images.githubusercontent.com/12208432/101326187-b8b03800-388e-11eb-9430-ad98bd876c91.png)

[2020-12-07 09:09] naveen521kk commented on #818
This is done. On release next time it will be released to `manim` but @eulertour would need to update the token.

[2020-12-07 09:09] #818 closed

[2020-12-07 18:34] leotrs commented on #837
The rendering order is (for now) determined by the order of the `Scene.mobjects` list. Is that list not being cached? cc @ManimCommunity/scene-caching

[2020-12-07 18:35] cobordism commented on #819
yes. let's implement and document that. Should be pretty straightforward and methodical to implement.

[2020-12-07 19:13] cobordism commented on #840
I see the issue.
This indeed looks like it was part of the digest_configs mess.
Thus the `__init__` function of `CoordinateSystem` doesn't accept things like `x_min` as keyword arguments, but instead looks if the attributes `self.x_min` exists. With the `digest_config` system as it was, the keyword argument `x_min`, no matter where it was given, would lead to the attribute being set. No we have to

[2020-12-07 19:24] Ammar34 commented on #840
I am already working on a solution that makes the whole axes class a little better. My solution involves creating these attributes within the axes class and then assigning the keyword arguments passed directly to the Axes class or from the x_axis_config and y_axis_config dicts. While working I noticed a number of issues with Axes Class and now in the process of fixing them. I am almost done. I wil

[2020-12-07 19:28] leotrs commented on #775
Hi @protonlaser91 , since #788 was closed, can this issue be closed?

[2020-12-07 19:32] cobordism commented on #840
cool. awesome.
thanks for working on this.

My feeling is that it is best to have one canonical place where the attributes are set. Thus I think I prefer to accept the `x_min` keyword in `Axes` and other classes, (or accepting an `x_axis_config` from which we can calculate `x_min`) but then passing that "upstairs" as a keyword argument and only there setting it as an object attribute. Rather than

[2020-12-07 19:51] Ammar34 commented on #840
I agree. I will see what I can do with the suggestions you provided @cobordism.

[2020-12-07 21:52] protonlaser91 commented on #775
Yes

[2020-12-07 21:52] #775 closed

[2020-12-08 05:02] ponmike92 opened #841 "Improve Uncreate Animation"
## Enhancement proposal
Uncreate Animation can be enchanted in four options:

1. If user want to change rate_func of this animation right now he will need to pass something like this:
- lambda t: smooth(1-t)
- lambda t: linear(1-t)
and so on. Why not simply smooth, linear etc. ?

2. Make ability to change direction of destruction.
3. Why it is inherited from ShowCreation? It is logically can be mo

[2020-12-08 05:59] ponmike92 opened #842 "Improve FadeIn Animation"
## Enhancement proposal
Logically FadeIn animation should just change opacity of object from 0 to object's opacity. However, in addition to that it enlarges object's stroke width. That leads to ambiguity. My suggestion is to add enlarge_stroke flag to handle this case.

## How it is right now
[code]

![FadeIn1](https://user-images.githubusercontent.com/64367553/101445893-58270680-3933-11eb-9d03-78

[2020-12-08 06:24] ponmike92 opened #843 "ReplacementTransform replaces object to another one not in right order on the scene"
## Description of bug / unexpected behavior
ReplacementTransform replace object to another one not in right order on the scene

## How to reproduce the issue
[code]

## Additional media files
![TestReplacementTransform](https://user-images.githubusercontent.com/64367553/101447365-24011500-3936-11eb-891f-7ae1696bce5e.gif)

## Suggestions
ReplacementTransform should override clean_up_from_scene(...)

[2020-12-08 07:25] ponmike92 opened #844 "scene.play() method passes rate_func to animations not correctly"
## Description of bug / unexpected behavior

scene.play() method passes rate_func to animations not correctly. For example:

1. let's create simple animation (some args were omitted to better show problem)

[code]

2. Now, call this animation via scene.play() method

[code]

[code]

3. We see that rate_func is not passed to Animation via scene.play(). How to fix? Directly add rate_func as arg in u

[2020-12-08 07:37] huguesdevimeux commented on #837
My bad. Here :
https://github.com/huguesdevimeux/manim/blob/c83b5ba4b3b4522474eea807f6b1c10298284765/manim/utils/hashing.py#L246-L248

[code]
Scene caching order the list of mobjects before hashing it. So, the order of the list is not took into account.

Fixed by #845

[2020-12-08 07:41] huguesdevimeux commented on #786
Yes, I'm totally in favof of doing this if it could fast the process.

I think this should be a parameter living in the .cfg file.
Feel free to open a PR :)

[2020-12-08 09:21] eulertour commented on #844
The `rate_func` argument isn't supposed to be passed to the animation, it's passed to `Scene.play()`. Why do you want it passed to the animation in the first place?

[2020-12-08 12:19] kolibril13 commented on #787
One furhter idea I would find very useful:
[code]
[code]

[2020-12-08 14:16] Viasis opened #847 "TextMobject is not working in Jupyter"
## Description of bug / unexpected behavior

I'm currently new to manim and I've encountered a problem whenever I try to use the syntax "TextMobject" but its working fine with "TexMobject" instead.

## Expected behavior

## How to reproduce the issue

<details><summary>Problem occurs when i use TextMobject</summary>

[code]
but it works when i do

[code]

</details>

## Additional media files

<de

[2020-12-08 15:20] leotrs commented on #847
Hello @Viasis. Are you using the latest version of manim CE? If so, the TextMobject and TexMobject classes have been replaced. TextMobject has been deprecated in favour of Tex. TexMobject has been deprecated in favour of MathTex. Can you try using these classes again and seeing if that works? Thanks!

[2020-12-08 15:30] leotrs commented on #841
Agreed.

Agreed.

What difference would it make to the end user if this inheritance was changed?

I would suggest we change `ShowCreation` to `Create` and leave `Uncreate` intact.

I like how the code looks like with your proposal, but I am neutral as to what is the "logical" direction for the animation. I think we should support both, but neither direction sounds like it is better than the other.

[2020-12-08 16:05] kolibril13 opened #848 "Add metadata to the videofile"
At the moment, the video metatdata looks like this:
![image](https://user-images.githubusercontent.com/44469195/101507773-36e80980-3977-11eb-9927-115289070dfe.png)
I think we can add some useful things from here:
https://wiki.multimedia.cx/index.php/FFmpeg_Metadata
to our ffmpeg pipeline in order to include some more info.
So e.g. resolution and framerate, but also probably author, title and date

[2020-12-08 16:09] leotrs commented on #842
This makes sense to me in general. Could you please post an example of how this looks like when using your version of FadeIn on a Mobject that has both stroke and fill? (lines only have stroke) A circle with fill_opacity=1.0 should work. Thanks!

[2020-12-08 17:30] ponmike92 commented on #841
For me it is hard to understand why. I will leave log:

I  run this:
[code]

OUTPUT:
[code]

[2020-12-08 17:46] ponmike92 commented on #842
@leotrs , yeah, of course!

My results seems to be weird. Is white stroke during creation is normal? It comes with both animations. Old one and mine.
I tested with this code:

## Current FadeIn
[code]
![TestFadeIn1](https://user-images.githubusercontent.com/64367553/101521002-462a7f80-3996-11eb-8659-537ff3074e6a.gif)

## Suggested FadeIn
[code]
![TestFadeIn2](https://user-images.githubusercontent.

[2020-12-08 18:19] friedkeenan commented on #787
Could probably just get away with adding a `default_color` attribute to the `Mobject` class, and then do `Square.default_color = BLUE`, which will change the `default_color` attribute for `Square` and its descendants (unless those descendants changed the attribute already), but not for other classes.

[2020-12-08 18:35] cobordism commented on #787
It would be nice to have the attribute listed as a keyword argument, because that helps surface the option in the IDE.

If we have the default values as class variables, and attribute=None in the init function signature, the body needs to have:
if attribute is None: attribute =Class.default_for_attribute
self.attribute = attribute.

... it could work. Pythonistas, is that an acceptable pattern?

[2020-12-08 18:43] friedkeenan commented on #787
Feels weird to me that you'd set a default for a class in an instance's init function.

You can get the class with `type(self)`. Alternatively you could set it with a classmethod, and in classmethods the first argument is the class, like so:
[code]

[2020-12-08 19:18] behackl commented on #787
Everything that can be changed for an instance of an object should appear in the constructor, true. But I feel it would be very clumsy to be able to set the default class behavior from an instance, just as @friedkeenan also has mentioned.

Class attributes can (and should!) be documented as well. I am not entirely sure what you mean when you say that it helps to surface the options in the IDE (fro

[2020-12-08 22:34] cobordism commented on #787
nobody said anything about setting class defaults from an instance. :confused:

[2020-12-08 23:20] kolibril13 opened #849 ""Semi-video" image option for testing and previewing a scene"
I have an idea to overlay videoframes from certain timestamps above each other, e.g. from this scene:
[code]
![ABC](https://user-images.githubusercontent.com/44469195/101552139-99123000-39b2-11eb-9555-7910c83e16e8.gif)

Which can be converted into this:
![image](https://user-images.githubusercontent.com/44469195/101552214-ba731c00-39b2-11eb-982f-7a84b6f4c44b.png)
to create this specific example, I

[2020-12-08 23:26] kolibril13 commented on #618
the time axis projected in one image could be also a good approach for videotests: https://github.com/ManimCommunity/manim/issues/849

[2020-12-08 23:35] XorUnison commented on #841
@leotrs Well actually yes. The result in the OP can actually be gotten by simply using `mob.reverse_direction()` before `Uncreate`. This should actually hold for any and all cases. Whenever you want to reverse creation/uncreation, my direction methods should do the trick.

[2020-12-09 00:23] protonlaser91 opened #850 "Lambda needed for add_updater"
## Description of bug / unexpected behavior

add_updater doesn't work with a function* passed in as an argument unless it is in lambda form

*that is part of the class and has the self argument

## Expected behavior

add_updater successfully working without throwing an error and not needing to use a lambda as an intermediary.

## How to reproduce the issue

<details><summary>Code for reproducing t

[2020-12-09 01:18] friedkeenan commented on #787
I figured you meant putting e.g. `default_color=None` in the init function signature, but upon reread it seems that you meant putting `color=None` in the init function signature?

[2020-12-09 01:55] leotrs commented on #787
I think this is the way to go here. (note @kolibril13 there's no need for `get` or `set` methods).

@cobordism I don't think that it is possible to use a class attribute as a default value in a method signature. (The reason is that the method needs to be defined before the class is defined, but the class needs to be defined before the class attribute is defined. So using the latter to define the f

[2020-12-09 02:02] leotrs commented on #841
@ponmike92 could you please try the `reverse_direction` method as suggested by @XorUnison ?

[2020-12-09 02:05] leotrs commented on #850
Thanks @protonlaser91. I *believe* this is because the `r.updaters` list contains a direct reference to the object's method, and apparently that cannot be `deepcopy`ed effectively. Using the lambda fixes this because then the `r.updaters` list contains a reference to an entirely different function instead.

I don't see how to fix this other than completely changing the way that updaters work. In m

[2020-12-09 03:24] Viasis commented on #847
Thanks for the reply @leotrs ! I downloaded the manim package through the anaconda prompt so its the latest package i think. I'll try your recommendation, thank you!

[2020-12-09 03:33] Viasis commented on #847
@leotrs To clarify I will have to replace "TextMobject" with "Tex" am I right?

[2020-12-09 05:24] ponmike92 commented on #841
Main idea of any Animation is to do operations under passed mobject.
1. Won't we break the logic if modify mobject first?
2. If I'm not mistaken we will do additional operations over points of mobject. Will it be slower implementation rather than overriding get_bounds() method?

[2020-12-09 05:39] ponmike92 commented on #841
[code]

If Uncreate will be inherited from ShowPartial:
[code]

[2020-12-09 06:29] kilacoda commented on #841
The code you posted and the traceback in the log don't match up?

[2020-12-09 06:30] eulertour commented on #850
I actually can't get either version of the code to work. Both fail with `AttributeError: 'DraftScene' object has no attribute 'value'`. But that aside it doesn't seem like the code would work properly even if that was fixed, because the first argument to an updater is supposed to be the mobject being updated.

[2020-12-09 07:10] eulertour opened #851 "Scenes should track cumulative time since starting"
## Description of proposed feature
Scenes should store the total time since starting and make this value accessible via a public API.

## How can the new feature be used?
There isn't currently a way to update mobjects based on the cumulative elapsed time since a given start point. Time based updaters only pass `dt`, the incremented time, which leaves the user to add that value to a running total m

[2020-12-09 07:45] #837 closed

[2020-12-09 09:46] cobordism commented on #787
I agree with this too.

I'd like to attempt one more clarification. I had suggested adding `attribute=None` to the init arguments and then setting it to the class default in the body (as indicated in previous comment) as opposed to not explicitly having it listed as a keyword argument and instead setting it via `attribute = kwargs.get("attribute", class_var_default)`.
This is functionally equivale

[2020-12-09 09:51] Ammar34 commented on #847
Thats right.
``TextMobject`` -> ``Tex``
``TexMobject`` -> ``MathTex``

[2020-12-09 11:44] Viasis commented on #847
@Ammar34 It says that neither Tex nor MathTex is defined. How do i check if im running on the latest version of manim?

[2020-12-09 12:22] Ammar34 commented on #847
From your Terminal output it seems like you are using 3b1b version of manim. The manimlib folder has long been removed from community version. Are you sure you didn't want to post this issue here https://github.com/3b1b/manim/issues
If not, then I suggest you reinstall manim community
P.S Manim CE has still support for TextMobject and TexMobject (for backwards compatibility I presume) so this erro

[2020-12-09 14:28] Viasis commented on #847
@Ammar34 Oh i didnt know that i was using the 3b1b version. I just typed "python3 -m pip install" in the anaconda prompt. I will install the community one right now thanks!

[2020-12-09 15:06] leotrs commented on #842
I believe this is probably the "background_stroke", can you please try disabling that?

[2020-12-09 15:09] leotrs commented on #618
I don't think that the functionality proposed in #849 should be used for testing. The problem is that it could only be used to test moving mobjects. If the mobject doesn't move, then each frame will just be put on top of the other, and it will not be possible to know which pixel comes from which frame. I don't see how that is better than the original idea of saving different frames separately.

[2020-12-09 15:11] leotrs commented on #841
You're right, it might be slower if the mobject has many points. Let's do it your way.

I do insist in keeping the current behavior as the default, and having the new one optionally.

Please address @kilacoda 's question when you get the chance :slightly_smiling_face:

[2020-12-09 15:13] leotrs commented on #850
Where did DraftScene come from?

[2020-12-09 15:15] leotrs commented on #851
Agreed with the general point.

One nitpick: I would rather see a complete overhaul of ValueTracker before we inherit anything from it. Every single use of ValueTracker I've seen seems unnecessarily clunky...

[2020-12-09 15:43] Viasis commented on #847
I've installed the community version of manim, but i have a little trouble using it from Jupyter instead. If the manimlib folder has been removed from the community version, how do i import the manim folder onto Jupyter

[2020-12-09 19:38] eulertour commented on #850
I just always give my Scenes that name so I can easily reuse command lines.

[2020-12-09 19:41] leotrs commented on #850
I confirm I can run the code in the OP and I get a similar error to @protonlaser91.

@eulertour are you on latest master? It sounds like the updater is being called before the ValueTracker has been created. In the past, each updater was ran once as soon as it was added, but that changed a while ago I think.

[2020-12-09 19:46] Ammar34 commented on #847
If added to path (you should check in environment variables) you can simply type ``from manim import *`` in your .py file before writing your code

[2020-12-09 20:28] eulertour commented on #850
@leotrs That was true, there was some path resolution running an old version. The first argument to an updater has to be the mobject being updated (not a Scene), so this version of the code works.
[code]

[2020-12-09 20:32] eulertour commented on #851
What sort of clunkiness are you trying to avoid?

[2020-12-10 02:31] eulertour commented on #849
I actually don't think there are many uses for this. It'd be an imprecise and difficult-to-debug way to implement video tests and won't be useful for scenes where mobjects transform in place.

[2020-12-10 04:36] Viasis commented on #847
I did as instructed by adding the manim folder into environment variables and replacing

[code]
to
[code]

But it shows a new error right now
[code]

My code is as follows,

[code]

[2020-12-10 06:10] baljeetrathi opened #852 "% signs result in crop or errors in manim text."
Here is an exmaple from Manim that tries to write `%`:

[code]

In the final animation, everything after `%` is cropped or not written in both `TextMobject` and `TexMobject`. This is the missing text bug.

If the percentage sign, moves between any opening or closing `{}`. It results in compilation error:

[code]

What causes this error?

[2020-12-10 07:43] Ammar34 commented on #847
Can I ask which application are you using to write your code?
Examples: VSCode, PyCharm, Spyder, JupyterLab

[2020-12-10 08:34] eulertour commented on #852
% is a special character in latex, so you probably have to escape it with \%. https://latex.wikia.org/wiki/Percent_sign_(LaTeX_symbol)#:~:text=The%20character%20sequence%20%5C%25%20generates%20a%20percent%20(%25)%20sign.

[2020-12-10 09:42] Ammar34 commented on #847
Okay I got it working. Try the following steps. (I suggest you start from scratch)

1.  Install all dependencies mentioned [here ](https://docs.manim.community/en/latest/installation.html#installing-dependencies)(install pango, FFmpeg, LaTex except for choco and installing manim from there). Dont forget to add to ``PATH``

2.  Launch Terminal and enter the following commands (I assume you have add

[2020-12-10 11:42] baljeetrathi commented on #852
Thanks @eulertour 👍. I used `\%` instead of `%` everywhere and it seems to work fine now.

[2020-12-10 11:42] #852 closed

[2020-12-10 15:14] Viasis commented on #847
Im currently using JupyterLab right now!! I've done as instructed, installing the various dependencies using the anaconda powershell and adding the files into path. But when I run the terminal using your code, nothing seems to show up.

![Capture](https://user-images.githubusercontent.com/75681028/101790120-0d78da80-3b3d-11eb-9236-5058edc55116.PNG)

Initially i had to include a line of code like t

[2020-12-10 15:18] leotrs commented on #847
No burden at all! This is why we have a community :slightly_smiling_face: If you would like some more interactive help, you can also try our discord server.

PS I believe @PgBiel has experience with getting manim running in notebooks.

[2020-12-10 15:29] ponmike92 commented on #841
@kilacoda only in namings. I have my own ShowCreation function. But for tests I created another one with name ShowCreation2.

[2020-12-10 15:32] ponmike92 commented on #841
I do insist in keeping the current behavior as the default, and having the new one optionally.

@leotrs Yeah, it is a good idea to keep current behaviour. I will have more time next week to test it. Any other suggestions or I can prepare PR?

[2020-12-10 15:41] ponmike92 commented on #842
@leotrs I did but results are the same.

[code]

[2020-12-10 16:23] kilacoda commented on #841
That's... not what I meant. In the code you said wasn't working, there was no mention of rate_func, however the traceback does, which may be responsible for varying outputs, and is thus not a clear indication of the issue.

[2020-12-10 17:44] naveen521kk commented on #757
I opened an issue on Pango's repo where when using fontconfig backend this warning gets hidden or gets lost somewhere. While the same when using Win32 backend(the one in windows) this doesn't happen. Maybe let's see what reply we get from them.
https://gitlab.gnome.org/GNOME/pango/-/issues/523

[2020-12-10 21:45] ponmike92 commented on #841
@kilacoda ok, thank you! I will look deeper in rate_func and for further tests

[2020-12-11 09:07] ponmike92 opened #853 "Refactor Arc (add setters, convert all attributes to properties)"
I struggled with current manim Arc class realisation for the following reasons:
1. I can't rely on attributes of Arc object. Points of object can be modified by shift, move_to, rotate or other methods but attributes stays the same.

2. I can't simply set new angle or radius or other Arc properties. I have to recreate object with new attributes.

3. I don't have enough Arc properties which can be u

[2020-12-11 09:49] #850 closed

[2020-12-11 10:20] eulertour commented on #853
In general relying on the array of points will yield more accurate results than relying on stored properties, since only the points are used during rendering. However, properties can't be derived from points in general, so I'd consider this to be a step in the wrong direction.

Non-stylistic properties are generally only accurate after a Mobject has been created and before it's been modified, whic

[2020-12-11 12:25] ponmike92 commented on #853
Agree. But if it comes to arc_center, tangent, start, end, radius .. they all can be easily retrieved through points. If it comes to more complicated object properties - they could be saved as attributes.

[2020-12-11 13:12] leotrs commented on #853
I don't understand what you mean by this, can you please clarify?

PS @cobordism and I started working on a PR to get rid of most getters and setters

[2020-12-11 13:26] leotrs commented on #842
In that case, since the current FadeIn is also showing this strange white line, then let's move forward with your PR

[2020-12-11 13:38] Viasis commented on #847
thank you @leotrs !! @PgBiel may i ask how did u install manim on jupyter (lab or notebook)? Would appreciate your help!! I've been trying to fix this problem for the past 2 weeks.

[2020-12-11 18:48] ponmike92 commented on #853
I can.
Good example of determining property through points is get_arc_center() method in Arc class.

[code]

If im not mistaken @eulertour wanna say that for more complicated objects will be hard to create algorithm of retrieving one of its property by its points.

To avoid misunderstanding:
**@property python decorator** and **object properties** - are two different instances. The latter is width

[2020-12-11 19:40] MysaaJava commented on #589
The pre-commit seems to work. But one problem is that, when black changes a file, the return code is set to nonzero and the commit action fails, even though the files are now correct. And because of that, i don't know if precommit will work when IDEs runs git, they may send a confusing warning. I can write a pre-commit script that will not face this problem, but then, devs will have to install it

[2020-12-13 10:17] silgon opened #857 "Pie Chart Animation"
I think that the title speaks for itself. I tried to find with the manim objects a Pie Chart, probably with animations. I didn't find anything on the web. I verify the objects in the package and it doesn't not exist either. Is there any easy way to create one, or is it in the plans of development?

Thanks!

P.S. Also, if somebody has some existing example, that would be great.

[2020-12-13 10:19] silgon commented on #771
So, in the end what solved my error was installing the `pango` and `cairo` from anaconda repositories, however `ffmpeg` from the ubuntu repositories (the one on anaconda was leading to an error with the codecs).

[2020-12-13 10:19] #771 closed

[2020-12-13 21:36] eulertour commented on #857
This can be done by using [Arc](https://github.com/ManimCommunity/manim/blob/68e66dccf5b47da7656211aaafdb1acc89c806a0/manim/mobject/geometry.py#L259). Code for a pie chart is too specific to be included here.

[2020-12-13 21:36] eulertour commented on #857
That said, it could be a good candidate for a plugin.

[2020-12-13 21:36] #857 closed

[2020-12-13 21:42] eulertour commented on #853
@leotrs One way to see it clearly is that there's no way to rederive a Circle's radius after transforming it to a Square.

@ponmike92 There are already Mobject properties that can always be derived from their data, but they're never class-specific. Things like, height, width, extreme points, style properties, etc. But trying to get the library to make attributes like radius work sensibly depending

[2020-12-14 05:54] ponmike92 commented on #853
@eulertour you mean that some classes have properties which are presented in both styles? Like cls.get_start() method and cls.start attribute

[2020-12-14 06:03] eulertour commented on #853
Some might, but what I mean is that all of them will retain their attributes even after they aren't accurate anymore.

[2020-12-14 06:35] XorUnison commented on #853
I'm not seeing how this would be an issue? Generally after such a transformation, an according accessible `Circle` object shouldn't even exist anymore, since like you said, it was transformed to something else. Trying to access the original `Circle` then is an user error.

I strongly disagree, assuming I even understood you correctly. Removing class-specific attributes would make the manim library

[2020-12-14 06:44] eulertour commented on #853
You could look at it this way, in which case you'd consider the difficulty from the first point of [the original comment](https://github.com/ManimCommunity/manim/issues/853#issue-762111872) to just be user error. It's less confusing if the software doesn't appear to have an accurate result while not actually doing so.

Why do you think this? The current attributes only store data that the user pro

[2020-12-14 08:45] XorUnison commented on #853
Correct, but the point would be for it to appear to have accurate results, while actually having those results correctly.

Yeah but if you scale an arc or transform one arc into another arc, all of the interpolated arcs in between are valid and sometimes you need their values. I think this because I've been there, so it's not a hypothetical either. Case in point, my third video employs transformat

[2020-12-14 09:45] eulertour commented on #853
Closing this since the cause of the issue has been cleared up.

[2020-12-14 09:45] #853 closed

[2020-12-14 10:46] Hari-07 commented on #848
I'd like to take this up if no one else is working on it

[2020-12-14 10:51] kolibril13 commented on #848
@Hari-07 :
Thanks for your interest!
That would be a very welcome contribution!
I am an ubuntu user, so maybe you can beforehand check if your properties are as empty as mine, so that we know that this is not only an ubuntu related problem.

[2020-12-14 21:43] jsonvillanueva commented on #452
I'm preemptively assigning myself this task as I'm currently learning Click for a [different FOSS project](https://github.com/boughts/bought). Feel free to take this up anytime within the next week @radiantly before I start the refactoring.

[2020-12-15 08:48] XorUnison commented on #787
@eulertour This is the other issue on implementing such properties in manim I was talking about btw, so if we bring this up in the next meeting you should be up to date with this thread.

[2020-12-16 16:26] kolibril13 commented on #786
@Dabada : Good suggestion!
If you have some time, feel free to open a pr!

[2020-12-17 21:23] silgon commented on #857
Anyway, I'm kind of trying (this is actually my first `manim` program).

[code]
The output:
![out](https://user-images.githubusercontent.com/901061/102544363-f85bf880-40b4-11eb-9fff-2e4c4640988b.gif)

Anyway, I know that I might write this message as a stackoverflow question, but since I believe on this site we probably have the people with the most experience with `manim`. I would like to write i

[2020-12-18 06:46] mohammadsaleh40 opened #863 "manim does not add svg text to the movie"
I want to add persian text to my video.I want to use the SVG file but the text inside is not displayed. [This is](https://svgshare.com/s/SHu) my sample file

this is my python code:
`from manimlib.imports import *

class aa(Scene):
    def construct(self):

        a=SVGMobject(r"/home/lpp/programing/manim/khodesh/svgfile")
        a.set_color("#00FFFf")
        self.add(a)
        self.wait()`

[

[2020-12-18 07:57] naveen521kk commented on #863
**Please follow the issue template while opening the issue.**

Thanks for opening this issue. We know that the SVG parser isn't that Good.
On seeing the import statement, I could infer that it is 3b1b's version of Manim. Did you try the same on community version before opening an issue?
Also, on the community version we have [Text](https://docs.manim.community/en/v0.1.1/reference/manim.mobject.svg

[2020-12-18 10:28] behackl commented on #327
By changing `extract_mobject_family_members` to sort all extracted mobjects, rather than just the passed ones (which doesn't affect mobjects which are contained within groups), i.e.

[code]

I get
![SquareToCircle](https://user-images.githubusercontent.com/11851593/102603574-4a3b6780-4123-11eb-967a-fe70c8ac4dd9.gif)
for @leotrs's example from the original post. Which looks fine to me (?)

What is

[2020-12-18 14:43] NeoPlato commented on #851
I support this venture. Seems helpful for the `add_sound` method in the scenes.

So there's the basic part: using it the first time is an error off the bat:

[code]

So I take care of that by changing `self.time` to `self.renderer.time` here:

![Yes](https://cdn.discordapp.com/attachments/581738732646957057/787693652699774976/unknown.png)

The animation actually plays well, with the sound in sync

[2020-12-18 23:32] sudgy opened #866 "tipa Package Breaks \implies"
When trying to run this simple scene:
[code]
the LaTeX compiling fails with the error `LaTeX Warning: Command \; invalid in math mode on input line 27.`  Removing the `tipa` package from the preamble fixes the issue, so it seems to be related to that.  Here is the full LaTeX log:
 [a96029e05ff38351.log](https://github.com/ManimCommunity/manim/files/5718500/a96029e05ff38351.log)

<details><summary>

[2020-12-19 00:09] eulertour commented on #866
I can reproduce the problem with `MathTex("\\implies")`, but `MathTex("x \\imples y")` or just `MathTex("\\imples y")` works as expected. It seems to be [this problem](https://tex.stackexchange.com/a/505705) and the solution described there, using `\usepackage[safe]{tipa}`, makes the first example work.

If you ctrl-f "safe" in [the tipa documentation](http://texdoc.net/texmf-dist/doc/fonts/tipa/t

[2020-12-19 00:14] eulertour commented on #851
@NeoPlato is right, this is already being done in `Scene.renderer.time`, so the solution shouldn't be any more complicated than adding a property to Scene to read the value from the renderer.

[2020-12-19 00:16] eulertour commented on #851
Scene caching does change it, but if the scene is cached anyway maybe that isn't a problem?

[2020-12-19 06:27] NeoPlato commented on #851
Would that ensure the frames get updated correctly even with caching?

[2020-12-19 06:36] eulertour commented on #851
The renderer time is updated in `CairoRenderer.add_frame()` and that's called from `Scene.play_internal()` which is skipped during caching, so unless this is handled somewhere else in the caching logic frames that depend on the cumulative time won't work properly if they follow a cached animation.

https://github.com/ManimCommunity/manim/blob/master/manim/renderer/cairo_renderer.py#L144
https://gi

[2020-12-19 06:41] NeoPlato commented on #851
Oh it skips the entire thing? That makes sense.

So you would have a separate construct that updates the frame from the `Scene` class independent of the caching

[2020-12-20 03:19] Hari-07 commented on #848
On windows rendered using WSL ,running the code in the quickstart section,both the 1080p 60fps and 480p 15 fps displays data rate, bitrate , frame size and frame rate. All the other details are blank though

[2020-12-20 15:22] kolibril13 commented on #848
I just loaded one video to kdenlive, and there the info is shown:
![image](https://user-images.githubusercontent.com/44469195/102716929-494f3500-42df-11eb-9df3-1b59d4870b17.png)
As this seems to be an ubuntu file browser related issue with not showing the frame rate, and resolution , I am closing this issue, but feel free  @Hari-07 , if you would like to add metadata like year, name etc.

[2020-12-20 15:22] #848 closed

[2020-12-20 15:32] kolibril13 opened #870 "Removing artifacts in default.cfg and new option to change frame rate"
https://github.com/ManimCommunity/manim/blob/c560ab397de70065dfae8af8474fe598158b464f/manim/_config/default.cfg#L98-L103
I think the sentence "overriding values are found in the corresponding sections" does not make sense anymore.
Further, let's say I want to have a video with 2 fps.
How do I do this at the moment?
Because when I run this script:
[code]
I have a video that is 30 seconds long. So i

[2020-12-22 12:36] #327 closed

[2020-12-22 13:52] kilacoda opened #874 "save_last_frame not working properly"
## Description of bug / unexpected behavior

The `-s` flag is intended to skip past all animations and output the last frame only, making it a frequently used tool for prototyping and debugging. However, as of late, when invoking manim as follows: `manim <file.py> <scene> -ps` , the scene is rendered fully as it would were the command be `manim file.py scene -p`, except for the resulting media bei

[2020-12-22 16:18] leotrs commented on #782
@protonlaser91 could you please either (a) update the title of this issue to better reflect your intent, or (b) close it?

[2020-12-22 17:10] MrMallIronmaker opened #875 "self.move_camera does not move center to frame_center in 3d scene"
## Description of bug / unexpected behavior

At the end of the motion animation, the dot, which represents the target of the move_camera operation, is not in the center of the image.

## Expected behavior

I expected the dot to be in the center when the animation finishes.

## How to reproduce the issue

<details><summary>Code for reproducing the problem</summary>

[code]

</details>

## Additiona

[2020-12-22 17:43] MrMallIronmaker commented on #875
At least one of my issues is not understanding the semantics. In a simpler version, where the move and rotations happen separately, the frame_center position does stay the same while other items rotate around it.

Is there something like "move_to" that applies to cameras?

[2020-12-22 17:56] #782 closed

[2020-12-23 16:32] leotrs commented on #875
Have you tried `camera.frame.move_to`?

[2020-12-23 16:34] leotrs commented on #870
These two sound like entirely different things to me - am I missing anything? What is the reason to report these two in the same issue?

[2020-12-23 18:37] sydelcid opened #879 "Error when trying to run Opening Manim Scene"
## Description of bug / unexpected behavior
Hi, I am facing an error when trying to run Opening Manim Scene. Other examples seem to run fine. The issue seems to be on the "Tex" function. However, I'm also getting a lot of warnings even before this. I don't seem to face issues when not using "Tex", for example "MathTex" and "Text" work fine in various examples. However, when using "Text", it doesn'

[2020-12-23 22:37] kolibril13 commented on #870
It is both related to frame_rate from the config class.
But I can also make a seperate issue for the second problem with the changing scene length if that would simplify the discussion

[2020-12-24 01:22] MrMallIronmaker commented on #875
If I understand correctly, that only works for MovingCameras, which don't do 3D stuff, right? I'm using a ThreeDCamera.

[2020-12-25 22:44] #849 closed

[2020-12-26 16:45] Hari-07 commented on #851
I'd like to take up this issue but since I havent worked on this project before a few pointers might help to start with this issue

[2020-12-26 16:54] Hari-07 commented on #829
What about making a full GUI for manim? Maybe as a GSOC Projecy

[2020-12-26 18:02] leotrs commented on #851
@Hari-07 thank you for volunteering! What kind of pointers are you looking for? If you start your work and come across a concrete doubt, don't hesitate to ask here or on our discord.

[2020-12-26 18:03] leotrs commented on #829
@Hari-07 there are indeed some projects in the works about that.

[2020-12-26 18:03] leotrs commented on #829
@kolibril13 would you please update this issue with a more concrete action item? The first item you mention is already possible. I am against implementing the second one. If others feel the same way then we can close this.

[2020-12-26 18:04] Hari-07 commented on #829
@leotrs like? Can you give some links... That seems very interesting work

[2020-12-26 18:08] leotrs commented on #829
You should probably start by reading the documentation on the main manim classes https://docs.manim.community/en/latest/

[2020-12-26 18:18] leotrs commented on #875
In that case, I have no more suggestions :disappointed:

TBH, next time I have some time I want to work on a complete rewrite of the Camera class...

[2020-12-27 03:50] tmelorc commented on #879
Maybe the problem is conversion from dvi to svg.

[2020-12-27 16:39] naveen521kk commented on #879
Looks like a problem with miktex. Where it didn't provide the necessary svg file. Maybe try reinstalling?

[2020-12-27 16:47] naveen521kk commented on #590
Is this issue done? I could see only `svg_parser` brach from @yoshiask and @kilacoda 's brach with a open PR.

[2020-12-27 16:49] naveen521kk commented on #513
@eulertour are you working on this?

[2020-12-27 16:50] naveen521kk commented on #469
This is fixed in latest release.

[2020-12-27 16:50] #469 closed

[2020-12-27 16:53] naveen521kk commented on #52
I have made #835 which type some parts of code and this can be done for the other parts of the code also.

[2020-12-27 18:01] kolibril13 commented on #829
Sorry for opening this issue and then abandoning it.
Thanks for pointing this out with config file!
And I agree that the preview feature does not really need to be part of the core lib.

[2020-12-27 18:01] #829 closed

[2020-12-27 20:41] newell opened #880 "Tex submobject scaling incorrect characters depending on font used."
## Description of bug / unexpected behavior

When scaling Tex submobjects, sometimes it incorrectly scales other characters not in the scaled submobject or only part of the submobject.
I have seen this for a couple of fonts, including EB Garamond below, while for the default font I don't see the issues.

## Expected behavior

I would expect the intended scaled submobject to be the actual one that

[2020-12-27 22:39] eulertour commented on #513
No, I got sidetracked with other things

[2020-12-27 22:59] eulertour commented on #590
It may be time to just delete them

[2020-12-28 00:46] chenyulue commented on #469
@naveen521kk Thanks for your work!

[2020-12-28 14:37] sydelcid commented on #879
Thanks for looking into it. It seems to work perfectly fine with MathTex and Text. The "Tex" command gives error somehow, not sure why. Also, the warnings may be about the rendering, but the main error seems to be in substring split, if someone could comment on this:

  File "openmanim.py", line 4, in construct
    title = Tex("This is some \\LaTeX")
  File "c:\users\syd\anaconda3\envs\qclearnz\li

[2020-12-28 14:43] behackl commented on #879
You either need to duplicate backslashes (`\\LaTeX`) or use raw strings (`Tex(r"This is some \LaTeX")`). The example in our documentation uses double backslashes (https://docs.manim.community/en/v0.1.1/examples.html#openingmanim).

In case this is just a display bug and you actually have double backslashes: can you please paste the full source code that you are trying to render, along with the ful

[2020-12-28 14:44] naveen521kk commented on #879
Also, please clean your media directory. `--disable_caching` doesn't check for it.

[2020-12-28 18:39] TechnocracyArabic opened #882 "Trying to render short Arabic Text"
## Description of bug / unexpected behaviour
Trying to render a Scene with one word Arabic `Text` but give an error without rendering any scene.
Though, rendering the Scene with two Arabic words or one long word work fine.

## Expected behaviour
Rendering a Scene with the Arabic text with the desirable font whether it is small one word or multiple long words.

## How to reproduce the issue

<detai

[2020-12-29 15:29] leotrs commented on #870
It setting frame_rate = 2 actually gives you 2 frames per second then this sounds like there is a problem with self.wait. cc @eulertour

[2020-12-29 15:30] leotrs commented on #880
Thank you for reporting! This is a very strange bug indeed - cc @ManimCommunity/latex

[2020-12-29 15:32] leotrs commented on #882
Thanks for reporting!

@naveen521kk this sounds like the submobject arithmetic is making a wrong assumption somewhere. What do you think?

[2020-12-29 15:43] naveen521kk commented on #882
I had some debugging on this yesterday when he originally reported this on [discord](https://discord.com/channels/581738731934056449/582403919754297363/793177765423087618). I found that the rendered SVG had nothing in it, it was just an empty SVG when the font is passed. I think something is going wrong in our setup and it needs a little more investigation.

It is just the part on `Text` and not a

[2020-12-30 16:47] ChristianCoenen opened #885 "Multiple play arguments not working with the new syntax introduced with #881"
## Description of bug / unexpected behavior
Was just starting to refactor my code base to match the new syntax introduced in #881 (great improvement btw, l like it!) when I saw that only the first animation is executed while the second is completely ignored.

## Expected behavior
To rotate and move the object at the same time.

## How to reproduce the issue
[code]

[2020-12-30 17:19] behackl commented on #885
Thank you for your report! I can confirm that this was possible before #881, seems like we might need to bring back some logic in `Scene.compile_animations`.

I'd consider this a blocker; if possible I'd like to avoid releasing `v.0.2.0` with this bug present.

/CC @eulertour

[2020-12-30 17:31] friedkeenan commented on #885
Oh, this might be because every time the .animate attribute is used, it generates a new target for the mobject

[2020-12-30 18:34] behackl commented on #885
I've proposed a fix in #887. Locally, it seemed to solve the problem; please check it out @friedkeenan @ChristianCoenen

[2020-12-30 19:01] ChristianCoenen commented on #885
@behackl Thanks for the quick fix, solves the problem for me.

[2020-12-30 20:30] behackl commented on #879
@sydelcid any update on this?

[2020-12-30 21:24] PhilippImhof opened #888 "AnimationGroup and Succession not working properly with integer lag_ratio"
## Description of bug / unexpected behavior

Consider the following code:

[code]

It shows `b`, fades in `a` and then removes `b` before fading it in.

## Expected behavior

It should fade in the text `a`and, once this is done, fade in the text `b`.

## Additional comments

It seems to be a problem with the fact that `lag_ratio` is an integer. If I set `lag_ratio=1.0`, the code works as expected.

[2020-12-30 21:56] eulertour commented on #885
I don't like the idea of playing two animations on the same mobject simultaneously in the same play call. It makes the behavior of every animation dependent on the animations it's animated with.

I'm fine with syntax like `r.animate().move_to(...).rotate(...)` returning a single animation so that we avoid relying on intermediate states of an individual play call.

[2020-12-30 22:15] wurmfood commented on #879
Not the original person, but I'm seeing the same behavior.

Code:
[code]

Terminal output:

  warnings.warn("%s not recognized" % ref)
d:\david\repositories\manim\.manimenv\lib\site-packages\manim\mobject\svg\svg_mobject.py:239: UserWarning: g0-101 not recognized
  warnings.warn("%s not recognized" % ref)
d:\david\repositories\manim\.manimenv\lib\site-packages\manim\mobject\svg\svg_mobject.py:239:

[2020-12-30 23:12] wurmfood commented on #879
tldr: dvisvgm is broken with the default miktex install. If you get the version from the dvisvgm website (v. 2.11), it works.

Trying to find more information about this, I tried using dvisvgm directly.
[code]

Both DVIs work just fine (tested using yap from MikTex). It looks like it's the conversion that's the problem.

In the SVGs created, the ones that don't work are missing the paths under def

[2020-12-30 23:19] tmelorc commented on #879
I also got problem with dvisvgm. So hat I did was run `pdflatex` instead of `latex`. I don't know what is advantage to use dvi instead of pdf.

[2020-12-31 07:48] ChristianCoenen commented on #885
This would also be a solution that works for my codebase.

Just want to raise awareness that animations like the following might be problematic in the future (currently, this isn't working as intended anyway, so it's not a big deal):

[code]

[2020-12-31 08:27] eulertour commented on #885
Yes, there should probably be a check somewhere that the same mobject isn't animated twice in one play call.

[2020-12-31 08:46] eulertour commented on #885
On second thought I don't know if it makes sense to add a check for that since it would require searching all of the mobjects in the scene including submobjects. It's probably more effort than it's worth.

[2021-01-01 19:01] behackl opened #895 "Implement a Jupyter cell magic %%manim"
## Description of proposed feature

The package [`jupyter_manim`](https://github.com/krassowski/jupyter-manim) allows a neat integration of (3b1b) Manim in Jupyter notebooks. At some point, we discussed sending a PR to make `jupyter_manim` compatible with the community version -- but actually, as has been pointed out in https://github.com/krassowski/jupyter-manim/issues/26, it would be a much bett

[2021-01-01 19:16] behackl commented on #819
I've added an example similar to the one @cobordism suggested on Discord to the changelog; also our documentation has been updated accordingly.

I think this issue can be closed for now.

[2021-01-01 19:16] #819 closed

[2021-01-02 10:01] behackl commented on #885
With #889 we have implemented a different sytax able to handle this.

[2021-01-02 10:01] #885 closed

[2021-01-02 19:49] MrMallIronmaker commented on #875
My eventual workaround was to `shift` everything in the scene by a specified amount. It's hacky, but this is for code I'll likely never touch again after making a video.

Unless you want to keep this issue open as a feature request, I think it should be closed.

[2021-01-02 21:21] lrfinotti opened #899 "distance attribute is ignored by camera in a three d scene"
## Description of bug / unexpected behavior

The `distance` parameter is ignored in `set_camera_orientation` and `move_camera`.  Setting different values has no effect.  (See also: https://github.com/3b1b/manim/issues/999)

## How to reproduce the issue
<details><summary>Code for reproducing the problem</summary>

[code]

</details>

## Additional media files
<details><summary>Video</summary>

htt

[2021-01-02 23:30] wurmfood opened #900 "VDict adds items to scene when added to VDict"
## Description of bug / unexpected behavior
Create a VDict.
Add item to VDict.
Add VDict to scene.
Add item2 to VDict.
Item2 is automatically added to the scene.

## Expected behavior
Objects added to the VDict after the VDict has been added to the scene should have to be added manually.

## How to reproduce the issue

<details><summary>Code for reproducing the problem</summary>

[code]

</details

[2021-01-02 23:33] wurmfood opened #901 "Items added to VDict don't respect z-index"
## Description of bug / unexpected behavior
Create a VDict.
Add item to VDict with no z-index
Add item2 to VDict with z-index=-1
Item2 is rendered on top of item.

## Expected behavior
Items should respect the z-index. I think this may be related to the other issue I just submitted (#900) where items are added on their own.

## How to reproduce the issue

<details><summary>Code for reproducing the

[2021-01-03 04:24] Analytical1703 opened #902 "Sound in manimce"
I want to add sound to my video in manimce like manim by 3b1b

I use the following code -:

`self.add_sound(" sound file name in assets folder", gain = value)`

But it's giving an error in manimce

![20210102172136](https://user-images.githubusercontent.com/76893489/103471739-ab14a200-4da9-11eb-978d-74ff95788ee5.jpg)

I think there will be some other syntax in manimce.

Please resolve this!!

[2021-01-03 22:12] Pinjuf opened #905 "IndexError when using Text"
I'm trying to render a scene containing Text (using Tex/TextMobject), but I obtain the following error:
`File "C:\Users\Pinjuf\AppData\Local\Programs\Python\Python37\Scripts\manim\manim\manim\mobject\svg\tex_mobject.py", line 430, in break_up_by_substrings
sub_tex_mob.move_to(self.submobjects[last_submob_index], RIGHT)
IndexError: list index out of range`

This appears to always happen when trying

[2021-01-03 22:21] wurmfood commented on #905
Take a look at bug #879 for information.

[2021-01-03 22:50] #905 closed

[2021-01-03 23:31] leotrs commented on #902
Hello @Analytical1703 and thanks for reporting.

Could you please use the rest of the issue template? In particular, we *need* to know what version of manim (and its dependencies) you are using. Otherwise there is no way of helping you.

[2021-01-04 11:05] Pinjuf commented on #879
Also had the exact same problem, replacing dvisvgm didn't help. I replaced MikTeX with TeX Live and everything worked perfectly fine.

[2021-01-05 15:47] leotrs commented on #901
Thanks for reporting. We plan to remove the z-index and just use the z-coordinate of mobjects to determine on-screen order, so unless that has changed in the past few weeks, I'd say this is a `wontfix`. cc @behackl @eulertour

[2021-01-05 15:47] leotrs commented on #900
Thanks for reporting! This is a long standing issue that came up when VDict was being implemented, though it also exists for VGroup. I'm not sure if we have concrete plans for a fix...

[2021-01-06 02:38] behackl commented on #590
I think this can be closed.

[2021-01-06 02:38] #590 closed

[2021-01-06 11:17] andreyuhai commented on #895
I've actually been trying to create a package for that but since there is an open issue I would like to share what I've tried so far.
I've read [`jupyter manim`](https://github.com/krassowski/jupyter-manim) and as mentioned, it's a workaround because you can not really call `manimlib.__init__.main()` with the arguments, the same applies to ManimCommunity/manim. Moreover, there is no way to know wh

[2021-01-06 11:35] behackl commented on #895
Thank you for your report!

A while ago, I was working on getting `jupyter_manim` compatible with `manimce` and got it up and running eventually, but it *did* require some additional work (I can't recall precisely what I did, but I faintly remember having to fix setting config options and making sure that the output file is actually where it is supposed to be; something along these lines).

Techni

[2021-01-06 16:52] leotrs commented on #888
I think @behackl was looking into a similar problem a few weeks ago.

However, I have no idea why this would happen for integers but not for floats...

[2021-01-06 22:49] #588 closed

[2021-01-06 22:57] kolibril13 opened #909 "v0.2.1 Roadmap"
# Things to discuss

# Things to implement
* Jupyter notebook support #895

_Feel free to edit this message and add further points!_

[2021-01-07 05:52] clarfonthey opened #910 "Feature request: Subtitle timings"
## Description of proposed feature

It would be fairly useful to have animation options that aren't for actually displaying anything, but for marking the timestamps in an animation with text that can be used to export subtitles.

Since a lot of videos made in manim are intended to include additional voiceover, this would make timing subtitles, or at least adding subtitles for the intended script t

[2021-01-07 16:33] leotrs commented on #910
Hello and thanks for the suggestion!

I must say that my position is a "soft no". I am not an expert, but I believe there are ways of adding subtitles that are external to how the video is rendered. For example, in most playback software that accepts subtitles, you have the option to turn subtitles off and on. However, in what you propose, there is no way of turning subtitles off and on once the v

[2021-01-07 16:35] clarfonthey commented on #910
To clarify, this would specifically be for closed subtitles (i.e. not directly rendered) rather than open subtitles (rendered onto the video itself). Since it'd be storing the subtitles in a separate file the main benefit is to export timing information from the rendered animation.

[2021-01-07 16:38] leotrs commented on #910
Oh okay, that makes more sense.

If I'm not mistaken, this would depend on the underlying renderer. For example, I would assume there is a way of telling ffmpeg to add closed captions and/or telling ffmpeg about the timing information for the closed captions. If that's the case, then this would probably be more than a plugin as it would have to change how the rendering step happens...

[2021-01-07 16:39] clarfonthey commented on #910
(I also suggest in the post that it could just output as a .srt file, which is just a text file and super easy to do by hand. Most video players nowadays will automatically read this if it's in the same folder.)

[2021-01-07 16:46] leotrs commented on #910
Is that all that needs to be done? Or does the actual mp4 file need to include some information as well? (Sorry I didn't see that part first!)

[2021-01-07 16:49] clarfonthey commented on #910
No worries! I am also guilty of commenting without reading everything first. :p

And… yeah, pretty much. There are more complicated video containers like mkv that can include the subtitles with the video, but in a lot of cases it's sufficient to just output an SRT file next to the video with the same name and the extension replaced with .srt.

I wasn't 100% right on the timings just being individu

[2021-01-07 16:53] leotrs commented on #910
In that case, then I do think we can make this part of the core library.

I agree with you that the interface should look like an Animation.

The part that needs a bit of thinking would be the actual writing of the file. I suggest we create a new class SRTWriter or CCWriter or something like that. And all of the functionality can be imported as `from manim import captions` and then do `captions.cl

[2021-01-07 18:28] aman17009 opened #911 "Manim cannot render scenes with latex in it"
## Description of bug / unexpected behavior
I downloaded ManimCE and Manim-Latex using Chocolatey in my Windows 10 64 bit machine by following the steps given in manim.community website. Unfortunately, I am not able to render any  video which has Latex in it. If the code does not contain any latex then everything works fine.

Whenever I try to render a video which has Latex, the file manim/utils/t

[2021-01-07 18:50] behackl commented on #911
Sounds like there is a problem with your LaTeX installation. Can you please post the full traceback returned by Manim when you try to render the scene above?

What does `where dvisvgm` return when run within `cmd.exe`?

[2021-01-08 11:47] WhenMelancholy opened #912 "Support more svg syntaxes"
## Description of bug / unexpected behavior

1. Manim will treat `c p1 p2 p3 p4 p5 p6...` as a Cubic Bezier curve command and there will be an error, but it should be treated as multiple curves.
2. Some svg files contain positions like `99.98.97` which means `99.98 0.97`, and it will cause `float()` throws a `ValueError`

## How to reproduce the issue

[code]
This svg file will cause the first and

[2021-01-08 12:52] dlnnlsn commented on #912
Actually, I think that the 'c' command does work correctly, but 's' does not. (Depending on what one considers to be "correct", but the code currently anticipates that 'c' could be followed by the points to specify multiple curves, but it doesn't do the same thing for 's'.)

[2021-01-08 13:58] leotrs commented on #912
Hello @WhenMelancholy, thanks for reporting this!

We are well aware that the SVG parser in manim is severely lacking in features. Unfortunately, this is something that we have not had the bandwidth to address yet. If you are able, we would love a contribution or PR in this regard.

[2021-01-08 15:02] MrMallIronmaker commented on #912
I'm also having similar issues - the ValueError one in particular. Is there a intuition from the dev team whether manim should parse the svg files on their own or whether it should interface with an svg library?

[2021-01-08 15:06] leotrs commented on #912
@MrMallIronmaker the problem is that whether or not we use an external library, at the end we will need to manually build a Mobject from the SVG. Otherwise you won't be able to use Animations on your imported SVGs.

[2021-01-08 15:56] aman17009 commented on #911
Today, I uninstalled the Manim-Latex package by running the command - "choco uninstall manim-latex' and then installed the package again by running the "choco install manim-latex " command. I got the following errors while doing so. When I installed the package for first time a few days back I got these exact same errors.
![hola 1](https://user-images.githubusercontent.com/77117373/104034073-68fab

[2021-01-08 15:57] leotrs commented on #911
cc @naveen521kk

[2021-01-08 15:59] behackl commented on #911
It looks red and scary, but the output actually is not an error: you can see the return code ("0") in the end, indicating that everything is okay.

Maybe @naveen521kk can have a short look whether everything is okay with the way manim-latex is installing -- but then this can be closed.

[2021-01-08 16:19] MrMallIronmaker commented on #912
Right, right. If we limit ourselves to `<path>` type objects, it looks simple enough to effectively roll our own. I wonder though - there are a lot of other features in the SVG standard that we may have to support too. If there's an interface someone has already developed to go from SVG to points, then the translation from points to Mobject would be much simpler. I haven't seen that library, but I

[2021-01-08 16:23] leotrs commented on #912
It might well be the case that our job would be made easier by some library that already parses SVG files and converts them to some abstract representation. But in that case we would have to convert that abstract representation to our own...

[2021-01-08 16:38] #911 closed

[2021-01-08 16:47] naveen521kk commented on #911
Yeah chocolatey mixing stdout and stderr and this happens. It's kinda expected for this to happen but as @behackl pointed out there is a `0` at the end which says this are working no worries.

[2021-01-08 17:48] MrMallIronmaker commented on #912
A quick (ten minute) search led me to a lot of libraries that convert to a file format (PNG, PDF) or object another library expects (ReportLab, Cairo). It doesn't seem like there's a swiss-army-knife for SVG that these files build on.

Before I go digging deeper into the mess of libraries, I want to take stock of the kinds of SVG files people tend to need to import in Manim, so I'm in the middle o

[2021-01-08 17:50] leotrs commented on #912
We gathered some here https://github.com/ManimCommunity/manim/projects/8

[2021-01-08 18:31] MrMallIronmaker commented on #355
I've collected 14 SVGs from the Discord to develop SVG tests upon. I had planned to upload the SVGs, but Github issues didn't support that, so I've instead attached them to my fork of Manim. I hope it's not too much of a mess for someone else to download if they need to. https://github.com/ManimCommunity/manim/commit/303b8c2b88f7d1601419ce3010976139fa74c665

[2021-01-08 20:34] noamzaks opened #913 "Bipartite graph mobject"
## Enhancement proposal
Add support for bipartite graphs in the Graph mobject (or create a BipartiteGraph mobject) which lays out the vertices in two columns, e.g.

https://user-images.githubusercontent.com/63877260/104060416-8718ec80-51ff-11eb-9a1f-47487da8c162.mp4

## Additional comments
I was able to implement this in two ways: either create a Graph mobject from a networkx graph while retaining

[2021-01-08 21:37] behackl commented on #913
Thank you for your proposal, I definitely think we should support something like that.

If we go for extending the original constructor to support `layout="bipartite"`, I would prefer to add a keyword `partitions=None` from which the partition data is read instead of passing a networkx graph; then we can either communicate the partitions to networkx to build the layout for us, or we simply do it o

[2021-01-08 22:28] noamzaks commented on #913
Thanks for the quick reply!
After searching again for networkx bipartite layouts, it turns out there is a built in one.
Here's the modified code for the Graph mobject constructor (also available with diff highlighting [here](https://github.com/noamzaks/manim/commit/64bfa7fca72229d568dfe16dd2b16a520377a16c)):
[code]
It works with the following example:
[code]

I also added documentation (is it form

[2021-01-08 22:32] noamzaks commented on #913
After another quick scan of networkx documentation, [this](https://networkx.org/documentation/stable/reference/drawing.html#module-networkx.drawing.layout) might be worthwhile (specifically multipartite_layout for more than 2 partitions). Looks to me like it's the 3 column approach, and not the triangle (apropos in the example they use the method `nx.complete_multipartite_graph(28, 16, 10)`).

[2021-01-09 00:08] clarfonthey commented on #909
Definitely going to want to get #907 in 0.2.1 as well.

[2021-01-09 00:41] clarfonthey opened #914 "Guidelines on what's reasonable to include in manim package + "contrib" package/folder/repo"
## Enhancement proposal

I started learning manim and because I'm the kind of person who likes to generalise everything, I decided to make more-general mobjects for some of the shapes and objects that I've been making, e.g. I made a mouse cursor shape that someone else might be useful. But right now, there's not really any guidelines on what seems reasonable enough to put in the manim package itse

[2021-01-09 01:01] behackl commented on #914
I like the idea of a `manim-contrib` (or something along those lines) repository collecting some of these things.

[2021-01-09 01:09] behackl commented on #913
I was not suggesting that we should include all of that at once; I think a pull request enabling `layout="bipartite"` would be fine as a first step (and probably easier to review and merge, anyways :-)).

At a first glance, both the code and the example look very good to me. Can I ask you to send a pull request from your repository to ours containing these changes? I'll take a closer look at it th

[2021-01-09 09:13] ponmike92 commented on #914
@clarfonthey I've come with same idea several months ago. As well as you I create my own classes inherited from VMobject to reuse them in my projects. And it is controversial to suggest to implement them as part of manim due to its narrow focus.

Where can be two main benefits for creating this repo:
1. Your will learn faster how to use manim by viewing other users code
2. You won't be too stricte

[2021-01-09 11:22] #913 closed

[2021-01-09 12:06] ponmike92 commented on #909
Look forward to have ability to create custom animations for mobjects somehow like so:

[code]

[2021-01-09 13:45] aman17009 commented on #909
An intuitive API for creating custom Mobjects.

[2021-01-09 13:57] dbitouze opened #918 "More details in the Breaking Changes"
## Enhancement proposal
Give more details in the Breaking Changes of the [0.2.0 version](https://docs.manim.community/en/v0.2.0/changelog.html#v0-2-0) of Community Manim.

For instance, with this version, this [animation](https://github.com/Elteoremadebeethoven/MyAnimations/blob/master/logo_scene/2d_graph_scene.py) provided by Elteoremadebeethoven doesn't compile any more. I guess this is due to t

[2021-01-09 14:13] behackl commented on #909
This is very unspecific, could you please give some details what you have on your mind (preferably in a separate issue).

[2021-01-09 14:19] behackl commented on #909
As long as your custom `ShowCreation` returns an animation, I don't see why this wouldn't work already.

[2021-01-09 14:39] behackl commented on #918
Not at all. As described in our changelog, only calls like `self.play(my_mobject.method, method_arg)` do not work any longer and have to be written using the new `.animate` syntax. In the code you posted, there is just one such play call, namely

https://github.com/Elteoremadebeethoven/MyAnimations/blob/f4504958c87a8b28fc0dadbb8c3eedf6e753dbf8/logo_scene/2d_graph_scene.py#L169

should become

[cod

[2021-01-09 15:32] dbitouze commented on #918
Unfortunately, it still returns an error:

[code]

To be honest, I haven't any suggestion because I was (I am) a bit lost:  I still have absolutely no idea on how to adapt to the new syntax in the general cases: in the current one, I had the impression all the `self.play` had to be changed (not "[a]ll other play calls look fine to me." :smile:) and, in the one line 168, I wouldn't have guessed the

[2021-01-09 16:16] behackl commented on #918
Did you change the import line to `from manim import *` as well? It seems to me that there might be a problem with different Manim versions or so.

The breaking change just concerns calls to play that passed first the method of an mobject, and then the corresponding arguments -- because the logic for handling a call like `self.play(ShowCreation(my_circle), my_square.shift, LEFT)` was very complica

[2021-01-09 16:31] dbitouze commented on #918
Sorry, I don't see what you're talking about. At the beginning of the [`2d_graph_scene.py`](https://github.com/Elteoremadebeethoven/MyAnimations/blob/master/logo_scene/2d_graph_scene.py), I see:
[code]
but I guess that's not what you mean.

Highly possible, and I don't know how to clean up my computer :confused:

I guess what I'm missing is what "method of an mobject" does mean. If you have some p

[2021-01-09 16:47] behackl commented on #918
That *is* what I mean: if you want to run this code with the community version of Manim, you will have to change this line to `from manim import *`.

You could visit our Discord and post in one of the manim-help channels -- it is a bit easier to figure out what is wrong there.

Methods are special functions that are, in some sense, attached to instances of classes. In the example above, `my_square

[2021-01-09 17:10] dbitouze commented on #918
Ah, OK. It does compile now and the animations are created, despite an error and some warnings (see below). The error is also related to the Breaking Changes:

And, indeed, the file contains:
[code]
but I must admit the hint in the Changelog:

is not that clear for me: what "`my_mobject" for e.g. `"y_max": 8` and where should it be used in the rest of the file?

One of the warning is:

So I guess

[2021-01-09 17:53] behackl commented on #918
The interface for passing keyword arguments to the scene itself is, unfortunately, not the cleanest yet. Have a look at how this is done in our example gallery: https://docs.manim.community/en/v0.2.0/examples.html#plotting-with-manim

This has already been fixed and will be included in the next release: https://docs.manim.community/en/latest/tutorials/quickstart.html

Fair, it is of course not req

[2021-01-10 02:59] naveen521kk commented on #909
I am hiding all the comments above. Please keep the discussion related to the issue. You can create one if it doesn't exist.

[2021-01-10 08:34] Analytical1703 opened #919 "MoveAlongPath, .animate, .rotate not working in case of square and circle"
# code_1
[code]

#code_2

[code]

#Error
Dot has no attribute 'MoveAlongPath'

Square has no attribute 'animate'.

[2021-01-10 10:56] behackl commented on #918
Given that there is no explicit enhancement proposal in this issue, I'll mark it as wontfix and close it.

[2021-01-10 10:56] #918 closed

[2021-01-10 11:00] behackl commented on #919
Please use the issue template when reporting bugs; we need to have the complete console output to help.

In this case: for `MoveAlongPath`, have a look at our documentation: https://docs.manim.community/en/v0.2.0/reference/manim.animation.movement.MoveAlongPath.html?highlight=movealongpath#manim.animation.movement.MoveAlongPath -- it is not used in the way you are trying to use it.

The second err

[2021-01-10 11:00] #919 closed

[2021-01-10 11:07] dbitouze commented on #918
OK. In this case, replacing:

[code]
by:
[code]
did the trick.

Nice!

Okay (I'm using Linux).

Thanks!

[2021-01-10 11:07] naveen521kk commented on #863
Closing this because of no response.

[2021-01-10 11:07] #863 closed

[2021-01-10 11:16] Analytical1703 opened #921 ".rotate() not working"
#921
`nl = NumberPlane()

        dot_1 = Dot([0,0,0],color=PINK)
        dot_2 = Dot([2,2,0],color=RED)

        self.play(
            ShowCreation(nl),
            run_time=2
        )

        self.wait(1.5)

        self.play(
            FadeIn(dot_1),
            FadeIn(dot_2),
            run_time=2
        )
        self.wait(1.5)`

       `arrow = Arrow(dot_1,dot_2,buff=-0, color=YELLOW)

[2021-01-10 12:01] behackl commented on #921
The ValueError (`ValueError: I think you may have invoked a method you meant to pass in as a Scene.play argument`) already indicates the problem: in order to animate the rotation, your call

[code]

has to be written as

[code]

Not a bug. Closing.

[2021-01-10 12:01] #921 closed

[2021-01-10 12:04] Analytical1703 commented on #921
`.animate()` is also not working you fool

[2021-01-10 12:04] behackl commented on #921
... the error also indicates that you are not on the latest version of the community edition; my comment above only works with that. On older versions, you would put

[code]

or so. I strongly encourage you to upgrade, though.

[2021-01-10 12:05] Analytical1703 commented on #921
Tell me how to upgrade it

[2021-01-10 12:08] behackl commented on #921
You can continue to comment on closed issues, and I will continue to reply -- if you stay respectful, and calling someone a fool is really quite the opposite. Open issues are for actual bugs or enhancement proposals in the library, and not for discussing user errors.

Guessing from your install path, I'd think you used `pip install manim` at some point... then `pip install manim --upgrade` should

[2021-01-10 16:58] leotrs commented on #921
@Analytical1703 Calling names is not acceptable behavior in our community. Should you continue to have issues, feel free to keep reporting them. If you do so, DO NOT call names to those who are trying to help you.

I'm locking this issue.

[2021-01-11 05:56] ponmike92 commented on #909
Things to implement: Unit conversion support #742

Did not find how attach to main message.

[2021-01-11 06:38] clarfonthey commented on #909
(Only repo maintainers can edit issue descriptions)

[2021-01-11 08:49] ChristianCoenen opened #924 "n x 1 DecimalMatrix seems broken"
## Description of bug / unexpected behavior
Decimal numbers are split into their chars and each char is rendered as its own column.

## How to reproduce the issue
[code]

</details>

## Additional media files
<img width="713" alt="Screenshot 2021-01-11 at 09 48 12" src="https://user-images.githubusercontent.com/22744609/104160922-3ae1ce00-53f2-11eb-9cca-e77f1ecdb23b.png">

[2021-01-11 09:33] ChristianCoenen commented on #924
Investigating further, I figured out that it was my bad. The following syntax works.
[code]

However, I would've expected the code above to produce the same result. Especially since it is inconsistent with a Matrix object as seen below:

[code]
Produces:
<img width="563" alt="Screenshot 2021-01-11 at 10 31 36" src="https://user-images.githubusercontent.com/22744609/104164447-36201880-53f8-11eb-9db

[2021-01-11 09:56] ChristianCoenen commented on #924
What fixes the problem for me is changing line 100 in ```matrix.py```
[code]
to
[code]

What ```ndmin``` does, is appending a dimension if the min dimension is not reached.
So a vector of shape ```(2)``` would be changed to ```(2, 1)```.

I also think it is better to ensure a consistent 2dim shape when creating a Matrix. Otherwise, the code has to differentiate between 1d numpy shapes ```(X, )```

[2021-01-11 16:33] #902 closed

[2021-01-11 17:27] kolibril13 commented on #895
I am really excited about this integration idea!

Before going into deep details, I have some conceptional thoughts of what this manim jupyter feature should be used for.

I could see two approaches:
1. We keep all the manim functionality that is also available in the current manim when run from a .py file with terminal, and also include all the CLI flags.

2. We develop manim functionality that i

[2021-01-11 17:42] behackl commented on #895
Personally, I would keep the magic cell interface as close as possible to the command line interface as possible: it would seem weird to me, from a UX perspective, to introduce a completely different way how Manim code should be written and run.

The advantage I see for writing the exact same code in Jupyter cells as in a normal python file is precisely that: that Jupyter can be used to experiment

[2021-01-11 17:46] kolibril13 opened #927 "Better Changelog handling"
The current way with the one-line summary into the changelog + copy&paste to the wiki requires a lot of manual work, and there might be better solutions.
Here https://github.com/KiloKilo/changelog is one project that might be useful for us.

[2021-01-11 18:49] behackl commented on #927
I don't necessarily see a reason for using an external tool, git combined with explicit merge messages already produces a pretty neat result (which can also be formatted further):

[code]

[2021-01-11 19:11] leotrs commented on #927
@behackl are you suggesting that the output of the command you posted replace the current changelog?

[2021-01-11 19:27] leotrs commented on #914
Agreed in general!

While the proposed idea explicitly mentions low commitment in terms of maintainability, someone still needs to create the repo and accept/reject PRs to it. Given the current state of open bugs and PRs on the main manim repo, I am a bit hesitant to open yet another repo that may end up in a similar state :thinking: @clarfonthey Would you be able to take point on a hypothetical `

[2021-01-11 19:37] behackl commented on #927
Not as-is, but a formatted version of it. It would not be too hard to reformat the output above (automatically) as a list that reads something like

[code]

And in addition to this, breaking changes should still get a special section in the changelog. But otherwise: yes. While this approach does not really support categorization any longer (except if someone wants to take this automatically genera

[2021-01-11 20:29] tirthasheshpatel opened #928 "Adding a Makefile for easier workflow"
## Enhancement proposal

Hello devs! Thanks for your great efforts on this library! I was wondering if it would make a nice addition to include a `Makefile` for easier installation process and testing so that we can just do:

[code]

to install the library and

[code]

for running the test suite.

## Additional comments

I have written a small `Makefile` that works on linux. Note that this is just

[2021-01-11 20:42] leotrs commented on #928
@naveen521kk what are your thoughts of using a makefile with poetry?

[2021-01-11 21:27] leotrs commented on #924
Hello @ChristianCoenen and thanks for the report.

I think the way to go here is to fix `Matrix` and make it issue a warning (or outright fail) when being constructed with a 1-dimensional array. After all, a matrix should always have two dimensions.

[2021-01-11 21:29] leotrs commented on #927
Agreed!

For the categorization problem, we can try to actually start enforcing [these tags](https://www.conventionalcommits.org/en/v1.0.0/), or some version of it. In this way, we can simply `grep` the log and automate everything. On the other hand, this spreads out the burden across people and time.

[2021-01-12 03:12] naveen521kk commented on #928
It's ok to have this. IMO, [pyinvoke](https://www.pyinvoke.org/) is better here, rather than having MakeFile.

[2021-01-12 10:59] ChristianCoenen commented on #924
I agree that this should be prevented or warned. If the decision is to throw a warning, I'd recommend merging the PR to have consistency if someone uses a vector as input. Otherwise, my PR can be deleted. It would be interesting what others think about whether to throw an error or raise a warning.

[2021-01-12 11:02] behackl commented on #924
I'd go for raising an error. If someone wants a matrix, they should specify a matrix.

[2021-01-12 12:49] kolibril13 commented on #927
But someone has to have this sorting burden: A) one person in the end, or B) all people together during the process.
I tend to go for B.

[2021-01-12 13:52] behackl commented on #927
While I agree that it should be a group effort to get things right, I also think that classifying by commit message will be terribly unforgiving, especially if we want to automate it.

Here is a suggestion: we can introduce a set of labels on GitHub that we can tag PRs with. A script could then:
- generate the unformatted changelog as above, and in particular find the PR number for every line,
- q

[2021-01-12 15:33] leotrs commented on #928
One of the problems with Makefile is that it doesn't work on Windows and we would need a .bat file to support that platform.

If pyinvoke is multiplatform, then it sounds like the way to go.

[2021-01-12 15:45] leotrs commented on #927
That sounds like a good compromise. Also, in this way anyone can tag a PR with the appropriate label, while only the author can set the commit message (without some major git-ing).

OTOH, what happens if a PR's labels are changed after the fact? In this case there could be cases where the changelog changes in unexpected/undesired ways.

[2021-01-12 19:54] #924 closed

[2021-01-13 04:07] aman17009 opened #930 "Rename NumberLine.n2p and NumberLine.p2n to something else"
## Enhancement proposal
These two methods are some of the most important methods of the class NumberLine. But I think their names are too short and confusing and thus they should be renamed to something more descriptive such as - number_to_point and point_to_number or something similar. I think the default naming strategy of Manim to make the names as self explanatory as possible is very good and

[2021-01-13 04:10] kilacoda commented on #930
`point_to_number` and `number_to_point` already exist.

https://github.com/ManimCommunity/manim/blob/99c79e92ac138255a903585e5e8bb9d049adc8e7/manim/mobject/number_line.py#L145-L163

[2021-01-13 04:10] #930 closed

[2021-01-13 10:00] PhilippImhof opened #931 "Logging creates {media_dir}/logs"
## Description of bug / unexpected behavior

If `--log_to_file` is set, Manim creates the directory `{media_dir}/logs` instead of using `media_dir + "/logs"`

## How to reproduce the issue

`manim foo.py --log_to_file && ls`

[2021-01-13 12:48] #931 closed

[2021-01-13 18:55] kolibril13 commented on #927
For each release, there could be an own changelog file that is created in a way so that they can not be changed anymore afterward.  The final changelog can then be constructed from all these subfiles.

[2021-01-13 19:27] leotrs commented on #927
That's a good idea actually.

[2021-01-13 20:51] WampyCakes opened #934 "Adding a Manim Showcase for Community Work"
Over the last few weeks, I have been working on a showcase for Manim.

# Use Cases
* Enables new users to see what Manim is capable of and used for
* Gives existing users a place to show off what they have made in Manim
* Creates a centralized place where teachers, learners, and Manim users can search for (hopefully) high quality videos explaining a certain topic
* In many cases, it can help Manim

[2021-01-14 02:32] clarfonthey commented on #914
I should add that at the moment I'm just kind of throwing ideas out there and 100% understand the hesitation. I would love to get more involved but am unsure if I'd be the right person to maintain it given how new I am to the community. And I also have been working on a lot of projects lately since I've been on holiday, but me free time will likely be smaller when I get back to work. :p

May still

[2021-01-14 02:33] wurmfood commented on #901
Sorry for the delay in getting back to you on this. I haven't had a chance to look at this in a while.

When I try to use the z-coordinate to change the behavior, it doesn't seem to work. Am I doing something wrong? I just changed the set_z_index to set_z, which seems like it should work.

[code]

[2021-01-14 15:04] leotrs commented on #901
You are not doing anything wrong. I wasn't clear enough. Using the z-coordinate to specify the rendering order in 2D scenes is what we _want_ to have, but is not currently implemented :sweat_smile:

[2021-01-14 15:05] leotrs commented on #914
@clarfonthey of course, we totally understand! No pressure here.

This is also very related to #934 @WampyCakes, would you care to comment how these ideas relate to the showcase?

[2021-01-14 15:17] leotrs commented on #934
Thank you so much for the work here!

I have some scattered thoughts, here in no particular order:
1. Currently, providing source code is optional. I move that we "strongly suggest" each contribution to provide source code. Source code is extremely important since manim is both the rendered videos as well as the code that generates them.
2. Who gets to approve videos? Is there also a process for a

[2021-01-14 18:54] kolibril13 commented on #895
Yep, it definitely should stay similar.
However, some things will have some different behaviors.
E.g. the `-s` flag, will it save the image to an png?
Or will it only show the image in a jupyter output cell?

Yep, I think so too! That was only a brainstorming idea, to get the indention level a bit more to the right, but the copy+paste possibility is also a good point.

[2021-01-14 21:42] WampyCakes commented on #934
I recommend you go click the link for the showcase and hit the upload a video button. It says, "While optional, we highly encourage including source code!" If you want it to be a bit stronger, I am open to italicizing "highly."

Whoever we designate. Likely that would be anyone in the Manim organization as it utilizes GitHub issues for managing submissions; though, we should have a few people who

[2021-01-14 21:57] WampyCakes commented on #914
@leotrs They are not unrelated, but these serve different purposes. Whereas the showcase is meant more for finished videos intended for learning, this seems to take more of a code incubation purpose. The showcase is pretty strictly intended only for videos and (likely) eventually GIFs and images made using Manim in a different section of the showcase. I think this is a good idea, and I think some

[2021-01-15 00:02] jsonvillanueva commented on #934
Awesome work here! I'm in favor of a community showcase as both a way to demonstrate what the Manim is capable of (and in the case of source code -- showing how it was written).

Here are some of my suggestions, questions, and responses to a few of things you and @leotrs mentioned above:

### Suggestions

1. Add a field for which verison of Manim the source code/video is written for -- this way vi

[2021-01-15 00:48] WampyCakes commented on #934
Good point! We can include a little info hover that tells them to run the manim version command to figure this out (and use a dropdown list of versions for consistency)

Not a big fan of this one. I generally think that outside of potential language, NSFW videos shouldn't be approved in the first place.

I also worry that we are going to reach a point where the submission form becomes so long it i

[2021-01-15 10:29] kolibril13 commented on #847
@Viasis : we are currently implementing the jupyter support for manim-community.
As soon as it is ready, you will find it here:
https://docs.manim.community/en/latest/changelog.html
Or at https://twitter.com/manim_community
It will be there in approx 1-3 months.
Closing this issue for now, feel free to reopen it if you still have questions.

[2021-01-15 10:29] #847 closed

[2021-01-15 14:44] leotrs commented on #914
Thanks, that makes sense.

My suggestion was not so much in terms of building a front-end for the contrib packages (though that seems like a great idea for the future!), but more in terms of "these two things seem related so we should just sync up".

At the very least, whenever someone submits a video for the showcase we can make them aware of the soon-to-exist contrib repo and invite them to cont

[2021-01-15 14:47] leotrs commented on #934
I agree. I just wanted to say that this would require the approving dev to actually watch the entire video! :sweat_smile: So that should be part of the approval process.

[2021-01-15 14:49] leotrs commented on #934
Also, I agree there is no need to check the code for security *as long as* all we show is the video (which is hosted elsewhere). If we add a link to the source code, then we can, again, issue a blanket statement saying that the ManimCommunity org has not approved the code etc.

[2021-01-15 18:51] WampyCakes commented on #934
@leotrs We can just put a blanket statement at the bottom of the page, and, if you guys think it is absolutely necessary (I do not), we can create a modal that pops up the first time you visit the page with that statement. There is no feasible way to watch that many _hours_ of content. I only meant that by skipping through the video or zooming your mouse along the YouTube timeline and looking at t

[2021-01-15 18:58] WampyCakes commented on #914
This could be done, but I think the exact form that this contrib idea is going to take should be solidified first. *rhetorical questions ahead* Concretely, what is the exact purpose? When should it be used vs. a PR to Manim? What's the lifecycle of submissions on contrib? How are they worked on and used? Once that becomes a mature system with clear guidelines, instructions, and processes, I think

[2021-01-15 20:28] leotrs commented on #934
Let's have a blanket statement somewhere in an about section or something like that. The modal is not necessary. I still think reviewers should be strongly encouraged to watch the video they are approving, if not required.

[2021-01-15 20:30] jsonvillanueva commented on #934
Agreed. The approving dev would need to dedicate time to watching the full video to catch any (if we have any) violations. As much as I don't like the idea of using up their time for this, I very much don't like the idea of a showcase tied to the organization in name with potentially sensitive content being hosted -- unless there's a blanket statement that we haven't actually looked at the content

[2021-01-15 21:03] WampyCakes commented on #934
In other words, at the bottom of the page since it's a SPA.

What's wrong with going that direction? A statement saying we haven't watched videos in their entirety and are not affiliated with or endorse any content (and whatever other words you want to include) in said videos. Coupled with reporting to the code of conduct enforcement team, that seems acceptable to me. I just don't want several wee

[2021-01-16 00:38] jsonvillanueva commented on #934
I can't imagine any issue with this direction. This has my approval with the blanket statement/CoC/reporting system to prevent a giant backlog.

[2021-01-17 04:59] jsonvillanueva commented on #452
After some time familiarizing myself with Click -- I believe Click would run into issues translating the current argparse CLI positional argument handling.

For example:
`manim file.py MyScene -pql`

Currently, we manually intercept/filter commands and if the second argument matches one of these keywords, we know that the argument is instead a subcommand (i.e. {cfg,init,plugins}) -- not a position

[2021-01-17 10:03] tirthasheshpatel opened #940 "Setting limits of ThreeDAxes"
## Description of bug / unexpected behavior

Currently, `ThreeDAxes` has no direct way of setting the `x` and `y` axis limits. The only way to do it is through `x_axis_config` and `y_axis_config` dictionaries. The `x_max` and `x_min` keys of the config dictionary are used by `Axes` to set the limits of the axes. The naming convention is very subtle and nuanced here. For example, a user would very

[2021-01-17 10:56] ryanmccauley211 opened #942 "manimpango ImportError after latest update"
## Description of bug / unexpected behavior
I pulled from latest master today and began getting import issues when importing manimpango - "Couldn't load the necessary Shared Libraries." in manimpango's __init__.py.

## Expected behavior
Run the manim scene, but importing fails

## How to reproduce the issue
<details><summary>Code for reproducing the problem</summary>

[code]

</details>

## Logs
<

[2021-01-17 18:55] kolibril13 commented on #940
Closing this in favor of #941

[2021-01-17 18:55] #940 closed

[2021-01-17 19:27] kolibril13 commented on #927
Nice!
What do you think about this, @behackl ?
Do we maybe want to start with this maybe already for this release?
In case we want to do it like this, I think we can already by now start to redesign the pr message:
[code]

[2021-01-18 13:19] leotrs commented on #934
I'm interested in what others have to say @behackl @eulertour @XorUnison @naveen521kk @huguesdevimeux @cobordism @Aathish04. As far as I can tell, the main issue of discussion right now is whether or not the procedure to approve a video to the showcase should involve actually watching the video (to check whether it contains sensitive content).

[2021-01-18 13:21] leotrs commented on #452
@jsonvillanueva It sounds like this is a bit more complicated than expected. However, could you clarify the following: if you can't figure out a way of making `manim file.py myscence -pql` work, then what would be the alternative?

[2021-01-18 21:18] jsonvillanueva commented on #452
The alternative I currently see is to add the new subcommand`, `manim render` which will be responsible for handling the required positional arguments for file input (as well options such as Scene(s)/flags). This would make the current `manim` command only useful for listing `manim --help` to list subcommands/flags for the `manim` Group, `manim --version`, and other things that don't explicitly re

[2021-01-19 14:31] leotrs commented on #452
Could it be at all possible to support `manim file.py myscene -pql`?

Right now, we have some hacky ways of supporting sub-commands. If the move to click/cleo makes the handling of sub-commands clean, but we need some hacky ways of supporting `manim file.py myscene -pql`, then I think that'd be fine.

Unless others think that we should change to `manim render` altogether :thinking:

[2021-01-20 18:54] 104-105-114-101-032-109-101 opened #946 "Division by zero upon instancing of PointCloudDot"
### Unexpected Behavior
Instantiating a `PointCloudDot` results in a division by zero. The problematic line can be found [here](https://github.com/ManimCommunity/manim/blob/fc754fa7f60a7b49840628311f809840c98cdceb/manim/mobject/types/point_cloud_mobject.py#L239).

### Analysis
The variable `r` is defined at `r in np.arange(0, self.radius, self.epsilon)`. Since `np.arange()` includes the lower boun

[2021-01-20 21:47] MysaaJava commented on #934
Hello there !
I'm a huge fan of this showcase idea, but i have some questions/suggestions to make.

- About the video review process. For my part, i will always be willing to reviews videos ! But i understand why this process is problematic. Also, i propose using three «reviewed states». The lowest is «submitted», and therefore hidden from the users. One a trusted reviewer accepted the title/subje

[2021-01-20 21:55] leotrs commented on #946
Thanks for reporting. Sounds like an easy PR :wink:

[2021-01-20 22:28] WampyCakes commented on #934
I think that this may be a good idea if I am understanding you correctly. Other peoples' input would be good here too.

I think that we should avoid hosting anyone's content. That would seem to invite more liability issues that @leotrs seems concerned with. Also, it would be a pain from a technical standpoint compared to just an embed.

I would like to include a section for GIFs and imgs made usin

[2021-01-20 22:46] WampyCakes commented on #934
Not that anyone should feel pressured to pay for hosting for this (as I can't), but if this was hosted on a server, we could actually make this into a really nice showcase. It would eliminate the need for the Cloudflare Worker as there could be a php backend. We could also use a database for storing the data. I think we would still be able to deploy from GitHub after editing website source code. I

[2021-01-20 23:25] MysaaJava commented on #934
It would only be for fully-reviewed content (which is not hard for images/gifs). And isn't it possible with pull requests ? You don't have to automate every part.

Do both ^^ something that recognizes elements from playlists.

By tag i meant things like «math» or «quantum mechanics» or «algorithm visualisation» or «manim capabilities example» or «educational video», things like this. Will the user

[2021-01-20 23:44] WampyCakes commented on #934
I'm just generally not a fan of storing user content as this could lead to its own storage issues and related issues. And I do kinda disagree about automation as any nice UX would not require the user to submit a PR for that.

Yes, the user can put anything. That's something that should be checked before approving a submission.

Agreed. A server would be very nice.

I'm not saying it's crackproof,

[2021-01-21 00:40] WampyCakes commented on #934
Regarding languages, would this be a good implementation? We could add a language field to the submission form that asks what language the video is in. Default to English and [use the values listed here.](https://gist.github.com/tayvano/8bac189b40b1457455b26e210d36e18a) That way, responses for language are static and will be consistent. My real question is this: is that a good list of languages or

[2021-01-21 12:47] leotrs commented on #934
+1 for asking for language

+1 for NOT using a server just now. If this blows up then we can move to a server.

+1 for using tags for different review states. (Maybe consider "unverified"/"verified" instead of "unreviewed")

[2021-01-22 10:14] kolibril13 opened #949 "Setting frame width and frame heigh is only taking frame_width into account."
When running this script:
[code]
My expectation would be:  a 100x100 pixel image, where one can see the whole arrow (as it is in the field of view.)

Instead, I got this:

![Example](https://user-images.githubusercontent.com/44469195/105351674-25885300-5bed-11eb-8ad3-a7b85da60519.png)

A 100x100 pixel image, however not the whole arrow is visible.

This means, there is a problem with setting frame

[2021-01-22 14:07] #749 closed

[2021-01-23 19:32] sparshg opened #951 "turn_animation_into_updater(anim) calls anim.update_config(**kwargs) which was removed"
## Description of bug / unexpected behavior

Calling `turn_animation_into_updater(some_animation)` _which is in "mobject/mobject_update_utils.py"_ will give error because it is calling `update_config()` method from Animation class but it was removed in previous release

## How to reproduce the issue

[code]

## Logs
[code]

[2021-01-23 22:56] WampyCakes commented on #934
Small update:
* Meta tags have been confirmed to look good.
* I have submitted a PR to RVerify to strengthen the captcha against spam attacks [here.](https://github.com/zpfz/RVerify.js/pull/3) If we end up getting a server, we can implement a nonobtrusive captcha through php instead to make it stronger (I'm fairly against premade services for this)
* I have added a dropdown list of languages. Have

[2021-01-24 08:58] eulertour commented on #934
It seems weird that we rely on the PR to get the date but if we can't easily determine it in an automated way that's ok.

As for the reviewing, I'm in favor of having only a cursory review process, a prominent disclaimer regarding the videos and code on the site, and an easy way to flag videos that don't belong.

I'd recommend not using a server or any other type of external storage if we can avoi

[2021-01-24 13:37] kolibril13 commented on #816
I think this is solved with #904

[2021-01-24 13:37] #816 closed

[2021-01-24 13:38] kolibril13 commented on #442
Any updates here?

[2021-01-24 17:49] WampyCakes commented on #934
It's not too weird. When the user completes the form, it sends the data they submitted as JSON to the Cloudflare Worker who makes the issue on GitHub. The date is provided by the showcase website when the form is submitted to say when it was submitted. If you mean that you think it should just pull the date of the issue, yeah, maybe. But right now it can parse the JSON straight out of the issue bo

[2021-01-24 23:27] behackl opened #955 "Chaining a combination of default and overwritten method animations is not prohibited in all cases"
This change silently animates animations like `obj.animate.normal_method().overridden_method()` incorrectly.

[code]

https://user-images.githubusercontent.com/43117506/105646897-57045700-5e57-11eb-8ccc-8cfdd42255f7.mp4

_Originally posted by @eulertour in https://github.com/ManimCommunity/manim/issues/917#issuecomment-766457962_

[2021-01-25 10:24] behackl commented on #951
Thanks for reporting! This is a consequence of the removal of CONFIG dicts. Were there any other `update_config` calls, @cobordism @leotrs -- and if so, can you remember what you did with them?

[2021-01-25 10:42] friedkeenan commented on #951
The method was actually removed in #881. According to [this comment](https://github.com/ManimCommunity/manim/pull/881#discussion_r549462863), it was only used in one place, but I guess it turns out it wasn't.

[2021-01-25 10:45] sparshg commented on #951
[code]
There's something in animation/transform.py you might want to look

[2021-01-25 10:51] behackl commented on #951
Indeed; my bad. In that case, sorry for the wrong ping. Nevertheless, replacing the calls to `update_config` by something like
[code]
as suggested by @friedkeenan in the comment over at #881 should be a rather straightforward solution for this. We just might need to pull the extra code for `"path_arc"` from `transform.py` to `animation.py`, with an `isinstance` check or so...

[2021-01-25 13:55] yikerman opened #959 "Compile ManimCommunity with Cython."
## Enhancement proposal

`ManimCommunity` is a **graphics library**, while Python is **slow**. To speed up the rendering, one possible option is to use [Cython](https://cython.org/) to compile the scripts.

I have done a small benchmark using the [SineCurveUnitCircle](https://docs.manim.community/en/v0.2.0/examples.html#sinecurveunitcircle) in the gallery using `python3.8 -m cProfile -s tottime -m

[2021-01-25 14:00] leotrs commented on #959
Hi! This is in general a good idea, though I would be hesitant in supporting its implementation. The main reason is that you say you got a speedup of 1.25x, but later say it could be near 2000x. Can you explain how that jump would occur?

Ultimately, the graphics stuff is made by cairo, which is written in C. So the only parts that would be affected by this would be certain things like object cons

[2021-01-25 14:01] xiaoyu2006 commented on #959
Well optimized Interacting with `numpy`. See https://cython.readthedocs.io/en/latest/src/tutorial/numpy.html.

[2021-01-25 14:09] naveen521kk commented on #959
FYI [ManimPango](https://github.com/ManimCommunity/manimpango/) is using Cython, and yeah there seem to be comparatively fewer issues on the wheel produced, so it is like things are working there.

I would be reluctant to make this project directly to have C extensions inside of the main module, rather it would be better to have it in a new subproject and from the main module and we are just calli

[2021-01-25 14:18] xiaoyu2006 commented on #959
@naveen521kk

Sometimes it does when you optimize with removed boundary checks, bad memory management, etc.

[2021-01-25 16:07] naveen521kk commented on #959
It should be easy to take care of that IMO.
Something which we need to think about now is what should that C extension contains...

[2021-01-25 17:14] rosalogia commented on #786
Hi! If no one else is working on this right now I would be happy to. Is it as simple as changing what comes after `-vcodec`?

[2021-01-25 18:08] kolibril13 opened #962 "Adding simple sound asserts to manim library"
Adding sounds in manim involves quite some steps: it is searching for a sound on the internet, bringing it to the right location, and then copy the path of it to `add_sound`

## Motivation why more sounds in videos are beneficial:

When it comes to scenes where recognizing small time intervals is important, our human brains are much better with hearing than with our eye vision.
See e.g. here: http

[2021-01-25 19:02] kolibril13 opened #963 "How to use `Bezier` splines in manim"
The current (and not so nice) answer is, like this:
[code]
However, this is not very pretty, it would be nice to have something like a `Bezier` class, that is meant to be used by users.
Me and @huguesdevimeux had a conversation about it here: https://github.com/ManimCommunity/manim/pull/961/files#r563942279

Should this be implemented or is this feature unnecessary, as this is already possible by

[2021-01-25 19:03] leotrs commented on #786
@rosalogia you are now assigned to this ticket. Thanks for volunteering!

Unfortunately, I don't have enough experience with FFMPEG to answer your question, but perhaps @Dabada has ideas.

[2021-01-25 19:05] leotrs commented on #962
I don't think this is too bad. This is literally the same amount of steps to include any kind of asset on any kind of project.

Having said that, I'm not opposed to adding some basic audio files to the main library, as long as there are few of them and we keep the overall size low.

[2021-01-25 19:12] rosalogia commented on #786
In the meanwhile I'll add a configuration option to make configuring what I described above possible. If this is incorrect or insufficient it shouldn't be too hard to fix :slightly_smiling_face:

[2021-01-25 20:21] huguesdevimeux commented on #963
Hi, there is `CubicBezier` for this, I think.

This is basically a VMobject but with given points.

[2021-01-25 23:37] kolibril13 commented on #963
Nice!
Should I tweak this above example a bit and then push it to your open pr?

[2021-01-26 10:23] olippuner opened #965 "Unspecific installation error (windows-10, conda 4.9.2)"
#### Preliminaries
- [x] I have followed the latest version of the
      [installation instructions](https://docs.manim.community/en/latest/installation.html).
- [x] I have checked the [troubleshooting page](https://docs.manim.community/en/latest/installation/troubleshooting.html) and my problem is either not mentioned there, or the solution given there does not help.
check, does not resolve the i

[2021-01-26 11:01] naveen521kk commented on #965
Hey why does msys2 python comes up here? That's the problem...
Msys2-mingw64 python is compiled with gcc and normally compiled things won't work there. Did you do it on purpose?
Or did you mess up your path variable?

[2021-01-26 11:30] huguesdevimeux commented on #963
I don't understand, what are you proposing?

[2021-01-26 11:58] huguesdevimeux opened #966 "Impossible to use preview with Scene().render()"
## Description of bug / unexpected behavior
The title. For example :
[code]
and a config file with `preview = True`.
The config file is detected by manim, and the preview flag is introduced in config dict.

## Expected behavior
The scene should open in a preview windows as it normally does with `-p` flag in CLI

## How to reproduce the issue
See above.

## Additional comments
The preview logic is

[2021-01-26 12:14] huguesdevimeux commented on #851
Hi @Hari-07 , are you still willing to work on this? If you don't manifest, I think I'll do it.

As @eulertour  Taking the elapsed time from the renderer is a bad idea when a scene is skipped for some reason.

Instead, we could when a scene is skipped add its time to an internal clock of the Scene.

[2021-01-26 12:41] xiaoyu2006 commented on #959
2000x is somewhat an exaggeration. But it is able to speed up a lot.

I'll work on a fork as an experiment to see the enhancement.

[2021-01-26 12:59] leotrs commented on #966
The `preview` config option in the config file is meant to change the behavior of the `-p` flag when called from the command line. If you are not using manim from the command line, it won't do anything, so this is expected behavior. (As a matter of fact, the original purpose of the `[CLI]` title of the config file was precisely to determine that the options contained therein will affect the comman

[2021-01-26 13:56] huguesdevimeux commented on #966
It makes sense,

I believe this is an excellent idea, and can be useful for people don't use CLI, for some reason (as an example, I personnaly prefer running a scene directly from my IDE). Futhermore, PIL, matplotlib, etc have such a feature, it would make sense that manim has it to.

I'll try to work on something like this.

[2021-01-26 15:07] naveen521kk commented on #959
Sure. No one can stop you from trying.
But again all things which are to be done should be done as a new module and shouldn't be in this repo. Rather it will be added as a dependency and Manim will import it when needed.

[2021-01-26 15:18] leotrs commented on #966
Like I said, I'm not opposed to it, but I would be weary of feature creep. By this I mean that it would be fine to have a simple `show()` method, but I believe it should be kept simple and straightforward. Remember manim is not a plotting/video-showing library, it is a rendering library. (At least for now!)

[2021-01-26 18:03] huguesdevimeux commented on #966
I see. So, before going any further, I would like to have the opinion of @ManimCommunity/core :
Here are the words of @leotrs :

What are your thoughts? Should the user be able to preview a scene directly from a python file (not from the CLI)? Or should one use like `Scene.preview()` ?

[2021-01-26 19:31] #946 closed

[2021-01-27 03:10] WampyCakes commented on #934
### Moving Forward
@leotrs @MysaaJava @jsonvillanueva @eulertour @behackl In the interest of moving forward, I have compiled a list of what has been brought up above as necessary changes.

For liability purposes:
* Adding a blanket statement at the bottom of the page regarding video content and linked code
* Adding three stages (@MysaaJava's idea): submitted, approved/unreviewed, reviewed. Hoverin

[2021-01-27 05:08] #955 closed

[2021-01-27 05:36] Hari-07 commented on #851
Yeah sure you can take it, I got engrossed in other side projects and
forgot about this to be honest

On Tue, Jan 26, 2021 at 5:44 PM Hugues Devimeux <notifications@github.com>
wrote:

[2021-01-27 14:18] sparshg opened #968 "Wrong orientation of vector tip"
## Description of bug / unexpected behavior

Orientation of tips of some vectors are wrong

## How to reproduce the issue
[code]

## Additional media files
![Vectors](https://user-images.githubusercontent.com/43041139/106003681-71993300-60d8-11eb-8351-b1d956566258.gif)

[2021-01-27 15:35] kilacoda commented on #966
IIRC, all the CLI `-p` option does internally is call the function `open_file_if_needed` right? Why not add a boolean `preview` keyword parameter to `Scene.render` which does exactly that?

On the topic of opening external applications via manim, we already sort of do this with `Mobject.show`, no?

[2021-01-27 16:14] sparshg commented on #966
why not do a poll for this?..

[2021-01-27 16:40] leotrs commented on #966
I would sooner remove Mobject.show than implement more functionality that depends on external applications.

[2021-01-27 16:56] behackl commented on #966
I don't think that it is very unusual to ask the operating system to open a generated file with the corresponding default viewer. For MacOS and Windows, this should be covered by `open` or `start` -- and for UNIXoid systems that use a window managers which is a part of freedesktop.org (which is certainly all of the mainstream ones like Gnome and KDE), there is `xdg-open`. (Actually, we are already

[2021-01-27 17:00] kilacoda commented on #966
To what benefit exactly? If it works and provides a convenience to users I don't see why we shouldn't. Calling render directly from the script may prove beneficial in debugging as well and in the case of manim this heavily involves viewing the output of a rendered scene, hence why I think the option of previews should not be limited to the command line.

[2021-01-27 17:03] leotrs commented on #966
I can get behind using xdg-open, but I would be _very much_ against using something like matplotlib (see [here](https://github.com/ManimCommunity/manim/issues/829)). And even then, if someone asks for a different application, or to add more features to the preview function, I would be very much against it.

But a simple clean call to xdg-open seems fine.

[2021-01-27 19:48] jsonvillanueva commented on #452
I've figured out how to hack/support using manim as both a command with *non-required* positional args and still use subcommands. Note, in argparse the `manim` command uses *required* positional args. It will take some time to finish this so it won't be in the upcoming release.

@CommunityDev What do you guys think?

I think by design `manim render` is cleaner to maintain -- it's also more as clic

[2021-01-28 12:36] #895 closed

[2021-01-28 14:21] leotrs commented on #452
On the one hand, `manim render` sounds unnecessary and/or obnoxious to me because it will be used the vast majority of times. I would much rather keep the usage without any subcommands.

On the other hand, the entire purpose of the config files is to make the CLI usage faster. So an experienced user would be using `manim render file.py` and let the config files do the rest. This doesn't seem too o

[2021-01-28 15:08] cobordism commented on #452
See, I'm entirely on the other side here. To me, `manim render` sounds like just the right command to me when I want `manim` to `render` something. :)

[2021-01-28 15:10] leotrs commented on #452
I agree! It's just that 90% of the time it will just be redundant I think. I guess what I'm saying is that "manim" should be synonymous with "manim render".

But whatever.

[2021-01-28 15:14] jsonvillanueva opened #973 "ManimConfig Write Bug"
## Description of bug / unexpected behavior

[code]
[code]
## Expected behavior
A manim.cfg file populated at the specified directory (defaults to cwd).

## How to reproduce the issue

Clone the master branch and run as I did in the CLI above:
`manim cfg export`
`manim cfg export --dir test`

## System specifications
- OS (with version, e.g Windows 10 v2004 or macOS 10.15 (Catalina)):

## Addition

[2021-01-28 15:14] cobordism commented on #452
ah. ok.
So it could default to `manim render` whenever that works, and fail to `manim --help` when it does not... or sth like that if it is easy enough to implement.

[2021-01-28 15:35] sparshg opened #974 "Cached animations/updaters not working correctly..."
## Description of bug / unexpected behavior

When you run certain scene again without editing anything, the output is not the same. New partial_movie_files gets created with different names and different output...

## How to reproduce the issue
I guess the animations involving updaters get affected... Running the same scene again without editing code at all, will result in weird things. For exampl

[2021-01-28 15:42] cobordism commented on #880
I believe this is an old known issue. If I am correct it is the following:

Once we have rendered tex to dvi to svg and then imported the svg mobject back into manim, we don't know exactly which svg element matches which bit of original tex code. Manim tries to guess, but that can go wrong.
Sometimes a different font causes two svg paths to be merged into one (or some other change in the underlyin

[2021-01-28 15:49] jsonvillanueva commented on #452
I agree, `manim file.py ...` should be a way to render files. It's nice and short.

Implementation aside, I think making `manim` default to `manim render` is a great approach. Currently, we don't have a notion of `manim render`; in argparse, `manim` takes full responsibility of that in its help page (which is really long). I think much of this length should be transferred to `manim render --help`,

[2021-01-28 16:14] n-0 opened #975 "render problem 3d camera distance"
## Description of bug / unexpected behavior
If setting the distance in camera orientation to close to 3d axes
white frames are rendered and the axes are curved.

This can be bypassed by setting the distance not too close
or probably with some tricks in scaling, but can be surprising and hard
to debug also.

## Expected behavior
Distance of 3d camera shouldn't create rendering problems and not bend

[2021-01-28 16:54] huguesdevimeux commented on #973
cc @Aathish04, author of `cfg` command (a while ago, so maybe it's outdated)

[2021-01-28 16:55] huguesdevimeux commented on #735
I started to work on something like this, an overtay at the right top bottom in the videos that will display debug infos.

[2021-01-28 17:52] naveen521kk commented on #757
Reply from upstream https://gitlab.gnome.org/GNOME/pango/-/issues/523#note_1019006

The win32 fontmap only emits this "ugly output" warning when it can't find any matching font. That never happens with fontconfig, due to the way it works. As long as any fonts are installed on your system, we get a font returned (even if it is not a great match).

[2021-01-28 17:52] #757 closed

[2021-01-28 17:56] naveen521kk commented on #757
Users can check for the fonts visible for Pango using the new API provided by ManimPango>=0.2.0.
[code]
See https://manimpango.readthedocs.io/en/latest/reference/manimpango.list_fonts.html for more information.

[2021-01-28 19:21] #541 closed

[2021-01-29 10:40] friedkeenan commented on #787
I took another look at the `set_*` and `get_*` methods there currently are, and I noticed that some setters take extra arguments, for instance `set_height` and `set_width` have a `stretch` argument, and things like `set_color` and `set_opacity` have arguments to tell them whether or not to set things recursively. This poses a problem since properties can only take one argument when being set: the

[2021-01-29 14:13] leotrs commented on #787
Out of all the options, I think the first one is the most pythonic. I have to say I don't think the others are very viable.

Another options is for `Ellipse` to have a new property called `stretch`. Then, you can do either
[code]
or just
[code]
And then remember to set `ellipse.stretch` every time you need it (or just set it once at the start and leave it alone). I think this is more pythonic than

[2021-01-30 01:24] friedkeenan commented on #787
These are the setters I found from a grep of `def set_` that I think would be reasonable to change into properties and which accept arguments beyond the value to set, excluding setters that override parent setters:

[Decimal.set_value](https://github.com/ManimCommunity/manim/blob/216df5380ed5678e480c3c783dad41c571b49e1c/manim/mobject/numbers.py#L170)
[Mobject.set_width](https://github.com/ManimCom

[2021-01-30 03:18] eulertour commented on #934
I'm fine with going live with it after those changes are made

[2021-01-30 03:28] behackl commented on #934
I appreciate the work you have put in this; and thank you for summarizing the current status!

We have talked about this a while ago, and essentially I haven't really changed my position. I *do* think that having a showcase page is an excellent idea -- but I also think that the application and in particular the submission process feels a bit over-engineered right now. In a first iteration, a stati

[2021-01-30 06:01] friedkeenan commented on #787
To *further* expand on this, here's a quick proof of concept showing what I mean:

[code]

[2021-01-30 18:05] kolibril13 commented on #963
That we add the example
[code]
to the class `CubicBezier`.

[2021-01-31 02:25] behackl commented on #909
Final preparations for the upcoming release:

- There are some ([somewhat] easy looking) bugfixes which I think would be good to have for the release (#983, #981 (?), #972 if the problem with the tests can be resolved soon)
- I'd also really like to have #977; there already is one positive review -- if there are no further comments or objections, I'd merge it at some point tomorrow

Regarding the

[2021-01-31 17:55] huguesdevimeux commented on #963
It seems good to me, (but why using randomness?)

[2021-01-31 18:17] leotrs commented on #934
100% agreed with not overengineering things - I'd much rather iterate quickly and solve problems that we have, not problems we think we will have.

[2021-01-31 18:19] WampyCakes commented on #934
@leotrs I'm not going to implement the editing process yet, but I'll add the field for a github handle for the future. I'll do the other changes soon and then I think we're good to go.

[2021-01-31 18:37] leotrs commented on #787
I think we are taking an interpretation of "pythonic" that is too literal. In the end, properties are meant to replace the following pattern:
[code]
for the following:
[code]

However, in some of the above mentioned cases, _we do not have this pattern_. What we have instead is `obj.set_x(x, arg1, arg2, ...)`. In this case, it doesn't make much sense to me to try to force the syntax in order to use

[2021-01-31 19:35] WampyCakes commented on #909
@behackl Regarding #981, someone other than me needs to test it on Windows (and Mac would probably be a good idea too). Then it can be merged. I think @eulertour confirmed it works on Linux, and it works on Windows for me so this should just be additional checking to make sure before merging.