[2020-05-19 03:35] faielgila opened #3 "Add nonzero documentation"
Includes deciding on a library and implementing a way to deploy documentation somewhere public.

[2020-05-19 04:00] PgBiel commented on #3
This is a test comment, please ignore

[2020-05-19 05:41] yoshiask commented on #3
On the Manim Discord, we have settled on [pdoc](https://github.com/pdoc3/pdoc)

[2020-05-19 05:58] safinsingh commented on #3
Just so you guys know, you can run `pdoc --html manimlib` to generate the HTML docs when the docstrings are finished.

[2020-05-19 06:06] yoshiask commented on #3
Is it worth generating and publishing the documentation we have so far? All of Scene is done, and that's not a trivial amount of information.

[2020-05-19 06:09] eulertour commented on #3
I'd say it is so that we can be sure we actually can.

[2020-05-19 11:54] Aathish04 commented on #3
I can confirm that pdoc does work.

However (this is specific to my system) I had to remove all references to SceneFromVideo (OpenCV wasn't installing on my system.)

In addition to that, the formatting is a bit off, but that is easily fixed.

[2020-05-19 12:06] leotrs commented on #3
@yoshiask can you please briefly summarize the reasons why we settled on pdoc? I'm not opposed, I'm just curious.

Also, I think that the style of docstrings is more important than the actual software used to parse them. Are we using numpy docstrings? If so, it doesn't really matter whether we use pdoc or sphinx for now, as we can change it later (without changing the docstrings).

[2020-05-19 12:09] leotrs opened #5 "Use a logging library"
The first step in this task is to replace print calls with a logging library. The next step is to add logging calls to places that don't have logging yet.

@eulertour mentions both Loguru and the stdlib logging library as options. I'm partial to stdlib logging.

[2020-05-19 12:14] PgBiel commented on #3
I'm in favor of using sphinx, it's a very customizable tool and, when used correctly, produces very nice documentation.

Also, numpy docstrings are more readable imo

[2020-05-19 12:26] huguesdevimeux commented on #5
I’m too. It would save us from adding other dependencies.
Then do we keep the progressbar ?

[2020-05-19 13:23] leotrs commented on #5
I think the progressbar can definitely stay, I think the progressbar is a good UI addition for users creating their videos. The logging library would be a catch-all ranging from info to users as well as debugging information for developers.

[2020-05-19 13:47] Aathish04 commented on #3
As of now, we know both Sphinx and PDoc work.

I think it would be better to focus on getting the documentation done in the form of good, formatted docstrings perferably in NumPy format, after which we can select the parser with which the more "beautiful" docs can be made.

Also, the Docstrings I've written follow no specific format and jump between Numpy and standard documentation formats because

[2020-05-19 13:57] leotrs commented on #3
An argument against pdoc is that it only generates documentation from docstrings. If we want to write a tutorial and host it in the same place as the auto-generated documentation from docstrings, that would be very hard to do, it seems. Sphinx allows us to do both at the same time.

[2020-05-19 14:30] yoshiask commented on #3
@eulertour looked into it and he concluded that it was in fact possible to add docs independent of actual Python code.

Also, I'm partial to pdoc because it supports LaTeX equations inline with docstrings, which will make some classes (like `space_ops.py`) easier to document.

[2020-05-19 14:49] leotrs commented on #3
Ah excellent!

[Sphinx can also do this](https://www.sphinx-doc.org/en/1.8/usage/extensions/math.html).

I think another thing to consider is, where do we want to push the documentation? I don't think ReadTheDocs supports pdoc.

I think we are at a point where we really need someone to be the "lead of documentation".

[2020-05-19 14:59] PgBiel commented on #3
Yes I was about to say this. Worth mentioning that Sphinx has a handful of extensions. It's worth it to check them out.

[2020-05-19 15:10] Aathish04 commented on #3
The current Documentation generator _is_ sphinx, and the (extremely incomplete) Docs are currently hosted at ReadTheDocs.

pdoc may not be supported by ReadTheDocs, but it has better support for deploying directly to GitHub pages, which IMO is kind of neat, since we can keep everything local to this repo, nice and self-contained.

Sphinx can do everything pdoc can do, and definitely more, and pdoc

[2020-05-19 15:11] PgBiel commented on #3
Source?

[2020-05-19 15:19] Aathish04 commented on #3
Crap. You're right, it doesn't have support for anything like that...

https://github.com/pdoc3/pdoc/blob/master/.github/deploy-gh-pages.sh

I took a glance at that file and thought it was a quickstart for deploying our own docs to GH Pages.

If PDoc doesn't have that advantage..

Yeah, I'm leaning more towards Sphinx now...

[2020-05-19 15:23] XorUnison opened #6 "Entry points, naming"
As it stands both Manim and ManimCommunity have their entry module named manim.py, which is a problem when both are installed and in the environment variables, as there'll be two instances of manim.py to pick from. To keep ease of access I'd suggest something along the lines of renaming this manim.py to manimc.py (or something else) so that code can be quickly run on either installed version, whic

[2020-05-19 15:25] leotrs commented on #6
So here's the thing: we have to find a solution such that it will fix the clash situation for devs, and will not change anything for the end user (for now, at least). The easiest way to do this is to allow our version to be ran in two different ways. In the usual python -m manim.py and also in a new way python -m manim-com.py. If you are a dev, you know you have to use the second one to avoid conf

[2020-05-19 15:30] leotrs commented on #3
This is exactly the point. Well said. I personally lean toward flexibility (sphinx).

But once again, we need to designate someone to make decisions about documentation.

[2020-05-19 15:33] Aathish04 commented on #3
If it were me, I would use Sphinx. It seems to be more easy to use than PDoc is flexible.

I _am_ willing to look over the Documentation stuff, if that's fine by you guys.

[2020-05-19 15:34] leotrs commented on #3
I think @yoshiask and @eulertour may also want to claim the "docs lead" spot.

There is, of course, only one civilized way to decide who claims it. Mortal Kombat.

[2020-05-19 15:40] XorUnison commented on #6
From trying a simple renaming on my side I can already say there's gonna be a bit more needed. Even if I explicitly run the file from ManimCommunity, when both folder are in the env variables it'll actually use the manimlib from the main Manim, not ManimCommunity. This isn't all that surprising though when looking at manim.py, as it simply uses import manimlib, which will grab the first manimlib i

[2020-05-19 15:48] leotrs commented on #6
I think the problem is that currently, manim is ran directly from the `manim.py` file at the top level of the repo. There shouldn't be any .py files at the top level. Instead, the entrypoints should be designated using a `setup.py` file. All the .py files should go inside `manimlib/`, and only use local imports. In that way, our version will never try to do `import manimlib` which will grab the gl

[2020-05-19 16:34] huguesdevimeux opened #7 "CONFIG dictionaries stuff"
We have discussed about the variable `CONFIG `previously on discord.
What should we do about it ?

I personally think we should modify at least a little bit of its architecture. it alters the readability a lot.
One problem with that would be that in changing `CONFIG` we would have to review the entire architecture of the code.

What do you think?

[2020-05-19 16:37] leotrs commented on #7
I agree it's not the most elegant piece of the code. I'd love to hear some suggestions here. I have some experience with the [configparser](https://docs.python.org/3/library/configparser.html) module from the standard library.

[2020-05-19 16:38] leotrs commented on #7
A related issue is the `constants.py` file. Both this file and the CONFIG dict are basically ways of tracking hard-coded options. One nice-to-have would be to expose this options and allow the user to change or visualize them more easily. This would be achieved by the config files used by [configparser](https://docs.python.org/3/library/configparser.html).

[2020-05-19 16:41] safinsingh opened #8 "Adding a Scene Cacher"
For tedious and long animations, people often have to render it multiple times just to see a small change they made, wasting lots of time. I'm not exactly sure how we could accomplish this, but we could look into having a way to cache scenes that have already been animated. Since all partial scenes are already stored, it would be easy to stitch together scenes that have already been animated. Also

[2020-05-19 16:43] leotrs opened #9 "Previous issues"
There are a number of open issues on the [original manim repo](https://github.com/3b1b/manim/issues). A good way to determine a path moving forward for this community fork is to go over those issues and copy them here (the useful ones at least) so that they can be assigned to someone and we can do something about them.

This will also signal to end users that there is a lot of activity on this rep

[2020-05-19 16:46] huguesdevimeux commented on #8
This is a very good idea.

That reminds the optimization here with the non-moving objects `self.update_frame(excluded_mobjects=moving_mobjects)` (l. 921 of scene.py) Maybe we could do something like that.

[2020-05-19 16:59] eulertour commented on #3
These are the things that annoyed me with Sphinx / made me want to try pdoc:
1. Linking to other documentation is more cumbersome in Sphinx
The syntax has the form <code>:class:\`~mobject.geometry.Square\`</code> as opposed to <code>`mobject.geometry.Square`</code> in pdoc. [[sphix doc](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#cross-referencing-python-objects)][[pdo

[2020-05-19 17:14] leotrs commented on #3
1. Agreed, sphinx can be cumbersome, no contest there.
2. I agree that default sphinx is super ugly. However I have successfully used the ReadTheDocs themes with sphinx and once it is setup, it is not half bad.

I think we can deal with 2. And I'm not sure that 1. is sufficient reason to not use sphinx.

[2020-05-19 17:25] eulertour commented on #3
SGTM, we can go with Sphinx then.

[2020-05-19 17:30] PgBiel commented on #3
Well yeah, it's because of the specific syntax for it; everything has a meaning. However I do agree this can be annoying at times... I think most editors should support it and automatically highlight it on doc previews but not sure

Oh no, we won't build this entirely by ourselves; there are many pre-made models and themes out there!

[2020-05-19 18:20] eulertour commented on #7
The CONFIG and constants.py issues can be handled separately, although we should do both. One of the confusing things about constants.py is that some of the variables defined there aren't actually constants (e.g. the media directories).

As for the CONFIG variables in each class I think it'd be cleaner to just add them as keyword arguments. We could leave the final **kwargs argument to accept addi

[2020-05-19 18:26] leotrs commented on #8
Very very good. I'd love to see a PR on this. @safinsingh would you be down to do that?

[2020-05-19 18:30] leotrs commented on #7
Is it always the case that doing `self.CONFIG['key']` would be equivalent to doing `self.key` instead? for example, are the keys of the CONFIG dictionary iterated over?

Another thing to think about is: which of the things currently stored in CONFIG should be turned into properties.

[2020-05-19 18:31] eulertour commented on #9
The low hanging fruit here is a way to verify the manim install. Basically something to dry-run a Scene, ensure that the bare minimum to render successfully is actually installed, and give a helpful error like LaTeX/FFmpeg isn't installed, media directory isn't writable, etc.

[2020-05-19 18:37] leotrs commented on #3
@yoshiask thoughts? Are you ok with using sphinx?

[2020-05-19 18:42] leotrs opened #11 "Create a test to certify a clean install"
_Originally posted by @eulertour in https://github.com/ManimCommunity/manim/issues/9#issuecomment-631002056_

Having done this, the correct way to install manim would be `pip install manim`, and then `pytest test_install.py`. (Or the equivalent in the testing library that we end up using.)

This would flag issues about system dependencies such as latex, ffmpeg, etc.

[2020-05-19 18:43] leotrs commented on #9
@eulertour good suggestion, forked it into its own issue.

Please keep suggesting here old issues that should be copied into the manim-community repo.

[2020-05-19 18:54] yoshiask commented on #3
@leotrs I'm fine with using Sphinx, but I have not been able to get it to work on my machine.

[2020-05-19 18:57] leotrs commented on #3
@yoshiask I'd be glad to help debug that particular problem (once there are some docs to speak of).

Well, it seems like we have reached consensus. I suggest we keep this open a bit longer in case any of the other devs want to chime in. Or until we designate a lead of documentation, who can then declare this done. Whatever happens first.

[2020-05-19 19:22] eulertour commented on #6
numpy seems to do global imports too, unless I'm missing something [[1](https://github.com/numpy/numpy/blob/master/numpy/ctypeslib.py#L59)][[2](https://github.com/numpy/numpy/blob/master/numpy/matlib.py#L13)].

[2020-05-19 19:25] leotrs commented on #6
Huh. That's interesting. I wonder if those are typos?

In that case, numpy would also have problems if there were two versions of numpy installed in the same machine.

Since we are trying to avoid that, I still think the best course of action (at least for now) is to try to import everything locally.

[2020-05-19 19:50] XorUnison opened #12 "constants.py cleanup and improvement"
manimlib/media_dir.txt is deprecated and should be removed, and the constants.py file should be brushed up as well.

Most notably the constant MEDIA_DIR currently gets completely ignored due to **always** being overwritten by this part of the code:
[code]
This causes manim to always create a media folder in the location of the executed py file containing the rendered scenes.
Just removing the else

[2020-05-19 20:03] leotrs opened #13 "Get rid of docker"
Docker was intended to give users a full environment ready to run manim with: ffmpeg, cairo, latex, the right python, and the up to date code, among other things.

However, it ended up being too technical for most people. Also, it seems like most of the installation problems are coming from cairo, which may be replaced soon. Docker doesn't seem to be the right fix for that.

[2020-05-19 20:15] PgBiel commented on #13
Should probably remain as an option, but not mandatory by any means

[2020-05-19 20:21] leotrs commented on #13
Yes, totally fair! Never really used Docker this way though, so would we still need a dockerfile at the top level directory even if it is optional?

[2020-05-19 20:21] eulertour commented on #13
I'd prefer to get rid of it completely, so that we aren't expected to maintain it.

[2020-05-19 20:22] PgBiel commented on #13
Fair; it could probably be a separate repo/project maintained by whoever is willing to keep it alive

[2020-05-19 20:26] XorUnison opened #14 "Fix the installation of or completely replace cairo"
As many, or rather probably most of us know personally, and have seen on the Discord channel too, the installation of cairo regularly causes problems (at least on windows.)

As of now the documentation refers to installing dependencies via the requirements.txt in the Directly section:
[code]
Although there is a Directly(Windows) section, if the original Directly doesn't work on windows, then we'd

[2020-05-19 20:27] leotrs commented on #12
@XorUnison is this issue really about constants.py, as the title suggest?

[2020-05-19 20:27] safinsingh commented on #14
I'm running manim on Python 3.8.2 and it works fine.

[2020-05-19 20:28] safinsingh commented on #14
Maybe we can create an install script that pulls the cairo package?

[2020-05-19 20:28] XorUnison commented on #12
Yes, just to clarify, this issue is all about the constants.py, except maybe for the single line of code to add a 4K argument.

[2020-05-19 20:29] leotrs opened #15 "Fix imports"
The way that manim currently handles imports is far from optimal. This should be one of the first things we change.

In fact, this may be one thing preventing us from having standard manim and community-manim installed side by side on a single machine (see #6).

[2020-05-19 20:29] PgBiel commented on #14
It works if you install it manually... atm pip won't handle it entirely

[2020-05-19 20:30] XorUnison commented on #14
We... should be able to, yeah. Question is if we want to commit to that option as it would mean stuff like checking the python and sys version, then grabbing the according file.

[2020-05-19 20:30] PgBiel commented on #12
We should make a separate configuration file for stuff like media_dir and whatnot; .cfg seems like a nice option

[2020-05-19 20:31] eulertour commented on #7
Yes, but the code is pretty complicated.
https://github.com/ManimCommunity/manim/blob/master/manimlib/utils/config_ops.py#L23

[2020-05-19 20:33] leotrs commented on #7
If that's the case, then I'd vote against converting each key of CONFIG into a member of the class. Because once they're just another member, there is no way of telling apart whether a member is supposed to be one that would go in CONFIG. Said another way, you can't iterate over only the members that are supposed to be CONFIGs without iterating over a bunch of members that are not.

[2020-05-19 20:34] PgBiel commented on #7
use __slots__ for this

[2020-05-19 20:37] leotrs commented on #7
Oooooooooooooh good one

[2020-05-19 21:03] #13 closed

[2020-05-19 21:28] yoshiask commented on #7
As someone who's most familiar with C#, the CONFIG is a big mess to me. There's no indication of which parameters are available and which ones aren't. `kwargs` has the same issue. This may just be a gripe with Python in general, but I think Manim is complicated enough without introducing unknown parameters.

[2020-05-19 21:33] yoshiask commented on #7
I prefer @eulertour's proposal

[2020-05-19 21:35] yoshiask commented on #14
I thought we had already decided that the rendering engine would be kept modular, and that manim would only ship with OpenGL rendering?

[2020-05-19 21:36] eulertour commented on #7
@leotrs There is no difference between CONFIG variables and instance variables. They're one and the same.

[2020-05-19 22:30] leotrs commented on #7
Well shit. Let's use kwargs and be done with it.

[2020-05-19 22:52] leotrs opened #18 "Test the sample scenes"
There are recent reports that `python -m manim example_scenes.py SquareToCircle -pl` does not work on a fresh install of the latest version of manim.

We should go over the sample scenes and test that they can be rendered and visualized with a fresh start.

[2020-05-20 01:05] huguesdevimeux commented on #7
There is a difference that is purely for readability purpose. As @yoshiask said, it put unknows parameters, which is not good in a quite complex library as Manim.
I’m completely in favor of @eulertour ‘point.

[2020-05-20 01:13] leotrs opened #19 "Specify package versions in requirements.txt"
Currently, `requirements.txt` does not specify versions.

[2020-05-20 01:16] eulertour commented on #19
We actually did this because specifying versions caused things to break over time. It probably could have been avoided if someone regularly updated the versions, but then there's the question of when to do it. The laziest answer is probably 'as soon as something breaks' but it's probably not the best.

[2020-05-20 01:17] leotrs commented on #19
I think the right answer is "whenever we want to make a release".

[2020-05-20 01:20] eulertour commented on #19
In that case we should table this until we have a release, since we don't know how long that could be.

[2020-05-20 01:22] leotrs commented on #19
Fair! I'll add it to the project board then.

[2020-05-20 01:22] #19 closed

[2020-05-20 01:27] leotrs opened #21 "Clean up .gitignore"
Our current .gitignore contains a lot of files that are for the personal use of the original author. We should opt for something more global. For example, a reduced version of [GitHub's default .gitignore for python projects](https://github.com/github/gitignore/blob/master/Python.gitignore).

[2020-05-20 02:19] leotrs opened #22 "Add minimal tests"
Before starting any major changes (including high priority ones such as #6), we need a way of testing that our changes do not break the basic functionality of the library. Simply put, I'm afraid to move or touch some files as it is unclear to me whether something will break.

For this, I suggest we start with minimal tests that consist in compiling a handful of scenes, put them in a new file calle

[2020-05-20 02:37] eulertour commented on #22
Manim has never had any tests and is pretty much always broken. That's just the way we've been doing it so far. Not to say that it makes any sense at all, but if the code sort of looks reasonable to you it's already up to the current manim standard, so you shouldn't feel too scared to change it.

That said those tests would be a big help.

[2020-05-20 02:47] leotrs opened #23 "Replace miktex with pylatex"
This would reduce the number of non-python dependencies (i.e. packages that cannot be installed via pip and therefore could cause problems during manual installation).

Anyone wants to volunteer?

[2020-05-20 02:50] eulertour commented on #15
This causes a problem with people using `from manimlib.imports import *` at the top of their files.

[2020-05-20 02:52] leotrs commented on #15
That is exactly one of the things that I want to fix, and IMHO, using the idiom `from ... import *` should be discouraged.

[2020-05-20 02:54] eulertour commented on #15
Regardless of whether people `import *` or not, there will be a conflict when people try to import classes from manimlib for their scenes.

[2020-05-20 02:57] kilacoda commented on #15
What options do we have then? Because importing each file is not feasible given the way most animations make use of mobjects as needed. Having people do something like
`from manimlib.mobject.geometry import Square` is both time consuming and not really fun to do once you have a lot of mobjects in your scene.

[2020-05-20 02:57] PgBiel commented on #23
I don't think this will be possible or desired. It seems to me that PyLaTeX does not have support for the packages that manim imports. Regardless, MikTeX is of manageable size; TeXLive is the issue. However, it is quite hard to replace it for our purposes.

[2020-05-20 02:58] eulertour commented on #15
I think we just have to deal with having the conflict.

[2020-05-20 03:02] leotrs commented on #15
The alternative is to tidy up the files in such a way that a couple imports will be enough. For most scenes, `import manimlib as mn` and then doing `mn.Square` , `mn.play`, `mn.Scene`, etc, should work.
For more complicated scenes, it could be necessary to additionally do `import manimlib.camera` or some such.

@eulertour exactly what kind of conflict are you referring to? I'm not following.

[2020-05-20 03:04] leotrs commented on #23
Am I wrong in thinking that a majority of potential users of manim (who are, presumably, knowledgeable in math), already have some sort of latex distribution on their machines and thus would not care about texlive?

[2020-05-20 03:05] PgBiel commented on #23
Probably (this was my case at least; already had it installed)
Still sucks for LaTeX overall that we need this massive... thing... to use it, though 😔

[2020-05-20 03:05] eulertour commented on #15
If someone has both versions of manim installed and puts `from manimlib.imports import *` at the top of their code, then they could end up running one version of manim and importing classes from another, even if our version only uses relative imports internally.

[2020-05-20 03:07] kilacoda commented on #15
So like, importing them all into `manimlib/__init__.py`? Isn't that basically the same thing as importing from manimlib.imports but attaching an alias for manimlib?

[2020-05-20 03:10] leotrs commented on #15
Ooooooh gotcha, but I wasn't really thinking about that when I opened that issue. That is being discussed in #6.

For this issue, I *think* I mean concretely three different things:
1. It is highly unorthodox to have an `imports.py` file that just fills the namespace.
2. All of the internal imports should be local, as at least as many as possible. I just don't think the code base makes good use of

[2020-05-20 03:12] leotrs commented on #23
Fair. So if we want to use LaTeX, we will depend on a LaTeX distribution, such as TeXLive. So there is literally nothing to be done here it seems?

[2020-05-20 03:14] PgBiel commented on #23
For now, seems like it, yes

If there's something we can do, is make such installation optional, that way users can restrict themselves to Text if needed

[2020-05-20 03:14] kilacoda commented on #23
There are smaller alternatives for MiKTeX and TeX Live like [tinytex](https://yihui.org/tinytex/) and [BasicTeX](https://www.tug.org/mactex/morepackages.html) which we could recommend users to use if they only really want to use LaTeX for manim

[2020-05-20 03:14] PgBiel commented on #23
that's also correct, yes

[2020-05-20 03:16] Aathish04 commented on #23
Yes. It seems any LaTeX distribution will work, as long as certain package requirements are fulfilled.

[2020-05-20 03:17] PgBiel commented on #11
Could probably be automated with travis or something as well

[2020-05-20 03:17] leotrs commented on #23
I'm all for small latex distributions, as long as we can guarantee that they are installable in Windows/MacOS/Linux.

Also, very much agree that LaTeX should be optional. This should go in the README somewhere.

[2020-05-20 03:19] PgBiel commented on #7
In my opinion, the usage of \_\_slots\_\_ makes it pretty clear to anyone who reads the code which attributes the class may have. So it will turn the code even more readable!

(Also note that \_\_slots\_\_ has memory advantages when many instances of a class are created, but this shouldn't be the main argument since it's pretty much irrelevant... but any improvement in this sense is welcome, of co

[2020-05-20 03:19] leotrs opened #24 "Make sure that having a LaTeX distribution is optional"
As mentioned in #23.

The installation instructions in the README should allow users who will not use/need LaTeX, but only text.

The installation instructions in the README should guide the user to install a suitable (preferably small) LaTeX distribution in as many platforms as possible (Windows/MacOS/Linux).

Tests should be aware of this being optional. For example, a fresh installation of mani

[2020-05-20 03:21] leotrs commented on #7
I'm leaning toward `__slots__` now.

[2020-05-20 03:24] Aathish04 commented on #23
Okay:

I've been using BasicTeX on MacOS for almost the entire time ive been using Manim on MacOS and it works flawlessly, except for a few missing packages here or there that were manually installed.

@eulertour 's website has a documentation page that shows install instructions for Linux.
This suggested installing the packages

 ```texlive texlive-latex-extra texlive-fonts-extra texlive-latex-re

[2020-05-20 03:29] PgBiel commented on #21
I'll take a look

[2020-05-20 04:43] PgBiel commented on #7
An update on that.

As discussed on Discord, we should use a dataclass model for our classes, using packages such as `dataclasses` (from stdlib) and `attrs`.

Sample code:
[code]

Note that it automatically generates an `__init__` method with each attribute as a parameter (which can be used as a kwarg or not).

Also note that, with the `attrs` package, the code would be the exact same. The only th

[2020-05-20 04:53] PgBiel commented on #5
+1 for stdlib package. If anyone has more detailed input on this, though, please let us know

[2020-05-20 05:05] PgBiel commented on #15
Imo it's an utility that the user can use if they want. It's mostly helpful, even more so with those who are new to manim and are not aware of its structure and just want to get things working. Note that the imports file does import more than just manim classes and whatnot: it also does so for numpy and other math stuff. Of course, the user can just import it by themselves, but again, it's quite h

[2020-05-20 05:14] PgBiel commented on #7
^Also, by the way: Worth noting that, if we actually implement this, this could be part of a major manim rework, i.e., working on this would imply reorganizing the code and whatnot. So we must keep this in mind.

This would likely be positive, of course. But we will need cooperation.

[2020-05-20 06:55] kilacoda commented on #5
On discord we've settled for using [rich](https://github.com/willmcgugan/rich). I'll be pushing the changes soon.

[2020-05-20 07:13] huguesdevimeux commented on #22
That's a great idea. I take care of that

[2020-05-20 07:16] huguesdevimeux commented on #11
As @leotrs  pointed out,  we will have to be aware in the tests that Latex is optional. See #11

[2020-05-20 11:22] leotrs commented on #15
Fair. I can see the use cases for allowing it / not discouraging it.

I agree this should be very clear in the introduction.

I still think the imports.py file needs to go :)

[2020-05-20 11:24] #21 closed

[2020-05-20 11:27] leotrs commented on #5
Hi @kilacoda. Apparently, @huguesdevimeux, @PgBiel, and I are partial to the logging lib from stdlib. Can you please briefly summarize the reasons why rich was settled on?

[2020-05-20 11:43] kilacoda commented on #5
Well, for one Rich allows us to format messages with more flexibility, such as adding colors to specific log elements (errors, warnings etc.), and makes things in general look better. It also provides its own markup language which can be used to format stuff like the Animation numbers.

Rich has more features too such as progress bars, tables, better tracebacks etc. which may be used later on if w

[2020-05-20 11:47] leotrs commented on #7
I like the idea of using dataclasses/attrs. I am usually partial to staying within stdlib, but since dataclasses were modeled directly after attrs, I think I'm OK with using attrs.

@yoshiask what do you think about this?

Regarding this being part of a major rework. I propose this: whoever ends up working on this would need to touch a number of files (and should probably wait until we have some m

[2020-05-20 11:50] kilacoda commented on #5
![image](https://user-images.githubusercontent.com/65204531/82442875-1d0bd580-9abe-11ea-9e54-0ebc36a9fa4f.png)
Here's a little example of rich I've used in my manim renderer GUI.

[2020-05-20 11:51] leotrs commented on #5
I do like the idea of handling logging and the progressbar from a single library.

I'm very very wary of using Yet Another Markup Language... but it seems it also supports markdown which is great.

[Here](https://github.com/willmcgugan/rich) is a link for reference.

[2020-05-20 12:26] PgBiel commented on #5
Imo the usage of `rich` should be optional. We can easily implement colors by ourselves, without requiring yet another dep. We gotta keep those dep numbers down as much as possible. I'm not gonna lie, it looks like a cool lib, but we could do this (or most of it) using only stdlib, and it's not extremely necessary regardless..

[2020-05-20 12:35] leotrs commented on #24
Originally from @kilacoda in #28:

We could implement a check in `manimlib.imports` for that I think. Something like
[code]

[2020-05-20 12:45] leotrs commented on #6
Related: #15. Once that is merged, it'll be easier to work on adding the right entrypoints here.

[2020-05-20 13:01] leotrs opened #30 "Automatically deleting a branch after merge"
For the purpose of having as clean a repository as possible, I suggest we have github [delete branches that have been merged](https://help.github.com/en/github/administering-a-repository/managing-the-automatic-deletion-of-branches).

It's not clear to me whether this will upend anybody's workflow, so I'm posting here for discussion before making the change. I'll leave this up for a couple/few days

[2020-05-20 13:17] yoshiask commented on #7
Dataclasses and attrs looks pretty good to me! Unfortunately I can't do it now, but I can start switching everything over to our new structure towards the end of the month, and hopefully by then we'll have CI and stuff set up.

[2020-05-20 13:22] leotrs commented on #7
I think we have consensus among everyone who's participated here, except for @eulertour.

[2020-05-20 13:22] yoshiask commented on #30
There should be a check mark on GitHub to delete the branch on merge

[2020-05-20 13:24] yoshiask commented on #30
As for whether it should be deleted, that depends on what the branch was for. If it's a feature or bugfix branch, then yes, it should be deleted after it's merged.

[2020-05-20 13:29] leotrs commented on #30
Agreed, my worry is that I'm not sure we want to delete *every single branch* that gets merged.

[2020-05-20 13:29] yoshiask opened #31 "Improve the SVG parser"
There are many weird quirks of the  current custom SVG parser. For example, the colors white and black are swapped if the SVG element is a `rect`. This is some really odd behavior, and I think the best way to solve these issues is to use a full SVG parsing library.
Either way, SVG support is pretty limited at the moment. (Also, I think I can add `SkewX` and `SkewY` transform support right now)

[2020-05-20 14:07] huguesdevimeux commented on #5
I agree with @PgBiel. Adding new dep is a bad idea.
But is implementing colors _that_ simple? Isn't that highly platform-dependent?

[2020-05-20 14:16] CodeForeverAndEver commented on #5
@huguesdevimeux I have a library that is like 20 lines. The file could just be included. It's not a dependency or anything. Just include the file. (Look at download instruction #1); put the file in the manim-community directory.

Link: https://github.com/CodeForeverAndEver/ColorIt

[2020-05-20 14:20] CodeForeverAndEver commented on #5
If you want, I can update it to include italics, bold, blinking text, etc.

[2020-05-20 14:28] leotrs commented on #5
@CodeForeverAndEver thank you very much! I would be much more comfortable with using a established library such as `logging` or `rich`. The main point is that manim is meant to be used by many people, and we would rely on these established libraries' communities in case anything goes wrong with them. We are not really looking to include a new file just for the purpose of coloring log outputs. Plea

[2020-05-20 14:30] CodeForeverAndEver commented on #5
Alright, sounds good 👍 I definitely get that and feel the same way. :D

[2020-05-20 14:44] PgBiel commented on #5
We would use this code together with `logging`, of course. @CodeForeverAndEver's code isn't a jack-of-all-trades, it's just, really, implementing colors in a simple way - it doesn't do the printing, which is `logging`'s job. This is also extendable and lets us simulate something like `colorama`. Imo it's a good choice.

In the end, though, it might not really matter. If we decide on using `rich` a

[2020-05-20 14:45] PgBiel commented on #31
We need full and instantaneous color support for SVGs, i.e., we need to fix those color issues people often face when attempting to work with SVGs in manim.

[2020-05-20 14:53] leotrs commented on #5
I think ultimately the point is whether it is worth it to rack up dependencies. The benefits or using rich (or other alternatives) is to have colored logs and maybe consolidate the progress bar and logs under the same library. The disadvantages are that we add another dependency, and deviate from stdlib, and it's unclear how easy it would be to change to anything else in case we want to do so in t

[2020-05-20 15:07] PgBiel commented on #7
I'd be more than willing to help here as well!

[2020-05-20 16:00] kilacoda commented on #5
Imho, we shouldn't really worry too much about the number of dependencies. It's whether the dependency is stable enough to meet our needs or not. Not adding a useful library just for the sake of not having too many libraries doesn't sound like the best idea to me. Dependencies grow as the requirements of a project grow, and while in the particular case of using `rich` I agree it's slightly not wor

[2020-05-20 16:04] PgBiel commented on #5
Of course, we should add dependencies as we need them (see my comment regarding `attrs` on #7). My opinion, to put it simply, is just that, for this case, it might not be necessary to actually add one. That's all. For future suggestions, these little deps could stack up and be, overall, rather an issue. However, with what we have so far, **it is indeed possible** to use `rich`. We should just be w

[2020-05-20 16:16] kilacoda opened #32 "Set up workflow for pushing releases to PyPI"
Once, cleanup is done, we should begin integrating a Workflow/Action to automatically package new releases and shoot them of to PyPI.
![image](https://user-images.githubusercontent.com/65204531/82470678-45f29180-9ae3-11ea-8b99-865049ab39fc.png)

[2020-05-20 16:21] leotrs commented on #32
One pre-requisite for this is to have automates tests with Travis - do we have an issue for that yet?

[2020-05-20 16:21] kilacoda commented on #32
I think we do

[2020-05-20 16:22] kilacoda commented on #32
Nope, because #22 is closed

[2020-05-20 16:23] kilacoda commented on #32
We'll have to set up tests then, with pytest and the like. I'll open an issue for that.

[2020-05-20 16:35] kilacoda opened #33 "Set up tests with PyTest and/or Travis"
As the title says, set up tests with PyTest and/or Travis, so that we can create the workflow.

Tests may basically include a `Scene` in which the Mobject in question is `self.add`ed/`self.play`ed into the scene, rendered at `-s` or `-l`.

[2020-05-20 16:40] leotrs opened #34 "How to test videos?"
In the future, we will need to check the videos generated by manim for correctness.

One way to go about it, is to write tests in such a way that they output a single frame in PNG format. And then we can load that PNG in python and check everything, even pixel by pixel if needed. For example, it would be fairly easy to write a test that checks for "this PNG/frame contains a red square of such and

[2020-05-20 16:42] leotrs commented on #33
I think one thing to discuss is which framework to use for testing. I am partial to [pytest](https://docs.pytest.org/en/latest/).

A different issue is how to automate them. I like Travis-CI for this.

A different issue is what the tests will test for. I agree that for now we should target to run some boilerplate manim code without errors. We can check for correctness later (see #34).

[2020-05-20 17:28] yoshiask commented on #34
Until you take into account compression and stuff, at which point something this simple becomes pretty ridiculous

[2020-05-20 17:35] leotrs commented on #34
@yoshiask you raise a good point. Can manim currently output bitmap formats? If it were able to output a bitmap (which is basically an array), then we don't need to worry about compression. This could be an option used only during testing, but that's OK because if the bitmap version is good, then we don't really need to test the compression step.

[2020-05-20 18:08] huguesdevimeux commented on #34
Actually there is `get_frame `(l. 157, scene.py) that returns an array of the pixels.

[2020-05-20 19:09] eulertour commented on #7
Do dataclasses/attrs allow for positional arguments to `__init__` and for optional `**kwargs` for example what's used [here](https://github.com/ManimCommunity/manim/blob/master/manimlib/mobject/geometry.py#L281)? I'm reluctant to make such a large change that breaks old code.

[2020-05-20 19:11] leotrs commented on #34
Excellent! It shouldn't be too hard to put together a proof-of-concept example test using this idea of testing individual frames.

[2020-05-20 19:14] kilacoda commented on #7
Yes, if you declare the variable with a type but don't assign it a value.
[code]

[2020-05-20 19:15] leotrs commented on #7
Only when declared with a type? Would this make some of our code have type hints while the rest doesn't?

[2020-05-20 19:16] faielgila commented on #3
So, to be clear: we're settled on Sphinx?

[2020-05-20 19:18] kilacoda commented on #7
In python you can only create unassigned variable by providing a type I think. Also, we can always keep the type to be `Any` if we don't know it.

[2020-05-20 19:18] yoshiask commented on #23
@leotrs Unfortunately, many people who are new to Manim haven't even used the command line before. (Source: past and some current GitHub issues in the 3blue1brown/manim repo)

[2020-05-20 19:22] leotrs commented on #3
I count five out of 7 participants on this issue are in favor of Sphinx (the other two don't seem to be against?). That sounds like enough votes to me.

[2020-05-20 19:23] leotrs commented on #3
But also, @kilacoda is sort of in charge of the docs branch, so I'd like to hear what they think.

[2020-05-20 19:23] yoshiask commented on #23
After some investigation of the PyLaTeX repo, you'd still have to have a LaTeX compiler installed on your machine. It looks like PyLaTeX is just a way of communicating, not necessarily compiling LaTeX without any external dependencies.

[2020-05-20 19:24] leotrs commented on #23
Yeah that's fair. I think there's a deeper debate here about what is the target audience of manim. I would love to encourage people with zero technical background to create math videos and content, but at this stage that seems near impossible.

[2020-05-20 19:26] kilacoda commented on #3
I haven't really used pdoc, ever, so I guess this may be biased but... yeah, Sphinx would be good. Especially considering it'll easily integrate with ReadTheDocs. If we go with numpy/Google type docs we can use the `napoleon` sphinx plugin so that won't be a problem at all.

[2020-05-20 19:27] leotrs commented on #7
Right. I think I would have to see what manim looks like using dataclasses/attrs before actually committing to its usage. So maybe like, someone can volunteer to take one of the smaller/simpler files and rewrite it using dataclasses. That way we can have concrete pros and cons. Of course this is just a dream, I'm not suggesting that someone spends time on a PR that may or may not be merged.

Alter

[2020-05-20 19:28] kilacoda commented on #3
Also, going on a bit of a tangent here, but are we aiming for a better reference manual type of documentation or docstrings-that-open-up-on-hover kind of docs?

[2020-05-20 19:29] leotrs commented on #3
@faielgila I think it's safe to say we're doing sphinx.

@kilacoda I would aim to have numpy-style documentation, where each of the main classes has a 2-3 page docstring, complete with examples and cross-references. Of course we can leave that for the future. More documentation can't really hurt at this point.

[2020-05-20 20:09] PgBiel opened #38 "Documentation host or domain"
We've been discussing where should we host our documentation and what its domain should be.

Options for host:
1. Host using GitHub pages;
2. Host with ReadTheDocs;
3. Host on a private server. (More can be added here as the discussion goes)

Options for domain:
1. Use the GitHub pages domain (Note: could be too long: manimcommunity.github.io/manim ...)
2. Use the ReadTheDocs domain
3. Use a free

[2020-05-20 20:12] safinsingh commented on #38
We could create a GitHub pages site and a Freenom doman (12 months free; it's not a scam, I use it all the time). This way, we can all contribute to the GH Pages branch of this repository, which auto-deploys to GH pages itself. The domain is just a DNS forward to the GH pages site.

[2020-05-20 20:18] leotrs commented on #38
I *think* I like this. But this opens the huge can of worms which is: how to name that website. Which in turn opens the can of worms of whether we want to change the name of the library itself.

[2020-05-20 20:55] eulertour commented on #7
@kilacoda I see that that covers positional arguments but does it cover kwargs as well?

[2020-05-20 21:07] huguesdevimeux commented on #34
Ok, I will try to do that. We could even use that method of testing instead of the one which have been described in #22.

[2020-05-20 21:11] leotrs commented on #34
Yes, #22 was supposed to be a quick temporary patch.

I still think we should keep those sample scenes tho!

[2020-05-20 21:23] safinsingh commented on #9
Possible PRs to look into:
 - Fixing a broken stroke width for ZoomedScene: https://github.com/3b1b/manim/pull/1073
 - Add custom CTeX capabilities: https://github.com/3b1b/manim/pull/745
 - Add option to fix SVGs with Cairo: https://github.com/3b1b/manim/pull/330
 - Fix NumberPlane construction: https://github.com/3b1b/manim/pull/909
 - Add Physics Engine support (possibly as an add-on?): https:/

[2020-05-20 21:29] safinsingh commented on #8
I can try to, but I'm not exactly sure how to get started

[2020-05-20 21:43] eulertour commented on #22
#28 doesn't improve the testing situation over running the example scenes manually. The goal is to write a suite which can be run in pytest, nose2, or the like in order to ensure basic functionality.

[2020-05-20 22:00] XorUnison opened #40 "Work on ArcBetweenPoints"
As some of you know I've been working with arcs. A lot. At some point I'd want to add ArcPolygons to this manim fork, but first I want to work on the Arc derived class I usually work with, ArcBetweenPoints.

As per the tags there are 3 things to do here.

The bug:
ArcBetweenPoints, unlike all other classes I know that use points (Line, etc.), does not support points in the form `[x,y,z]`, instead

[2020-05-20 22:12] PgBiel commented on #7
any parameters in a function can be specified as kwargs unless explicitly told otherwise (feature only available in py 3.8+: pos-only args)

[2020-05-20 22:14] huguesdevimeux opened #41 "-w flag enabled by default"
I just noticed an issue with the CLI arguments, and more particular concerning the `-w` (`write_to_movie`) flag.
It appears that when `-s` (`save_last_frame`) is False (most of the time, I think), `write_to_movie `is set True even though -w hasn't been placed. (that's why for example in the `README `just` -pl` is used instead of `-plw`).

That is shown at l. 166 of `config.py`:
`"write_to_movie":

[2020-05-20 22:14] PgBiel commented on #7
I'd like to follow this course of action: we develop everything using only the stdlib features (`dataclasses`). Then, if we do reach a point where we do need `attrs`, we can switch to it. Also, we may compare memory usage with and without `attrs` + `slots=True`, in order to determine if it is worth it.

[2020-05-20 22:36] PgBiel commented on #7
For the optional kwargs, one can use inheritance for this: the class should inherit the attributes of its parents. This way we have more type-strict (i.e. easier to typecheck, not actually "strict" because this is python) classes and more predictable models. If it depends on unpredictable parameters, imo it's bad design

[2020-05-20 22:38] Tony031218 commented on #24
For users who do not have LaTeX installed, what about adding an option to use the website API to render LaTeX formulas(get SVG file directly) online instead of the local offline rendering.

Like this, using the LaTeX rendering API on the Zhihu website in China will directly return the rendered svg file.
[code]
There may also be better APIs to choose from, but I may know less.

For some people, the

[2020-05-20 22:44] Tony031218 commented on #9
Also 3b1b#1071 This pr fixes some serious bugs of `Text()` and `Code()`, but the effect of some of the latter commits is not good.  Can we keep only the part of the commits that fixed the bugs before?

[2020-05-20 22:48] Tony031218 commented on #23
What about this: https://github.com/ManimCommunity/manim/issues/24#issuecomment-631765727

For those who don’t want to install LaTeX, maybe it is a good choice to use online rendering.

[2020-05-20 23:17] safinsingh commented on #24
This is a really creative solution, but it would require people to always have internet. Honestly, that shouldn't be much of a problem though, so maybe we could add a flag for it. Thanks!

[2020-05-21 00:52] leotrs commented on #24
@Tony031218 your English is perfectly understandable! You propose a very interesting solution. As with most new features, I think it comes down to: if we offer it as an alternative, users will expect us to maintain it. If the online service we choose happens to change their API, or it has privacy or security issues, or if it just stops working altogether, we are going to receive a barrage of issue

[2020-05-21 00:54] leotrs commented on #7
I'm afraid that if we design/develop everything around dataclasses and get used to those, we might never really feel the need to move on to attrs because, well, we designed it without that need. We may never know what we're missing. It's the problem of unknown unknowns you see.

[2020-05-21 00:59] PgBiel commented on #7
Okay well I guess we can do the reverse then? No idea. I mean, it's not like `attrs` has a ton of advantages, but... Well, let's use it then. If we ever feel like changing our mind... we can discuss that later

[2020-05-21 01:01] leotrs commented on #41
Good catch. I think we want to allow for four different behaviors:
1. write to movie ONLY
2. generate last frame ONLY
3. do both
4. do neither

Right now, option 1. is the default, no arguments necessary, 2. requires `-s`, and 3. is impossible. Is 4. possible? I think this can be useful for dry runs (for example for testing purposes).

O fail to see how your suggestion allows the support for all 4

[2020-05-21 01:03] yoshiask commented on #7
I'm actually quite familiar with the data types of many of the variables in Manim (because I had to find a way to project them to C#)

[2020-05-21 01:09] leotrs commented on #7
At this point my personal opinion is that @PgBiel and @yoshiask should determine which library to use (between attrs and dataclasses). Why they? Because they assigned this issue to themselves. And I don't see anyone else strongly objecting to either option.

As long as @eulertour's questions have been answered, that is.

[2020-05-21 01:09] Tony031218 commented on #24
I simply implemented this feature and will improve it later.

Currently I plan to use Zhihu's API, but if this function is used by enough people, maybe we can build a server by ourselves.

Online rendering is just an alternative, we still recommend using offline rendering.

[2020-05-21 01:15] leotrs commented on #40
Yes. Importing standard libraries (or even third party libraries) in modules inside of a package is fine. Just out of curiosity, why do you need both math and cmath?

In numpy's docstring style [documentation](https://numpydoc.readthedocs.io/en/latest/format.html), you can see how to add example code inside a docstring, under section "15. Examples" (inside the "Sections" heading)

[2020-05-21 01:16] leotrs commented on #24
I really don't think we should implement the server ourselves. That sounds like orthogonal to manim, and like a whole very different project.

[2020-05-21 01:22] raghavg123 commented on #24
We could probably add that part in a try-except block, like
[code]
(assuming ConnectionError is defined somewhere.)

[2020-05-21 01:24] yoshiask commented on #23
@Tony031218 I was thinking about that, but then you'd have to have an internet connection every time you want to render a new LaTeX document.

But if we do go with server-side rendering, there is this:
https://latex.codecogs.com/svg.latex?x=\frac{4}{5}

[2020-05-21 01:25] eulertour commented on #7
My only request is that whatever we settle on, it should still be a drop-in replacement. I wouldn't want to get rid of the CONFIG vars only to introduce another quirk that people still don't understand.

[2020-05-21 01:25] Tony031218 commented on #24
After about two hours, I will submit a pr, then you can try it and make some suggestions. I'm going to take an exam now.

[2020-05-21 01:29] PgBiel commented on #7
I say we go with attrs for now; if needed, we can change our mind later.

They (dataclasses) work directly with python attributes. That is, they work very similarly to CONFIG, but using attributes directly (without "digest_config") and allowing for more customization and better type interpretation by IDEs.

[2020-05-21 01:33] PgBiel commented on #23
Indeed, this would require a ton of requests (one for each TexMobject!), plus people would end up installing BasicTeX or similar simply out of convenience.

[2020-05-21 01:34] PgBiel commented on #24
I agree. We can, however, make this extendable, i.e., people should be allowed to handle this in their own away. In this sense, this falls into the discussion about manim addons. I feel the need for an issue about this

[2020-05-21 01:39] leotrs commented on #7
@PgBiel looking forward to reviewing that PR! Something tells me to expect a bit more discussion there, but at least we have settled on which library to use.

[2020-05-21 01:39] eulertour commented on #24
This I can totally get behind, if someone provides an extension/addon and some people want to download it, that's perfectly fine.

[2020-05-21 01:41] leotrs commented on #23
I think this thread went on a tangent for a bit (I think I derailed it?) My current understanding of the "can we replace miktex" issue is: no, unless we make requests to a private server.

I think making requests a private server would be very very very bad design. Not to mention the requirement of internet an connection.

[2020-05-21 02:24] PgBiel opened #42 "Manim addons and customizability"
@yoshiask had developed an initial structure for what seemed to be support for using addons (i.e., extra functionalities from 3rd-party libs) in manim (see [his pull request at the 3b1b repo](https://github.com/3b1b/manim/pull/609) and [his .pptx export extension](https://github.com/yoshiask/manim-pptx)). This idea has a lot of potential and can be generalized for many functionalities needed by ma

[2020-05-21 02:25] eulertour opened #43 "Choose a linter and formatter"
In case you aren't familiar:
A *formatter* ensures all code is formatted in the same way
A *linter* ensures that all code follows best practices

A bunch of popular ones are listed [here](https://books.agiliq.com/projects/essential-python-tools/en/latest/linters.html#pylint).

Personally I don't really care as long as we choose a good one, but if nobody has a strong opinion either way I'll nominat

[2020-05-21 02:29] leotrs commented on #43
+1 black and +1 pylint

[2020-05-21 02:33] yoshiask commented on #42
@eulertour and I were discussing the extensibility and modularity of rendering. I think that we could make the actual rendering parts as add-ons, since we want people to be able to add new rendering backends on their own.

[2020-05-21 02:53] eulertour commented on #42
Most of that makes sense, although a `render_frame()` function will probably make more sense than a `render_shape()` one since it allows the renderer for more freedom over how to process each frame. I also think we should add a realtime renderer to the base repo, since the one with cairo is really slow.

Other than that it seems like we'll basically have to allow users to overwrite any function th

[2020-05-21 02:54] Tony031218 commented on #24
I'm sorry you are not satisfied with my plan.

I made this suggestion not to make online rendering a complete replacement for the LaTeX distribution, but to provide a solution for those who cannot successfully install LaTeX or are unwilling to install the distribution, that is, to connect to the Internet for online rendering.

This has many limitations, such as the inability to use LaTeX's other f

[2020-05-21 03:00] PgBiel commented on #42
Sure; the `render_shape()` idea was simply an example so people understand the main idea behind it. Of course there is much more potential here. We'll need to discuss this in detail

We should discuss more about this, yes

Well, the renderer should optimally only receive and work with the data it needs... We might need to restrict its freedom in order to get this right.

[2020-05-21 03:25] leotrs commented on #24
@Tony031218 Yes, it was clear that this was never meant to be a full replacement :)

The major problem with implementing a feature "just in case" something else doesn't work is that we will be expected to maintain it and support it, even when it is used only every once in a while because, well, it is "just in case".

You are of course welcome to submit PRs! Just note that every PR needs to be code

[2020-05-21 03:46] NavpreetDevpuri commented on #9
which commit's effect is not good ?

[2020-05-21 03:53] Tony031218 commented on #9
The last few are to resolve Transform's commits.
I don't think they are necessary, and they are more difficult to understand and not easy to use.

[2020-05-21 04:08] NavpreetDevpuri commented on #9
I think they are necessary because
* Resolve Transforms
* Open a ability to access chars differently as visible sub-mobjects.
* Open new modifications something like `Text.words` and `Text.lines`. I will do that.
* Add for functionalities to `Text()`

As you said "more difficult to understand" i want to ask you that what if [Grant Sanderson](https://github.com/3b1b) thinks the same Did he able to

[2020-05-21 08:34] huguesdevimeux commented on #41
The 4 is impossible but the 3 is possible. It requires `-sw`
So my thought was just to modify a little bit to make `-w` mandatory when wanting a video as output, like this :

1. `-w`
2. `-s`
3. `-sw`
4. `nothing`

I will of course add a warning message saying that nothing has been selected to avoid any confusion.

[2020-05-21 08:39] eulertour commented on #41
Since manim is mostly used to generate video it makes sense that it would do that by default, so I'd consider it a mistake for it do nothing by default. And since the purpose of generating the last frame was to see progress quickly without waiting for video to render, it also makes sense that video is disabled when the last frame is requested.

It seems to me like the only things to do are to ensu

[2020-05-21 09:23] huguesdevimeux commented on #34
[code]

Here is an example of a test. Basically it compares a frame with another saved previously. We could have like a folder with some .npy files of frames of a bunch of scenes, and run some tests comparing with them.

What do you think ?

[2020-05-21 09:52] eulertour commented on #34
If the `--save_pngs` flag did anything we could just craft the necessary config to make a scene save its frames as pngs, run it with a low frame rate, and compare the pngs against a pre-rendered set of them.

But the `--save_pngs` flag is broken. https://github.com/ManimCommunity/manim/blob/master/manimlib/scene/scene_file_writer.py#L40

[2020-05-21 11:01] eulertour commented on #12
The directories really shouldn't be stored as global variables at all. They should be stored as part of the config and passed to scene_file_writer (or anything else that needs them) that way.
That would eliminate the need for weird workarounds like [this](https://github.com/ManimCommunity/manim/pull/26#discussion_r428359951).

[2020-05-21 11:31] XorUnison commented on #40
Because... hm. Actually I think cmath alone will do just fine. I need cmath.sqrt because it might run into negative values and obviously math.sqrt doesn't take well to that.
I previously used math.acos, but cmath.acos exists as well and seems to work just as well, even with only real input.

Alright I'll have a look. Still waiting on #6 to be resolved anyway, having a look at the new PR for that r

[2020-05-21 11:40] naveen521kk commented on #43
:+1: for black and pylint

[2020-05-21 12:11] naveen521kk commented on #38
How about an [js.org](https://js.org) subdomain. We can host using GitHub Pages and use their subdomain.

[2020-05-21 12:15] Aathish04 commented on #38
Using a .js.org domain would imply that this is a JavaScript library, which is not true.

[2020-05-21 12:22] leotrs commented on #12
I agree @PgBiel there should be a .cfg file. We seem to be converging on this. Any PR takers?

[2020-05-21 12:25] leotrs commented on #41
How about this:

1. video only: `-w` OR nothing
2. last frame only: `-s`
3. both: `-ws`
4. neither: `-d` (for dry run, but this can be anything else)

[2020-05-21 12:26] raghavg123 commented on #41
I don't see why someone would want to render both the video and image at the same time though?

[2020-05-21 12:28] leotrs commented on #34
Just to clarify, your example test didn't *really* do this, right? It is testing a newly-rendered scene with itself, after loading it using numpy. This is more like testing numpy's save/load functions.

If we compare to a previously-rendered frame, then I'm all for this test!

[2020-05-21 12:28] leotrs commented on #43
@naveen521kk what is codacy for?

[2020-05-21 12:30] leotrs commented on #41
Maybe they want to use the image as a thumbnail or some such? Regardless of how it'd be used, I think this is a low-maintenance easy-to-implement feature so we might as well have it.

Also, the point is that it's really easy to support both in a single run, while doing them separately would require two different CLI calls.

[2020-05-21 12:33] naveen521kk commented on #43
[Codacy](https://www.codacy.com/) is a Code Quality checker.

[2020-05-21 12:35] raghavg123 commented on #43
It's paid though I think?

[2020-05-21 12:37] naveen521kk commented on #43
Its free for Open source. So how about adding it. It checks every PR whether it is well formatted or not.

[2020-05-21 12:40] Aathish04 commented on #43
Sadly, it's only free for teams of 4 people or smaller. We have eleven people who'd like to continue to work on the Manim Community repo.

https://support.codacy.com/hc/en-us/articles/208942945-Plans-and-Billing

It's stated at the very bottom of the linked page.

[2020-05-21 12:54] naveen521kk commented on #43
Checking it out, its for people who want Codacy for a private repository there is a 4 people and for an OS there is nothing so. And also they say number of people who manage the codacy page and not number of *collaborators* who contribute to this repository. It's free for OS.

[2020-05-21 13:03] Aathish04 commented on #43
_Users are developers contributing to the repository and any team member with access to the code analysis results on the Codacy UI. Your organization should have as many users as your repositories have contributors._

I may be understanding this wrongly, but they say that all the people who are _contributers_ are also _Users_ and all users will get access to the analysis results on the Codacy UI.

[2020-05-21 13:04] leotrs commented on #43
What would be the benefits of using Codacy *on top of* black and pylint?

On Thu, May 21, 2020, 8:54 AM Naveen M K <notifications@github.com> wrote:

[2020-05-21 13:06] naveen521kk opened #50 "Add Versions of Library in requirement.txt"
How about adding specific version to install the libraries and this could prevent bugs that could cause because of changing of the library's API and we didn't update those in our code. So specifying the version in requirements.txt is good.

[2020-05-21 13:23] leotrs commented on #50
This has been discussed here #19. We will come back to this at the time of release. Closing this for now.

[2020-05-21 13:23] #50 closed

[2020-05-21 13:58] naveen521kk commented on #43
Codacy help in checking PR who may have not use pylint while writing code. It uses pylint or something similar to check the code in cloud. @leotrs .

[2020-05-21 14:09] leotrs commented on #43
I think running black on Travis CI achieves the same.

[2020-05-21 14:27] PgBiel commented on #12
I'd be willing to help on this one

[2020-05-21 14:30] leotrs commented on #12
Thanks! @XorUnison is also assigned to maybe confer with them too!

[2020-05-21 14:37] naveen521kk opened #51 "Add Encoding declarations to Library"
Add [ Encoding declarations](https://docs.python.org/3/reference/lexical_analysis.html#encoding-declarations) which is considered as python standart to all the files(.py *files*) in the library(*manimlib*).
See
https://docs.python.org/3/reference/lexical_analysis.html#encoding-declarations

[2020-05-21 14:39] XorUnison commented on #12
Right, but I've been mostly for now focused on fixing what's there, and I don't have any particular plans for how to restructure it to ditch the global variables. If we make a whole separate .cfg file that's probably gonna be a bigger thing, won't it?

[2020-05-21 14:40] XorUnison commented on #12
Oh right, we might also want to get the review and merge on #26 done first if we do the whole .cfg business here.

[2020-05-21 14:43] PgBiel commented on #51
What's the need for this? Do other libraries do this?

[2020-05-21 14:44] #6 closed

[2020-05-21 14:46] leotrs commented on #12
Agreed #26 should come first

[2020-05-21 14:47] leotrs commented on #51
If I'm not mistaken, this helps our files be ran (compiled?) cross-platform. It's a good addition, and it doesn't really change the actual code base. Unless I'm wrong. I've been known to be wrong in the past.

[2020-05-21 14:52] PgBiel commented on #51
It's probably not gonna have any effect, considering that basically none of our deps do it

[2020-05-21 14:54] PgBiel commented on #23
I think we can close this issue in favor of #24 or smth

[2020-05-21 14:55] leotrs commented on #23
Agreed.

[2020-05-21 14:55] #23 closed

[2020-05-21 15:01] PgBiel opened #52 "Add typings"
We should add typings to manim:

1. It allows for more precise intellisense and easier-to-check code (via `mypy` and whatnot);
2. It ensures we follow a structure that makes sense (i.e., ensures we don't have a data model in which people get completely lost);
3. Writing documentation and specifying types are tied to each other. When we work on documentation, it is inevitable that we will specify t

[2020-05-21 15:08] leotrs commented on #52
One of the main problems with this is contributions from the community. What if a user wants to contribute a PR but they don't have experience with typing? Do we just reject all PRs without types, or do we guide each user in adding types? Or do we merge them and add the types ourselves?

[2020-05-21 15:13] leotrs commented on #19
For clarity, this will be done only once we are ready to release a new version of manim.

[2020-05-21 15:13] PgBiel commented on #52
The latter is more appropriate. In general, the one making the PR should attempt to write the typings themselves. If they do not manage to, we can work this out by ourselves. (Not sure if the usage of stubs would prove itself more useful in this case)

[2020-05-21 15:26] PgBiel commented on #52
^we should at least expect PRs to have documentation, which makes writing typings by ourselves trivial

[2020-05-21 15:28] leotrs commented on #52
Good point.

[2020-05-21 16:32] Kreijstal commented on #13
bring back docker, it works wonder when you have a completely clean enviroment and you want to set up manim without bothering to configure your machine everytime you want to install it.

[2020-05-21 18:25] huguesdevimeux commented on #41
I agree

The first three are already implemented in the code. To me adding a new flag is a good idea. But since a few people will use a dry test maybe we could just set `--dry_test` as the flag ?

[2020-05-21 18:28] leotrs commented on #41
Agreed. Let's say `--dry-run`.

Also, I thought 3. (both at the same time) wasn't possible with the current code base?

[2020-05-21 18:32] huguesdevimeux commented on #34
@leotrs No, my example compare a previously-rendered frame. This line ` # np.save('test.npy', b)` was intended to show how I would save the NumPy array but won't be used in the test scripts (that's why I commented it).

Sorry, that was unclear

[2020-05-21 18:34] huguesdevimeux commented on #34
As @yoshiask isn't the "compression and stuff" an issue if we use that ?

[2020-05-21 18:36] leotrs commented on #34
Oh I missed the commented line. This looks good to me. Are you volunteering a PR? :)

[2020-05-21 18:50] yoshiask commented on #34
Yes, it is. We'd have to compare the raw output (byte arrays) to what we'd expect the raw output to be. I doubt we can reliably use any image format.

[2020-05-21 18:51] huguesdevimeux commented on #34
Yup. I will do that asap. I will do that in `/tests` and will create a new folder like `/tests/test_data` to store the previously-rendered scenes.
Tell me if you see any problem with doing that

[2020-05-21 18:52] yoshiask commented on #52
It seems like we have a pretty solid plan for this. Should we get started?

[2020-05-21 18:56] eulertour commented on #34
I found some articles on the topic that make it seem pretty doable.
https://www.pyimagesearch.com/2014/09/15/python-compare-two-images/
https://www.pyimagesearch.com/2017/06/19/image-difference-with-opencv-and-python/

[2020-05-21 19:27] leotrs commented on #52
I think this should be left until after we are done with the "initial clean up" milestone.

[2020-05-21 19:53] #15 closed

[2020-05-21 21:23] leotrs commented on #3
I think this issue has ran its course. We have landed on sphinx and numpy style docstrings. There are other efforts happening RE documentation. So I'm closing this.

[2020-05-21 21:23] #3 closed

[2020-05-21 21:29] leotrs commented on #30
Any input @eulertour ? This is an easy change or a wontfix, and I'm trying to close as many issues as possible.

[2020-05-21 21:32] huguesdevimeux commented on #41
The 3 is possible with `-ws`

[2020-05-21 21:33] leotrs commented on #9
Thanks everyone for bringing up all these previous issues. I think this issue has achieved the purpose of gathering all of these. So I'm going to ask the participants @NavpreetDevpuri @safinsingh @eulertour @Tony031218 to feel free to take any of those issues you have listed and open them again here in this repo. We can come back to this list for future reference. But I'm closing this for now.

In

[2020-05-21 21:33] #9 closed

[2020-05-21 21:40] PgBiel commented on #52
this should be done in conjunction with the dataclasses change for optimal compatibility and development.

[2020-05-21 21:44] eulertour commented on #30
I'd prefer that we did do it since we can go to the commit to look at them anyway and we currently have to create a branch for every commit to master.

[2020-05-21 21:44] leotrs commented on #41
Ok we seem to have converged. I think we need a PR that allows number 4 and fix the original bug that opened this issue.

Now, I would *reallly* like to see this PR add tests for all of these flags... is that possible at the moment?

[2020-05-21 21:49] eulertour commented on #41
It wouldn't be very stable. It'd have to run the commands and check the filesystem to ensure the right things were created, but with #12 still open that's likely to change.

[2020-05-21 22:08] leotrs commented on #41
Fair. Let's revisit this once #12 is closed. @huguesdevimeux

[2020-05-21 22:09] leotrs commented on #30
Ok so there are three votes for automatic deletion of branches.

[2020-05-21 22:14] huguesdevimeux commented on #41
Oh no I had finished :/
But yes its a good idea to wait

[2020-05-21 23:32] eulertour commented on #5
What's the status on this? Is anyone working on it?

[2020-05-22 01:05] leotrs commented on #5
I initially assigned this to myself but can't work on it right now. How about @kilacoda ?

[2020-05-22 01:05] leotrs commented on #41
@huguesdevimeux if it is ready for merging, then go ahead. We can always add tests later*.

* Famous last words.

[2020-05-22 02:09] eulertour commented on #43
Whatever we use to check aside, it looks like black and pylint are the ones to go with.

[2020-05-22 02:19] leotrs commented on #33
Per #43, once we setup Travis, we will also set up pylint and black.

We still need to choose a testing framework. I suggest [pytest](https://docs.pytest.org/en/latest/) (again).

[2020-05-22 02:20] leotrs commented on #43
It seems like we have chosen a linter and a formatter, so this issue has ran its course. We can continue discussion in #33 for travis setup.

[2020-05-22 02:20] #43 closed

[2020-05-22 04:15] yoshiask commented on #43
For anyone still confused about whether Codacy is free for OS, it looks like it is:
![image](https://user-images.githubusercontent.com/7549325/82630602-03df5380-9ba8-11ea-9198-76dd5d49db87.png)

[2020-05-22 05:53] kilacoda commented on #8
Maybe [ffbrobe](https://ffmpeg.org/ffprobe.html) can be used? Though I don't know what impact it'll have on speed.

[2020-05-22 06:08] Aathish04 commented on #8
I was thinking of a system where, similar to what tex_file_writing.py does, the partial_video_files are named with a completely unique name, maybe like safinsingh suggested, with the md5 hash of something completely unique to each video file.

Since each play() like call makes it's own video, maybe the md5 hash of the pixel array at the middle of each self.play would be unique enough?

[2020-05-22 06:13] kilacoda commented on #8
https://dsp.stackexchange.com/a/15133
https://stackoverflow.com/questions/32317857/digital-signature-hash-of-mp4-video

I was thinking of doing something like that too but apparently hashing videom files and their subsegments isn't all that easy.

[2020-05-22 06:18] naveen521kk commented on #51
Shall I take up this issue.

[2020-05-22 06:22] Aathish04 commented on #8
We don't need to hash the video after it's been created.

We hash a single/multiple frame(s) from the video, and name the video with that, and compare the names the next time it's rendered.

Since we can get at the pixel arrays of the frames pretty easily, we could get the hashes of those.

Now that I think about it, we could get the whole contents of the self.play call as a list of pixel arrays o

[2020-05-22 07:44] safinsingh opened #61 "Use Pipfile instead of requirements.txt"
We should take advantage of using the new pipfile standard to manage python dependencies. This is also able to install `.whl` files off the internet, which eliminates the need for any external installation outside of Python itself. However, this requires pipenv, which may be hard to use for newcomers. Any thoughts?

[2020-05-22 07:46] safinsingh opened #62 "Add-on Capabilities"
As a long-term goal, we should look to create a possible add-on capability for amazing plugins things like this: https://github.com/3b1b/manim/pull/818

[2020-05-22 10:31] naveen521kk commented on #61
I think it is better to use [Python Poetry](https://python-poetry.org/) which AFAIK is beginner friendly and has similar features as pipenv.

[2020-05-22 11:22] leotrs commented on #43
@yoshiask sounds good. TBH it's still not clear to me what it would offer on top of pylint + black. If there is still a need for it then let's open a different issue focusing on codacy :)

[2020-05-22 11:25] leotrs commented on #51
TBH, I'm not sure how necessary this is... for example I don't see these on numpy's code base. What do you think @eulertour ?

[2020-05-22 11:26] eulertour commented on #51
I don't think it's necessary either.

[2020-05-22 11:31] leotrs commented on #51
@naveen521kk to be quite honest, I think your time and expertise can be best used tending to other open issues :)

[2020-05-22 11:31] #51 closed

[2020-05-22 11:32] leotrs commented on #61
@safinsingh could you describe a) which files would be changed or deleted, and b) what would be the installation steps for a newcomer?

[2020-05-22 11:57] #41 closed

[2020-05-22 14:28] xy-23 commented on #31
Hi, I was trying to improve the svg parser sometime ago, but during my attempt, I found if we want to improve it (more stable and powerful), we need to deal with some problems first.

1. We need to let `SVGMobject` support `<text>`, `<image>` and so on. But currently `SVGMobject` is a subclass of `VMobject`. I think we should let `SVGMobject` become a subclass of `Group`, which I think is more int

[2020-05-22 14:56] yoshiask commented on #31
1. I don't see anything wrong with leaving  `SVGMobject` as a `VMobject`. Maybe it should be a `VGroup`, but I don't think it makes much of a difference. Can you elaborate on what you've done with your `Image` class?
2. Manim's parser can read those attributes, the problem isn't his parsing method. After all, the data for a path object is stored in an attribute. The problem is that Manim doesn't b

[2020-05-22 14:57] xy-23 commented on #7
Hi, I actually post my idea about CONFIG in discord sometime ago, the message is so long that you can go to here https://discord.com/channels/581738731934056449/581738732646957057/701035356950364221
to see it if you like...

The main idea is to use `metaclass`, and after seeing the solution of using `dataclasses/attrs`, I think this is probably a good way(at least better than mine). But the my mos

[2020-05-22 15:10] XorUnison opened #65 "Command length and general user convenience"
I think we'll have to drag this issue in the open and properly discuss it, rather sooner than later.

Right now the code supports a wide range of arguments for some desired parameters. For instance using medium quality.
`-m`
`-r medium`
`-r 720,1280` (although this would default to 60FPS, not 30)
`--medium_quality`
`--resolution medium`

Personally I'm fine with that. It's not like this is adding

[2020-05-22 15:16] yoshiask commented on #62
This feels like a duplicate of #42

[2020-05-22 15:19] kilacoda commented on #65
I concur. We don't want to make manim as complicated as something like ffmpeg

[2020-05-22 15:20] kilacoda commented on #65
Besides, how does having shortcuts hurt?

[2020-05-22 15:23] leotrs commented on #65
IMO, this is confusing. A new user will not necessarily know that these are all available, and may (understandably) think that these are doing different things. I think this should change.

On the larger issue of accepting long/many arguments. I think there is a notion here of options that should always apply for a project, vs options that I will change from execution to execution even within the

[2020-05-22 15:42] huguesdevimeux commented on #65
I agree with @leotrs .
Aside, I think the flags aren't organized well. In my opinion, we should have 4 sorts of flags :
The first one would be something with related to quality in general as it is currently (`--low_quality`, etc ..) that would contain a preset of settings (`pixel_height`, `pixel_width `, `frame_rate`). I think this is enough for most of the users.
**But**, the 3 others flags would

[2020-05-22 15:47] leotrs commented on #65
But manim does use ffmpeg. Is there a way to grab extra CLI arguments and send them to ffmpeg? This would save us a lot of implementation and just rely on what ffmpeg already provides.

[2020-05-22 15:50] xy-23 commented on #31
`ImageMobject` is not a subclass of `VMobject`. They are parallel.
Currently, you can't do something like this in manim: `Transform(ImageMobject(...), VMobject(...))`, that's because `Transform` can't deal with non-VMobject. Making images vectorizable is ridiculous, but we can adjust it's opacity to achieve some creating or decreating animations. The most change I have made is in `camera.py` to le

[2020-05-22 15:51] xy-23 commented on #31
I probably described my opinion wrong. I mean exactly your opinion, that's why we need to take a look at the `cairosvg`, because its **parsing method** is excellent and we can use(copy) some of its method...

[2020-05-22 15:53] xy-23 commented on #31
Yeah, I noticed. But it's irrelevant to this topic I think.

btw(off-topic), I'm also dealing with the issues of `Text`, which probably end up need manim to switch `pycairo` into `cairocffi`.

[2020-05-22 15:54] XorUnison commented on #65
Well, `-h` is dropping information about what these do, although honestly it's really lacking. I've added brief mentions of render time to the different qualities in my PR, because it's everything but obvious that `high quality` is actually below production quality. In the first place, if you don't look into the code you never either hear of this so called production quality, nor are you going to

[2020-05-22 16:09] leotrs commented on #65
Let me try to gather the current action items.

1. Identify which things should be constants (never change), go on config files (things that almost never change, like project-wide settings), and which things may change frequently (like resolution).
2. The first kind of things should go to a constants file, which already exists. The second kind should go on a .cfg file which does not yet exist. The

[2020-05-22 16:20] XorUnison commented on #65
Just a quick and immediate interjection here, "production quality" is the preset manim uses when you pass no resolution arguments at all, so deleting it from the code base would be... bad. As such it's also "exposed" since it's the default. We should just have -h stating the resolution somewhere.

[2020-05-22 16:22] leotrs commented on #65
@XorUnison thanks, ammended.

[2020-05-22 16:36] safinsingh commented on #61
@leotrs Essentially, the `requirements.txt` file would be the only one to go, and it would be replaced with a `Pipfile`, which contains TOML for packages to be installed and allows you to select an external source. The installation instructions would be altered to show how to create a `pipenv` and execute the `Pipfile`.

[2020-05-22 16:36] safinsingh commented on #62
Oh oops, I didn't see that; my bad

[2020-05-22 16:36] #62 closed

[2020-05-22 16:38] leotrs commented on #61
So this would require all users to create a virtual environment? Not sure how I feel about that...

[2020-05-22 16:38] safinsingh commented on #61
Yeah, it was just an idea; I wanted to hear your guys' opinion on it.

[2020-05-22 16:44] XorUnison commented on #65
This would be in the realm of #7 though, right?

I can't currently think of any important user defined base constants outside of the dirs right now. I mean we could include a preferred base resolution, but we already have single character shorthands for all resolutions. So I'm not sure this really would be valuable.
Then again... while I and many others always render stuff in 16:9 format for YT or

[2020-05-22 16:51] XorUnison commented on #61
I mean at some point we want to converge on some proper package management, whether that's standard with better install routines, poetry or venvs with pipfiles.

My biggest beef with venvs is actually cairo though, so...
If we can concoct such a mythical pipfile and get it to work with all those things (in all these OSes, mind you), such that we can breakdown the installation process into somethin

[2020-05-22 16:58] leotrs commented on #65
#7 is about replacing CONFIG with dataclasses, no? Are any of these options being stored in CONFIG somehow? I think these are different things... In any case, I think there's a new issue that needs to be opened in terms of cleaning up the `constants.py` file.

There's nothing wrong with moving some things to a .cfg file... and then providing a default config file. It's just a different way of expo

[2020-05-22 17:57] huguesdevimeux commented on #65
I think that this is the simplest way.
There is still a problem that I think can be very annoying for some people. With this functioning one would have to re-enter the same arguments over and over, if the values that one wants are not the one set by default.
Maybe one could for that purpose modify the .cfg but it would depends on its location (the .cfg could be generated in the script directory, i

[2020-05-22 18:02] huguesdevimeux commented on #65
I think that this is the simplest way.
There is still a problem that I think can be very annoying for some people. With this functioning, one would have to re-enter the same arguments over and over, if the values that one wants are not the one set by default as long as one works on a project.
Maybe would for he user can for that purpose directly modify the .cfg (the .cfg could be generated in the

[2020-05-22 18:05] raghavg123 commented on #31
Keep on mind that Image is also a part of PIL, do to minimise confusion, a better name should be chosen imo.

[2020-05-22 18:11] leotrs commented on #65
That is exactly the purpose. The workflow would be:
1. download/install
2. decide what options are appropriate for the project, and put them in a .cfg file
3. start running manim

We would of course provide a default .cfg file in case users do not want or need to .cfg file. If the default .cfg file is powerful enough, then step number 2 would be unnecessary in most cases. (There are easy ways of s

[2020-05-22 18:12] eulertour commented on #65
manim C:\FullProjectFolderName\project.py scene --media_dir D:\SomeOtherProbablyNotSuperShortAbsolutePath --preview --save_last_frame --render_quality medium

@XorUnison There's no need for pointed remarks like this, just voice your concerns if you have them. I'll just be as transparent as possible; if it keeps happening I'm likely to remove you from the org.

-m
-r medium
-r 720,1280 (although th

[2020-05-22 18:33] eulertour commented on #61
A few thoughts:
* Poetry looks cool, but the number of bugs on the repo gives me pause
* pipenv + pipfile don't seem to require users to do anything differently, but the developers will have to learn pipenv. From what I've seen of it I think it would be worth it, but we don't have to make the switch now.
* I don't know of any pure python solution to handle non-python dependencies like latex and ff

[2020-05-22 18:52] XorUnison commented on #65
That wasn't meant in a personal manner, just to be clear. The reason I displayed this dramatic case is simply that if we occasionally purge convenience tools from the code base it will add up quickly. And that's just really how it can look, the code would already work like that. One of the purposes of this issue is to see if we can agree on not purging any convenience, verbosity or usability unles

[2020-05-22 19:19] huguesdevimeux commented on #8
@Aathish04 But what is the interest if we render the scene _before_ comparing ?
I mean, it's useless since (if I did understand well) what we want to avoid is rendering.
If we build a mechanism like that it should work before the rendering and prevent manim to even have the already-rendered scenes in memory.

[2020-05-22 19:39] Aathish04 commented on #8
You raise a good point.

My partially working approach to this was to leverage manim's inbuilt ability to skip _writing_ frames to FFMPEG, so the scenes are rendered, but not written to video files (kind of like what the -n flag does, but now, letting FFMPEG write the whole scene using cached and non cached video clips.  ) This itself speeds up the process quite a bit.

The problems with the above

[2020-05-22 19:46] eulertour commented on #65
This isn't true, I always suggested allowing the --media_dir flag and defaulting to the current directory otherwise. Until we have a persistent config file that's the best the library can do, and as I also said when I mentioned it, you can edit your copy of the repo to do this automatically if you want.

I suggested removing the comment about render speed from the flag for --low_quality, and not a

[2020-05-22 19:57] safinsingh commented on #8
Would it be possible to somehow parse and hash the `play()` statements of a scene and write that to a file? That way, before even rendering an animation, it will first see if that hash has already been rendered therefore completely skipping it. Additionally, if the file containing hashes seems to be a problem, we could name the file with the md5 hash of the play statement itself concatenated with

[2020-05-22 20:37] huguesdevimeux commented on #8
@Aathish04 Could you clarify in what extent is that a problem ?

[2020-05-22 20:43] Aathish04 commented on #8
Gladly.

Looking at the way `self.wait()` is implemented, it seems to directly write frames to FFMPEG'S frame buffer.

https://github.com/ManimCommunity/manim/blob/master/manim/scene/scene.py#L1076

https://github.com/ManimCommunity/manim/blob/master/manim/scene/scene.py#L1130

How do we circumvent this?

[2020-05-22 21:03] huguesdevimeux commented on #8
Aahhh I see.

I have an idea :
This is a little bit tricky but, since the waiting-partial-movies depends on the scene that happened just before, maybe we could say that if the scene before was identical (cached) and `wait` with the same duration (and same parameters) is called, we use the wait-partial-movie cached.

Thoughts ? I hope it's clear

[2020-05-22 22:16] #12 closed

[2020-05-22 22:35] leotrs commented on #38
This issue was about a domain *for documentation*, and I don't see anyone being against ReadTheDocs. So I'm closing this for now. For discussion on a separate domain (whether it would point to documentation or not), please open a separate issue.

[2020-05-22 22:35] #38 closed

[2020-05-22 22:50] XorUnison opened #66 "Folder Structure"
Following the rework of constants.py (and associated files) the question of Folder Structure and dirs has come up.

For now the PR I finished has at least moved images out of the videos folder (because really, why would they be there), but there's some open questions.

There's two questions we have to briefly address.

First, how is the folder structure supposed to look like?
Here's I think the mo

[2020-05-22 22:53] safinsingh commented on #8
The MD5's of anything are always 32 characters long, so that won't be a problem. We could even use CRC-32, which is 8 characters.

[2020-05-23 00:55] #5 closed

[2020-05-23 01:15] xy-23 commented on #31
I just use the name `Image` to distinguish the current `ImageMobject`, but I think using the name `Image`, `Text`, `Tex`, `SVG`, is simpler and more convince to use from user‘s perspective than `ImageMobject`, `TextMobject`, `TexMobject`, `SVGMobject` (though they are not the same thing currently).

The confusion of the PIL Image can probably be solved by using `PIL.Image`.

Maybe we can do someth

[2020-05-23 02:15] xy-23 commented on #14
Hi, replacing cairo is probably not a good idea, because `Text` rely on it to generate svg.

Maybe we should try to switch into cairocffi? But it's installation is also annoying in Windows, but at least it doesn't require Microsoft Visual C++ installation

[2020-05-23 02:17] xy-23 commented on #14
I have make a PR to cairocffi already to let it support some cairo behavior so that manim can switch pycairo simply by ```import cairocffi as cairo```. Although my PR to cairocffi has been merged, they doesn't update their release so far, so we probably need to wait for sometime...

[2020-05-23 02:19] PgBiel commented on #7
Your metaclass is basically the `attr.s` and `dataclass` decorators, just with less features... so you pretty much converge with our plan

Yes

I'll take a look!

[2020-05-23 02:22] PgBiel commented on #14
Note that it's _replacing_, not _removing_, so we'll simply have a different renderer do all the `Text` work and more.

The intention is to avoid those installation issues, but `cairo` should remain an option with our proposed addon API

[2020-05-23 02:25] xy-23 commented on #14
Also, using cairocffi has a another advantage which pycairo can't offer. Using cairocffi can let Windows user to use pango/pangocairo easily. As we all know, the built-in text layout engine in cairo(both cairocffi and cairo) are not well support some languages like Bengali. Currently I'm trying to let `Text` to use pango/pangocairo to let it have a better utf-8 support, and this need us to switch

[2020-05-23 02:28] PgBiel commented on #14
This should be resolved with future rendering options, such as JS

[2020-05-23 02:29] xy-23 commented on #14
You mean the electron app that EulerTour is working on?

[2020-05-23 02:29] PgBiel commented on #14
yes

[2020-05-23 02:31] xy-23 commented on #14
But it can't convert text into svg paths and lost the many animating abilities...

[2020-05-23 02:32] PgBiel commented on #14
it's not done yet

[2020-05-23 02:35] xy-23 commented on #14
I agree with you that the draing frames function should let other package to do it rather than cairo.

[2020-05-23 02:50] PgBiel commented on #66
I'm partial to
[code]

[2020-05-23 03:29] leotrs commented on #66
I don't have a strong opinion about the full folder structure *when it's needed*.

But can we also provide an option for manim to just output *the one file*? I think specially for beginners, getting a whole folder structure as output is unnecessary and even confusing. Sometimes I'm just trying out something new and I need a 3s mp4, not a host of files and folders.

[2020-05-23 03:40] kilacoda commented on #66
I have a suggestion. Can we output the videos and other outputs to the `media` folder in the source file's current location?Like:
[code]
We could add a `--use-global-media-dir` option to use the media folder as earlier.

[2020-05-23 04:19] PgBiel commented on #66
imo global media dir should be the default and you should opt-in to a media file in the cd

[2020-05-23 04:34] eulertour commented on #66
@PgBiel That could make it tricky to view a video you rendered previously, at least without rendering it again.

[2020-05-23 04:35] PgBiel commented on #66
how so?

[2020-05-23 04:36] PgBiel commented on #66
update: thinking better about this, if manim is installed as a pip package then it makes more sense for the default to be curr dir yea

[2020-05-23 04:39] eulertour commented on #66
I'm not sure if you still have the question or not, but if you run manim from a far off directory, we write the video to a fixed location, and you later want to access the video you made, you'll have to reference the fixed location with a long path.

[2020-05-23 04:40] PgBiel commented on #66
gotcha

[2020-05-23 04:51] Aathish04 commented on #8
This would work when `self.wait()`ing for the same amount of time, but if only the wait time is changed, the old waiting-partial-movie file would still be used, since the schene that came before it was identical, but the waiting changed...

[2020-05-23 06:00] PgBiel commented on #7
Note: work on this should begin after we are done with all other "Initial Cleanup" issues

[2020-05-23 08:37] huguesdevimeux commented on #8
@Aathish04 yes you are right (that's why I said "that was I said 'with the same parameters"). In fact I don't think people would change the waiting time very often so that could work. Furthermore, if it changes I am sure there is a solution, such as extending the waiting video. (Or to use a static image, as the comment in the declaration of `self.wait()` states.

[2020-05-23 10:47] naveen521kk opened #69 "A small Bug in setup.py"
In `install_requires` of `setup.py` the library `colour` is mentioned twice. This needed to be changed.

[2020-05-23 13:30] leotrs commented on #69
Good catch! Do you want to submit a PR for this?

[2020-05-23 13:31] naveen521kk commented on #69
Yes. I would make an PR on this.

[2020-05-23 13:33] leotrs commented on #7
Can you be more specific? Do you mean you wish the CONFIG stuff was documented before changing it? If so, I suggest not waiting for documentation. Instead, I suggest writing tests for the CONFIG stuff first, and make sure that the dataclass/attr rewrite passes the tests.

[2020-05-23 14:19] PgBiel commented on #7
I mean it gets much cleaner if we know the types beforehand... I think all the three projects - dataclasses, typings and documentation - are all kind of connected, and working on one implies on working on all of them

[2020-05-23 14:32] #69 closed

[2020-05-23 14:47] leotrs commented on #7
Agreed. And that's exactly why we can't wait until one is done to start the other two. I suggest you delineate what kind of documentation you need for this project and work on it at the same time, on the same PR. You can confer with the people in charge of the docs branch so there are no conflicts.

[2020-05-23 15:38] XorUnison commented on #66
curr dir is also currently default, which can be overwritten via dirs.py (or some future config thingy) or cli commands, with ascending priority.

We probably could add a command for singular file dumping, but is it worth the hassle? Ultimately beginners will have to look up and understand that command too, which strikes as not really much better than a folder structure. I think the assumption has

[2020-05-23 15:48] leotrs commented on #66
I agree we have to provide powerful tools that would cover all cases, not just the hypothetical quick-n-dirty case. However, I think that providing a powerful to beginners is usually confusing. You don't teach someone python by showing them the ins and outs of stdlib. You show them "hello world".

So I don't think that manim's "hello world" should involve an entire directory structure that is thre

[2020-05-23 15:51] leotrs commented on #65
@XorUnison @eulertour I saw this conversation was moved to Discord (which is great!). Could either of you two please briefly summarize here what is the current status of this issue i.e. what needs further discussion? The current conversation is a bit hard to follow. Thanks.

[2020-05-23 16:18] XorUnison commented on #66
Maybe. Then again I'm more the type that starts by doing the former and completely forgoing the latter. Not that we should aim for that type though. I also wouldn't compare a well defined folder structure to the ins and outs of a library. A folder structure takes me like 30s to look through. A library... not so much. Or rather much more, you know what I mean.

We... could? The thing is, the amount

[2020-05-23 18:54] leotrs commented on #66
You make fair points. I guess it's fine to have this be the default as long as it's clear where the end product is going to be.

My main concern is: when the output is a single file (say a single frame, or a single video), then this directory structure seems excessive and unnecessary to me. But I can open another issue for that in the future.

[2020-05-23 20:42] PgBiel commented on #65
I gotta admit, when I read it I did feel it was kinda aggressive... but glad to see things are working out between you two... I think?

Anyway, about all of this... (there's just too much to quote one part)
I'm in favor of reducing them all into one `-r` flag.
We can just have something like `-r m` and that's it. That's adding 2 characters, and might even be clearer than before. `--render_quality`

[2020-05-24 17:32] leotrs opened #74 "Deprecate or document/test SCENES_IN_ORDER"
The function `get_scene_classes_from_module` in `extract_scene.py` checks for a module member called `SCENES_IN_ORDER`. It appears that the user is allowed to assign a list to this that specifies the order in which the scenes will be rendered.

1. Given that there are plans to render scenes in parallel, this would become deprecated.
2. If we continue to support rendering scenes in series for some

[2020-05-24 17:44] leotrs opened #75 "Document and test the '-' file name command line argument"
The `get_module` function in `extract_scene.py` allows the user to input the code for a Scene from stdin, but only when the argument passed as file name is `-`. This should be documented somewhere. At the very least, the `-h` flag should mention this possibility.

[2020-05-24 17:47] huguesdevimeux commented on #75
That's weird, but it could be very useful
We should implement that but with a proper new flag

[2020-05-24 17:51] leotrs commented on #75
TBH I think that refactoring this into something usable, alongside with the necessary documentation and testing is going to be much more hassle than it's worth. It's unclear to me that the use cases merit the work needed here.

[2020-05-24 20:01] leotrs opened #76 "Add module docstrings and __all__ variables"
From [PEP 257](https://www.python.org/dev/peps/pep-0257/#what-is-a-docstring):

Other libraries (such as e.g. numpy) follow this convention. Once we have travis set up with pylint and black, this will be one of the major things we need to change.

And while we're at it, we should also add a [`__all__` variable to each module](https://docs.python.org/3/tutorial/modules.html) too.

[2020-05-24 20:12] leotrs opened #77 "`extract_scene.py` calls `main` without argument"
The `main` function defined in `extract_scene.py` accepts a required argument. But the last line of `extract_scene.py` calls `main` without arguments.

1. This probably means that nobody is calling `extract_scene.py` as a standalone script (which would trigger the wrong `main()` call. If this is the case, we should just delete the last two lines.
2. If we want to support using `extract_scene.py` a

[2020-05-24 20:38] leotrs commented on #40
BTW, #6 has been closed :)

[2020-05-24 22:00] eulertour commented on #65
I think the gist is
1. Flags that are specified often such as the ones for controlling the render quality should always have a short option, it seems like we're okay with `-q[l|m|h|p|k]`
2. For `--media_dir` which is specified often but may have a long path name that we can't control, we need to implement a .cfg file
3. It doesn't seem like anyone is opposed to getting rid of the `--video_dir`, `-

[2020-05-24 23:36] XorUnison commented on #74
Although we should implement multiprocessing, I would add this as an option, as opposed to replacing the current linear render process for reasons I'll mention in the new issue.

As for removing this... I mean it is an overly specific use case, yes. I do struggle of any **good** reasons to keep it.
The vast majority of people will have enough CPU power to at least benefit from multiprocessing a bi

[2020-05-25 00:19] XorUnison opened #79 "Enhance -n (allow to render intervals of animations)"
As the title says, simple issue. Right now `-n` can be used to start at a specific animation (and thus skip the prior ones). We should extend it to be able to render a specific interval of animations, so allowing it to stop rendering at a specific animation too.

Also... `--start_at_animation_number` is not just going to be deprecated then, it's also just obnoxiously long. What should it be called

[2020-05-25 00:25] raghavg123 commented on #79
You can already do that by providing two comma separated values.
`-n <start>, <stop>`

[2020-05-25 00:50] XorUnison opened #80 "Multithreading (or rather multiprocessing)"
A small disclaimer, this is more of a longterm issue with quite a bit of planning before any PR with actual merge intent should ever be attached to this.

First of all, what should we use?
There's the `threading` module, however it does not use additional cores. Using it isn't advised thusly, because it's theoretically possible max performance improvement is just +100% for all scenarios (you know,

[2020-05-25 00:51] XorUnison commented on #79
Is that so? Hm... yeah looks like it. We should at least fix the confusing indications. Stuff like `--start_at_animation_number`.

[2020-05-25 00:52] raghavg123 commented on #79
Agreed.

[2020-05-25 01:53] XorUnison commented on #65
We're fine as far as I think. Talked it over on Discord, and as I said there, no offense was meant by me.

Yeah. `-r x` wouldn't make any real difference to the shortest use I can think of and if anything would make it easier because we'd have all 26 letters free for resolutions after an `-r` (or q or whatever, though I'd stick with r). The more I thought about this, the more I shifted towards bei

[2020-05-25 04:03] leotrs opened #81 "Do we really need to add every color to locals()?"
Currently, `constants.py` is adding every color inside `COLOR_MAP` to the `locals()` dictionary. This is usually frowned upon in Python in general.

If we want to keep exposing all colors to the end user without any namespace access (like `manim.colors.RED` or some such), then we can carefully import all colors inside `__init__.py`. This could be done for the purpose of backward compatibility.

[2020-05-25 07:10] XorUnison commented on #80
Alright, the pickling problem has been solved. The issue was in the way manim imported the project module, by spec. Importing it normally works.

I've made a new branch with the according edited file, (and again, no PRs and merges for that branch):
[Edited extract_scene.py](https://github.com/ManimCommunity/manim/blob/multiprocess-PoC-(DON'T-MERGE)/manim/extract_scene.py)

The changes are simple:

[2020-05-25 18:21] PgBiel opened #85 "Remove OpenCV and SceneFromVideo"
opencv does not seem to be used anywhere other than in ScenefromVideo, which seems to be broken.

[2020-05-25 18:25] leotrs commented on #85
I vote we 100% scrap this file and opencv. Not only because it's broken but because this file is actually trying to use manim in a way that it's not intended. It seems like an awesome project to be honest, but I don't think it belongs inside manim itself. In the future, if anyone wants to work on this, I think it should live inside the ManimCommunity organization, but in a separate repo than manim

[2020-05-25 19:53] leotrs opened #87 "Upgrade the python3.8 version in Travis"
The current travis setup (see .travis.yml) is fixing the version of python 3.8 to 3.8.0. This is due to the fact that during testing, the tests of more recent versions failed. It is unclear at this point why they failed.

In the future, we should aim to always test with the latest available versions.

[2020-05-25 23:38] eulertour commented on #66
It isn't clear how we'd get to a place where manim will always output only a single file because it needs temporary tex and svg files to handle latex. But it should be possible to specify the name of the output file with the -o flag.

[2020-05-26 11:07] XorUnison commented on #66
Right. Tex and svgs files. Thinking about those makes me more consider that any way of circumventing the folder structure just doesn't seem like a really good idea. Either you put them in a folder, and you already create a new folder, just that for beginners you risk them not really picking up on that detail.
Or you don't, and aside from the one file they wanted you also litter the same folder wit

[2020-05-26 11:24] leotrs commented on #66
But... those are temporary, right? It's actually very easy to create a `tempfile` that will even be deleted automatically. Not sure why this is a problem. I think I'm missing something...

[2020-05-26 11:26] kilacoda commented on #66
No. They save time once you're working a lot with them, previewing and rerendering them. Instead of tempfiling them, store them in a better place.

[2020-05-26 11:50] XorUnison commented on #66
I mean, you could `tempfile` them, sure.
But then you'd also bloat the code of this tool, making the program run slower because its generating files repeatedly, to save some few particularly uninitiated users from a folder structure they should generally get accustomed to rather sooner than later.
As kilacoda said, having them stick around can save lots of time. The creation of all files for my se

[2020-05-26 11:53] kilacoda commented on #66
Maybe create a folder in the project file's directory with name of the project file or whatever's kept as `OUTPUT_DIR` in it, so when one views their output files, they can easily find them when sorted by name in a file explorer?

[2020-05-26 12:06] XorUnison commented on #66
Hm, but the current output already almost does that. Except the top folder is usually called media and then we get the project names, instead of the reverse. And if you do reverse it you code-wise end up with the issue of strapping the wagon before the horse again. And with multiple project files that would end up littering the folder again, just this time with folders.

While that wouldn't be a p

[2020-05-26 12:13] #14 closed

[2020-05-26 12:15] leotrs opened #91 "change Scripts to scripts"

[2020-05-26 13:56] #91 closed

[2020-05-26 13:59] kilacoda commented on #79
Should this be closed? The title is misleading apparently.

[2020-05-26 17:18] leotrs commented on #33
#86 closed this.

[2020-05-26 17:18] #33 closed

[2020-05-26 17:22] leotrs commented on #79
@XorUnison I will add a `--from_animation_number` to my PR on rewriting the config/constants setup.

[2020-05-26 17:22] #79 closed

[2020-05-26 19:34] yoshiask commented on #14
The current plain that @eulertour and I have formulated is to ship OpenGL as the default rendering backend (replacing Cairo entirely in the base library), while allowing other backends (such as DirectX, WebGL, and Cairo) to be used via addons.

[2020-05-26 21:05] leotrs opened #95 "remove media_dir.txt"
I don't think it's used anywhere in the code base.

[2020-05-26 21:05] leotrs opened #96 "remove all of manim/files/"
It contains svg files specific to 3b1b.

[2020-05-26 21:12] huguesdevimeux opened #97 "Testing process"
I am thinking of a test process, and have some interrogations :

1. The way to actually test the videos. On  #34 , we discussed about something like that :

This is far from being optimal since only the last frame is tested. My idea is to test the frame every n time, where n would be set in a test config file (something like `0.2` s ? or less). This would require modifying a bit `self.play`

2. Ho

[2020-05-26 21:46] eulertour commented on #66
After reading through some of the arguments here I can think of at least two ways we can make this a little better:
1. The svg directory should probably have an option to be global if it isn't done by default; it's only really checked for debugging and there's no reason to regenerate the exact same svgs in for different scenes/projects/etc.
2. There shouldn't be a directory with the scene name bec

[2020-05-26 22:09] XorUnison commented on #95
I nuked it already... except there were 2. One in the manim folder and there really is one left in the scene folder.

Yeah I'm certain we don't need that anymore either. Nuke away.
I guess that's just the kind of thing that happens without the repo search that I'd have normally fired after stuff like media_dir to make sure its purged for good. I really hope GitHub addresses that soon.

[2020-05-27 02:53] leotrs commented on #66
@eulertour Agreed on all four accounts (3 list items + not changing the `VIDEO_DIR`).

Once we decide upon and implement these changes, I will open a different issue on the following topic (I mention it here for future reference). I'm all for having the *default* output dir be `./media/<module>/<resolution>p<framerate>/<scene>.mp4`, but I also think it would be desirable to allow the user to modif

[2020-05-27 03:00] leotrs commented on #97
1. Sounds good to me. At some point though we also have to think about the time it will take to run the tests. Currently, with two very very very minimal tests, it takes about 40s to run on Linux, and 8min to run on macOS. One advantage of the last-frame tests is speed. (Though I agree they are not optimal.) We could have some last-frame tests and some every-n-frame tests.

2. Hashes sound good he

[2020-05-27 12:21] huguesdevimeux commented on #97
1. Oh yea, 8 minutes :/ I will start by doing it with the last frame, then we will see the timing.

3. What do you mean by unit tests? And for command lines (and end-to-end ? ), we can use `subprocess `and deal with the output, But concerning the videos, I don't think its a good idea to test videos. For two reasons: It must take a certain time that may not have (8 minutes ...) and since that all o

[2020-05-27 16:38] leotrs commented on #95
Wait I can't find it anymore - where was it?

[2020-05-27 17:26] Kreijstal opened #100 "This SVG can't be parsed"
well, we know already that SVG has problems with arcs but this error is different, (from discord help)
https://cdn.discordapp.com/attachments/669259565941915723/715235727386083499/RC.svg

[2020-05-27 18:01] XorUnison commented on #95
As I said, manim/scene still contains one. The one in the manim main folder was removed by my PR.

[2020-05-27 18:34] #96 closed

[2020-05-27 18:34] #85 closed

[2020-05-27 18:34] bkorecic commented on #100
I think it is expecting a specific SVG format or something like that, because i've also had errors when saving svgs with Inkscape.

Before it is fixed, one fix is to use cairosvg, first install it with pip, then run

`cairosvg RC.svg -o RCnew.svg`

then the RCnew.svg file should work as expected.

[2020-05-27 20:14] XorUnison opened #101 "Bug in NumberPlane when using x_max (and likely the y/min values too)"
[code]
This results in the horizontal lines not being anywhere near as long as they should be. Leaving this here for either someone else to investigate or fix, or in case of doubt myself coming back to this some point in the not too close future.

[2020-05-27 20:17] leotrs commented on #30
If I don't hear any votes against this in the next few days, I will implement it.

[2020-05-27 21:30] leotrs commented on #22
As per #86, there is now a (very very minimal) set of tests in place with pytest. I will close this in favor of all the other issues already mentioning tests.

[2020-05-27 21:30] #22 closed

[2020-05-27 21:31] leotrs commented on #7
This is now the only standing issue in the "initial cleanup milestone". @PgBiel, I don't mean to rush you, but do you have any updates? :)

[2020-05-27 21:32] leotrs commented on #95
Closed via #99

[2020-05-27 21:32] #95 closed

[2020-05-27 21:33] leotrs commented on #81
I would love some feedback here.

I think the only problem with removing all colors from `locals()` is that this *could* be a breaking change for some users. Maybe we could deprecate it before removing them completely.

[2020-05-27 21:35] leotrs commented on #74
I don't hear anyone making arguments for keeping this :)

[2020-05-28 02:10] PgBiel commented on #7
I'll try to start work on it tomorrow, but I gotta note that I'm gonna be quite busy (especially on Friday) but, again, I'll see what I can do

[2020-05-28 03:14] yoshiask commented on #7
Once this is finished and merged, I'll start working on #31

[2020-05-28 03:34] PgBiel opened #102 "Create teams"
We should create GitHub teams in the ManimCommunity organization, which function like Discord's roles, albeit in GH. One can simply ping the team, e.g., for docs to review docs in a PR, and so on.

Note that teams are freely assignable, i.e., if you want to join a team (or more than one!), feel free to say so.

This will better divide and establish the roles of each participant of the project.

[2020-05-28 03:41] PgBiel opened #103 "Documentation guidelines"
We should finish and apply the documentation guidelines on all existing and future PRs (see the Wiki).

Please suggest any changes and ideas for it below.

[2020-05-28 03:45] leotrs commented on #102
As a first pass, I propose we create the following teams: docs, tests, code reviewer, issue wrangler. The last team is for people who bump old issues, close stale issues, label issues, etc. Issues accumulate quickly and it's very difficult to keep on top of them all. Also, this last team can be for members of the community outside of the core dev team, so other members (and even beginners) can hav

[2020-05-28 03:47] PgBiel commented on #102
LGTM, we can add/change teams later on as we find necessary

[2020-05-28 03:49] leotrs commented on #102
Yeah, this doesn't have to be set in stone. Also, is there any benefit in creating a team for all core devs? I think so.

[2020-05-28 04:04] PgBiel commented on #102
Might be a good idea as well

[2020-05-28 09:32] XorUnison commented on #40
#105 is the PR. Feel free to review and request changes if you think something could yet be improved.

[2020-05-28 16:46] safinsingh opened #106 "Logo"
This may, seem silly, but in order for ManimCommunity to seem more official, I think we need to design on some sort of design or logo for our organization.

[2020-05-28 16:49] leotrs commented on #106
Not silly. Totally with you.

On Thu, May 28, 2020, 12:47 PM Safin Singh <notifications@github.com> wrote:

[2020-05-29 05:26] sobirul commented on #106
Do you need a  professional #logo for your business?
Contact me anytime.

[2020-05-29 05:36] yoshiask commented on #106
We can't really have an icon before we know exactly what Manim is and how to represent it.

[2020-05-29 06:12] raghavg123 commented on #106
You're welcome to do it, but we can't promise monetary payment, sorry.

[2020-05-29 08:03] XorUnison commented on #106
Inspired by @kilacoda 's keyboard idea I've quickly put this together as a basic idea:
![LogoIdea](https://user-images.githubusercontent.com/2881103/83235940-fb33e200-a192-11ea-8645-c781d67cc15b.PNG)
The point is to represent a numpad with a bunch of manim classes, because you know, math and numbers, and also numpad→keyboard→tool. If this becomes a favored idea we could work on it together, and as

[2020-05-29 08:13] Tony031218 commented on #106
Sorry, but I think this may not be a good idea for the logo.

As a logo, it is best to be small and simple, not to include more connotations.
This logo is a bit large and has too much content.

Usually when we look at a logo, the logo is small, we can not clearly see the details, so I think it is not good to cover the logo with details.
![image](https://user-images.githubusercontent.com/44120331/8

[2020-05-29 08:32] XorUnison commented on #106
Yeah. As a user avatar it'd definitely perform horrible. I have designed my own X logo that way for a reason after all too. But we should also keep in mind where the logo is placed, and user avatar size, I doubt is within the specs.
Just to underline the point with the current logo visible on the main github page:
![logoscaling](https://user-images.githubusercontent.com/2881103/83238050-23711000-a

[2020-05-29 08:44] Tony031218 commented on #106
Sorry, I'm poor in English, maybe I misunderstood you or you misunderstood me.

In my understanding, the "logo"  mentioned in this issue refers to the org's logo (that is, the user's avatar). But what you are referring to may be the header image to be placed in the README of the repo.

[2020-05-29 08:47] XorUnison commented on #106
Right, but I think the header should include the logo in one way or another, and it should look nice there too. A logo tailored to user avatar sizes will inevitably fail at either looking nice or looking related.
We could go for something more abstract of course but that'd fail to capture the point of this tool.

[2020-05-29 13:28] huguesdevimeux opened #107 "--quiet not optimal"
It seems that the output is exactly the same with or without `--quiet` flag.

Might be related to #5

[2020-05-29 13:36] leotrs commented on #107
There are only two uses of `config['quiet']` in the codebase, both inside `manim/extract_scene.py:open_file_if_needed`. The body of that function is wrapped in the following:

[code]

So it seems the current purpose of `--quiet` is to suppress the output of `open_file_if_needed` (which shows the video, if the `-p` or `--preview` flag was also passed), not the output of the scene rendering itself.

[2020-05-29 14:08] leotrs commented on #107
Come to think of it, all we need to do is to have `config.py` tweak the default logger setup if the `--quiet` CLI argument has been passed. Tagging @kilacoda who was in charge of the logger/rich PR.

[2020-05-29 14:23] PhilippImhof commented on #107
Maybe it would be an option to define different levels of verbosity and have `--quiet` as a shortcut to `--verbosity=0` ?

[2020-05-29 14:25] leotrs commented on #107
Yes, good idea. In fact, `argparse` already allows for automatic detection of things like `-v`, `-vv`, `-vvv` and so on, to indicate levels of verbosity.

[2020-05-29 18:36] leotrs commented on #24
This got derailed for a little bit, but the question still stands: can we make manim independent of a latex distribution? And if so, how can this be achieved? What would installation look like?

[2020-05-29 21:28] yoshiask commented on #100
One reason why this SVG isn't being displayed properly is because it uses `<line>` for pretty much everything, and Manim doesn't currently support that SVG element.

[2020-05-30 00:28] PgBiel commented on #24
just don't use `TexMobject` or `TextMobject` and it should be pretty much fine already
(well, `Brace` is included there too)

[2020-05-30 03:33] yoshiask commented on #103
The README should have a link to (or at least mention) the GitHub Wiki documentation.

[2020-05-30 11:06] kolibril13 opened #109 "Reactivation of the gif export"
There are still the optional arguments:
 ` "-i", "--save_as_gif"`  for saving scences into gif.
This feature was added to 3b1b's repo here https://github.com/3b1b/manim/commit/c42ae8a55bb2f1ef8259a719f17eaf519c46f3f8
and removed here https://github.com/3b1b/manim/commit/61bb4944fad2ee889145bbf8a3253fb07c71bf7d where Grant wrote:

So my idea would be to add to `manim/scene/scene_file_writer.py` som

[2020-05-30 11:47] Tony031218 commented on #109
This is indeed the best solution for exporting gifs. I think it also needs to support controlling the bit rate and setting the default bit rate.
In some cases, high-resolution and high-bitrate gifs may not look good.

[2020-05-30 13:51] kolibril13 opened #110 "Usage of the pathlib package to manage folders"
I just skimmed https://github.com/ManimCommunity/manim/issues/66 and thought that the [pathlib](https://docs.python.org/3/library/pathlib.html) module (python standard library) can be useful to manage the folder structure.

Also, this could help to run manim in an IDE without the necessity to use the terminal.
A script can look like this:
[code]

[2020-05-30 14:20] kolibril13 commented on #109
Here is a first idea of the implementation:

[code]
![WriteStuff](https://user-images.githubusercontent.com/44469195/83330707-53510e00-a291-11ea-8b4b-f4cc7e230148.gif)
with an adjusted output dir in scene_file_writer.py:
[code]

[2020-05-30 14:40] leotrs commented on #24
OK, if it's that easy then this is a problem of documenting this within the official installation instructions.

[2020-05-30 14:40] leotrs commented on #103
@yoshiask this sounds like an easy PR :)

[2020-05-30 14:46] leotrs commented on #110
If I understand correctly, you are suggesting two different things. One is to use `pathlib` instead of `os.path` for certain operations, for example in #66. The other one is to recommend the use of this `os.system` line in scene files in case the user wants to skip the CLI and work fully from an IDE. I think this are two entirely different things. The second one doesn't need `pathlib` at all. So I

[2020-05-30 14:48] leotrs commented on #109
I'm not sure I follow your original post. Are you saying the `-i` flag is broken? If so, yes we should fix it. Grant's comment is about the `-c` flag so I'm not sure how that is related.

[2020-05-30 14:55] kolibril13 opened #111 "Manim examples snippets folder"
My idea is to have a snippets folder with lots of manim examples in .md files.
 There are already amazing Tutorials, like [**talkingphysics**](https://talkingphysics.wordpress.com/author/talkingphysics/) , [**Elteoremadebeethoven/AnimationsWithManim**](https://github.com/Elteoremadebeethoven/AnimationsWithManim/blob/master/English/6a_plots_2D/scenes.md),https://eulertour.com/docs/ and the [**manim

[2020-05-30 14:59] leotrs commented on #111
I'm all for this idea, but I would rather this live inside the `docs` folder so that it can be parsed with sphinx and hosted directly on the future ReadTheDocs website.

[2020-05-30 15:20] kolibril13 commented on #110
Yes, you are right, these are two different things.
The second one was only to give a further example.
Focusing on the first use case for #66 , this could make the code a little prettier.

[2020-05-30 15:55] huguesdevimeux commented on #109
@leotrs Yes, `--save_as_gif` seems to be broken (as it is not used in the code at all).

I think that the idea of Grant was to actually use a flag to set the extension of the movie file generated (maybe this is the `-c` that he is talking about) , and then to use this flag with `gif `to create a `.gif`.

I am not sure that this is the correct way to do that. We should (re ?) implement `--save_as_g

[2020-05-30 16:26] kolibril13 commented on #111
Making a sphinx project sounds good!
Is there anyone here, who already is doing something in this direction?
Meanwhile, I came up with the first .md example:
https://github.com/ManimCommunity/manim/blob/kolibril/example_scenes/snippets/updater/updater.md
and the corresponding folder structure [here](https://github.com/ManimCommunity/manim/tree/kolibril/example_scenes/snippets/updater).

Are there

[2020-05-30 16:51] huguesdevimeux opened #112 "Removing FadeInFromDown and FadeOutAndShiftDown"
In my opinion they are completly useless since when `FadeInFrom`and `FadeOutAndShift `are called `direction = DOWN` is set by default.

(And `FadeInFrom(mobject, direction = DOWN)` , `FadeOutAndShift(mobject, direction = DOWN)` are equivalent)

EDIT : I mixed up `FadeIn `and `FadeInFrom`. I'm talking about the latter; `FadeIn `is fine

[2020-05-30 17:28] leotrs commented on #112
Paging @XorUnison, what do you think about this in terms of convenience?

[2020-05-30 17:29] leotrs commented on #111
@PgBiel is in charge of writing guidelines for documentation. I'm not sure anyone is "in charge" of the sphinx project as of right now, though I'd say that is the next big step we need to take.

[2020-05-30 17:30] leotrs commented on #109
Agreed, let's just implement `-i` for now. Any takers?

[2020-05-30 17:32] leotrs commented on #110
I'd be happy to see a PR migrating our use of os.path to using pathlib :)

[2020-05-30 17:39] leotrs commented on #30
This has now been implemented.

[2020-05-30 17:39] #30 closed

[2020-05-30 17:46] leotrs commented on #102
There are now teams for core, docs, and tests. There is also a team for "contributors", who are outside of the core dev team.

[2020-05-30 17:46] #102 closed

[2020-05-30 17:49] PhilippImhof commented on #112
From a user's perspective, it is strange to have specific functions for fading from one direction, but not from others. Even though I am too small a sample to be representative, I would prefer a generic function with the direction given as a parameter and a reasonable default.

[2020-05-30 18:10] leotrs opened #113 "Refactor next_to and align_to"
There are several issues with `mobject.next_to` and `mobject.align_to`.

1. `align_to` accepts an argument called `alignment_vector` that is never used in the code.
2. `align_to` has a docstring that is stale (it refers to this `alignment_vector` argument that is never used).
3. Both `next_to` and `align_to` accept a mobject or a point as target, but `next_to` accepts the specification of a submob

[2020-05-30 22:22] XorUnison commented on #112
I mean, there's also the factor that manim used to have this whole convoluted process of mixing animations.
Now we can just do:
[code]
And call it a day.

That's because manim can now mash and mix all properly coded methods of mobjects such as shift and rotate. Works with custom stuff too.

So what we should do is probably nuke those archaic methods, and instead add mobject.fade_out and mobject.fa

[2020-05-30 22:22] PgBiel commented on #111
I can help with the sphinx project as well since I can just import configuration from a project from earlier this year

[2020-05-30 22:23] PgBiel commented on #111
That'd be awesome!

[2020-05-30 23:58] #40 closed

[2020-05-31 00:10] yoshiask commented on #109
Sounds good to me.

I also want to point out that having a flag that changes the file type of the output would be useful for add-ons. For example, my PowerPoint add-on adds the `--save_as_pptx` flag, which could be removed in favor of adding `.pptx` as a valid output format. E.g. `-c [ mp4 | mov | gif | pptx | ... ]

[2020-05-31 01:41] yoshiask commented on #24
I'm beginning to think that anything we want to be optional shouldn't be baked into the library at all. I think they should be add-ons that come shipped with it, but can removed or added as necessary.

[2020-05-31 02:49] PgBiel commented on #112
Hol' up, have we fixed the multiple animations on one mobject issue already? On which PR?

[2020-05-31 03:59] XorUnison commented on #112
Which issue exactly? I see no such open issue and this is currently possible in vanilla manim, and I've not been able to find any issues with it either. What's the problem?

[2020-05-31 04:01] PgBiel commented on #112
Oh... I was thinking of the "bug" that doesn't let you do
[code]
(for e.g.)

[2020-05-31 04:04] XorUnison commented on #112
Right, this has been a thing for a good long while, and I'm not even sure what the issue is, nor if it can and should be fixed.
But as I said, the syntax I highlighted above does now work. But as far as I know it requires mobject.methods to work with.

[2020-05-31 07:36] kolibril13 opened #117 "Using z-order to define layer for Mobjects"
Matplotlib has a very nice method to define in which layer objects are shown on the screen with a parameter `zorder`.
![image](https://user-images.githubusercontent.com/44469195/71835887-05095b80-30b3-11ea-9a68-7da6253c6312.png)
When working with manim, it's sometimes a little tricky to get the layers right, so what about an implementation, where you can write:
[code]
Furthermore, there could be d

[2020-05-31 08:53] kolibril13 commented on #111
Thanks, @PgBiel for your offer!
I just had a look on the sphinx website to get a feeling of how the documentation site could look like.
After looking at a few different themes, I find the [sphinx-modern-theme](https://sphinx-themes.org/html/sphinx-modern-theme/sphinx_modern_theme/basic.html)  appealing for manim.
As the Scene examples will have lots of colors, it would be great to have a monochrom

[2020-05-31 09:37] kolibril13 opened #119 "New default: Pull request from ManimCommunity to ManimCommunity"
At the moment, when you do a pull request, GitHub wants to merge it into 3b1b s original repo by default:
![abc](https://user-images.githubusercontent.com/44469195/83349135-bcd52900-a332-11ea-802c-304ad697f515.png)
Maybe this can be changed so that the manim community master branch is the place where manim community subbranches are merged into, otherwise, it can happen that one accidently tries to

[2020-05-31 16:32] leotrs commented on #119
I looked into this before but the fix is not simple: https://stackoverflow.com/questions/31573448/how-to-set-default-fork-for-pull-requests

[2020-05-31 16:34] PgBiel commented on #119
Yeah... not kinda feasible

[2020-05-31 16:37] leotrs commented on #112
So it seems that there's agreement on removing `FadeInFromDown` and `FadeOutAndShiftDown` and other similar methods.

Now, do we want to just nuke them or deprecate them (ie issue a DeprecationWarning for now and delete them later)?

[2020-05-31 16:41] leotrs commented on #111
I agree the sphinx-modern-theme looks good. However, can we keep the discussion on this issue about the example snippets folder? I think there's a bunch of configs for sphinx that we should discuss in a separate issue.

[2020-05-31 16:42] PgBiel commented on #111
it can be a subfolder of `docs`

[2020-05-31 16:45] leotrs commented on #117
Sounds good to me.

Relatedly, I was under the impression that `mobject.get_z_index_reference_point` had something to do with this, but now I'm not sure what it's supposed to be doing.

[2020-05-31 17:48] PhilippImhof commented on #112
I prefer the latter. It is always frustrating when stuff disappears without prior notice. If nobody else is currently on it, I might be able to prepare a PR to solve this issue.

[2020-05-31 20:55] huguesdevimeux commented on #11
Closed since #28 #97 are on this (and more up-to-date)

[2020-06-01 12:34] kolibril13 commented on #111
A suggestion for the structure:
For each topic a separate folder:
e.g.
"Running Manim"
"Basic Shapes"
"Text"
"2DPlots"
"3DPlots"
"Using Updater"
"Useful Constructs"
"Basics Example scenes"
"Advanced Example scenes"
But this can be elaborated in the creation process.

Now comes the question, how the examples can be added in a smooth workflow.
Here is my idea:
![image](https://user-images.githubuser

[2020-06-01 12:46] leotrs commented on #11
@huguesdevimeux While this can be done with what we currently have, I don't think this has been _implemented_. To clarify, I meant a "test to certify a clean install" that a user could run after installation, and it would be part of the installation instructions. So the installation instructions would have this as the last instruction: _"Finally, run `some_command` on your terminal. If it finishes

[2020-06-01 12:49] leotrs opened #120 "Create a Quickstart guide"
Quickstart guides are intended to provide a minimal example end-to-end. For us this means a precise, hand-holding, not-detailed tutorial from the moment manim is installed to the moment where the user can render and watch their first scene. Quickstart guides are usually not longer than 1 or 2 pages.

[2020-06-01 12:50] leotrs commented on #120
This will have to go on `docs/` somewhere and be hosted on the ReadTheDocs site. @ManimCommunity/docs do we have anyone who is in charge of the sphinx project?

[2020-06-01 14:12] PgBiel commented on #111
See [this](http://web.archive.org/web/20200122130046/https://manim-tb-manual.000webhostapp.com/tree/animations/creation.html) for reference

[2020-06-01 14:13] PgBiel commented on #120
I can certainly help with it

[2020-06-01 20:58] huguesdevimeux commented on #11
@leotrs Oh ok I see, this is a good idea.
But is your idea to do it with `pytest` ? If yes I think this _will_ be implemented soon.
If not,  I think that just telling the user to run `SquareToCircle` might be enough.
But you're totally right, at least a mention of a such command (potentially with `SquareToCircle`, I don't know) is missing in the `Readme`.

[2020-06-01 23:34] eulertour commented on #11
I have to agree with @leotrs that this isn't finished yet, and it would ideally be something done through pytest. It'd be much better to have a command which gives clear error messages and covers as many potential pitfalls as it can than to run SquareToCircle. As an example, the latter wouldn't test latex.

[2020-06-01 23:49] Tony031218 commented on #117
See:
https://github.com/manim-kindergarten/manim/commit/dde65b49a61144f4615040031d687038f07e7b64
https://github.com/manim-kindergarten/manim/commit/94675142995b8e9212ec9b784dee1c1da8fb3cc1

just sort `self.mobjects`

[2020-06-02 00:29] eulertour commented on #117
The name feels a little opaque to me. Maybe it's because I've worked with CSS some, but I find z_order or z_index to make more sense. Thoughts?

[2020-06-02 00:29] PgBiel commented on #117
I'd preder `z_index` as well

[2020-06-02 05:51] kolibril13 commented on #120
I can help with the example too!
@PgBiel : When are you planning to start the sphinx project?

[2020-06-02 05:55] kolibril13 commented on #111
@PgBiel that already looks very good!
Can you give me some ideas, of whats the workflow?

[2020-06-02 05:55] kolibril13 commented on #119
ok!

[2020-06-02 05:55] #119 closed

[2020-06-02 12:12] naveen521kk opened #123 "Remove argparse from setup.py"
https://github.com/ManimCommunity/manim/blob/cf8c5b9938abafba9f6c2c1aeff9e15c8edbfdd1/setup.py#L17
Remove `argparse` from setup.py as it is a default library and need not be mentioned in `requirements.txt` and `setup.py`.

[2020-06-02 12:22] naveen521kk opened #124 "Add contributing Guidelines"
As this is a fork and normally Github thinks that the user contributes to the main repo, this cause issue for the contributors.
Add the article from StackOverFlow about contributing to a fork like the below one in the ReadMe File for helping out the contributors.
https://stackoverflow.com/questions/14383212/git-pulling-a-branch-from-another-repository

[2020-06-02 12:56] Aathish04 commented on #109
I re-added it in the `fix-gifs` branch some time ago.

It can be merged, unless it can be implemented in a better way.

[2020-06-02 14:50] Aathish04 opened #125 "ThreeDScene.move_camera() results in NotImplementedError"
Commit 62050bbb04a1f8e481972e1db36f2634dfbae425 changes the `pass` statements of some methods in `Mobject()` into `NotImplementedError` .

This causes the `move_camera` method in a `ThreeDScene` or `SpecialThreeDScene` to fail, throwing a `NotImplementedError`, as it uses the `interpolate_color` method of `Mobject`.

[code]

The snippet above triggers the NotImplementedError in the `interpolate_co

[2020-06-02 15:24] leotrs commented on #125
Wait so this snippet is calling `interpolate_color` which is currently set to raise a `NotImplementedError`?

The fix then should be to make a decision as to whether or not call that function, instead of calling a function that does nothing, no?

[2020-06-02 15:25] leotrs commented on #124
This sounds good to me. @naveen521kk would you like to submit a PR?

[2020-06-02 15:25] leotrs commented on #123
Agreed, it should be removed. @naveen521kk would you like to submit a PR?

[2020-06-02 16:40] Aathish04 commented on #125
In hindsight, yeah, that would be the right solution.

I've removed the methods that must be implemented in subclasses and made manim only call `interpolate_color` if the Mobject has such a method. I'll test it some more and make a PR in some hours time.

[2020-06-02 19:30] #117 closed

[2020-06-02 23:38] Tony031218 commented on #125
I think it is possible to keep `NotImplementedError` for these methods of `Mobject`, but write these methods for all its subclasses, and just treat `Mobject` as a similar abstract class, which will be more clear.

Now only `ValueTracker` is a direct subclass of `Mobject`, so you can write `interpolate_color` or `interpolate` methods for `ValueTracker`, which can solve this problem and make the cod

[2020-06-03 04:45] Aathish04 commented on #125
`VMobject`, `PMobject`, `ImageMobject` are also direct subclasses of it.

These are the only ones with custom `interpolate_color` method.

[2020-06-03 05:09] Tony031218 commented on #125
I mean `ValueTracker` is the only subclass that directly inherits from Mobject, **but does not implement these methods.**
While other `VMobject`, `PMobject`, `ImageMobject` have implemented `interpolate` method or `interpolate_color` method. So just implement the `interpolate` method for `ValueTracker`.

[2020-06-03 08:42] Aathish04 commented on #125
Why should ValueTracker even have an `interpolate_color` method? It isn't a coloured Mobject right?

I think the best way would be to remove the methods that need to be implemented by children, and only use those methods if the child has them.

[2020-06-03 09:24] Tony031218 commented on #125
I say `interpolate` method which to interpolate between two `ValueTracker`, not `interpolate_color`.
If `ValueTracker` has `interpolate` method, it won't call the `interpolate_color` method, and there is actually no use of `interpolate_color` for `ValueTracker`.
Isn't this better.

[2020-06-03 09:57] Aathish04 commented on #125
Oh, I see what you mean. That's a better way.

Also, this is slightly unrelated, but I found that the method `become_partial` is not mentioned anywhere in the code other than as its definition in Mobject. Should it be removed outright?

[2020-06-03 10:27] Tony031218 commented on #125
Yes, `become_partial` is really useless because its function may be the same as `pointwise_become_partial`, and the latter is implemented by subclass.

[2020-06-03 12:11] #123 closed

[2020-06-03 12:59] kolibril13 commented on #124
My contribution workflow is at the moment the following:
1. pull and merge updates from manim community
2. make a new branch
3. write code and commit
4. when in the manim community was updated in the meantime, go back to the master branch and pull and merge updates from manim community.
5. merge the master in the development branch
6. push the development branch
7 make a pull request to master
Thi

[2020-06-03 13:17] leotrs commented on #124
@kolibril13 see what is being recommended at #127

[2020-06-03 14:38] #125 closed

[2020-06-03 15:14] PgBiel commented on #120
The first step is to work on docs. We should work on sphinx config & stuffs either during or after it

[2020-06-03 15:15] PgBiel commented on #111
We should find methods that work with mobjects somehow and add sample videos to them

[2020-06-04 00:36] Tony031218 commented on #120
I am thinking about whether the documentation and getting started manual should be stored in this repo.
Perhaps it would be better to open a repo specifically for ManimCommunity to place the documentation, and give a link in the manim README.

[2020-06-04 14:19] PgBiel opened #134 "Replace getters and setters (where possible) by property or direct access"
We should replace getters and setters, which [are an antipattern in Python](https://docs.quantifiedcode.com/python-anti-patterns/correctness/implementing_java-style_getters_and_setters.html) (as exposed on https://github.com/ManimCommunity/manim/pull/122#discussion_r433565784). Most of them can be replaced either by:

1. The use of `@property` (which allows custom code to run when access is attemp

[2020-06-04 15:26] leotrs commented on #134
Can we have here a clear distinction/guidelines for when to use just an attribute and when to use a property? Also, should we do this after the dataclass/attr refactor? So as to not duplicate efforts...

[2020-06-04 15:28] PgBiel commented on #134
In general, you will only use a property when the action of getting or setting requires extra code other than simply retrieving an attribute.

Also, yes, I'm just not sure about whether we should do it _during_ the refactor or _after_, but perhaps we can do it after

[2020-06-04 15:32] leotrs commented on #120
@Tony031218 this is a good question. I think the strongest argument for having the quickstart/tutorial and other documentation documents inside the manim repo is that we will also be generating documentation from docstrings. So by keeping all docstrings as well as quickstart/tutorial in the same repo it will be much easier to build everything in a single sphinx command.

[2020-06-04 23:33] Tony031218 commented on #120
Yes, but you may be able to use .gitignore to ignore the docs folder in the manim repo and then link to a new repo in the docs folder.
Putting the docs folder in the manim repo may be a little messy, but it is indeed the most convenient way now.

[2020-06-05 02:30] leotrs commented on #66
How is this going to affect the CLI flags `--media_dir`, `--video_dir`, `--tex_dir`, and `--text_dir`?

[2020-06-05 03:38] eulertour commented on #66
In the example I have above,
`--media_dir` and `--video_dir` are both `./media`
`--tex_dir` is `./media/Tex`
`--text_dir` is `./media/text`
that said the directory refactoring doesn't have to happen in the same PR as the addition of the config file.

[2020-06-05 03:51] leotrs commented on #66
Yeah, you are right. There is some logic inside `config:_init_dirs` that should be addressed when anyone makes a PR for this issue though. I've left it alone for now in #95.

[2020-06-05 22:19] #124 closed

[2020-06-05 22:58] PgBiel commented on #81
Could probably use some `Color` class in order to be able to accept multiple formats as well

[2020-06-06 15:35] leotrs commented on #81
So the problem right now is that the colors can be accessed in at least three different ways: `constants.COLOR_MAP['BLACK']`, simply as `BLACK` , and `PALETTE`. The latter one is only ever used once in the code and I think should be deprecated. Right now, we are manipulating `locals` in order to dump the contents of `COLOR_MAP` into the scope of `constants`. Not sure if we want to do that. I don't

[2020-06-07 00:55] eulertour opened #136 "-o doesn't write relative to current directory"
The `-o` flag writes a file relative to the resolution directory rather than the current one. For example, `manim example_scenes/basic.py SquareToCircle -plo ./vid.mp4` writes to ` /path/to/pwd/media/videos/basic/480p15/./vid.mp4`.

[2020-06-07 03:36] naveen521kk opened #138 "Add save logs option"
Add an option to save logs to an external file. Like `save_logs` parameter which can be passed along with CLI. It could help in many ways and would help beginners to get help 🆘.

### My ideas
It can easily be done by adding a file handler along with Rich handler but making it optional is a big thing.

[2020-06-07 15:15] leotrs commented on #138
I like this. This could also be easily implemented after #98

[2020-06-07 16:33] leotrs commented on #136
Is the desired behavior to just completely bypass the folder directory discussed in #66?

[2020-06-07 16:34] leotrs commented on #112
@huguesdevimeux, or anyone else, are there any volunteers to write a PR that deprecates `FadeInFromDown`, `FadeOutAndShiftDown`, and other similar methods?

[2020-06-07 16:38] leotrs commented on #109
@Aathish04, I just came across this again when working on #98. Any quick fixes we can PR here? If I understand this part of the code correctly, it seems the member `gif_file_path` is correctly set in `scene_file_writer.py` (or at least it's correctly set in the latest commit of #98...), but it's just never used.

[2020-06-07 16:40] leotrs commented on #107
Come to think of it, ffmpeg on linux implements the `-v loglevel` flag. We could mirror that exact same behavior so that manim has similar functionality but also so that we can just pass the `-v` flag along to `ffmpeg` as well.

[2020-06-07 16:41] leotrs commented on #100
@yoshiask how hard is it to have manim support `<line>`?

[2020-06-07 16:45] leotrs commented on #97
By unit tests I mean to design one test for every single little bit of functionality: every method, member, variable, etc, in isolation. By end-to-end I meant to design tests that would mirror the full usage of manim, from start (writing a Scene script) to finish (rendered video). So these two types of tests are somewhat complementary.

I think we should find a way to test videos however possible,

[2020-06-07 16:56] Aathish04 commented on #109
@leotrs Yeah, I just made one.

[2020-06-07 18:08] yoshiask commented on #100
@leotrs Pull request #108 already adds support for `<line>`, but the parser has other issues too

[2020-06-07 18:08] eulertour commented on #136
On second thought I think this way is more consistent, although I thought it used to bypass the directory structure.

[2020-06-07 18:08] #136 closed

[2020-06-07 18:29] leotrs commented on #100
Can the original offending SVG be parsed now that <line> is supported?

[2020-06-07 18:53] yoshiask commented on #100
It's closer, but the parser doesn't put shapes in the correct location. A lot more work has to be done before this SVG works as expected.

[2020-06-07 19:06] leotrs opened #145 "Choose a timeline for deprecation"
There are several features that will be deprecated, both currently (#74, #114, #134), and in the future. The consensus seems to be that these features are deprecated instead of outright removed. In this case, we need to determine a timeline for these to be removed.

**If we deprecate them in ManimCommunity version 1.0.0, when will these features be entirely removed?**

[2020-06-07 19:06] leotrs commented on #75
It's been two weeks and I don't hear anyone making arguments in favor of keeping this. If no one speaks up in a few more days, I'll write a PR to remove it.

[2020-06-07 19:09] yoshiask commented on #145
In general, the major version of the library is incremented when there are breaking changes. We should wait to remove them until v2.0.0

[2020-06-07 19:13] leotrs opened #146 "Implement `-q[l|m|h|p|k]` to specify render quality"
Forked from #65.

Instead of `-l` being the abbreviation of `--low_quality`, we should have `-ql`, and similarly so for medium/high/production/4k quality. Also, we should have a `--production_quality` flag.

[2020-06-07 19:15] leotrs opened #147 "Get rid of --video_dir and --tex_dir"
Forked from #65.

These flags are confusing, seldom used, and can be replaced by `.cfg` options.

[2020-06-07 19:16] leotrs commented on #65
I'm forking this into separate issues for simpler tracking of the  implementation of what was discussed here. If I got anything wrong, please let's discuss there.

1. [Implement `-q[l|m|h|p|k]` to specify render quality](https://github.com/ManimCommunity/manim/issues/146). Also, a `--production_quality` flag should be added.

2. The `--media_dir` problem will be fixed once #98 is merged. There is

[2020-06-07 19:17] leotrs commented on #65
Closing this now. if there's anything that the new issues don't cover from this conversation, please open a new issue specifically for that instead of reopening this one.

[2020-06-07 19:17] #65 closed

[2020-06-07 19:21] #18 closed

[2020-06-07 19:26] leotrs commented on #145
OTOH, I think we are assuming that manimCE 1.0.0 will be fully backwards compatible to 3b1b. Is this the case?

[2020-06-07 19:29] yoshiask commented on #145
I don't think we came to an explicit agreement, but this would make the most sense. We should make the initial version of Manim CE backwards compatible so that most scenes can use it out-of-the-box.

[2020-06-07 19:47] leotrs opened #148 "Release version 0.1"
There seems to be enough activity on this repo to try and move forward with a release version of the community version of manim. For this, let's use this issue to keep track of what needs to be done and when. Logistically, this should be the last issue to be closed in the v1.0.0 milestone, and once this one is closed, we should be able to push to pypi.

# Things that need to be discussed

1. I thi

[2020-06-07 19:49] yoshiask commented on #148
To be clear, new features like the improved SVG parser and more GraphScene configuration are not slated for the 1.0.0 release?

[2020-06-07 19:55] leotrs commented on #148
Yeah this is exactly what we should discuss here. My personal opinion is that v1.0.0 should be fully backwards compatible, as well as documented and tested, and some of the major problems with the code should be addressed. If that's the case, then a v1.0.0 could be ready in perhaps a couple of months. We could then leave new features for v1.1 release.

Now, if there are new features ready for a v1

[2020-06-07 20:05] leotrs commented on #148
Argh, good question. It does support all the same flags (and fixes some of them too), but many variables from `constants.py` are removed. So no, it's not compatible.

[2020-06-07 21:28] XorUnison commented on #80
There's now an issue with the new Tex handling, which will presumably be fixed by #98, so I'm waiting on that to continue.

I've worked a bit more on the likely to be implemented structure, and will leave that here mostly for myself, and as a general reference.

In order to properly implement multiprocessing we'll likely have to do something like this:
1. Once a final config file is in place, it'l

[2020-06-07 21:51] XorUnison commented on #106
Well, since this was brought up as a point for a 1.0.0 release... Do we have any other serious pitches for a logo so far?

[2020-06-08 00:59] leotrs commented on #106
On discord we were discussing a logo that spells "manim" where each letter would showcase a feature of the library. For example, the first "M" could be a sideways capital Sigma. The capital sigma could be used as avatar/thumbnail.

[2020-06-08 14:07] XorUnison commented on #106
Right. But no image sample to go with it, do we?

[2020-06-08 19:03] safinsingh commented on #106
![mlogo](https://user-images.githubusercontent.com/42120904/84069823-ff74b200-a97f-11ea-839a-fad8d0dcf5f7.png)
Would this one be considered?

[2020-06-08 19:19] leotrs commented on #106
@safinsingh I like this idea! I would like to see a more fleshed-out version.

[2020-06-08 19:35] eulertour commented on #106
The one @safinsingh proposed would be great if we could figure out a way to round out the intersections.

[2020-06-08 20:46] safinsingh commented on #106
Here's the code for that if you guys need it (it uses 3b1b/manim so just change the import):
[code]

[2020-06-09 01:35] #109 closed

[2020-06-09 09:59] Aathish04 commented on #75
@leotrs Can we please keep it in? It would make some applications (say, like writing a Discord Manim rendering bot) a lot easier...

[2020-06-09 12:43] leotrs commented on #75
You're right in that it'd be nice to have, but you're also right in that it's broken.

For bot/application purposes, it'd be simpler to store the code in a temporary file and then send that to manim, no?

I'm in favor of deleting it.

[2020-06-09 12:45] Aathish04 commented on #75
So it actually _is_ broken? No point in keeping it then.

Well, that's what my Manim rendering bot currently does, but if this feature worked, it would have made the load on the host a lot less...

Agreed. No use in having something that doesn't work.

[2020-06-10 00:00] PgBiel commented on #148
by thursday I should open the draft PR on attrs, typings and docs

[2020-06-11 13:51] leotrs opened #152 "Add to contribution guidelines that tests must be ran locally before submitting PR"
Easy fix, just putting it here as a reminder to myself for later. Or if anyone wants to do this before I get there, go ahead.

[2020-06-12 16:01] huguesdevimeux commented on #112
@PhilippImhof Feel free to submit a PR :)

[2020-06-12 16:43] PhilippImhof commented on #112
Haha, j'allais dire la même chose.... 😊 I'll have a look at it, but I 'm not sure whether I got all of it right.

[2020-06-13 01:24] leotrs commented on #112
That's what code reviews are for! Looking forward to your PR.

[2020-06-13 14:19] huguesdevimeux opened #154 "Installation of miktex and ffmpeg on Travis/windows"
Not an issue with the code itself, but more about setting up of tests with travis.

Basically the title. I'm building a bunch of tests with pytest (#133), that are working fine.
The problem is with travis, and more particularly with the Windows environment.

It seems to be impossible to install both miktex and FFmpeg on travis/windows.

- For miktex, `miktexsetup` (the miktex setup utility, see ht

[2020-06-13 14:35] #112 closed

[2020-06-13 17:43] PhilippImhof commented on #154
Stupid question, but have you thought about installing TeXLive instead of Miktex?

[2020-06-13 17:48] Aathish04 commented on #154
@PhilippImhof Ha, what a coincidence. I'm trying to get that functioning right now.

[2020-06-13 17:55] PhilippImhof commented on #154
w.r.t. ffmpeg, I just found the following, but you might have seen it already:

https://travis-ci.community/t/make-running-gui-multimedia-apps-available-in-windows/1557

[2020-06-13 22:17] leotrs commented on #154
I vote we skip these tests on Windows. It's not even officially supported by Travis in any case.

[2020-06-14 08:50] huguesdevimeux commented on #154
(Not stupid at all :) ) . Yes, I thought about that **but** I don't see the utility since if FFmpeg does not work, we won't use latex in any way since no end-to-end test can be run. Pinging @Aathish04 .

Well, I didn't read that! Thank you. So if I correctly understood it is impossible to run FFmpeg on windows server, isn't it?

If yes, I think we should simply skip those tests on windows.

[2020-06-14 08:55] Aathish04 commented on #154
Correct me if I'm wrong, but that thread only spoke about trying to install and use GUI applications right?

Since FFMPEG is wholly command line based, we should have no problem installing it...

[2020-06-14 09:00] huguesdevimeux commented on #154
@Aathish04 I think that the article is also about multimedia apps - as ffmpeg

[2020-06-14 09:00] PhilippImhof commented on #154
The thread speaks about GUI and multimedia apps. I found that feature request thread while reading this one:

https://travis-ci.community/t/any-chance-of-providing-an-environment-with-desktop-experience/1024/5

[2020-06-14 09:09] huguesdevimeux commented on #154
@PhilippImhof Ok so it's basically impossible to use ffmpeg on travis/windows. So I will skip these tests.
Thank you very much !

[2020-06-15 10:19] #154 closed

[2020-06-17 09:59] huguesdevimeux opened #157 "Write seems to be highly dependent from the OS making it untestable"
I'm facing an incomprehensible issue with `Write` function.
To give a little bit of context, I'm building tests (yes, still ... ) and so those tests are run on different OS (Linux - MacOs - Windows).
To test `Write`, I just compare the last frame generated with a pre-generated one: if it matches, all good, if not, something has been modified/broken.

**BUT**  The `Write` test passes only on window

[2020-06-17 10:14] Aathish04 commented on #157
Sometimes the creation/addition/removal isn't completed fully at the end of the animation. Ive had this happen sometimes, with my own animations and to solve it I add a `self.wait(1)` after the animation so Manim can finish things properly.

You can see this here, where I've used an `Uncreate()`:

![example](https://user-images.githubusercontent.com/33193764/84885701-08b4fb80-b0b1-11ea-803c-36389e

[2020-06-17 11:59] huguesdevimeux commented on #157
@Aathish04 Thank you very much for that, but sadly it does not work either.
I really don't know where does this come from.

[2020-06-17 12:38] leotrs commented on #157
@Aathish04 This sounds like a bug, doesn't it? Could you pretty please create a new issue about this and attach the same gif? Thanks :)

[2020-06-17 12:40] leotrs commented on #157
@huguesdevimeux where is `Write` defined?

[2020-06-17 12:41] Aathish04 commented on #157
https://www.github.com/ManimCommunity/manim/tree/master/manim%2Fanimation%2Fcreation.py#L100

[2020-06-17 12:42] Aathish04 commented on #157
Will do, but is just demonstrating it with `Uncreate()` enough or will I have to mention that it doesn't work for all similar animations?

[2020-06-17 12:50] leotrs commented on #157
Thanks. The problem of using `import *` everywhere is I can't even see where anything is defined...

I mean just posting the exat same gif will do if you're in a hurry. If you have a bit more time, then I'd ask you to post a small code example that also exhibits the same problem (and perhaps a gif of it while you're at it) :)

[2020-06-17 15:09] Tony031218 commented on #157
Have you tried to `Write` some other mobjects generated internally by manim (such as `Square`, `Circle`, `Dot`, etc.)?

I think it may be because different machines (or different systems) generate different svg problems, not `Write`'s problems.
For example: `Text` is generated by cairo, and `TexMobject` is generated by latex and dvisvgm. Different versions of cairo, dvisvgm or different systems ma

[2020-06-17 15:14] Tony031218 commented on #157
And it's not just `Write`. If you don't add `self.wait` to other animations, some content may be missing at the end as well.

[2020-06-17 15:26] leotrs commented on #157
Yes it would appear that the problem is the parent class, `DrawBorderThenFill`

[2020-06-17 19:40] PhilippImhof opened #158 "Clipping of rate function values in animations cause wiggle not to work properly"
Reported by @wschutzer in the discord channel, initially opened as https://github.com/3b1b/manim/issues/1140

Using code from 06/10, I could not get the following simple wiggle scene to render properly:

[code]

The movement would occur in one direction as expected but not on the other. After digging into the code, I found the following lines in manimlib/animation/animation.py:

[code]

Since the

[2020-06-18 13:06] huguesdevimeux commented on #157
An update :

It appears that the last letter is slightly more transparent in some os. For example :
![Figure_1](https://user-images.githubusercontent.com/36239975/85022439-978a4c80-b173-11ea-9297-69d98e911c91.png)
(left : rendered on Ubuntu 18.04 / right : On windows 10)
Here the `d `is slightly more transparent in the left-hand image than in the right hand one. In fact, the last frame seems to be

[2020-06-18 16:22] leotrs commented on #157
I've never used `tqdm` myself so my question is: is it orthodox/expected/good practice to determine the course of a program by querying the progress bar itself? I'm not sure how this works at all.

It'd be much more reasonable I think for manim to determine its own course of action and then tell the progress bar to reflect that, instead of the other way around. Or am I missing something?

[2020-06-19 13:03] huguesdevimeux commented on #158
For me, this is impossible, the values must be between 0 and 1

The whole system on which manim is built is around alpha values, that are typically between 0 and 1. These values are used to interpolate objects during the animations. Every animation has an `interpolate_submobject `method that uses alpha values. If the value is, let's say, 0, then the object is at its starting state, and if it is 1,

[2020-06-19 13:30] wschutzer commented on #158
To me it makes sense to standardize the t parameter between 0 and 1, but the output clipping is probably unnecessary or that decision could perhaps better be left to the programmer to decide.  Anyway, that simple change, `return np.clip((value - lower), -1, 1)` worked great for me, and as far as I can tell did not break anything else since virtually all rate functions return positive values anyway

[2020-06-19 14:20] huguesdevimeux commented on #158
But did you try to interpolate an animation with a negative alpha? What does happen?

[2020-06-19 14:22] wschutzer commented on #158
Try this:
[code]
I believe it works at it's supposed to after you change the said clipping.

[2020-06-19 14:31] huguesdevimeux commented on #158
This example works as the negatives values are clipped and changed to 0 (as you said).
But without clipping, what does happen?

[2020-06-19 15:48] wschutzer commented on #158
It works as expected. The dot bonces left and right about the center.

[2020-06-20 13:58] christosk92 opened #159 "Camera issues in class with GraphScene, MovingCameraScene"
If you have a class that inherits both a GraphScene and MovingCameraScene, you cannot call:
`self.camera_frame.set_width,1`
You have to call the camera using:
`self.camera.frame.set_width(1) `
Example:

[code]
will throw an error:
`AttributeError: 'class_name' object has no attribute 'camera_frame'`

[2020-06-20 14:16] kilacoda commented on #159
Try adding a `setup` method which calls `MovingCameraScene.setup()` and `GraphScene.setup()`, like this:
[code]

[2020-06-20 17:03] huguesdevimeux commented on #157
**REMINDER : Do not close this issue until a test is set up for Write. For the moment, in #133 , WriteTest has been ommitted.**

[2020-06-22 08:04] huguesdevimeux opened #160 "Adding a troobleshooting section on the wiki"
Pretty explicit. We should add one, it would avoid a lot of trouble, I think.

[2020-06-22 08:07] huguesdevimeux opened #161 "Improving travis.yml"
As pointed out as a suggestion in #133, we could shorten and improve `travis.yml`, by moving some instructions into `.sh` (or `.bat`) files.
This has already been done for the Linux jobs, see `linux.sh`. It is executed with
[code]

We should to that for both osx and windows.

[2020-06-22 08:10] huguesdevimeux commented on #157
@leotrs Tbh I didn't use it either, but like that this does seem very orthodox. I agree with your idea.

An update: It appears that my hypothesis is seemingly untrue. The t values are the same on every system. If someone wants to conduct a deeper investigation, feel free!

[2020-06-22 09:13] huguesdevimeux commented on #158
It works thanks to in `straight_path`, l11 in `paths.py`. `stright_path` (used in `mobject.shift`) basically constructs the straight path (yes, really) and constructs the intermediate points depending on the alpha given (alpha obtained with the rate_func - so in this case, with wiggles and without clipping, negatives values), with `interpolate `function. So if the alpha is negative, then `interpol

[2020-06-22 09:28] huguesdevimeux opened #162 "Adding setting up new test instruction"
Now that #133 will be merged soon, we have to think of how to explain to future contributors how to set up tests if a new functionality is added.

But I don't know where/how to do it. Maybe in the wiki ?

[2020-06-22 09:36] huguesdevimeux opened #163 "Changing name of Manim community"
I don't see an issue about that here, so I open one.

We have been talking about changing the name of this fork for something more explicit, like `manim-ce`.
Since this is quite an important change, we have to reach a consensus here.

So, what do you think ?

Related to #149

[2020-06-22 09:39] Aathish04 commented on #163
I would suggest mentioning adding tests in https://github.com/ManimCommunity/manim/blob/master/CONTRIBUTING.md
and https://github.com/ManimCommunity/manim/blob/master/README.md

And adding detailed steps in the Wiki.

[2020-06-22 09:43] huguesdevimeux commented on #163
@Aathish04 Thank you, but I think you're in the wrong issue. Maybe you want #162 ;)

[2020-06-22 09:44] Aathish04 commented on #163
Ah, GitHub mobile messed up...

I'll move it over.

[2020-06-22 09:46] Aathish04 commented on #162
I would suggest mentioning adding tests in https://github.com/ManimCommunity/manim/blob/master/CONTRIBUTING.md
and https://github.com/ManimCommunity/manim/blob/master/README.md

And adding detailed steps in the Wiki.

[2020-06-23 11:57] #34 closed

[2020-06-23 11:57] #97 closed

[2020-06-30 18:41] naveen521kk opened #167 "Write Change Log"
It would be great if we write changelog in a file after each commit so we and also other could know what really changed out.

[2020-07-06 07:20] naveen521kk commented on #161
Look into https://travis-ci.com/github/ManimCommunity/manim/jobs/352635549#L46
Environmental variables are already defined by choco.
You can remove the lines at
https://github.com/ManimCommunity/manim/blob/4b6492b0e7e7e4ae7e35938662571ad765027f3c/.travis.yml#L97
Also, we should test 32 bit also!

[2020-07-06 11:18] cobordism opened #168 "Add support for Inkscape SVGs"
**Situation:**
I have a maths paper. I run pdf2svg or dvisvgm. I modify the svg with inkscape just minimally (for example I change the grouping of elements). I try to load it with SVGMobject. This fails.

**Cause of the Problem:**
Manim does not expect `g` and `defs` tags to have an `id`.
They have no id on dvisvgm output, but they do when saving the same svg from Inkscape.

**Solution** in `svg_m

[2020-07-06 11:22] homotopycolimit commented on #168
Context: I've been using this here:
https://gitlab.com/co-bordism/manim/

see for example:
https://gitlab.com/co-bordism/manim/-/blob/3c1e79810f4ef7c20c54764933a6d9e024c0e6a6/manimlib/mobject/svg/svg_mobject.py

[2020-07-06 11:39] cobordism opened #169 "typo"
https://github.com/ManimCommunity/manim/blob/master/manim/animation/transform.py#L155

"configuration of the transform itslef"
should be
"configuration of the transform itself"

[2020-07-06 13:09] huguesdevimeux commented on #169
Feel free to submit a PR :)

[2020-07-06 13:11] leotrs commented on #169
I believe @co-bordism is not a github user, so anybody who is reading, please feel free to submit a PR :)

[2020-07-06 13:49] co-bordism commented on #169
manual pull request: I request that you pull my 'typofix' branch  :D

`git remote add cobordism https://gitlab.com:co-bordism/manim.git `
`git pull cobordism typofix`

[2020-07-06 15:38] cobordism opened #170 "tex compiler options - PR feedback request."
CC @PhilippImhof because of https://github.com/ManimCommunity/manim/pull/48

There are things you might want to do in TeX that require a different compiler than just latex or a different format than just dvi.
We already have partial support for this in the form of `TexTemplateFromFile.use_ctex`.

I have added the option to choose between compilers `latex`, `pdflatex`, `xelatex`, `luatex`, `lualate

[2020-07-06 17:37] cobordism opened #171 "With no scene specified on CLI, manim gives false choice."
I was running the command:
`manim -pl --media_dir ~/renderings ~/dev/manim/example_scenes/basic.py `
and was greeted by this:
[code]

Clearly something is wonky here The choices should have been only the scenes from basic.py.
i.e. OpeningManimExample, SquareToCircle, WarpSquare, WriteStuff, UpdatersExample.

[2020-07-06 18:21] yoshiask commented on #168
Looks good to me, I'll get this change made in the `svg_parser` branch

[2020-07-06 18:24] co-bordism commented on #169
I have added two more typo fixes to that branch.

[2020-07-06 20:43] huguesdevimeux commented on #161
Feel free to submit a PR :)

[2020-07-06 21:08] safinsingh commented on #161
@naveen521kk apparently sometimes chocolatey doesn't update the PATH on the python install, so I had to add it manually. I think we should keep it there as a safety measure

[2020-07-06 22:27] XorUnison opened #174 "PEP8 and line length"
There's the intent and a PR #172 flying around to use an autopep8 library to automatically format the code into PEP8 guidelines. I want to have a discussion about two things relating to this PEP8 implementation, both relating to line length specifically.

1. By default the PEP8 line length is 79 for code and 72 for docstrings/comments. The question is, do we actually want it that restrictively sho

[2020-07-07 01:49] leotrs commented on #174
1. I vote for 79 or 99. I'm strongly opposed to anything longer than that.

2. If you have a very_long_string that doesn't fit within the line limit, the usual fix is to break it up, as in your second code chunk. I know you don't like this (more on this later), but this is semi-official fix. The fix is _not_ to change the whole project's code formatting guidelines just because you (or even a few o

[2020-07-07 01:59] XorUnison commented on #174
Why does this sound so familiar, lol. But don't worry, I know it's well-meant.
Anyway:

Maybe to clarify on this point, I prefer the """String String""" format over the "String " "String" format. But I wouldn't even go so far as to say I actively dislike the latter as it's really just a fairly small prefer. I've got no grime about adopting this format either.

I'm rather worrying about how practic

[2020-07-07 04:05] naveen521kk commented on #161
If you check out the line I pointed above in log and
  https://travis-ci.com/github/ManimCommunity/manim/jobs/352635549#L51
You could understand what I meant @safinsingh

[2020-07-07 04:37] PgBiel commented on #174
Imo the line limit should be 120 in order to account for comments
We should limit our code to 100, but allow ourselves to go past 120 if comments require so.

[2020-07-07 04:47] XorUnison commented on #174
Still not partial in regards to comment length but:

When would comments require so or would be off better? Example?

[2020-07-07 04:51] PgBiel commented on #174
it's highly situational, but sometimes splitting comments along lines is necessary, so if we can reduce the amount of lines that are needed on those situations... also for docstrings and stuff although those have a separate rule I think so that doesn't apply

well, no matter our choice, we should try to keep our code as short as possible of course
I'm fine with both 100 and 120

[2020-07-07 07:13] kolibril13 commented on #163
For me, it feels like this is not very pretty:
[code]
Also the PEP 8 says:

Python packages should also have short, all-lowercase names, although the use of underscores is discouraged.
https://www.python.org/dev/peps/pep-0008/#package-and-module-names

Can't we just leave it with manim, or is then the risk of confusing it with Grant's version?
Other ideas: manimce, manimy ,manimp (last two would h

[2020-07-07 07:24] kolibril13 opened #175 "Error: RecursionError: maximum recursion depth exceeded while calling a Python object"
When running:
[code]

In the newest manim version, I get the following error:

[code]

[2020-07-07 07:30] kolibril13 commented on #175
Ok, I tried it in another folder:
And e.g.
[code]
Is working.

[2020-07-07 07:46] kolibril13 opened #176 "Automatically choose Scene when there is only one Scene."
![image](https://user-images.githubusercontent.com/44469195/86739929-8e83f100-c036-11ea-835f-064101e05a0f.png)
I have a python file called "HelloWorld", with only one scene class "Hello".
But when I run `manim -p HelloWorld.py" without further defining the Scene, it gives me a list, where I can choose my scene from.
This is in he current manim-cm edition. A few weeks ago, it would render the scene

[2020-07-07 08:17] kolibril13 commented on #176
Just realized: Same issue as #171

[2020-07-07 08:32] kolibril13 opened #177 "Issue with video_dir in "default.cfg""
The "default.cfg" file looks really nice!
Thanks a lot for making this, it has really great potential.

When testing it, I run into an issue:

In the old manim version, I ran my programms with `manim  -l -p  --video_dir ~/Downloads/  HelloWorld.py`
But now, I want to define the video_dir in "default.cfg".

Here, I found in line 70-71:
[code]
and changed it to:
[code]

But the video output dir is u

[2020-07-07 13:29] leotrs commented on #177
Thanks @kolibril13. You can see in https://github.com/ManimCommunity/manim/blob/master/manim/config.py#L117 that the vide_dir, tex_dir, and text_dir are now always subdirectories of media_dir. This is in accordance with #66. The --media_dir flag is still available to you to change the output directories.

[2020-07-07 13:30] leotrs commented on #176
Closing as duplicate. Let's discuss on #171

[2020-07-07 13:30] #176 closed

[2020-07-07 13:32] leotrs commented on #175
[code]

You are constructing a `Dot` Scene within each scene. Don't use Scene names that override manim names. Alternatively, instead of `from manim import *`, just do `import manim` and use `dot = manim.Dot()`.

[2020-07-07 13:32] #175 closed

[2020-07-07 13:33] leotrs commented on #163
I believe the library itself should be called manim. However, the package could (should?) be called something else, at least as long as 3b1b's version and ours coexist side-by-side.

[2020-07-07 13:35] leotrs commented on #174
Can we have our code formatter have a "soft limit" of, say 99? So we get a warning when a line is longer than that, but it allows us to do it?

[2020-07-07 13:38] Aathish04 commented on #163
The `manimce` name is open and is "owned" by us, so we can use that.
Honestly, I was thinking we could make a separate package `manim3b1b` for Grants fork and use the `manim` or `manimlib` name for this repo.

[2020-07-07 13:40] leotrs commented on #161
@naveen521kk instead of saying things like "read this to understand what I mean", could you please kindly say here exactly what you mean? It's quite the hassle to have to read half a dozen past comments, and then navigate to another URL in order to understand what you mean. Let's try to keep the discussion here as self-contained as possible.

[2020-07-07 13:43] leotrs commented on #170
This looks interesting, but very much outside of my expertise. (@PgBiel I know you're busy but maybe take a look when you can?)

[2020-07-07 13:49] leotrs commented on #171
Interesting. I can't replicate this locally with the current master:

[code]

[2020-07-07 14:27] co-bordism commented on #171
try `./basic.py` instead of just `basic.py`
or try from any other directory and using `some/path/to/basic.py`

[2020-07-07 14:47] leotrs commented on #171
I'm at a loss here. Apparently when using `./basic.py`, manim is reading all Scene classes in the scope (which include all those imported with `from manim import *` e.g. GraphScene, ZoomedScene, etc); but when using `basic.py` these don't show up.

[2020-07-07 15:02] PhilippImhof commented on #170
I have actually never had the need of using another compiler (except for my documents where I always use `pdflatex`), but I can imagine cases where this could be desirable. I think, this is an absolutely nice idea. I always like when new features are added for the few without disturbing the many.

W.r.t `use_ctex`: that existed well before my first contact with manim. I have no idea how many peopl

[2020-07-07 15:02] kolibril13 commented on #175
Ahh, ok :D
Sorry for not seeing this myself.

[2020-07-07 15:24] XorUnison opened #178 "default.cfg isn't documented"
Now that #98 has been merged it has replaced the temporary `dirs.py` I added exactly like I had envisioned that happening. So now it's time to open this issue on one last improvement on that front I'd like to see.

See, both `dirs.py` and `default.cfg` had/have this one issue, that's most relevant to devs, but not irrelevant to standard users either. When `default.cfg` is edited, Git will recogniz

[2020-07-07 15:45] leotrs commented on #178
Apologies for my lack of communication about this. But the current config system already solves this, as follows. As you correctly point out, the `default.cfg` should rarely, if ever, be changed. This is meant to be a library-wide *default* config. No one should change the *default* config, unless the dev team decides that a new/better default is needed.

When a user wants to change the config, th

[2020-07-07 15:45] raghavg123 commented on #178
Why not just add it to the `.gitignore`?

[2020-07-07 15:49] leotrs commented on #178
I think I beat @raghavg123 to the punch ;)

But to be completely clear: the whole point of the config system use `.cfg` files is that users who want to customize how manim works do not need to write python code and do not need to delve into the depths of the library itself. Asking users to change a file that is within the library goes against that philosophy. In some systems, it is not even obviou

[2020-07-07 16:18] PgBiel commented on #174
not sure; if it is possible to set a "hard limit" as well, then that could be good

[2020-07-07 17:08] XorUnison commented on #178
Right, I guess this is the real issue then.

Looks perfectly fine and better than my solution. This already works just fin e on windows though so I see no need for changes there?

Shifting gears to communication then, obviously end users aren't going to figure this out themselves. As easy as it is to use, it isn't intuitive at all. Is that in some documentation already? Also tbh a small hint in th

[2020-07-07 17:32] co-bordism commented on #170
I understand that it might be a niche use-case.
But I did think that using a blackboard background and a chalk tex font might be desirable -
example here https://vimeo.com/432852225 (all font demo: https://vimeo.com/435684836 )
for giving videos a more school feeling.

It was in that context that I stumbled upon something I could only compile with lualatex and only to pdf.

In any event, it can't

[2020-07-07 17:58] leotrs commented on #178
My next step in terms of the config system is definitely a more extensive documentation. I like your idea of also leaving a comment inside `default.cfg`. Some thing like `DO NOT EDIT THIS FILE. USE <such and such> FILE INSTEAD`.

That's what I thought, I just hadn't tested it yet.

[2020-07-07 23:17] eulertour commented on #178
Speaking of this, is there anything blocking us from generating documentation now? @PgBiel

[2020-07-07 23:24] XorUnison opened #179 "Naming convention for config files"
As it stands right now the code looks for a
`.manim.cfg` in the user directory, and a
`manim.cfg` in the current working directory.
Note the difference in the leading dot.

The initial reason for this was the convention to hide configuration files that go in the user directory, which is far as I get is only a Linux relevant convention, since Windows uses file attributes to hide files, not leading

[2020-07-08 07:33] eulertour opened #182 "Use Github actions over Travis"
[Github has a built-in method of handling CI/CD](https://docs.github.com/en/actions) which has tighter Github integration and seems to be easier than Travis. I would recommend switching to it while we reevaluate how to handle testing.

[2020-07-08 10:12] huguesdevimeux commented on #182
If it's possible, I completly agree.

I basically hate travis

[2020-07-08 10:23] huguesdevimeux opened #183 "t values issue that cause the animations to not be finished entirely."
y values are generated with those lines : (progress_through_animations, l883, scene.py).
[code]
`get_animation_time_progression` returns a ProgressBarDisplay object, from the library tdqm that we use to display the progress bar.

When doing -s, skip_animations is enabled to t value is set to 1.0 (no intermediary values as we just need the last frame).

When running normally, eg with 15 fps, there

[2020-07-08 10:28] huguesdevimeux opened #184 "Impossible to use a custom manim.cfg when NOT running from CLI"
Basically the title. When rendering the scene from python itself (that's what is done in the actual tests), it is impossible to load a `manim.cfg` in the working directory as we can when doing from CLI.

IMO t's because of these lines (and more particular the else statement):

[code]

We have discussed that previously on discord with @leotrs and @XorUnison , sorry if I missed something ;).

[2020-07-08 11:40] leotrs commented on #184
Ah you're right! I guess that inner `else` clause should also be outside, so that manim always checks for a local file, regardless of how it's being called. Sounds like an easy PR ;)

[2020-07-08 13:01] #101 closed

[2020-07-08 13:40] leotrs commented on #182
No opposition here.

[2020-07-08 14:01] leotrs commented on #183
So there are two problems here. Correct me if I'm wrong.

1. `progress_through_animations` gives a range of `t` values that never reaches `1.0`. I don't think this has anything to do with the config system right? In any case, can we modify `progress_through_animations`? It should be as easy to ask it to partition the interval in one more chunk (as right now it ends 1/15 short of 1.0).

2. I still

[2020-07-08 14:03] leotrs commented on #179
I agree this should change. Thanks for bringing it up. My idea is to use `manim.cfg` for all files across all platforms. What should be changed is the location of those files. Currently, we just put that file in the user's home folder. But it can change from platform to platform. For example, another usual place for Linux is to put it inside `/home/some_username/.config/manim/manim.cfg`. Are there

[2020-07-08 14:05] leotrs commented on #178
So, starting out with documentation is as easy as: start writing docstrings more systematically (though #174 should be decided upon before that). And then running sphinx with default settings. Changing the sphinx settings in the future should not affect the actual docstrings (or other documentation files).

I know @PgBiel wants to take the lead on this, but I also know they're in exams right now :

[2020-07-08 14:26] huguesdevimeux commented on #183
See these lines : l678 scene.py
[code]
When -s is called, skip_animations is called as well and the progressbar is set up with only one step that has the length of the run_time. That's why there is only one single t value equal to 1 (in the case where run_time = 1).

On second thought the problem does not come from the progress bar but from np.arrange that yield 15 values from 0 to 0.93333 (althou

[2020-07-08 14:43] leotrs commented on #183
Let's see, `arange` does the following
[code]
While `linspace` returns
[code]

One uses `1/15` and the other uses `15`. So I'm not sure why the need to round anything. But in any case, yes it seems like using `linspace` is going to do the trick. PR?

[2020-07-08 14:47] huguesdevimeux commented on #183
I think since we are changing this logic we could think of a more general refactoring, and do what you suggested in you second point.

I already have 2 PR to take care of, so I won't be able to PR this right now. Feel free yo do it if you have time ;D

[2020-07-08 14:55] leotrs commented on #183
What is "free time"?

[2020-07-08 15:12] huguesdevimeux commented on #183
An interesting concept that only high school students seem to benefit from lol

[2020-07-08 15:17] nilaybhatia opened #186 "Need a Dict object just like VGroup to access elements by keys"
[Feature request]
Consider the following case:
Someone wants to make a complex shape composed of  a circle, square, and some other mobjects. If they use a `VGroup`, they will be able to do it. But `VGroup` provides access to submobjects only by index. Now if you want to change the color of the circle in your shape, you don't know what its index is. With a proposed `Dict` object, they can access it

[2020-07-08 15:58] leotrs commented on #186
Would love to see this implemented

[2020-07-08 16:52] huguesdevimeux commented on #183
We need to round this as np.linspace only takes integrers as parameters.
Example : run_time = 2.5 seconds, at 15fps. How many frames will be generated ? 37 or 38 ?

I missed that when I read your answer

[2020-07-08 17:13] safinsingh commented on #182
I'll try to look into this and spin up some config

[2020-07-08 18:08] leotrs commented on #183
Oh I see now. I'd say we should round up!

[2020-07-08 19:49] XorUnison commented on #179
For Windows that'd most likely be `%appdata%`, which means:
`\[Username]\AppData\Roaming\`
And then to be specific:
`\[Username]\AppData\Roaming\Manim\manim.cfg`

In this case AppData is the hidden folder. And now that you made me think of it... very yes. Although newbie users might not know about the AppData folder, it's indeed were programs should store their configuration, so that migrating it

[2020-07-08 19:54] XorUnison commented on #174
@safinsingh was the one who set up and ran autopep8, so he should know about how the limits can be set.

[2020-07-08 20:38] XorUnison opened #187 "Adding orientation to Mobject"
As some of you know I intent to add 3 general purpose geometry classes to `geometry.py` (`ArcPolygon`/`Graph`/`Tiling`), most relevant for this issue `ArcPolygon`. While I've used `ArcPolygon` in my own work most notably for `ExclusionZone`, that is an extremely narrow and specific class that doesn't really have any business in vanilla manim. One of the things I added to `ArcPolygon` is the abilit

[2020-07-08 21:01] safinsingh commented on #174
I don't believe we can set soft/hard limits, but just enforce a max line length with the `--max-line-length` argument.

[2020-07-08 22:26] huguesdevimeux opened #188 "file_writer_config and config mixed up for text_dir and tex_dir"
In `config.py`, tex_dir is defined inside `config ` (config['tex_dir']), same for 'text_dir'.

**But** in `tex_file_writer.py`, l32, it is `file_writer_config['tex_dir']`, that is used (not config).

This is in fact a very easy fix. I thought to add it within #185.

Pining @leotrs

[2020-07-08 22:29] huguesdevimeux commented on #188
My question was, should we put those in `config `or in `file_writer_config `? Imo obviously in the latter

[2020-07-09 02:56] Aathish04 commented on #179
For macOS, the location `~/Library/Application Support/` would be a suitable place.

The final location would look something like `~/Library/Application Support/Manim/manim.cfg`

[2020-07-09 09:07] Aathish04 commented on #171
@leotrs I've found out why that happens.

---
 TL:DR:
`./basic.py` --> .replace(..) --> `..basic.py` --> regex --> ""

Also see:
https://regex101.com/r/SYBso1/2

---

@leotrs

The same thing happens when you move outside of the inner manim folder, and do
`manim -pl manim/example_scenes/basic.py`

I believe it's because of the regex substitution here:

https://github.com/ManimCommunity/manim/blob/e

[2020-07-09 11:52] leotrs commented on #179
Excellent! Anyone volunteer a PR? :)

[2020-07-09 11:54] leotrs commented on #188
`tex_dir` are set to the variable `config` that is local to `_parse_file_writer_config`. Then, all of that is set to `file_writer_config` on L419. So there is no problem here.

I think the only problem is ambiguity. Perhaps we should change the variable inside `_parse_file_writer_config` to `file_writer_config` throughout to avoid confusion.

[2020-07-09 12:06] huguesdevimeux commented on #188
I don't think you get my point.

The issue is that `text_dir `is contained within `config`, and `tex_dir `in `file_writer_config`

[2020-07-09 12:18] leotrs commented on #188
lolwut. They should both be in file_writer_config

[2020-07-09 12:20] huguesdevimeux commented on #188
Yes, but they are not see https://github.com/ManimCommunity/manim/blob/ea79842b17ccb7e0a5eb33be5edc5abb4ce60b50/manim/config.py#L125

They are both in `config`

[2020-07-09 12:29] leotrs commented on #188
But that's what I meant! The line you just cited in inside `_parse_file_writer_config`. So the `config` that is set in that line is local to that function. Once that function finishes, its return value (the local `config`) is set to the global `file_writer_config` on line 419. So I think both live in `file_writer_config`. (They are not overwriting the global `config` at any time.)

Regardless of w

[2020-07-09 12:30] huguesdevimeux commented on #188
God damnit, I'm stupid.

I will do that !

[2020-07-09 13:52] leotrs commented on #169
Didn't work:
[code]
Perhaps I should try with SSH?

[2020-07-09 13:55] cobordism commented on #169
its / instead of :

https://gitlab.com/co-bordism/manim.git

[2020-07-09 13:59] leotrs commented on #169
Just pushed your typofixes! Thanks much! I think this manual PR will work. Next time please make sure to include the same two lines of instructions ;)

[2020-07-09 13:59] #169 closed

[2020-07-09 18:11] XorUnison commented on #179
Well, with this being a thing that reaches across all of the OSes and has to be tested on all of them, what we should probably do is someone making a branch that replaces `os.path.expanduser('~/.manim.cfg')` with a variable set with an OS check, then have 2 other people join this branch and add the stuff that works on their OS, then once the branch works for all of us we can make the PR.
I can joi

[2020-07-10 13:07] #152 closed

[2020-07-10 13:18] leotrs commented on #179
"Cygwin is a POSIX-compatible programming and runtime environment that runs natively on Microsoft Windows". It's a way of emulating(?)/developing(?)/compiling(?) ... erhm _running_ ... things on Windows that were meant to be for POSIX systems such as Linux.

What do you mean by "open" here? Right now whenever you run manim it will output to console the paths of the config files that were loaded. S

[2020-07-10 13:23] #171 closed

[2020-07-10 13:32] leotrs commented on #66
We can come back (or close) this discussion since #98 has been merged.

BTW, #98 has eliminated the flags `--video_dir`, `--tex_dir` and `--text_dir`. The only one that remains for now is `--media_dir`, and all other dirs are set according to the discussion here. if we are going to change that, perhaps optionally, as #132 suggested, we should discuss adding a new section to the `default.cfg` file

[2020-07-10 13:34] leotrs commented on #188
@huguesdevimeux did you push this change? If not, I can do it real quick.

[2020-07-10 13:34] kolibril13 opened #191 "Making a scene based on another Scene"
I have a scene Scene1, where I set up my things properly. Now I want a second scene, where I can put references to objects of Scene1.
It is possible to do it like this:
[code]
But what would be really cool to have, is something like this:
[code]
Do you know how to make all these Mobjects also available as attributes in the instantiated  class sc1 in Scene2?

[2020-07-10 13:36] huguesdevimeux commented on #188
I didn't. Please do if you can :D

[2020-07-10 13:36] leotrs commented on #177
This is related to #132

@kolibril13 I'm closing this for now as wontfix because this is intentional. Following my latest comments on #132, if you wish to change this behavior, please let's make a separate issue to implement such a change. Thanks :)

[2020-07-10 13:36] #177 closed

[2020-07-10 13:38] leotrs commented on #167
I want to bump this -- we should take this more seriously now that config and tests are up and running.

[2020-07-10 13:38] huguesdevimeux commented on #188
Maybe you could fix #184 at the same time

[2020-07-10 13:39] leotrs commented on #158
@huguesdevimeux with all the craziness happening recently, it is my impression that this one might have been fixed. Yes? No?

[2020-07-10 13:40] leotrs commented on #162
Does #155 close this?

[2020-07-10 13:40] leotrs commented on #147
#98 closed this.

[2020-07-10 13:40] #147 closed

[2020-07-10 13:41] huguesdevimeux commented on #162
Yes !

[2020-07-10 13:41] #162 closed

[2020-07-10 13:42] leotrs commented on #81
I still think we should move all colors to something like `manim.colors`, and turn them all into `Colour` instances too. We can easily do this in a backwards-compatible way.

[2020-07-10 13:42] leotrs commented on #77
#98 closes this.

[2020-07-10 13:42] #77 closed

[2020-07-10 13:43] huguesdevimeux commented on #148
@leotrs Could you update this with you work on #98 ?

[2020-07-10 13:43] leotrs commented on #146
This is a fairly easy PR now that #98 has been merged. Any takers?

[2020-07-10 13:44] huguesdevimeux commented on #158
I don't know. To me, there was nothing to fix in particular, but as this has been quiet for 3 weeks I think this is fair to close it.

[2020-07-10 13:44] #158 closed

[2020-07-10 13:48] leotrs commented on #7
Now that #98 has been merged, it has deprecated/eliminated a bunch of the keys in the CONFIG dictionaries in classes across the codebase. It'd be great to have an update here on what still needs to be done.

[2020-07-10 13:50] leotrs commented on #148
Just updated the check list at the top. Please refer to it for what to do next.

[2020-07-10 17:23] naveen521kk commented on #32
So please assign this issue to me I would be doing it while I will be working on #165

[2020-07-10 19:06] leotrs commented on #32
Done. Out of curiosity, can you not assign yourself?

[2020-07-10 19:13] leotrs commented on #188
Closed by latest commit of 2s ago.

[2020-07-10 19:13] #188 closed

[2020-07-10 19:38] huguesdevimeux opened #193 "Creating more tests"
At the moment we only have last-frames tests.

Although they are useful, it's not enough.

We would need to have tests for cli flags, that check videos, etc.

Tell your ideas here !

[2020-07-10 19:43] leotrs commented on #193
We should have at least one test for each CLI flag.

[2020-07-10 19:44] leotrs commented on #193
We should test that the cascading priorities in the config system work as expected.

[2020-07-10 21:15] XorUnison commented on #179
Right, I've been roughly aware of that, but I don't know what it means for file handling. Would Cygwin actually behave all the same as being run in a standard Windows CLI or not?

Right, I suppose those would be useful but that's not what I mean. I just mean a CLI flag that would create the user config file if it doesn't exist, and then _open_ it. As in running it, showing it in some associated pr

[2020-07-10 21:56] nilaybhatia commented on #191
This is probably an easier workaround:
[code]

[2020-07-11 02:45] naveen521kk commented on #32
No I didn't find an option for that.

[2020-07-11 07:35] kolibril13 commented on #191
Nice, thanks a lot, this is already really helpful, and it works! :)
Do you think this approach works also with a return approach so that I can see where "dot" comes from, i can call it with sc1.dot ?
[code]

[2020-07-11 11:45] nilaybhatia commented on #191
Nice refactoring. I checked the source code for `set_variables_as_attrs` and could get this as best.

[code]
Still, it requires a call to `construct` method of `Scene1`. I am sure there is a better way of using that method as I can see it being used without a call to `construct`. Will wait for someone else to help with this. I want to know this too.

[2020-07-11 23:59] eulertour commented on #193
Ties in to #11.

[2020-07-12 04:12] #186 closed

[2020-07-12 09:35] eulertour commented on #183
Keep in mind that if we do this then the last frame of animation n and the first frame of animation n+1 will always be the same, which would cause an unavoidable pause between animations which would be especially noticeable at low frame rates. It wouldn't be possible to create the effect where animation 1 runs from 0s to 1s and animation 2 runs from 1s to 2s. This isn't _technically_ possible now,

[2020-07-12 09:39] eulertour opened #197 "Enforce linting and formatting with CI"
After #196 is merged it will be easy to add a job to run `black --check` for example and block merging if it fails. This will make for a future-proof solution to #172 and #174.

[2020-07-12 09:57] Aathish04 opened #199 "Need to re-implement custom LaTeX related methods for current config system."
As of now, both `ExampleClassScene` and `ExampleFileScene` in `example_scenes/customtex.py` fail, throwing a `
LaTex error converting to DVI` each time.

I believe this is because of the removal of `register_tex_template` and `initialize_tex` from `config.py` when the config system was revamped.

These methods need to be reimplemented, and `customtex.py` needs to be edited accordingly to fit the n

[2020-07-12 10:10] kilacoda commented on #183
Using `np.linspace` instead of `np.arange` seems to be break the `run_time` parameter of animations btw. For example:
[code]

with this `get_time_progression` method:
[code]
outputs this:
![ReactionIntro](https://user-images.githubusercontent.com/65204531/87243607-eebecc80-c454-11ea-8b8c-b0eeee41a1f6.gif)
(only 3 seconds, 1 for the animation and the other 2 from the wait)

and with the original me

[2020-07-12 10:17] huguesdevimeux commented on #183
@eulertour I didn’t think about that. This is a very good point.

So seeing your note this is IMO the best solution.

@kilacoda Did you implement number_frame variable as I did in on of my previous answer ?

[2020-07-12 10:21] kilacoda commented on #183
Welp. My stupidity strikes me again. Adding the number_frames variable worked. Looks like I overlooked it😅

Should I remove that comment?

[2020-07-12 10:26] #182 closed

[2020-07-12 12:36] leotrs commented on #179
Agreed (this is what I meat above by `manim cfg-show`. This is a good idea in general. (I don't like the idea of opening it as opposed to just printing on screen, but that's another conversation.) Tagging @eulertour for thoughts. Ties in with #151 @Aathish04

[2020-07-12 12:36] leotrs commented on #179
Also, @XorUnison could you please open a different issue for that? Let's keep this one for discussing the naming convention for config files.

[2020-07-12 12:40] leotrs commented on #197
#172 is using autopep8, but you mention black. Did we ever reach consensus on this?

Also, #196 is merged now ;)

[2020-07-12 12:48] kilacoda commented on #197
Seems to have been discussed in #43 with a consensus on black.

[2020-07-12 12:53] leotrs opened #201 "Add a manim cfg-show sub command"
With the new cascading config system, there will usually not be a single file that contains the final, actual, config that will be loaded into manim. It would be convenient to have a command, say `manim cfg-show` that parses the cascading files and then either (a) prints the final, actual, config options on screen, or (b) opens them as a new file.

Originally from [here](https://github.com/ManimCo

[2020-07-12 12:56] leotrs commented on #24
@yoshiask I like that idea. And it seems like this is a problem of documentation. So let's keep that in mind when writing the tutorial.

[2020-07-12 12:56] #24 closed

[2020-07-12 12:56] leotrs commented on #32
This can be done through GitHub actions, yes? @eulertour

[2020-07-12 12:57] leotrs commented on #61
Did we already move to poetry? If so, let's close this. If not, what's holding us up?

[2020-07-12 12:58] kilacoda commented on #32
Correct. Would require creation of a new workflow.

[2020-07-12 12:58] leotrs commented on #66
On second thought, I think this issue has ran its course of deciding the default folder structure. If someone wants to work on setting an optional version using the new config system, let's open a new issue/PR for that (cc @kolibril13). Closing this now.